<form class="common-form" method="post" enctype="multipart/form-data">
    <table opt="baseinfo_table" width="100%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
        <tr>
            <td class="formtdtext" style="width: 100px">名称<label></label></td>
            <td>
                <input class="input-text" name="cy_name" data-options="required:true" style="width: 100px;"><span style="color: red">*</span>
            </td>
            <td class="formtdtext">建立时间<label></label></td>
            <td>
                <input opt="cy_createtime" name="cy_createtime" class="easyui-datebox" style="width: 100px">
            </td>
        </tr>
    </table>
</form>

