<!--<table class="newRadio22">
    <tr>
        <td>
            监测类型：
        </td>
        <td>
            <input type="radio" name="monitype" checked="checked"
                   value="xuetang" />
            <label>血糖</label>

            <input type="radio" name="monitype"
                   value="xueya"   />
            <label>血压</label>

            <input type="radio" name="monitype"
                   value="xueyang"  />
            <label> 血氧</label>


        </td>
    </tr>
</table>-->
<div style="padding: 10px;background-color: floralwhite">
    <div opt="container" id="container"></div>
    <button id="add">add series</button>
    <button id="addchar">addchar series</button>
    <button id="hiden">hiden series</button>
</div>

<div id="sliders">
    <table>
        <tr>
            <td>Alpha Angle</td>
            <td><input id="R0" type="range" min="0" max="45" value="15"/> <span id="R0-value" class="value"></span></td>
        </tr>
        <tr>
            <td>Beta Angle</td>
            <td><input id="R1" type="range" min="0" max="45" value="15"/> <span id="R1-value" class="value"></span></td>
        </tr>
    </table>
</div>
