<div id="jicengzhengquantongjidlg" opt="jicengzhengquantongjidlg" class="easyui-tabs">
    <div title="城市社区" style="height: 355px">
        <table opt="chshshq" class="easyui-datagrid"
               data-options="
                   fit:true,
                   fitColumns:true,
                   method:'post',
                   singleSelect:true,
                   loadMsg:'',
                   pagination:true,
                   striped:true">
            <thead>
            <tr>
                <th data-options="field:'enum_name',align:'left',width:352">
                    隶属行政区划
                </th>
                <th data-options="field:'districtid',align:'left',width:352">
                    区划代码值
                </th>
                <th data-options="field:'sq_name',align:'left',width:352">
                    社区名称
                </th>
            </tr>
            </thead>
        </table>
    </div>
    <div title="村委会" style="height: 355px">
        <table opt="cwh" class="easyui-datagrid"
               data-options="
                   fit:true,
                   fitColumns:true,
                   method:'post',
                   singleSelect:true,
                   loadMsg:'',
                   pagination:true,
                   striped:true">
            <thead>
            <tr>
                <th data-options="field:'enum_name',align:'left',width:352">
                    隶属行政区划
                </th>
                <th data-options="field:'districtid',align:'left',width:352">
                    区划代码值
                </th>
                <th data-options="field:'cwh_name',align:'left',width:352">
                    村名称
                </th>
                <!--<th data-options="field:'cunleixing',align:'left',width:352">
                    村类型
                </th>-->
            </tr>
            </thead>
        </table>
    </div>
    <div title="经济合作社" style="height: 355px">
        <table opt="jjhzsh" class="easyui-datagrid"
               data-options="
                   fit:true,
                   fitColumns:true,
                   method:'post',
                   singleSelect:true,
                   loadMsg:'',
                   pagination:true,
                   striped:true">
            <thead>
            <tr>
                <th data-options="field:'enum_name',align:'left',width:352">
                    隶属行政区划
                </th>
                <th data-options="field:'districtid',align:'left',width:352">
                    区划代码值
                </th>
                <th data-options="field:'xzm',align:'left',width:352">
                    社区名称
                </th>
            </tr>
            </thead>
        </table>
    </div>
    <div title="渔农村" style="height: 355px">
        <table opt="ync" class="easyui-datagrid"
               data-options="
                   fit:true,
                   fitColumns:true,
                   method:'post',
                   singleSelect:true,
                   loadMsg:'',
                   pagination:true,
                   striped:true">
            <thead>
            <tr>
                <th data-options="field:'enum_name',align:'left',width:352">
                    隶属行政区划
                </th>
                <th data-options="field:'districtid',align:'left',width:352">
                    区划代码值
                </th>
                <th data-options="field:'sq_name',align:'left',width:352">
                    社区名称
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>