<!--界线查询-->
<table class="easyui-datagrid" opt="placeDataQuery" data-options="
               method:'post',
               toolbar:'#tb3',
               fit:true,
               fitColumns:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               pagination:true,
               loadMsg:''">
    <thead>
    <tr>
        <th data-options="field:'jx_mingcheng',width:220,align:'center'">界线名称</th>
        <th data-options="field:'jx_id',width:220,align:'center'">界线代码</th>
        <th data-options="field:'jx_dengji',width:220,align:'center'">界线等级</th>
    </tr>
    </thead>
</table>

<div style="padding-bottom: 10px;" id="tb3">
    <table cellspacing="0" cellpadding="0" style="text-align: right;padding-top: 2px">
        <tr>
            <td class="formtdtext">
                <label class="text-align text-overflow">界线名称</label>
            </td>
            <td>
            <input type="text" opt="jx_mingcheng" style="width: 186px;height: 17px;border: 1px solid  rgba(94,128,63,0.21)">
            </td>

            <td class="formtdtext"><label class="text-align text-overflow">界线代码</label>
            </td>
            <td>
                <input type="text" opt="jx_id" style="width: 186px;height: 17px;border: 1px solid  rgba(94,128,63,0.21)">
            </td>

            <td style="padding-right: 5px;padding-top: 10px;width: 300px;" >
                <input class="highcharstoolbarbutton" type="button" opt="query" value="查询">
            </td>

            <!--<td style="position:relative;width: 38%"></td>-->
        </tr>
    </table>
</div>