<div id="minguanyewufenxidlg" opt="minguanyewufenxidlg" class="easyui-tabs">
    <div title="社团" style="height: 355px">
        <table opt="mgst" class="easyui-datagrid"
               data-options="
                   fit:true,
                   fitColumns:true,
                   method:'post',
                   singleSelect:true,
                   loadMsg:'',
                   pagination:true,
                   striped:true">
            <thead>
            <tr>
                <th data-options="field:'enum_name',align:'left',width:95">
                    隶属行政区划
                </th>
                <!--<th data-options="field:'districtid',align:'left',width:352">
                    区划代码值
                </th>-->
                <th data-options="field:'sg_name',align:'left',width:127">
                    社团名称
                </th>
                <th data-options="field:'address',align:'left',width:284">
                    社团地址
                </th>
                <th data-options="field:'or_number',align:'left',width:190">
                    社团证号
                </th>
            </tr>
            </thead>
        </table>
    </div>
    <div title="民非办" style="height: 355px">
        <table opt="mgmfb" class="easyui-datagrid"
               data-options="
                   fit:true,
                   fitColumns:true,
                   method:'post',
                   singleSelect:true,
                   loadMsg:'',
                   pagination:true,
                   striped:true">
            <thead>
            <tr>
                <th data-options="field:'enum_name',align:'left',width:107">
                    隶属行政区划
                </th>
                <!--<th data-options="field:'districtid',align:'left',width:352">
                    区划代码值
                </th>-->
                <th data-options="field:'prneu_name',align:'left',width:208">
                    民非名称
                </th>
                <th data-options="field:'address',align:'left',width:220">
                    民非地址
                </th>
                <th data-options="field:'prneu_number',align:'left',width:161">
                    民非证号
                </th>
                <!--<th data-options="field:'cunleixing',align:'left',width:352">
                    村类型
                </th>-->
            </tr>
            </thead>
        </table>
    </div>
    <div title="基金会" style="height: 355px">
        <table opt="mgjjh" class="easyui-datagrid"
               data-options="
                   fit:true,
                   fitColumns:true,
                   method:'post',
                   singleSelect:true,
                   loadMsg:'',
                   pagination:true,
                   striped:true">
            <thead>
            <tr>
                <th data-options="field:'enum_name',align:'left',width:352">
                    隶属行政区划
                </th>
                <th data-options="field:'districtid',align:'left',width:352">
                    区划代码值
                </th>
                <th data-options="field:'sg_name',align:'left',width:352">
                    社团名称
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>