<!--民管业务分析-->
<div style="position: absolute;width: 100%;height: 100%;">
    <div style="padding: 6px;padding-bottom: 2px">
        <div class="highcharstoolbar">&nbsp;&nbsp;统计条件</div>
        <div style="border: 1px solid rgba(128, 176, 79, 0.12);padding: 8px;padding-top: 2px;padding-bottom: 2px;">
            <table cellspacing="0" cellpadding="0" style="text-align: right;">
                <tr>
                    <td class="formtdtext"><label class="text-align text-overflow">业务类型</label>
                    </td>
                    <td>
                        <input class="easyui-combobox" opt="minguanbilltype"  style="width: 189px;"
                               data-options="
                                    loader: cj.getLoader('minguanbilltype'),
                                    editable:false,
                                    valueField:'id',
                                    textField:'text',
                                    panelHeight:'auto',
                                    value:'all'">
                    </td>

                    <td class="formtdtext"><label class="text-align text-overflow">分析条件</label>
                    </td>
                    <td>
                        <input class="easyui-combobox" opt="minguanfenxi"  style="width: 189px;"
                               data-options="
                                    disabled:true,
                                    editable:false,
                                    valueField:'id',
                                    textField:'text',
                                    panelHeight:'auto',
                                    value:'all'">
                    </td>

                    <td style="width: 40%;position: relative;">
                    </td>
                </tr>
                <tr>
                    <td class="formtdtext"><label class="text-align text-overflow">时间方式</label>
                    </td>
                    <td>
                        <input class="easyui-combobox" opt="dateway"  style="width: 189px;"
                               data-options="
                               disabled:true,
                               loader: cj.getLoader('dateway'),
                               editable:false,
                               valueField:'id',
                               textField:'text',
                               panelHeight:'auto',
                               value:'yyyy'">
                    </td>
                    <td class="formtdtext"><label class="text-align text-overflow">时间</label>
                    </td>
                    <td>
                        <span opt="datemenu">
                            <span opt="dateall1">
                                <input class="easyui-datebox" data-options="width:189,disabled:true" opt="shijian">
                            </span>
                            <span opt="dateall2" style="display: none">
                                <input class="easyui-datebox" data-options="width:87" opt="shijian1">到
                                <input class="easyui-datebox" data-options="width:87" opt="shijian2">
                            </span>
                        </span>
                    </td>

                    <td style="padding-right: 10px;padding-top: 4px;width: 40%;position: relative;">
                        <input class="highcharstoolbarbutton" type="button" opt="tongji" value="统计分析">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="padding: 6px;padding-top: 2px">
        <!--<span style="position:absolute;height:466px;width:50%;float: left">
            <table opt="minguanyewufenxi_st_all" class="easyui-datagrid"
                   data-options="
                       fit:true,
                       fitColumns:true,
                       method:'post',
                       singleSelect:true,
                       loadMsg:'',
                       striped:true">
                <thead>
                <tr>
                    <th data-options="field:'tname',align:'left',width:300">
                        <label style="color:rgba(5,8,11,0.84);font-weight:bold">项目</label>
                    </th>
                    <th data-options="field:'tsum',align:'left',width:300">
                        <label style="color:rgba(5,8,11,0.84);font-weight:bold">数值</label>
                    </th>
                </tr>
                </thead>
            </table>
        </span>-->
        <span style="position:absolute;height:466px;width:50%;float: left;">
            <table opt="minguanyewufenxi_st" class="easyui-datagrid"
                   data-options="
                   fit:true,
                   fitColumns:true,
                   method:'post',
                   singleSelect:true,
                   loadMsg:'',
                   striped:true">
                <thead>
                    <tr>
                        <th data-options="field:'enum_name',align:'left',width:300">
                            <label style="color:rgba(5,8,11,0.84);font-weight:bold">项目</label>
                        </th>
                        <th data-options="field:'total',align:'left',width:300">
                            <label style="color:rgba(5,8,11,0.84);font-weight:bold">数值</label>
                        </th>

                        <th data-options="field:'tname',align:'left',width:300">
                            <label style="color:rgba(5,8,11,0.84);font-weight:bold">时间</label>
                        </th>
                        <th data-options="field:'tsum',align:'left',width:300">
                            <label style="color:rgba(5,8,11,0.84);font-weight:bold">统计</label>
                        </th>
                    </tr>
                </thead>
            </table>
        </span>

        <span style="position:absolute;height:466px;width:50%;float: left">
            <table opt="minguanyewufenxi_all" class="easyui-datagrid"
                   data-options="
                   fit:true,
                   fitColumns:true,
                   method:'post',
                   singleSelect:true,
                   loadMsg:'',
                   striped:true">
                <thead>
                <tr>
                    <th data-options="field:'enum_name',align:'left',width:200">
                        <label style="color:rgba(5,8,11,0.84);font-weight:bold">县区</label>
                    </th>
                    <th data-options="field:'st',align:'left',width:200">
                        <label style="color:rgba(5,8,11,0.84);font-weight:bold">社团</label>
                    </th>
                    <th data-options="field:'mf',align:'left',width:200">
                        <label style="color:rgba(5,8,11,0.84);font-weight:bold">民非办</label>
                    </th>
                    <th data-options="field:'jjh',align:'left',width:200">
                        <label style="color:rgba(5,8,11,0.84);font-weight:bold">基金会</label>
                    </th>
                </tr>
                </thead>
            </table>
        </span>
        <span style="position:relative;width:48%;height:100%;float: right;border: 1px solid rgba(128, 176, 79, 0.12);">
            <div>
                <div class="highcharstoolbar">&nbsp;&nbsp;饼状图统计</div>
                <div opt="containerPie" style="height: 250px"></div>
            </div>
        </span>
    </div>
</div>