<!--民管基金会数据查询-->
<table class="easyui-datagrid" opt="minguanstDataQuery" data-options="
               method:'post',
               toolbar:'#tb_minguanjjhdataquery',
               fit:true,
               fitColumns:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               pagination:true,
               loadMsg:''">
    <thead>
    <tr>
        <th data-options="field:'enum_name',width:220,align:'center'">行政区划</th>
        <th data-options="field:'dwname',width:220,align:'center'">单位名称</th>
        <th data-options="field:'zuzhinum',width:220,align:'center'">组织代码</th>
        <th data-options="field:'fddbrname',width:220,align:'center'">法定代表人</th>
    </tr>
    </thead>
</table>

<div style="padding-bottom: 10px;" id="tb_minguanjjhdataquery">
    <table cellspacing="0" cellpadding="0" style="text-align: right;padding-top: 2px">
        <tr>
            <td class="formtdtext">
                <label class="text-align text-overflow">行政区划</label>
            </td>
            <td>
            <input class="easyui-combotree" opt="divisiontree" data-options="width:189">
            </td>

            <td class="formtdtext"><label class="text-align text-overflow">单位名称</label>
            </td>
            <td>
                <input type="text" opt="dwname"
                       style="width: 186px;height: 17px;border: 1px solid  rgba(94,128,63,0.21)">
            </td>

            <td class="formtdtext"><label class="text-align text-overflow">组织代码</label>
            </td>
            <td>
                <input type="text" opt="zuzhinum"
                       style="width: 186px;height: 17px;border: 1px solid  rgba(94,128,63,0.21)">
            </td>

            <td style="position: relative;width: 10%"></td>
        </tr>
        <tr>
            <td class="formtdtext"><label class="text-align text-overflow">法定代表人</label>
            </td>
            <td>
                <input type="text" opt="fddbrname"
                       style="width: 186px;height: 17px;border: 1px solid  rgba(94,128,63,0.21)">
            </td>

            <td style="padding-right: 5px;padding-top: 15px;width:200px" colspan="5">
                <input class="highcharstoolbarbutton" type="button" opt="query" value="查询">
            </td>
        </tr>
    </table>
</div>