<form method="post">
    <ul class="modifyPassWord">
        <li>
            <label >新密码：</label>
            <p><input name="password1" type="password"/></p>
        </li>
        <li>
            <label >确认密码：</label>
            <p><input name="password2" type="password"/></p>
        </li>
        <div id="msg" opt="msg"></div>
        <li>
            <span></span>
            <p style="float: right;margin-right: 220px;"><input  type="button" value="保存密码" style="width: 100px;height: 30px;font-size: 15px;line-height: 30px;"/></p>
        </li>
    </ul>
</form>