<!--社工数据查询-->
<table class="easyui-datagrid" opt="shegongDataQuery" data-options="
               method:'post',
               toolbar:'#tb_shegongdataquery',
               fit:true,
               fitColumns:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               pagination:true,
               loadMsg:''">
    <thead>
    <tr>
        <th data-options="field:'enum_name',width:220,align:'center'">行政区划</th>
        <th data-options="field:'sg_name',width:220,align:'center'">社工姓名</th>
        <th data-options="field:'sg_sex',width:220,align:'center'">性别</th>
        <th data-options="field:'sg_workdep',width:220,align:'center'">社工工作单位</th>
        <th data-options="field:'sg_zhicheng',width:220,align:'center'">工作职称</th>
        <th data-options="field:'tellphon',width:220,align:'center'">联系电话</th>
    </tr>
    </thead>
</table>

<div style="padding-bottom: 10px;" id="tb_shegongdataquery">
    <table cellspacing="0" cellpadding="0" style="text-align: right;padding-top: 2px">
        <tr>
            <td class="formtdtext">
                <label class="text-align text-overflow">行政区划</label>
            </td>
            <td>
            <input class="easyui-combotree" opt="divisiontree" data-options="width:189">
            </td>

            <td class="formtdtext"><label class="text-align text-overflow">社工姓名</label>
            </td>
            <td>
                <input type="text" opt="sg_name"
                       style="width: 186px;height: 17px;border: 1px solid  rgba(94,128,63,0.21)">
            </td>

            <td class="formtdtext"><label class="text-align text-overflow">工作单位</label>
            </td>
            <td>
                <input type="text" opt="sg_workdep"
                       style="width: 186px;height: 17px;border: 1px solid  rgba(94,128,63,0.21)">
            </td>

            <td style="padding-right: 5px;padding-top: 15px;width:200px">
                <input class="highcharstoolbarbutton" type="button" opt="query" value="查询">
            </td>
        </tr>
    </table>
</div>