<div opt="shegongtongjidlg" class="easyui-tabs">
    <div title="社工机构" style="height: 355px">
        <table opt="shgjg" class="easyui-datagrid"
               data-options="
                   fit:true,
                   fitColumns:true,
                   method:'post',
                   singleSelect:true,
                   loadMsg:'',
                   pagination:true,
                   striped:true">
            <thead>
                <tr>
                    <th data-options="field:'enum_name',align:'left',width:99">
                        隶属行政区划
                    </th>
                    <th data-options="field:'sg_name',align:'left',width:87">
                        姓名
                    </th>
                    <th data-options="field:'sg_sex',align:'left',width:87">
                        性别
                    </th>
                    <th data-options="field:'sg_workdep',align:'left',width:229">
                        工作单位
                    </th>
                    <th data-options="field:'sg_zhicheng',align:'left',width:197">
                        社工职称
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <!--<div title="社工进社区人员" style="height: 335px">
        <table opt="shgjshqry" class="easyui-datagrid"
               data-options="
                   fit:true,
                   fitColumns:true,
                   method:'post',
                   singleSelect:true,
                   loadMsg:'',
                   striped:true">
            <thead>
                <tr>
                    <th data-options="field:'name',align:'left',width:352">
                        姓名
                    </th>
                    <th data-options="field:'sex',align:'left',width:352">
                        性别
                    </th>
                    <th data-options="field:'gongzuodanwei',align:'left',width:352">
                        工作单位
                    </th>
                    <th data-options="field:'zhicheng',align:'left',width:352">
                        职称
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div title="社工进福利机构" style="height: 335px">
        <table opt="shgjfljg" class="easyui-datagrid"
               data-options="
                   fit:true,
                   fitColumns:true,
                   method:'post',
                   singleSelect:true,
                   loadMsg:'',
                   striped:true">
            <thead>
                <tr>
                    <th data-options="field:'tname',align:'left',width:352">
                        隶属行政区划
                    </th>
                    <th data-options="field:'tsum',align:'left',width:352">
                        福利机构名称
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div title="专业社工机构" style="height: 335px">
        <table opt="zhyshgjg" class="easyui-datagrid"
               data-options="
                   fit:true,
                   fitColumns:true,
                   method:'post',
                   singleSelect:true,
                   loadMsg:'',
                   striped:true">
            <thead>
            <tr>
                <th data-options="field:'tname',align:'left',width:352">
                    隶属行政区划
                </th>
                <th data-options="field:'tsum',align:'left',width:352">
                    社工机构名称
                </th>
            </tr>
            </thead>
        </table>
    </div>-->
</div>