<table class="easyui-datagrid-noauto"
       data-options="
               fit:true,
               fitColumns:true,
               border:false,
              pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               pagination:true
			">

    <thead>
    <tr>
        <th data-options="field:'itemid',width:80">Item ID</th>
        <th data-options="field:'listprice',width:80,align:'right'">List Price</th>
        <th data-options="field:'unitcost',width:80,align:'right'">Unit Cost</th>
        <th data-options="field:'attr1',width:240">Attribute</th>
        <th data-options="field:'status',width:60,align:'center'">Status</th>
        <th data-options="field:'productid',width:400,fixed:true">图形22222</th>
    </tr>
    </thead>
</table>