<div style="padding: 1px;height: 200px">
    <span style="position:absolute;height:99%;width:45%;float: left">
        <table opt="yewufenxidlg" class="easyui-treegrid"
               data-options="
                   fit:true,
                   fitColumns:true,
                   singleSelect:true,
                   loadMsg:''">
            <thead>
                <tr>
                    <th data-options="field:'enum_name',align:'left',width:413">
                        <label style="color:rgba(5,8,11,0.84);font-weight:bold">行政区划</label>
                    </th>
                    <th data-options="field:'zsum',align:'left',width:200">
                        <label style="color:rgba(5,8,11,0.84);font-weight:bold">数量</label>
                    </th>
                </tr>
            </thead>
        </table>
    </span>
    <span style="position:relative;width:54%;height:99%;float: right;border: 1px solid rgba(128, 176, 79, 0.12);">
        <div>
            <div class="highcharstoolbar">&nbsp;&nbsp;柱形图统计</div>
            <div opt="containerPie"></div>
            <div style="float: right;">
                <input class="highcharstoolbarbutton" type="button" opt="guanbi" value="关闭">
            </div>
        </div>
    </span>
</div>

