.pop-win-north-title {
    display: inline-block;
    line-height: 30px;
    padding-left: 10px;
    color: #ffffff;
}
.pop-win-north-close{
    float: right;
    background: url(../../../img/win/close.png) no-repeat;
    width: 20px;
    height: 30px;
    cursor: pointer;
    right: 2px;

}

.background {
    position: fixed;
    z-index: 998;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(50, 50, 50);
    background: rgba(0, 0, 0, 0.5);
}
.webox {
    position: fixed;
    z-index: 999;
    padding: 0;
    border: solid 1px chartreuse;
    /*background: rgba(10, 10, 10, 0.5);*/
}
div.weboxbuttons ul
{
    margin: 0;
    padding: 0;
    padding-top: 5px;
    text-align: center;
    list-style-type: none;
}
div.weboxbuttons ul li
{
    margin-left: 5px;
    display:inline;
    list-style-type:none;
}
/* 所有class为weboxbuttons的div中的ul中的a样式(包括尚未点击的和点击过的样式) */
div.weboxbuttons ul li a, div.weboxbuttons ul li a:visited
{
    cursor: pointer;
    /*border: 1px #4e667d solid;*/
    text-decoration: none;
    white-space: nowrap;
    background-image: url("../../../toolbtn.jpg");
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-top: 2px;
    background-color: #6fb3e0;
    color: #ffffff;
}
div.weboxbuttons ul li a:hover
{
    background-color: #bfcbd6;
    color: red;
    text-decoration: none;
}
div.weboxbuttons ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}