<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">面积</label>
        </td>
        <td colspan="3"><input name="mianji"/>
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">所在海洋</label>
        </td>
        <td colspan="3"><input  class="lenmorethan2col" name="suozaihaiyang"/>
        </td>
    </tr>

    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">走向</label>
        </td>
        <td colspan="3"><input class="lenmorethan2col " name="zouxiang"/>
        </td>

        <td colspan="4">
        </td>
    </tr>

    </tbody>
</table>
