<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">塘顶高程</label></td>
        <td><input name="tangdinggaocheng"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">顶宽</label></td>
        <td><input name="dingkuan"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">内坡</label></td>
        <td><input name="neipo"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">外坡</label></td>
        <td><input name="waipo"><span class="measurementunit">(米)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">始建时间</label></td>
        <td><input name="shijianshijian" class="easyui-datebox" style="width: 128px;"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">建成时间</label></td>
        <td><input name="jianchengshijian" class="easyui-datebox" style="width: 128px;"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">长</label></td>
        <td><input name="chang"><span class="measurementunit">(米)</span><span class="required">*</span></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">所在河流</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="suozaiheliu"></td>

        <td colspan="4"></td>
    </tr>

    </tbody>
</table>
