<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">类型</label></td>
        <td><input name="leixing"></td>
        <td class="formtdtext"><label class="text-align text-overflow">建筑面积</label></td>
        <td><input name="jianzhumianji"><span class="measurementunit">(m2)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">占地面积</label></td>
        <td><input name="zhandimianji"><span class="measurementunit">(m2)</span></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">始建时间</label></td>
        <td><input name="shijianshijian" class="easyui-datebox" style="width: 128px;"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">建成时间</label></td>
        <td><input name="jianchengshijian" class="easyui-datebox" style="width: 128px;"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">年客运量</label></td>
        <td><input name="niankeyunliang"><span class="measurementunit">(人)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">年货运量</label></td>
        <td><input name="nianhuoyunliang"><span class="measurementunit">(吨)</span></td>

    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">主要经营线</label></td>
        <td colspan="3"><input class="lenmorethan2col lenmorethan3row" name="zhuyaoyunyingxian"></td>

        <td colspan="4"></td>
    </tr>

    </tbody>
</table>
