<table class="formtable02">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">类型</label></td>
        <td><input name="leixing"></td>
        <td class="formtdtext"><label class="text-align text-overflow">所属行业</label></td>
        <td><input name="suoshuhangye"></td>
        <td class="formtdtext"><label class="text-align text-overflow">地址</label></td>
        <td><input name="dizhi"></td>
        <td class="formtdtext"><label class="text-align text-overflow">法人代表</label></td>
        <td><input name="farendaibiao"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">电话区号</label></td>
        <td><input name="dianhuaquhao"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">电话</label></td>
        <td><input name="dianhua" ><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">邮政编码</label></td>
        <td><input name="youzhengbianma"></td>
        <td class="formtdtext"><label class="text-align text-overflow">业务范围</label></td>
        <td><input name="yewufanwei"></td>

    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">职工人数</label></td>
        <td colspan="3"><input name="zhigongrenshu"></td>

        <td colspan="4"></td>
    </tr>


    </tbody>
</table>
