<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>

        <td class="formtdtext"><label class="text-align text-overflow">人口</label></td>
        <td><input name="renkou"><span class="measurementunit">(人)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">面积</label></td>
        <td><input name="mianji"><span class="measurementunit">(平方公里)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大长度</label></td>
        <td><input name="zuidachangdu"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大宽度</label></td>
        <td><input name="zuidakuandu" ><span class="measurementunit">(米)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">近陆距离</label></td>
        <td><input name="jinlujuli"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">类型</label></td>
        <td><input name="leixing"></td>

        <td class="formtdtext"><label class="text-align text-overflow">年降水量</label></td>
        <td><input name="nianjiangshuiliang"><span class="measurementunit">(毫米)</span></td>
        <td colspan="2"></td>

    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">所在海洋</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="suozaihaiyang"></td>
        <td class="formtdtext"><label class="text-align text-overflow">土岩类型</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="tuyanleixing"></td>
    </tr>
    </tbody>
</table>
