<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>

        <td class="formtdtext"><label class="text-align text-overflow">长</label></td>
        <td><input name="chang"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">顶宽</label></td>
        <td><input name="dingkuan"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">高</label></td>
        <td><input name="gao"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">质地</label></td>
        <td><input name="zhidi" ></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">始建时间</label></td>
        <td><input name="shijianshijian" class="easyui-datebox" style="width: 128px;"></td>
        <td class="formtdtext"><label class="text-align text-overflow">建成时间</label></td>
        <td><input name="jianchengshijian" class="easyui-datebox" style="width: 128px;"></td>
        <td class="formtdtext"><label class="text-align text-overflow">所在位置</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="suozaiweizhi"></td>
    </tr>

    </tbody>
</table>
