<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">宽度</label></td>
        <td><input name="kuandu"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">高度</label></td>
        <td><input name="gaodu"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">面积</label></td>
        <td><input name="mianji"><span class="measurementunit">(平方米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">容量</label></td>
        <td><input name="rongliang" ><span class="measurementunit">(立方米)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">长度</label></td>
        <td><input name="changdu"></td>
        <td class="formtdtext"><label class="text-align text-overflow">海拔</label></td>
        <td><input name="haiba"></td>
        <td class="formtdtext"><label class="text-align text-overflow">土岩类型</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="tuyanleixing"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">所在山峰</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="suozaishanfeng"/></td>

        <td colspan="4"></td>
    </tr>
    </tbody>
</table>
