<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">年客运量</label></td>
        <td><input name="niankeyunliang"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">渡程长度</label></td>
        <td><input name="liuchengchangdu"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">平均水深</label></td>
        <td><input name="pingjunshuishen"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大水深</label></td>
        <td><input name="zuidashuishen" ><span class="measurementunit">(米)</span></td>
    </tr>
    </tbody>
</table>
