<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">面积</label></td>
        <td><input name="mianji"><span class="measurementunit">(平方公里)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">海拔</label></td>
        <td><input name="haiba"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大长度</label></td>
        <td><input name="zuidachangdu"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大宽度</label></td>
        <td><input name="zuidakuandu"><span class="measurementunit">(米)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">四至</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="sizhi"/></td>
        <td class="formtdtext"><label class="text-align text-overflow">四周山脉</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="sizhoushanmai"/></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">土壤类型</label></td>
        <td><input name="turangleixing"></td>
        <td class="formtdtext"><label class="text-align text-overflow">气候类型</label></td>
        <td><input name="qihouleixing"></td>
        <td class="formtdtext"><label class="text-align text-overflow">年降水量</label></td>
        <td><input name="nianjiangshuiliang"><span class="measurementunit">(毫米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">年均温差</label></td>
        <td><input name="nianjunwencha"><span class="measurementunit">(摄氏度)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">年无霜期</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="nianwushuangqi"/></td>
        <td colspan="4"></td>
    </tr>

    </tbody>
</table>
