<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">面积</label></td>
        <td><input name="mianji"><span class="measurementunit">(平方公里)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">年降水量</label></td>
        <td><input name="nianjiangshuiliang"><span class="measurementunit">(毫米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">宽度</label></td>
        <td><input name="kuandu"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">长度</label></td>
        <td><input name="changdu"><span class="measurementunit">(米)</span></td>
    </tr>

    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">年均温度</label></td>
        <td><input name="nianjunwendu"/><span class="measurementunit">(摄氏度)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">年均温差</label></td>
        <td><input name="nianjunwencha"><span class="measurementunit">(摄氏度)</span></td>

        <td class="formtdtext"><label class="text-align text-overflow">地质</label></td>
        <td colspan="3"><input  class="lenmorethan2col " name="dizhi"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">气候类型</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="qihouleixing"/></td>

        <td colspan="4"></td>
    </tr>
    </tbody>
</table>
