<table class="formtable02">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">起点</label></td>
        <td><input name="qidian"></td>
        <td class="formtdtext"><label class="text-align text-overflow">止点</label></td>
        <td><input name="zhidian"></td>
        <td class="formtdtext"><label class="text-align text-overflow">宽度</label></td>
        <td><input name="kuandu"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">长度</label></td>
        <td><input name="changdu"><span class="measurementunit">(米)</span></td>
    </tr>

    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">路面质地</label></td>
        <td><input name="lumianzhidi"></td>
        <td class="formtdtext"><label class="text-align text-overflow">道路等级</label></td>
        <td><input name="daoludengji"></td>

        <td class="formtdtext"><label class="text-align text-overflow">沿途地物</label></td>
        <td colspan="3"><input  class="lenmorethan2col " name="yantuzhongyaodiwu"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">始建时间</label></td>
        <td><input name="shijianshijian" class="easyui-datebox" style="width: 128px;"></td>
        <td class="formtdtext"><label class="text-align text-overflow">建成时间</label></td>
        <td><input name="jianchengshijian" class="easyui-datebox" style="width: 128px;"></td>

        <td colspan="4"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">途经行政区</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="tujingzhengqu"/><span class="required">*</span></td>

        <td colspan="4"></td>
    </tr>
    </tbody>
</table>
