<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">管理单位</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="guanlidanwei"></td>
        <td class="formtdtext"><label class="text-align text-overflow">占地面积</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="zhandimianji"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">联系地址</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="lianxidizhi"></td>
        <td class="formtdtext"><label class="text-align text-overflow">联系电话</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="lianxidianhua"></td>
    </tr>
    <tr opt="suozaizhengqu">
        <td class="formtdtext"><label class="text-align text-overflow">主要景点</label></td>
        <td colspan="3"><input class="lenmorethan2col lenmorethan3row" name="zhuyaojingdian"/><span class="required">*</span></td>


    </tr>
    </tbody>
</table>
