<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">年客运量</label></td>
        <td><input name="niankeyunliang"><span class="measurementunit">(人)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">年货运量</label></td>
        <td><input name="nianhuoyunliang"><span class="measurementunit">(万吨)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">占地面积</label></td>
        <td><input name="zhandimianji"><span class="measurementunit">(m2)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">停机坪面积</label></td>
        <td><input name="tingjipingmianji"><span class="measurementunit">(m2)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">始建时间</label></td>
        <td><input name="shijianshijian" class="easyui-datebox" style="width: 128px;"></td>
        <td class="formtdtext"><label class="text-align text-overflow">建成时间</label></td>
        <td><input name="jianchengshijian" class="easyui-datebox" style="width: 128px;"></td>
        <td colspan="4"></td>

    </tr>
    </tbody>
</table>
