<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">面积</label></td>
        <td><input name="mianji"><span class="measurementunit">(平方米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">近陆距离</label></td>
        <td><input name="jinlujuli"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">相对高程</label></td>
        <td><input name="xiangduigaocheng"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">潮差</label></td>
        <td><input name="chaocha"><span class="measurementunit">(米)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">土壤类型</label></td>
        <td><input name="turangleixing"></td>
        <td class="formtdtext"><label class="text-align text-overflow">植被覆盖率</label></td>
        <td><input name="zhibeifugailv"><span class="required">*</span></td>
        <td colspan="4"></td>
    </tr>
    </tbody>
</table>
