<table class="formtable02" opt="suozaizhengqu">
    <tbody>
      <tr>
        <td class="formtdtext"><label class="text-align text-overflow">河流级别</label></td>
        <td><input name="heliujibie"></td>
        <td class="formtdtext"><label class="text-align text-overflow">长度</label></td>
        <td><input name="changdu"><span class="measurementunit">(公里)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">流域面积</label></td>
        <td><input name="liuyumianji"><span class="measurementunit">(平方公里)</span></td>
        <td colspan="2"></td>
    </tr>
        <tr>
        <td class="formtdtext"><label class="text-align text-overflow">河流类别</label></td>
        <td><input name="heliuleibie_a"></td>
        <td class="formtdtext"></td>
        <td><input name="heliuleibie_b"></td>
        <td class="formtdtext"></td>
        <td><input name="heliuleibie_c"></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">主要水文站</label></td>
        <td><input name="zhuyaoshuiwenzhan_a"></td>
        <td class="formtdtext"></td>
        <td><input name="zhuyaoshuiwenzhan_b"></td>
        <td class="formtdtext"></td>
        <td><input name="zhuyaoshuiwenzhan_c"></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">径流量</label></td>
        <td><input name="jingliuliang_a"></td>
        <td class="formtdtext"></td>
        <td><input name="jingliuliang_b"></td>
        <td class="formtdtext"></td>
        <td><input name="jingliuliang_c"></td>
        <td colspan="2"></td>
    </tr>
    <tr opt="suozaizhengqu">
        <td class="formtdtext"><label class="text-align text-overflow">主要支流</label></td>
        <td colspan="3"><input class="lenmorethan2col lenmorethan3row" name="zhuyaozhiliu"></td>
    </tr>
    </tbody>
</table>
