<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>

        <td class="formtdtext"><label class="text-align text-overflow">湖泊类型</label></td>
        <td><input name="huboleixing_a"></td>
        <td class="formtdtext"><label class="text-align text-overflow">面积</label></td>
        <td><input name="mianji"><span class="measurementunit">(平方公里)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大长度</label></td>
        <td><input name="zuidachangdu"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大水深</label></td>
        <td><input name="zuidashuishen"> <span class="measurementunit">(米)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"></td>
        <td><input name="huboleixing_b"></td>
        <td colspan="2"></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大宽度</label></td>
        <td><input name="zuidakuandu"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">平均水深</label></td>
        <td><input name="pingjunshuishen"><span class="measurementunit">(米)</span></td>
    </tr>
    <tr opt="suozaizhengqu">
        <td class="formtdtext"><label class="text-align text-overflow">主要水源</label></td>
        <td colspan="3"><input class="lenmorethan2col lenmorethan3row" name="zhuyaoshuiyuan"></td>
    </tr>

    </tbody>
</table>
