<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">类型</label></td>
        <td><input name="leixing"><span class="required">*</span></td>
        <td colspan="6"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">水质</label></td>
        <td><input name="shuizhi"></td>
        <td class="formtdtext"><label class="text-align text-overflow">深度</label></td>
        <td><input name="shendu"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">年均温度</label></td>
        <td><input name="nianjunshuiwen"><span class="measurementunit">(摄氏度)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">涌水高度</label></td>
        <td><input name="yongshuigaodu"><span class="measurementunit">(米)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">最高水位</label></td>
        <td><input name="zuigaoshuiwei"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">最低水位</label></td>
        <td><input name="zuidishuiwei"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大输出量</label></td>
        <td><input name="zuidashuchuliang"><span class="measurementunit">(米/秒)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">日出水量</label></td>
        <td><input name="richushuiliang"><span class="measurementunit">(立方米)</span></td>
    </tr>

    </tbody>
</table>
