<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">类型</label></td>
        <td><input name="leixing"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">保护级别</label></td>
        <td><input name="baohujibie"></td>
        <td class="formtdtext"><label class="text-align text-overflow">管理单位</label></td>
        <td><input class="lenmorethan2col " name="guanlidanwei"><span class="required">*</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">联系地址</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="lianxidizhi"></td>
        <td class="formtdtext"><label class="text-align text-overflow">办公电话</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="lianxidianhua"><span class="required">*</span></td>
    </tr>
    <tr opt="suozaizhengqu">
        <td class="formtdtext"><label class="text-align text-overflow">人物或事件</label></td>
        <td colspan="3"><input class="lenmorethan2col lenmorethan3row" name="renwuhuoshijian"></td>
    </tr>
    </tbody>
</table>
