<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">类型</label></td>
        <td><input name="leixing"></td>
        <td class="formtdtext"><label class="text-align text-overflow">电话区号</label></td>
        <td><input name="dianhuaquhao"></td>
        <td class="formtdtext"><label class="text-align text-overflow">联系电话</label></td>
        <td><input name="lianxidianhua"></td>
        <td class="formtdtext"><label class="text-align text-overflow">邮政编码</label></td>
        <td><input name="youzhengbianma"></td>
    </tr>

    <tr>
        <td rowspan="2" class="formtdtext"><label class="text-align text-overflow">规模</label></td>
        <td colspan="3" rowspan="2"><input class="lenmorethan2col lenmorethan3row" name="guimo"></td>
        <td class="formtdtext"><label class="text-align text-overflow">人口</label></td>
        <td><input name="renkou"></td>
        <td class="formtdtext"><label class="text-align text-overflow">面积</label></td>
        <td><input name="mianji"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">项目性质</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="xiangmuxingzhi"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">途经行政区</label></td>
        <td colspan="3"><input class="lenmorethan2col lenmorethan3row" name="tujingzhengqu"></td>
        <td class="formtdtext"><label class="text-align text-overflow">四至界限</label></td>
        <td colspan="3"><input class="lenmorethan2col lenmorethan3row" name="sizhi"></td>
    </tr>

    </tbody>
</table>
