<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">驻地</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="zhudi"></td>
        <td class="formtdtext"><label class="text-align text-overflow">主要矿产</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="zhuyaokuangchan"></td>
    </tr>

    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">人口</label></td>
        <td><input name="renkou"><span class="measurementunit">(人)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">面积</label></td>
        <td><input name="mianji"><span class="measurementunit">(平方公里)</span><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">产值</label></td>
        <td><input name="chanzhi"><span class="measurementunit">(万元)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">设立时间</label></td>
        <td><input name="shelishijian" class="easyui-datebox" style="width: 128px;"></td>
    </tr>
    <tr opt="suozaizhengqu">
        <td class="formtdtext"><label class="text-align text-overflow">范围</label></td>
        <td colspan="3"><input class="lenmorethan2col lenmorethan3row" name="fanwei"></td>
    </tr>

    </tbody>
</table>
