<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">人口</label></td>
        <td><input name="renkou"></td>
        <td class="formtdtext"><label class="text-align text-overflow">面积</label></td>
        <td><input name="mianji"><span class="measurementunit">(平方公里)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">类型</label></td>
        <td><input name="leixing"></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">主要商品</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="zhuyaoshangpin"></td>
    </tr>
    <tr opt="suozaizhengqu">
        <td class="formtdtext"><label class="text-align text-overflow">范围</label></td>
        <td colspan="3"><input class="lenmorethan2col lenmorethan3row" name="fanwei"></td>
    </tr>
    </tbody>
</table>
