<table class="formtable02">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">人口</label></td>
        <td><input name="renkou"></td>
        <td class="formtdtext"><label class="text-align text-overflow">面积</label></td>
        <td><input name="mianji"><span class="measurementunit">(平方公里)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">类型</label></td>
        <td><input name="leixing"></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">无霜期</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="wushuangqi"></td>
        <td class="formtdtext"><label class="text-align text-overflow">主要产业</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="zhuyaochanye"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">年均气温</label></td>
        <td><input name="pingjunqiwen"><span class="measurementunit">(摄氏度)</span></td>
        <td colspan="2"></td>
        <td class="formtdtext"><label class="text-align text-overflow">年降水量</label></td>
        <td><input name="nianjunjiangyu"><span class="measurementunit">(毫米)</span></td>
        <td colspan="2"></td>
    </tr>
    <tr opt="suozaizhengqu">
        <td class="formtdtext"><label class="text-align text-overflow">范围</label></td>
        <td colspan="3"><input class="lenmorethan2col lenmorethan3row" name="fanwei"></td>
    </tr>
    </tbody>
</table>
