<table class="formtable02" opt="suozaizhengqu">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">上游水源</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="shangyoushuiyuan"></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大落差</label></td>
        <td><input name="zuidaluocha"><span class="measurementunit">(米)</span><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大宽度</label></td>
        <td><input name="zuidakuandu"><span class="measurementunit">(米)</span><span class="required">*</span></td>
    </tr>
    </tbody>
</table>
