<table class="formtable02">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">高度</label></td>
        <td><input name="gao"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大载重量</label></td>
        <td><input name="zuidazaizhongliang"><span class="measurementunit">(吨)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">宽度</label></td>
        <td><input name="haiba"><span class="measurementunit">(米)</span><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">长度</label></td>
        <td><input name="nianjiangshuiliang"><span class="measurementunit">(米)</span><span class="required">*</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">所在河流(道路)</label></td>
        <td  colspan="3"><input class="lenmorethan2col " name="suozaihelu"></td>
        <td class="formtdtext"><label class="text-align text-overflow">结构</label></td>
        <td  colspan="3"><input class="lenmorethan2col " name="jiegou"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">始建时间</label></td>
        <td><input name="shijianshijian" class="easyui-datebox" style="width: 128px;"></td>
        <td class="formtdtext"><label class="text-align text-overflow">建成时间</label></td>
        <td><input name="jianchengshijian" class="easyui-datebox" style="width: 128px;"></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大跨度</label></td>
        <td><input name="zuidakuadu"><span class="measurementunit">(米)</span></td>
        <td colspan="2"></td>
    </tr>

    </tbody>
</table>
