<table class="formtable02" opt="suozaizhengqu">
    <tbody>


    <tr>

        <td class="formtdtext"><label class="text-align text-overflow">类    型</label></td>
        <td><input name="leixing"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">最高水位</label></td>
        <td><input name="zuigaoshuiwei"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">最低水位</label></td>
        <td><input name="zuidishuiwei"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">深    度</label></td>
        <td><input name="shendu"> <span class="measurementunit">(米)</span></td>
    </tr>
    <tr>

        <td class="formtdtext"><label class="text-align text-overflow">最大输出量</label></td>
        <td><input name="zuidashuchuliang"><span class="measurementunit">(米/秒)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">涌水高度</label></td>
        <td><input name="yongshuigaodu"></td>
        <td class="formtdtext"><label class="text-align text-overflow">日出水量</label></td>
        <td><input name="richushuiliang"><span class="measurementunit">(立方米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">年均温差</label></td>
        <td><input name="nianjunshuiwen"><span class="measurementunit">(摄氏度)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">水    质</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="shuizhi"></td>

        <td colspan="4"></td>
    </tr>

    </tbody>
</table>
