<table class="formtable02" opt="suozaizhengqu">
    <tbody>


    <tr>

        <td class="formtdtext"><label class="text-align text-overflow">人    口</label></td>
        <td><input name="renkou"><span class="measurementunit">(人)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">岛屿数量</label></td>
        <td><input name="daoyushuliang"></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大岛屿</label></td>
        <td><input name="zuidadaoyu"></td>
        <td class="formtdtext"><label class="text-align text-overflow">面    积</label></td>
        <td><input name="mianji"> <span class="measurementunit">(平方公里)</span></td>
    </tr>
    <tr>

        <td class="formtdtext"><label class="text-align text-overflow">潮汐类型</label></td>
        <td><input name="chaoxileixing"></td>
        <td class="formtdtext"><label class="text-align text-overflow">土岩类型</label></td>
        <td><input name="tuyanleixing"></td>
        <td class="formtdtext"><label class="text-align text-overflow">流    速</label></td>
        <td><input name="liusu"><span class="measurementunit">(米/秒)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">潮    差</label></td>
        <td><input name="chaocha"><span class="measurementunit">(米)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">所在海洋</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="suozaihaiyang"></td>

        <td colspan="4"></td>
    </tr>

    </tbody>
</table>
