<table class="formtable02" opt="suozaizhengqu">
    <tbody>


    <tr>

        <td class="formtdtext"><label class="text-align text-overflow">人    口</label></td>
        <td colspan="3"><input class="lenmorethan2col "  name="renkou"></td>
        <td class="formtdtext"><label class="text-align text-overflow">面    积</label></td>
        <td colspan="3"><input class="lenmorethan2col " name="mianji"><span class="measurementunit">(平方公里)</span></td>
    </tr>
    <tr>

        <td class="formtdtext"><label class="text-align text-overflow">邮政编码</label></td>
        <td><input name="youzhengbianma"></td>
        <td class="formtdtext"><label class="text-align text-overflow">电话区号</label></td>
        <td><input name="dianhuaquhao"></td>
        <td class="formtdtext"><label class="text-align text-overflow">办公电话</label></td>
        <td><input class="lenmorethan2col " name="bangongdianhua"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">下级组织</label></td>
        <td colspan="7"><input class="lenmorethan4col " name="xiajizuzhi"></td>
    </tr>

    <tr opt="suozaizhengqu">
        <td class="formtdtext"><label class="text-align text-overflow existbr">辖区范围</label></td>
        <td colspan="3"><input class="lenmorethan2col lenmorethan3row" name="xiaqufanwei"/><span class="required">*</span> </td>
    </tr>

    </tbody>
</table>
