<table class="formtable02" opt="suozaizhengqu">
    <tbody>


    <tr>

        <td class="formtdtext"><label class="text-align text-overflow">主要水源</label></td>
        <td><input name="zhuyaoshuiyuan"></td>
        <td class="formtdtext"><label class="text-align text-overflow">蓄水面积</label></td>
        <td><input name="xushuimianji"><span class="measurementunit">(平方公里)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">年发电量</label></td>
        <td><input name="nianfadianliang"><span class="measurementunit">(万度)<span class="required">*</span></span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">长</label></td>
        <td><input name="chang"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">宽</label></td>
        <td><input name="kuan"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">总库容</label></td>
        <td><input name="zongkurong"><span class="measurementunit">(亿立方米)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">始建时间</label></td>
        <td><input name="shijianshijian" class="easyui-datebox" style="width: 128px;"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">建成时间</label></td>
        <td><input name="jianchengshijian" class="easyui-datebox" style="width: 128px;"><span class="required">*</span></td>
    </tr>

    </tbody>
</table>
