<table class="formtable02" opt="suozaizhengqu">
    <tbody>


    <tr>

        <td class="formtdtext"><label class="text-align text-overflow">起    点</label></td>
        <td><input name="qidian"></td>
        <td class="formtdtext"><label class="text-align text-overflow">止    点</label></td>
        <td><input name="zhidian"></td>
        <td class="formtdtext"><label class="text-align text-overflow">平均流量</label></td>
        <td><input name="pingjunliuliang"><span class="measurementunit">(立方米/秒)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大深度</label></td>
        <td><input name="zuidashuishen"><span class="measurementunit">(米)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">始建时间</label></td>
        <td><input name="shijianshijian" class="easyui-datebox" style="width: 128px;"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">建成时间</label></td>
        <td><input name="jianchengshijian" class="easyui-datebox" style="width: 128px;"><span class="required">*</span></td>
    </tr>

    </tbody>
</table>
