<table class="formtable02" opt="suozaizhengqu">
    <tbody>


    <tr>

        <td class="formtdtext"><label class="text-align text-overflow">海    拔</label></td>
        <td><input name="haiba"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">所在山脉</label></td>
        <td><input name="suozaishanmai"></td>
        <td class="formtdtext"><label class="text-align text-overflow">宽    度</label></td>
        <td><input name="kuandu"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">长    度</label></td>
        <td><input name="changdu"><span class="measurementunit">(米)</span></td>
    </tr>
    <tr opt="suozaizhengqu">
        <td class="formtdtext"><label class="text-align text-overflow existbr">所在(夸)山<br/>峰</label></td>
        <td colspan="3"><input class="lenmorethan2col lenmorethan3row" name="suozaishanfeng"/></td>
    </tr>

    </tbody>
</table>
