<table class="formtable02" opt="suozaizhengqu">
    <tbody>


    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">类    型</label></td>
        <td><input name="leixing"></td>
        <td class="formtdtext"><label class="text-align text-overflow">主峰名称</label></td>
        <td><input name="zhufengmingcheng"></td>
        <td class="formtdtext"><label class="text-align text-overflow">主峰海拔</label></td>
        <td><input name="zhufenghaiba"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">平均海拔</label></td>
        <td><input name="pingjunhaiba"><span class="measurementunit">(米)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">走    向</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="zouxiang"></td>
        <td class="formtdtext"><label class="text-align text-overflow">长    度</label></td>
        <td><input name="changdu"><span class="measurementunit">(公里)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">宽    度</label></td>
        <td><input name="kuandu"><span class="measurementunit">(公里)</span></td>
    </tr>


    </tbody>
</table>
