<table class="formtable02" opt="suozaizhengqu">
    <tbody>


    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">长</label></td>
        <td><input name="chang"><span class="measurementunit">(米)<span class="required">*</span></span></td>
        <td class="formtdtext"><label class="text-align text-overflow">宽</label></td>
        <td><input name="kuan"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">高</label></td>
        <td><input name="gao"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">跨    度</label></td>
        <td><input name="kuadu"><span class="measurementunit">(米)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">最大承载量</label></td>
        <td><input name="zuidazailiang"><span class="measurementunit">(吨)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">所在山峰<br/>(河流)</label></td>
        <td><input name="suozaishanhe"></td>
        <td class="formtdtext"><label class="text-align text-overflow">始建时间</label></td>
        <td><input name="shijianshijian" class="easyui-datebox" style="width: 128px;"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">建成时间</label></td>
        <td><input name="jianchengshijian" class="easyui-datebox" style="width: 128px;"><span class="required">*</span></td>
    </tr>


    </tbody>
</table>
