<table class="formtable02" opt="suozaizhengqu">
    <tbody>


    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">类    型</label></td>
        <td><input name="leixing"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">泊    位</label></td>
        <td><input name="bowei"><span class="measurementunit">(个)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">年客运量</label></td>
        <td><input name="niankeyunliang"><span class="measurementunit">(人)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">年货运量</label></td>
        <td><input name="nianhuoyunliang"><span class="measurementunit">(万吨)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">平均水深</label></td>
        <td><input name="pingjunshuishen"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">最大水深</label></td>
        <td><input name="zuidashuishen"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">始建时间</label></td>
        <td><input name="shijianshijian" class="easyui-datebox" style="width: 128px;"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">建成时间</label></td>
        <td><input name="jianchengshijian" class="easyui-datebox" style="width: 128px;"><span class="required">*</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">所在水域</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="suozaishuiyu"></td>
        <td class="formtdtext"><label class="text-align text-overflow">岸线长</label></td>
        <td colspan="2"><input name="suozaishanhe"><span class="anxianchang">(米)</span></td>
    </tr>


    </tbody>
</table>
