<table class="formtable02">
    <tbody>


    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">起    点</label></td>
        <td><input name="qidian"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">止    点</label></td>
        <td><input name="zhidian"><span class="measurementunit">(个)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">长    度</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="changdu"><span class="measurementunit">(公里)<span class="required">*</span></span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">始建时间</label></td>
        <td><input name="shijianshijian" class="easyui-datebox" style="width: 128px;"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">建成时间</label></td>
        <td><input name="jianchengshijian" class="easyui-datebox" style="width: 128px;"><span class="required">*</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow existbr">主要车站</label></td>
        <td colspan="3"><input class="lenmorethan2col lenmorethan3row" name="zhuyaochezhan"/><span class="required">*</span> </td>
        <td class="formtdtext"><label class="text-align text-overflow existbr">途径行政区</label></td>
        <td colspan="3"><input class="lenmorethan2col lenmorethan3row" name="tujingzhengqu"/><span class="required">*</span> </td>
    </tr>

    </tbody>
</table>
