<table class="formtable02">
    <tbody>


    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">邮政编码</label></td>
        <td><input name="youzhengbianma"></td>
        <td class="formtdtext"><label class="text-align text-overflow">建成时间</label></td>
        <td><input name="jianchengshijian" class="easyui-datebox" style="width: 128px;"></td>
        <td class="formtdtext"><label class="text-align text-overflow">主体层数</label></td>
        <td><input name="zhuticengshu"><span class="measurementunit">(层)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">主体高度</label></td>
        <td><input name="zhutigaodu"><span class="measurementunit">(米)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">管理单位</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="guanlidanwei"></td>
        <td class="formtdtext"><label class="text-align text-overflow">电话区号</label></td>
        <td><input name="dianhuaquhao"></td>
        <td class="formtdtext"><label class="text-align text-overflow">管理单位电话</label></td>
        <td><input name="guanlidanweidianhua"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow existbr">位置(地址)</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="weizhi"/><span class="required">*</span> </td>
    </tr>

    </tbody>
</table>
