<table class="formtable02" opt="suozaizhengqu">
    <tbody>


    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">岸线长</label></td>
        <td><input name="anxianchang"><span class="measurementunit">(公里)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">面积</label></td>
        <td><input name="mianji"><span class="measurementunit">(平方米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">结冰期</label></td>
        <td><input name="jiebingqi"></td>
        <td class="formtdtext"><label class="text-align text-overflow">潮汐时间</label></td>
        <td><input name="chaoxishijian"><span class="required">*</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">水产种类</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="shuichanzhonglei"></td>
        <td class="formtdtext"><label class="text-align text-overflow">所在海洋</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="suozaihaiyang"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow existbr">潮水上溯里程</label></td>
        <td><input name="chaoshuishangsulicheng"/><span class="measurementunit">(米)</span> </td>
        <td class="formtdtext"><label class="text-align text-overflow existbr">年均水温</label></td>
        <td><input name="nianjunshuiwen"/><span class="measurementunit">(摄氏度)</span> </td>
        <td class="formtdtext"><label class="text-align text-overflow existbr">潮    向</label></td>
        <td><input name="chaoxiang"/></td>
        <td class="formtdtext"><label class="text-align text-overflow existbr">土岩类型</label></td>
        <td><input name="tuyanleixing"/></td>
    </tr>

    </tbody>
</table>
