<table class="formtable02" opt="suozaizhengqu">
    <tbody>


    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">起点名</label></td>
        <td><input name="qidianming"></td>
        <td class="formtdtext"><label class="text-align text-overflow">止点名</label></td>
        <td><input name="zhidianming"></td>
        <td class="formtdtext"><label class="text-align text-overflow">宽    度</label></td>
        <td><input name="kuangdu"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">长    度</label></td>
        <td><input name="changdu"><span class="measurementunit">(米)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">河流名</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="heliuming"></td>
        <td class="formtdtext"><label class="text-align text-overflow">所属山系</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="suoshushanxi"></td>
    </tr>
    <tr opt="suozaizhengqu">
        <td class="formtdtext"><label class="text-align text-overflow existbr">走    向</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="zouxiang"></td>
    </tr>

    </tbody>
</table>
