<table class="formtable02">
    <tbody>


    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">地区代码</label></td>
        <td><input name="diqudaima"></td>
        <td class="formtdtext"><label class="text-align text-overflow">政府驻地</label></td>
        <td><input name="zhengfuzhudi"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">政府网址</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="zhengfuwangzhi"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">上级行政区</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="shangjizhengqu"></td>
        <td class="formtdtext"><label class="text-align text-overflow">下级行政区</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="xiajizhengqu"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow existbr">电话区号</label></td>
        <td><input name="dianhuaquhao"></td>
        <td class="formtdtext"><label class="text-align text-overflow existbr">邮政编码</label></td>
        <td><input name="youzhengbianma"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow existbr">行政级别</label></td>
        <td><input name="xingzhengjibie"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow existbr">区划单位</label></td>
        <td><input name="quhuadanwei"><span class="required">*</span></td>
    </tr>

    </tbody>
</table>
