<table class="formtable02" opt="suozaizhengqu">
    <tbody>


    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">主要水源</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="zhuyaoshuiyuan"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">面    积</label></td>
        <td><input name="mianji"><span class="measurementunit">(平方公里)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">堤    长</label></td>
        <td><input name="dichang"><span class="measurementunit">(公里)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">蓄洪水位</label></td>
        <td><input name="xuhongshuiwei"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">蓄洪量</label></td>
        <td><input name="xuhongliang"><span class="measurementunit">(亿立方米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">总库容</label></td>
        <!--总库容无对应字段-->
        <td><input name="wuduiyingziduan"><span class="measurementunit">(亿立方米)</span></td>
    </tr>


    </tbody>
</table>
