<table class="formtable02" opt="suozaizhengqu">
    <tbody>


    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">水    源</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="shuiyuan"></td>
        <td class="formtdtext"><label class="text-align text-overflow">年均温差</label></td>
        <td><input name="nianjunwencha"><span class="measurementunit">(摄氏度)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">年均温度</label></td>
        <td><input name="nianjunwendu"><span class="measurementunit">(摄氏度)</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">土壤类型</label></td>
        <td><input name="turangleixing"></td>
        <td class="formtdtext"><label class="text-align text-overflow">气候类型</label></td>
        <td><input name="qihouleixing"></td>
        <td class="formtdtext"><label class="text-align text-overflow">年无霜期</label></td>
        <td><input name="nianwushuangqi"></td>
        <td class="formtdtext"><label class="text-align text-overflow">动植物种类</label></td>
        <td><input name="dongzhiwuzhonglei"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">深    度</label></td>
        <td><input name="shendu"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">长    度</label></td>
        <td><input name="changdu"><span class="measurementunit">(米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">面积</label></td>
        <td><input name="mianji"><span class="measurementunit">(平方米)</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">年降水量</label></td>
        <td><input name="nianjiangshuiliang"><span class="measurementunit">(毫米)</span></td>
    </tr>


    </tbody>
</table>
