<table class="formtable02" opt="suozaizhengqu">
    <tbody>


    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">保护对象</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="baohuduixiang"></td>
        <td class="formtdtext"><label class="text-align text-overflow">级别</label></td>
        <td><input name="jibie"></td>
        <td class="formtdtext"><label class="text-align text-overflow">建立时间</label></td>
        <td><input name="jianlishijian" class="easyui-datebox" style="width: 128px;"><span class="required">*</span></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">管理单位</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="guanlidanwei"><span class="required">*</span></td>
        <td class="formtdtext"><label class="text-align text-overflow">联系地址</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="lianxidizhi"></td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">办公电话</label></td>
        <td colspan="3"><input class="lenmorethan2col" name="lianxidianhua"></td>
    </tr>
    <tr opt="suozaizhengqu">
        <td class="formtdtext"><label class="text-align text-overflow existbr">主要景点</label></td>
        <td colspan="3"><input class="lenmorethan2col lenmorethan3row" name="zhuyaojingdian"/></td>
    </tr>


    </tbody>
</table>
