<div class="easyui-panel newRadio" opt="formcontentpanel"
     style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
     data-options="fit:true,border:false">
    <form opt="comboform" class="common-form" method="post" >
        <table opt="baseinfo_table" style="margin: 0 auto;margin-top: 2px;width: 400px;" cellpadding="2" cellspacing="1" class="table_form">
            <tr>
                <td class="formtdtext">类别名称<label></label></td>
                <td><input class="easyui-validatebox" name="aaa101"></td>
            </tr>
            <tr>
                <td class="formtdtext">类别代码<label></label></td>
                <td><input class="easyui-validatebox" name="aaa100"></td>
            </tr>
            <!--<tr>
                <td></td>
                <td><a opt="pensionsubmit">保存</a></td>
            </tr>-->
        </table>
    </form>
</div>