/*####north#####*/
.bghead{
    height:85px;
    background: url("../../images/index/headbg1.png") repeat;
}
.bghead1{
    width: 200px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
.bghead2{
    background: url("../../images/index/headbg2.png") no-repeat;
    /*border: 1px solid red;*/
    width: 450px;
    height: 40px;
    margin-top: -53px;
    float: right;

    text-align: right;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding-top: 40px;
    /*padding-right: 5px;*/
}


/*#####west######*/
/*a,img{border:0;}*/
a,a:hover{color:#000;text-decoration:none;}

.left{
    width: 100%;
    height:100%;
    color:#000000;
    font-size:14px;
    text-align:left;
    position:absolute;
    left:0;top:0;
    font:12px/180% "微软雅黑";
}

.left_top{
    background-color: #F6F6F6;
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-left: 60px;
    font-weight: bolder;
    font-size: 20px;
    color: #555555;
}
.div1{
    text-align:left;
    width:99%;
}
.div2{
    height:40px;
    line-height:40px;
    cursor:pointer;
    font-size:14px;
    position:relative;
    border-bottom:#ccc 1px dotted;
    padding-left: 50px;
    background-color: #F6F6F6;
    border-bottom: 1px solid #ffffff;
    color: #555555;
}
.div2bag{
    background-color: #e5e5e5;
    border-left: 5px solid #0ab5d9;
    color:#0080d8;
}

.div3{
    display:none;
    font-size:13px;
}
.div3 ul{margin:0;padding:0;}
.div3 li{
    height:30px;
    line-height:30px;
    list-style:none;
    border-bottom:#ccc 1px dotted;
    text-align:left;
    padding-left: 60px;
    cursor: pointer;
}
.div3 li:hover{
    background-color: #e8f7df;
}

.div3bag{
    border-left: 5px solid darkmagenta;
    background-color: #e8f7df;
}

/*#####center#######*/
.centertip{
    height: 30px;
    border-bottom: 1px solid #F2F2F2;
    padding-top: 10px;
    font-size: 14px;
    background: #F6F6F6;
}
.centertip span{
    color: #0080d8;
}