/*#####west######*/
a,img{
    border:0;
    color:#000;
    text-decoration:none;
}
a:hover{
    color:#104b67;
    border-bottom: 1px solid #6fb3e0;
}

.left{
    width: 100%;
    height:100%;
    color:#000000;
    font-size:14px;
    text-align:left;
    position:absolute;
    left:0;top:0;
    font:12px/180% "微软雅黑";
    background-color: #f6f6f6;
}

.left_top{
    background-color: #F6F6F6;
    height: 40px;
    /*border-bottom: 1px solid #e5e5e5;*/
    padding-top: 10px;
    padding-left: 50px;
    color: #555555;
    margin-top: 5px;
    cursor: pointer;
    font-family: 微软雅黑;
    font-weight: bolder;
    font-size: 17px;
}
.left_top:hover{
    color: #6ac2f5;
}
.div1{
    text-align:left;
}
.left_title{
    height: 55px;
    font-size: 20px;
    color: #2db7f5;
    padding-top: 25px;
    padding-left: 20px;
    background-color: #ffffff;
}
.div2{
    height:40px;
    line-height:40px;
    cursor:pointer;
    font-size:14px;
    position:relative;
    padding-left: 50px;
    color: #5c6b77;
    font-family: 微软雅黑;
    font-weight: bolder;
}
.div2:hover{
    color: #6ac2f5;
}
.div2bag{
    background-color: white;
    border-left: 3px solid #1d80d3;
    color:#2db7f5;
}

.div3{
    display:none;
    font-size:13px;
    background-color: #f6f6f6;
}
.div3 ul{margin:0;padding:0;}
.div3 li{
    height:40px;
    line-height:40px;
    list-style:none;
    text-align:left;
    padding-left: 64px;
    cursor: pointer;
    color: #8b8b8b;
}
.div3 li:hover{
    /*background-color: #e8f7df;*/
    color: #6ac2f5;
}

.div3bag{
    background-color: white;
    border-left: 3px solid #1d80d3;
    /*background-color: #e8f7df;*/

}
.div3bag label{
    color: #6ac2f5;
}

/*#####center#######*/
.centertip{
    height: 100%;
    background: #2db7f5;
    margin: 0;
}
.center_text{
    margin-right: 35px;
    color: white;
    font-size: 14px;
    font-family: 黑体;
    float: right;
    margin-top: 30px;
}
.center_text a{
    color: white;
}
.center_text a:hover {
    color: #e0c8de;
}

/*查询栏*/
/*###########按钮############*/
.inputtext{
    height: 20px;border: 1px solid #e5e5e5;
}
.btns{
    background-color: #6fb3e0;
    color: #ffffff;
    border: 1px solid #6fb3e0;
    cursor: pointer;height: 22px;width: 60px;
}
.btns:hover{
    background-color: #2D93CA;
}
.btns:active{
    position: relative;
    top: 1px;
}


/************表单上方或者下方的悬浮工具条***************/
div.form-foot-btns{
    border-top: 1px solid gainsboro;
}
div.form-foot-btns ul
{
    margin: 0;
    padding: 0;
    padding-top: 5px;
    text-align: center;
    list-style-type: none;
}
div.form-foot-btns ul li
{
    margin-left: 5px;
    display:inline;
    list-style-type:none;
}
div.form-foot-btns ul li a{
    background-color: #6fb3e0;
    color: #ffffff;
    border: 1px solid #6fb3e0;
    cursor: pointer;height: 22px;width: 60px;
}
div.form-foot-btns ul li a:hover{
    background-color: #2D93CA;
}
div.form-foot-btns ul li a:active{
    position: relative;
    top: 1px;
}

/*工具栏背景*/
.highcharstoolbar{
    /*background: url("../../img/hengtiao.jpg");*/
    background-color: #6fb3e0;
    color: #ffffff;
    height: 23px;
    width: auto;
    padding-top: 5px;
}

.box-shadow1{
    -moz-box-shadow: 20px 0 0 #909090;/*firefox*/
    -webkit-box-shadow: 20px 0 0 #909090;/*safari或chrome*/
    box-shadow:0 0 15px #909090;;/*opera或ie9*/
}
.box-shadow{
    -moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
    -webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
    box-shadow:2px 2px 10px #909090;/*opera或ie9*/

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.box-shadow ul div{
    font-size: 24px;
    color: #5c6b77;
    font-family: Noto Sans S Chin;
    margin-bottom: 36px;
    padding-top: 20px;
}
.box-shadow ul li{
    list-style: circle;
}
.box-shadow ul li a{
    color: #5c6b77;
    font-family: 微软雅黑;
    font-size: 14px;
    cursor: pointer;
    text-indent: 22px;
}

.weboxbuttons{
    text-align: center;
}
.weboxbuttons ul li{
    display:inline;
    list-style-type:none;
    /*border: 1px solid red;*/
    cursor: pointer;
    margin-right: 10px;
}
.weboxbuttons ul li label{
    background-color: #6fb3e0;
    color: #ffffff;
    height: 22px;
    width: 60px;
    border: 1px solid red;
}


/*上传文件样式*/
.input-file-wrapper {
    position: relative; /* 保证子元素的定位 */
    width: 100px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    
}

.input-file-text {
    display: block;
    margin-top: 5px;
    color: #666;
    
}

.input-file {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px; /* 宽高和外围元素保持一致 */
    height: 30px;
    opacity: 0;
    -moz-opacity: 0;  /* 兼容老式浏览器 */
    filter: alpha(opacity=0); /* 兼容IE */
}