<!--老人注销查询-->
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:65px;padding:10px 15px 0 15px;">
        <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                &nbsp;<span>姓名 </span><span><input opt="name" type="text" size="5" class="inputtext"></span>
                &nbsp;<span>身份证号 </span><span><input opt="identityid" type="text" size="18" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns" opt="query">
                </span>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
        <table class="easyui-datagrid-noauto" opt="peopleinfoquery"
               data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               fitColumns:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               loadMsg:'',
               striped:true,
               pagination:true">
            <thead>
            <tr>
                <th data-options="field:'lr_id',hidden:true" ></th>
                <th data-options="field:'aulevel',width:127,
                formatter: function(value,row,index){
                        if(value == '7'){
                            return approvalProcess[1]
                        }else if(value == '8'){
                            return approvalProcess[2]
                        }
                    }">状态</th>
                <th data-options="field:'auflag',width:100">流程信息</th>
                <th data-options="field:'audesc',width:180">处理意见</th>
                <th data-options="field:'messagebrief',width:340,align:'left',
                formatter:function(v,r,i)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                    return str.html();
                }">人员信息</th>
                <th data-options="field:'auuser',width:127">办理人</th>
                <th data-options="field:'bstime',width:230">时间</th>
                <th data-options="field:'ro',width:150,align:'center',formatter:function(value,rowData,rowIndex)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;dealwith&quot;title=&quot;处理&quot;><div class=&quot;dealwith_btn&quot;></div></a>');
                    return str.html();
                }">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>




