<div  class="easyui-panel newRadio" opt="formcontentpanel"
      style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
      data-options="fit:true,border:false">
    <form opt="pensionform" method="post">
        <input type="hidden" name="age" opt="age">
        <input type="hidden" name="jja_id">
        <table width="80%" style="margin: 0 auto;margin-top: 10px;min-width: 1000px;" cellpadding="2" cellspacing="1" class="table_form">
            <tr>
                <td class="formtdtext" style="width: 100px">申请人姓名<label></label></td>
                <td>
                    <input class="easyui-validatebox  input-text" name="name" style="width: 80px"
                           data-options="required:true"><span style="color: red">*</span>
                </td>
                <td class="formtdtext">性别<label></label></td>
                <td >
                    <input opt="gender" class="easyui-combobox " style="width: 100px;"
                           name="gender"
                           data-options="
                                loader:cj.getLoader('gender'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
                </td>
                <td class="formtdtext" style="width: 100px">民族<label></label></td>
                <td>
                    <input name="nation" class="easyui-combobox" style="width: 100px;"
                           data-options="
                                loader:cj.getLoader('oldnation'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
                </td>
                <td class="formtdtext" style="width: 100px">家庭人口数<label></label></td>
                <td>
                    <input class="input-text" name="sum" style="width: 100px">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">家庭详细住址<label></label></td>
                <td colspan="3">
                    <!--<input class="input-text" name="address" opt="address" style="width: 300px;">-->
                    <input class="input-text" name="address" style="width: 300px;">
                </td>
                <td class="formtdtext" colspan="2">户籍所在村(社区)<label></label></td>
                <td colspan="2" align="right" style="padding-right: 3px;">
                    <input class="input-text" name="sum">
                </td>
            </tr>
            <tr>
                <td class="formtdtext" style="width: 100px">身份证号码<label></label></td>
                <td colspan="2">
                    <input opt="identityid" name="identityid" class="input-text" style="width: 159px"><span style="color: red">*</span>
                    <!--<input opt="identityid" name="identityid" class="easyui-validatebox input-text" style="width: 159px"
                                       data-options="required:true,
                                   invalidMessage:'请输入正确的身份证号',
                                   validType:'identityid'">-->
                </td>
                <td class="formtdtext">联系电话<label></label></td>
                <td colspan="2">
                    <input class="input-text easyui-validatebox" name="agentphone" data-options="validType:['maxLength[25]']" style="width: 120px;">
                </td>
                <td class="formtdtext">低保证编号<label></label></td>
                <td>
                    <input class="input-text" name="agentphone">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">类别<label></label></td>
                <td colspan="7" opt="hyfwjingji">
                    <input type="radio" name="economy" value="0"><label>特殊困难老人</label>
                    <input type="radio" name="economy" value="1"><label>低保边缘老人</label>
                    <input type="radio" name="economy" value="2"><label>较少社会保障困难老人</label>
                    <input type="radio" name="economy" value="3"><label>特殊贡献老人</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">居住类别<label></label></td>
                <td colspan="7" opt="liveplace">
                    <input type="radio" name="live" value="0"><label>独居</label>
                    <input type="radio" name="live" value="1"><label>孤老</label>
                    <input type="radio" name="live" value="2"><label>纯老家庭</label>
                    <input type="radio" name="live" value="3"><label>其他</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">生活自理能力<label></label></td>
                <td colspan="3" opt="liveplace">
                    <input type="radio" name="live" value="0"><label>重度依赖</label>
                    <input type="radio" name="live" value="1"><label>中度依赖</label>
                    <input type="radio" name="live" value="2"><label>轻度依赖</label>
                </td>
                <td class="formtdtext">户籍性质<label></label></td>
                <td colspan="3" opt="liveplace">
                    <input type="radio" name="live" value="0"><label>农业</label>
                    <input type="radio" name="live" value="1"><label>非农</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext" colspan="8" style="text-align: center;font-size: 16px;color: #003147;font-weight: bolder;">本人及共同居住人员情况</td>
            </tr>
            <tr>
                <td class="formtdtext" style="text-align: center">姓名</td>
                <td class="formtdtext" style="text-align: center">年龄</td>
                <td class="formtdtext" style="text-align: center">与申请人关系</td>
                <td class="formtdtext" colspan="2" style="text-align: center">原工作单位</td>
                <td class="formtdtext" colspan="2" style="text-align: center">地址</td>
                <td class="formtdtext" style="text-align: center">月收入(元)</td>
            </tr>
            <tr>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" colspan="2" style="text-align: center"><input class="input-text" name="" style="width: 200px;"></td>
                <td class="formtdtext" colspan="2" style="text-align: center"><input class="input-text" name="" style="width: 200px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
            </tr>
            <tr>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" colspan="2" style="text-align: center"><input class="input-text" name="" style="width: 200px;"></td>
                <td class="formtdtext" colspan="2" style="text-align: center"><input class="input-text" name="" style="width: 200px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
            </tr>
            <tr>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" colspan="2" style="text-align: center"><input class="input-text" name="" style="width: 200px;"></td>
                <td class="formtdtext" colspan="2" style="text-align: center"><input class="input-text" name="" style="width: 200px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
            </tr>
            <tr>
                <td class="formtdtext" colspan="8" style="text-align: center;font-size: 16px;color: #003147;font-weight: bolder;">赡养义务人情况</td>
            </tr>
            <tr>
                <td class="formtdtext" style="text-align: center">姓名</td>
                <td class="formtdtext" style="text-align: center">年龄</td>
                <td class="formtdtext" style="text-align: center">与申请人关系</td>
                <td class="formtdtext" colspan="2" style="text-align: center">原工作单位</td>
                <td class="formtdtext" colspan="2" style="text-align: center">地址</td>
                <td class="formtdtext" style="text-align: center">月收入(元)</td>
            </tr>
            <tr>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" colspan="2" style="text-align: center"><input class="input-text" name="" style="width: 200px;"></td>
                <td class="formtdtext" colspan="2" style="text-align: center"><input class="input-text" name="" style="width: 200px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
            </tr>
            <tr>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" colspan="2" style="text-align: center"><input class="input-text" name="" style="width: 200px;"></td>
                <td class="formtdtext" colspan="2" style="text-align: center"><input class="input-text" name="" style="width: 200px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
            </tr>
            <tr>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
                <td class="formtdtext" colspan="2" style="text-align: center"><input class="input-text" name="" style="width: 200px;"></td>
                <td class="formtdtext" colspan="2" style="text-align: center"><input class="input-text" name="" style="width: 200px;"></td>
                <td class="formtdtext" style="text-align: center"><input class="input-text" name="" style="width: 80px;"></td>
            </tr>
            <tr>
                <td class="formtdtext" rowspan="2" style="text-align: center;">申请养老<br>服务类型</td>
                <td>
                    <input type="radio" name="marriage" value="0"><label>机构养老</label>
                </td>
                <td class="formtdtext" colspan="2" style="text-align: center;">申请机构养老补贴金额</td>
                <td colspan="4" style="text-align: center;">
                    <input type="radio" name="marriage" value="0"><label>每年12000元</label>
                    <input type="radio" name="marriage" value="0"><label>每年6000元</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="marriage" value="1"><label>居家养老</label>
                </td>
                <td class="formtdtext" colspan="2" style="text-align: center;">申请居家养老政府购买服务时间</td>
                <td colspan="4" style="text-align: center;">
                    <input type="radio" name="marriage" value="0"><label>每月60小时</label>
                    <input type="radio" name="marriage" value="0"><label>每月30小时</label>
                    <input type="radio" name="marriage" value="0"><label>每月15小时</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext" colspan="7" style="text-align: right;">申请时间<label></label></td>
                <td>
                    <input class="input-text easyui-datebox" name="applydate" opt="applydate" readonly
                           data-options="formatter:myformatter,parser:myparser">
                </td>
            </tr>
            <!--<tr>
                <td class="formtdtext" style="width: 100px">行政区划<label></label></td>
                <td colspan="3">
                    <input style="width: 300px;" opt="districtid" class="input-text"
                           data-options="required:true, valueField:''">
                </td>
            </tr>
            <tr>
                <td class="formtdtext" style="width: 100px">姓名<label></label></td>
                <td style="width: 350px">
                    <input class="easyui-validatebox  input-text" name="name"
                           data-options="required:true"><span style="color: red">*</span>
                </td>
                <td class="formtdtext" style="width: 100px">身份证号码<label></label></td>
                <td>
                    <input opt="identityid" name="identityid" class="input-text" style="width: 159px"><span style="color: red">*</span>
                    <!--<input opt="identityid" name="identityid" class="easyui-validatebox input-text" style="width: 159px"
                           data-options="required:true,
                                   invalidMessage:'请输入正确的身份证号',
                                   validType:'identityid'">-->
                <!--</td>
            </tr>
            <tr>
                <td class="formtdtext">性别<label></label></td>
                <td>
                    <input opt="gender" class="easyui-combobox "
                           name="gender"
                           data-options="
                                loader:cj.getLoader('gender'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
                </td>
                <td class="formtdtext">出生年月<label></label></td>
                <td><input opt="birthdate" class="easyui-datebox" name="birthd" data-options="formatter:myformatter,parser:myparser" id="birthd">
                    <span opt="tip_age"></span>
                </td>

            </tr>
            <tr>

                <td class="formtdtext">民族<label></label></td>
                <td>
                    <input name="nation" class="easyui-combobox"
                           data-options="
                                loader:cj.getLoader('oldnation'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
                </td>
                <td class="formtdtext">文化程度<label></label></td>
                <td opt="culture">
                    <input type="radio" name="culture" value="0"><label>文盲</label>
                    <input type="radio" name="culture" value="1"><label>略识字</label>
                    <input type="radio" name="culture" value="2"><label>能读字,最高学历</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">籍贯<label></label></td>
                <td>
                    <input name="birthplace" class="input-text">
                    <a opt="getjiguan" style="cursor: pointer;font-size: 8px;">默认籍贯</a>
                </td>
                <td class="formtdtext">人员类型<label></label></td>
                <td>
                    <input class="easyui-combobox "
                           opt="type"
                           name="type"
                           style="width: 150px"
                           data-options="
                                loader:cj.getLoader('oldtype_s'),
                                editable:false,
                                valueField:'id',
                                textField:'text',">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">婚姻状况<label></label></td>
                <td colspan="3" opt="marriage">
                    <input type="radio" name="marriage" value="0"><label>未婚</label>
                    <input type="radio" name="marriage" value="1"><label>已婚</label>
                    <input type="radio" name="marriage" value="2"><label>丧偶</label>
                    <input type="radio" name="marriage" value="3"><label>离婚</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">居住<label></label></td>
                <td colspan="3" opt="liveplace">
                    <input type="radio" name="live" value="0"><label>与子女同住</label>
                    <input type="radio" name="live" value="1"><label>与亲友同住</label>
                    <input type="radio" name="live" value="2"><label>与配偶同住</label>
                    <input type="radio" name="live" value="3"><label>独居</label>
                </td>
            </tr>
            <tr>

                <td class="formtdtext">经济条件<label></label></td>
                <td colspan="3" opt="hyfwjingji">
                    <input type="radio" name="economy" value="0"><label>低保特困职工</label>
                    <input type="radio" name="economy" value="1"><label>低保边缘户</label>
                    <input type="radio" name="economy" value="2"><label>低收入</label>
                    <input type="radio" name="economy" value="3"><label>无退休工资</label>
                    <input type="radio" name="economy" value="4"><label>有退休工资</label>
                    <input type="radio" name="economy" value="5"><label>特殊贡献</label>
                </td>
            </tr>
            <tr>

                <td class="formtdtext">年龄<label></label></td>
                <td colspan="3">
                    <input type="radio" name="agerange" opt="a" value="0"><label>80岁以下</label>
                    <input type="radio" name="agerange" opt="b" value="0"><label>80-90岁</label>
                    <input type="radio" name="agerange" opt="c" value="0"><label>90-100岁</label>
                    <input type="radio" name="agerange" opt="d" value="0"><label>100岁以上</label>
                </td>
            </tr>
            <tr>

                <td class="formtdtext">户籍所在地<label></label></td>
                <td colspan="3">
                    <!--<input class="input-text" name="registration" opt="registration" style="width: 300px;">-->
                    <!--<input class="input-text" name="registration" style="width: 300px;">

                </td>
            </tr>
            <tr>

                <td class="formtdtext">居住地址<label></label></td>
                <td colspan="3">
                    &lt;!&ndash;<input class="input-text" name="address" opt="address" style="width: 300px;">&ndash;&gt;
                    <input class="input-text" name="address" style="width: 300px;">
                </td>
            </tr>
            <tr>
                <td class="formtdtext" rowspan="2">邮编<label></label></td>
                <td rowspan="2"><input class="input-text easyui-validatebox" name="postcode"  data-options="validType:['maxLength[6]']"></td>
                <td class="formtdtext">住宅电话<label></label></td>
                <td><input class="input-text easyui-validatebox" name="telephone" data-options="validType:['maxLength[25]']"></td>
            </tr>
            <tr>
                <td class="formtdtext">手机<label></label></td>
                <td><input class="input-text easyui-validatebox" name="mobilephone" data-options="validType:['maxLength[15]']"></td>
            </tr>
            &lt;!&ndash;<tr>
                <td class="formtdtext">代理人姓名</td>
                <td><input class="input-text" name="agent"></td>
                <td class="formtdtext">与申请人关系</td>
                <td><input class="input-text" name="oprelation"></td>
            </tr>
            <tr>
                <td class="formtdtext">代理人地址</td>
                <td colspan="3"><input class="input-text" name="agentaddr"></td>
            </tr>
            <tr>
                <td class="formtdtext">电话</td>
                <td><input class="input-text easyui-validatebox" name="agentphone" data-options="validType:['maxLength[25]']"></td>
                <td class="formtdtext">手机</td>
                <td><input class="input-text easyui-validatebox" name="agentmobilephone" data-options="validType:['maxLength[15]']"></td>
            </tr>&ndash;&gt;
            <tr>
                <td class="formtdtext">申请时间<label></label></td>
                <td colspan="3">
                    <input class="input-text easyui-datebox" name="applydate" opt="applydate" readonly
                           data-options="formatter:myformatter,parser:myparser">
                </td>
            </tr>&ndash;&gt;-->
        </table>
    </form>
</div>

