<div  class="easyui-panel newRadio" opt="formcontentpanel"
      style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
      data-options="fit:true,border:false">
<div  class="easyui-panel" opt="formcontentpanel" style="overflow-y: scroll;" data-options="fit:true,border:false">
    <form opt="serviceagenciesform" class="common-form" method="post">
        <!--<fieldset>-->
            <!--<legend>添加服务机构</legend>-->
            <div>
                <table width="80%" style="margin: 0 auto;margin-top: 5px" cellpadding="2" cellspacing="1"  class="table_form">
                    <tbody>
                    <tr>
                        <th width="160">机构编码 :</th>
                        <td>
                            <input type="text" name="departid" class="input-text easyui-validatebox" ><span style="color: red">*</span>
                        </td>

                        <th width="160">机构名称 :</th>
                        <td>
                            <input type="text" name="departname" class="input-text easyui-validatebox" ><span style="color: red">*</span>
                        </td>
                    </tr>
                    <tr>
                        <th>负责人 :</th>
                        <td><input type="text" name="responsible" class="input-text easyui-validatebox"></td>

                        <th>联系电话:</th>
                        <td><input type="text" name="telephone" class="input-text easyui-validatebox"><span style="color: red">*</span>
                        </td>
                    </tr>

                    <tr>
                        <th>法人 :</th>
                        <td>
                            <input class="easyui-validatebox input-text" name="corporate">
                        </td>

                        <th>成立日期 :</th>
                        <td>
                            <input class="easyui-datebox input-text" name="founddata">
                        </td>
                    </tr>
                    <tr>
                        <th>服务片区 :</th>
                        <td>
                            <input class="easyui-validatebox input-text" name="servicearea">
                        </td>

                        <th>持证上岗人数 :</th>
                        <td>
                            <input class="easyui-validatebox input-text" name="certificatenum">
                        </td>
                    </tr>
                    <tr>
                        <th>专业服务人员数 :</th>
                        <td>
                            <input class="easyui-validatebox input-text" name="specialtynum">
                        </td>

                        <th>服务人数 :</th>
                        <td>
                            <input class="easyui-validatebox input-text" name="servicenum">
                        </td>
                    </tr>
                    <tr>
                        <th>民办非企业单位登记证号 :</th>
                        <td>
                            <input class="easyui-validatebox input-text" name="registnumber">
                        </td>

                        <th>组织机构代码 :</th>
                        <td>
                            <input class="easyui-validatebox input-text" name="departcode">
                        </td>
                    </tr>
                    <tr>
                        <th>工商执照 :</th>
                        <td>
                            <input class="easyui-validatebox input-text" name="businesslicense">
                        </td>

                        <th>税务登记证号 :</th>
                        <td>
                            <input class="easyui-validatebox input-text" name="taxnumber">
                        </td>
                    </tr>
                    <tr>
                        <th>计费单位  :</th>
                        <td>
                            <input class="easyui-validatebox input-text" name="billingunit">
                        </td>

                        <th>计费单价 :</th>
                        <td>
                            <input class="easyui-validatebox input-text" name="billingprice">
                        </td>
                    </tr>
                    <tr>
                        <th>服务开始时间 :</th>
                        <td>
                            <input class="easyui-datebox input-text" name="starttime">
                        </td>

                        <th>登记性质 :</th>
                        <td>
                            <input class="easyui-validatebox input-text" name="registnature">
                        </td>
                    </tr>
                    <tr>
                        <th>联系地址 :</th>
                        <td>
                            <input class="easyui-validatebox input-text" name="address">
                        </td>

                        <th>平均每日服务人数 :</th>
                        <td>
                            <input class="easyui-validatebox input-text" name="dailyavgnum">
                        </td>
                    </tr>
                    <tr>
                        <th>机构概述 :</th>
                        <td colspan="3">
                            <textarea class="input-text" style="width: 97%;height: 50px;" name="departoverview"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>服务内容 :</th>
                        <td colspan="3">
                            <textarea class="input-text" style="width: 97%;height: 50px;" name="servicecontent"></textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        <!--</fieldset>-->
    </form>
</div>
</div>