<!--入住人员管理-->
<table opt="furymanagement" data-options="
               method:'post',
               toolbar:'#tb_rzrygl',
               fit:true,
               fitColumns:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:false,
               pagination:true,
               loadMsg:''">
    <thead>
    <tr>
        <th data-options="field:'ro',width:50,align:'center',formatter:function(value,rowData,rowIndex)
            {
                var str='<div></div>';
                str=$(str).append('<a action=&quot;cancellation&quot;title=&quot;注销&quot;><span><span class=&quot;icon-cancell-pl1&quot;></span></span></a>&nbsp;&nbsp;');
                str=$(str).append('<a action=&quot;update&quot;title=&quot;编辑&quot;><span><span class=&quot;icon-add-pl16&quot;></span></span></a>');
                return str.html();
            }">操作</th>
        <th data-options="field:'servicername',width:50,align:'center',
        formatter:function(v,r,i)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                    return str.html();
                }">人员姓名</th>
        <th data-options="field:'servicephone',width:120,align:'center'">身份证号</th>
        <th data-options="field:'departname',width:120,align:'center'">所在机构</th>
        <th data-options="field:'serviceaddress',width:145,align:'center'">家庭住址</th>
    </tr>
    </thead>
</table>
<div tb style="padding-bottom: 0px">
    <div class="highcharstoolbar">&nbsp;&nbsp;查询条件</div>
    <div style="border: 1px solid rgba(128, 176, 79, 0.12);padding: 8px;padding-top: 2px;padding-bottom: 25px;">
        <table cellspacing="0" cellpadding="0" style="float: right;padding-bottom: 3px">
            <tr>

                <td>
                    机构名称 :
                    <input opt="departname" type="text" style="height: 18px;border-color: #95B8E7">
                    &nbsp;&nbsp;
                </td>

                <td>
                    姓名 :
                    <input opt="name" type="text" size="10" style="height: 18px;border-color: #95B8E7">
                </td>

                <td>
                    <span class="searchbtn" >&nbsp;</span>
                </td>

            </tr>
        </table>
    </div>
</div>
<!--<div id="tb_rzrygl">
    <table cellspacing="0" cellpadding="0" style="float: right;">
        <tr>

            <td><label class="gray7">搜索条件:</label></td>

            <td style="width: 200px;text-align: right">
                <input opt="departname" class="easyui-searchbox" data-options="prompt:'机构名称',iconCls:'icon-log'"
                       type="keyword" style="width:200px" >
            </td>
            <td style="width: 200px;text-align: right">
                <input opt="name" class="easyui-searchbox" data-options="prompt:'姓名',iconCls:'icon-log'"
                       type="keyword" style="width:200px" >
            </td>

            <td>
                <span class="searchbtn" opt="refresh">&nbsp;</span>
            </td>

        </tr>
    </table>
    <div class="clear"></div>
</div>-->


