<div  class="easyui-panel newRadio" opt="formcontentpanel"
      style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
      data-options="fit:true,border:false">
<div  class="easyui-panel" opt="formcontentpanel" style="overflow-y: scroll;" data-options="fit:true,border:false">
    <form opt="servicepeopleform" class="common-form" method="post">
        <div>
            <table width="80%" style="margin: 0 auto;margin-top: 5px" cellpadding="2" cellspacing="1"  class="table_form">
                <tbody>
                <tr>
                    <th>姓名 :</th>
                    <td><input type="text" name="servicername" class="input-text easyui-validatebox"></td>

                    <th>身份证号<span style="color: red">*</span>:</th>
                    <td><input type="text" name="servicephone" class="input-text easyui-validatebox"></td>
                </tr>

                <tr>
                    <th>住址 :</th>
                    <td colspan="3">
                        <input class="easyui-validatebox input-text" name="serviceaddress" style="width: 300px">
                    </td>
                    <!--<th>住址 :</th>
                    <td>
                        <input class="easyui-validatebox input-text" name="serviceaddress" style="width: 300px">
                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
</div>