<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:65px;padding:10px 15px 0 15px;">
        <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                &nbsp;<span>姓名 </span><span><input opt="name" type="text" size="5" class="inputtext"></span>
                &nbsp;<span>机构名称 </span><span><input opt="departname" type="text" size="5" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns" opt="query">
                </span>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
        <table opt="furymanagement" data-options="
               method:'post',
               toolbar:'#tb_rzrygl',
               fit:true,
               fitColumns:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:false,
               pagination:true,
               loadMsg:''">
            <thead>
            <tr>
                <th data-options="field:'servicername',width:50,align:'center',
                formatter:function(v,r,i)
                        {
                            var str='<div></div>';
                            str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                            return str.html();
                        }">人员姓名</th>
                <th data-options="field:'servicephone',width:120,align:'center'">身份证号</th>
                <th data-options="field:'departname',width:120,align:'center'">所在机构</th>
                <th data-options="field:'serviceaddress',width:145,align:'center'">家庭住址</th>
                <th data-options="field:'ro',width:90,align:'center',formatter:function(value,rowData,rowIndex)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;cancellation&quot;title=&quot;注销&quot;><span><span class=&quot;icondealwith&quot;>注销</span></span></a>&nbsp;|&nbsp;');
                    str=$(str).append('<a action=&quot;update&quot;title=&quot;编辑&quot;><span><span class=&quot;icondealwith&quot;>编辑</span></span></a>');
                    return str.html();
                }">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>


