<!--老人注销查询-->
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:65px;padding:10px 15px 0 15px;">
        <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                &nbsp;<span>姓名 </span><span><input opt="name" type="text" size="5" class="inputtext"></span>
                &nbsp;<span>身份证号 </span><span><input opt="identityid" type="text" size="18" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns" opt="query">
                </span>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
        <table class="easyui-datagrid-noauto" opt="peopleinfoquery"
               data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               fitColumns:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               loadMsg:'',
               striped:true,
               pagination:true">
            <thead>
            <tr>
                <th data-options="field:'lr_id',hidden:true" ></th>
                <th data-options="field:'aulevel',width:100,align:'center',
                    formatter: function(value,row,index){
                        if(value == '4'){
                            return approvalProcessService[1]
                        }else if(value == '5'){
                            return approvalProcessService[2]
                        }else {
                            return approvalProcessService[value]
                        }

                        }">状态
                </th>
                <th data-options="field:'auflag',width:120,align:'center'">流程信息</th>
                <th data-options="field:'audesc',width:180,align:'center'">处理意见</th>
                <th data-options="field:'messagebrief',width:340,align:'center',
                    formatter:function(v,r,i)
                    {
                        var str='<div></div>';
                        str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                        return str.html();
                    }">人员信息
                </th>
                <th data-options="field:'auuser',width:127,align:'center'">办理人</th>
                <th data-options="field:'bstime',width:200,align:'center'">时间</th>
                <th data-options="field:'ro',width:70,align:'center',formatter:function(value,rowData,rowIndex)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;zybzdealwith&quot;title=&quot;住院补助处理&quot;><span><span class=&quot;icondealwith&quot;>处理</span></span></a>');
                    return str.html();
                }">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>




