<!--老人注销查询-->
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:65px;padding:10px 15px 0 15px;">
        <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                &nbsp;<span>年份 <a href="javascript:void(0)" opt="yeardel">< <</a>
                                <input opt="yearvalue" size="5" style="text-align: center;" class="inputtext">年
                                <a href="javascript:void(0)" opt="yearadd">> ></a></span>
                &nbsp;<span>姓名 </span><span><input opt="name" type="text" size="5" class="inputtext"></span>
                &nbsp;<span>身份证号 </span><span><input opt="identityid" type="text" size="18" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns" opt="query">
                </span>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
        <table class="easyui-datagrid-noauto" opt="peopleinfoquery"
               data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               fitColumns:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               loadMsg:'',
               striped:true,
               pagination:true">
            <thead>
            <tr>
                <th data-options="field:'name',width:80,align:'center'">姓名</th>
                <th data-options="field:'identityid',width:180,align:'center'">身份证号</th>
                <th data-options="field:'address',width:180,align:'center'">家庭地址</th>
                <th data-options="field:'hospital_days',width:60,align:'center'">住院天数(/天)</th>
                <th data-options="field:'subsidy_money',width:80,align:'center'">补助金额(/元)</th>
            </tr>
            </thead>
        </table>
    </div>
</div>




