<div opt="formcontentpanel" style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
     data-options="fit:true,border:false" class="easyui-panel">
<form opt="carepeopleform" method="post" class="common-form" style="margin-top: 10px;">
    <table width="80%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
        <tr>
            <td class="formtdtext" >姓名<label></label></td>
            <td>
                <input name="name" class="input-text">
            </td>
            <td class="formtdtext" >年龄<label></label></td>
            <td>
                <input name="age" class="input-text">
            </td>
            <td class="formtdtext" >性别<label></label></td>
            <td>
                <input name="gender" class="easyui-combobox input-text" style="height: 24px"
                       data-options="
                                loader:cj.getLoader('gender'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
        </tr>
        <tr>
            <td class="formtdtext" >身份证<label></label></td>
            <td>
                <input name="identityid" class="input-text">
            </td>
            <td class="formtdtext" style="width: 150px;">所属照料中心名称<label></label></td>
            <td>
                <input name="zl_name" class="input-text" readonly>
            </td>
            <td class="formtdtext" >所属行政区划<label></label></td>
            <td>
                <input name="districtid" class="input-text">
            </td>
        </tr>
        <tr>
            <td class="formtdtext" >联系人<label></label></td>
            <td>
                <input name="contact" class="input-text">
            </td>
            <td class="formtdtext" >联系电话<label></label></td>
            <td>
                <input name="phone" class="input-text">
            </td>
            <td class="formtdtext" >手机号<label></label></td>
            <td>
                <input name="cellphone" class="input-text">
            </td>
        </tr>
        <tr>
            <td class="formtdtext" >是否离开<label></label></td>
            <td>
                <input name="isleave" class="easyui-combobox input-text" style="height: 24px;"
                       data-options="
                                loader:cj.getLoader('yesorno'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
            <td class="formtdtext" >家庭住址<label></label></td>
            <td colspan="3">
                <input name="address" class="input-text" style="width: 400px;">
            </td>
        </tr>

    </table>
</form>
</div>