<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:65px;padding:10px 15px 0 15px;">
        <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                &nbsp;<span>姓名 </span><span><input opt="name" type="text" size="5" class="inputtext"></span>
                &nbsp;<span>身份证号 </span><span><input opt="contact" type="text" size="15" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns" opt="query">
                </span>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
        <table class="easyui-datagrid-noauto"
               data-options="fit:true,
                    fitColumns:true,
                    method:'post',
                    singleSelect:true,
                    loadMsg:'',
                    pagination:true">
            <thead frozen="true">
                <tr>
                    <th data-options="field:'name',width:80,align:'center',
                    formatter:function(v,r,i){
                                var str='<div></div>';
                                str=$(str).append('<a action=&quot;view&quot;href=&quot;javaScript:;&quot;>'+v+'</a>');
                                return str.html();
                            }">姓名</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th data-options="field:'age',width:80,align:'center'">年龄</th>
                    <th data-options="field:'gender',width:80,align:'center',formatter: cj.enumFormatter('gender')">性别</th>
                    <th data-options="field:'identityid',width:170,align:'center'">身份证</th>
                    <th data-options="field:'contact',width:80,align:'center'">联系人</th>
                    <th data-options="field:'phone',width:100,align:'center'">联系电话</th>
                    <th data-options="field:'isleave',width:80,align:'center',formatter: cj.enumFormatter('yesorno')">是否离开</th>
                    <th data-options="field:'ro',width:180,align:'center',formatter:function(value,rowData,rowIndex)
                        {
                            var str='<div></div>';
                            str=$(str).append('<a action=&quot;update&quot;title=&quot;修改&quot;><span><span class=&quot;icondealwith&quot;>修改</span></span></a>');
                            return str.html();
                        }">操作</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


