<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:65px;padding:10px 15px 0 15px;">
        <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 12px;padding-right:3px;"><input opt="zl_id" size="5" style="display: none">
                &nbsp;<span>名称 </span><span><input opt="name" type="text" size="5" class="inputtext"></span>
                &nbsp;<span>联系人 </span><span><input opt="contact" type="text" size="15" class="inputtext"></span>
                &nbsp;<span>开办时间 </span><span><input opt="runtime" type="text" class="easyui-datebox" size="15" style="height: 26px;"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns" opt="query_carecenter">
                    <input type="button" value="新增照料中心" class="btns" opt="addcarecenter" style="width: 100px;">
                    <input type="button" value="新增活动" class="btns" opt="addbigevent" style="width: 70px;">
                </span>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'west',border:false,split:true" style="width:600px;">
                <table opt="carecenterdatagrid"
                       data-options="fit:true,
                    fitColumns:false,
                    method:'post',
                    singleSelect:true,
                    loadMsg:'',
                    pagination:true">
                    <thead frozen="true">
                    <tr>
                        <th data-options="field:'name',width:80,align:'center',
                    formatter:function(v,r,i){
                                var str='<div></div>';
                                str=$(str).append('<a action=&quot;view_cc&quot;href=&quot;javaScript:;&quot;>'+v+'</a>');
                                return str.html();
                            }">名称</th>
                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <th data-options="field:'contact',width:80,align:'center'">联系人</th>
                        <th data-options="field:'address',width:170,align:'center'">联系地址</th>
                        <th data-options="field:'phone',width:100,align:'center'">联系电话</th>
                        <th data-options="field:'runtime',width:100,align:'center'">开办时间</th>
                        <th data-options="field:'ro',width:300,align:'center',formatter:function(value,rowData,rowIndex)
                        {
                            var str='<div></div>';
                            str=$(str).append('<a action=&quot;update_cc&quot;title=&quot;修改&quot;><span><span class=&quot;icondealwith&quot;>修改</span></span></a>&nbsp;|&nbsp;');
                            str=$(str).append('<a action=&quot;addcarep_cc&quot;title=&quot;添加照料人员&quot;><span><span class=&quot;icondealwith&quot;>添加照料人员</span></span></a>&nbsp;|&nbsp;');
                            str=$(str).append('<a action=&quot;addworkp_cc&quot;title=&quot;添加工作人员&quot;><span><span class=&quot;icondealwith&quot;>添加工作人员</span></span></a>&nbsp;|&nbsp;');
                            str=$(str).append('<a action=&quot;map_cc&quot;title=&quot;地图&quot;><span><span class=&quot;icondealwith&quot;>地图</span></span></a>');
                            return str.html();
                        }">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div data-options="region:'center',border:false">
                <div class="easyui-tabs" data-options="fit:true,border:false">
                    <div title="照料人员" data-options="border:false">
                        <div class="easyui-layout" data-options="fit:true">
                            <div data-options="region:'north',border:false"
                                 style="height:50px;padding:3px 0 0 0;">
                                <div style="border: 1px solid #e5e5e5;
                                            width: auto;height: 80%;background-color: #eff3f8;padding-top: 6px">
                                    <div style="height: 30px;padding-top: 6px;padding-right:3px;">
                                        &nbsp;<span>姓名 </span><span><input opt="name_cp" type="text" size="5" class="inputtext"></span>
                                        &nbsp;<span>身份证号 </span><span><input opt="identityid_cp" type="text" size="15" class="inputtext"></span>
                                                <span style="float: right;margin-top: 3px">
                                                    <input type="button" value="查询" class="btns" opt="query_carepeople">
                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div data-options="region:'center',border:false" style="padding-top:5px;">
                                <table class="easyui-datagrid-no" opt="carepeopledatagrid"
                                       data-options="fit:true,
                                        fitColumns:false,
                                        method:'post',
                                        singleSelect:true,
                                        loadMsg:'',
                                        pagination:true">
                                    <thead frozen="true">
                                    <tr>
                                        <th data-options="field:'name',width:80,align:'center',
                                        formatter:function(v,r,i){
                                                    var str='<div></div>';
                                                    str=$(str).append('<a action=&quot;view_cp&quot;href=&quot;javaScript:;&quot;>'+v+'</a>');
                                                    return str.html();
                                                }">姓名</th>
                                    </tr>
                                    </thead>
                                    <thead>
                                    <tr>
                                        <th data-options="field:'age',width:80,align:'center'">年龄</th>
                                        <th data-options="field:'gender',width:80,align:'center',formatter: cj.enumFormatter('gender')">性别</th>
                                        <th data-options="field:'identityid',width:170,align:'center'">身份证</th>
                                        <th data-options="field:'contact',width:80,align:'center'">联系人</th>
                                        <th data-options="field:'phone',width:100,align:'center'">联系电话</th>
                                        <th data-options="field:'ro',width:180,align:'center',formatter:function(value,rowData,rowIndex)
                                        {
                                            var str='<div></div>';
                                            str=$(str).append('<a action=&quot;logout_cp&quot;title=&quot;注销&quot;><span><span class=&quot;icondealwith&quot;>注销</span></span></a>&nbsp;|&nbsp;');
                                            str=$(str).append('<a action=&quot;update_cp&quot;title=&quot;修改&quot;><span><span class=&quot;icondealwith&quot;>修改</span></span></a>');
                                            return str.html();
                                        }">操作</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div title="工作人员" data-options="border:false">
                        <div class="easyui-layout" data-options="fit:true">
                            <div data-options="region:'north',border:false"
                                 style="height:50px;padding:3px 0 0 0;">
                                <div style="border: 1px solid #e5e5e5;
                                            width: auto;height: 80%;background-color: #eff3f8;padding-top: 6px">
                                    <div style="height: 30px;padding-top: 6px;padding-right:3px;">
                                        &nbsp;<span>姓名 </span><span><input type="text" size="5" class="inputtext"></span>
                                        &nbsp;<span>身份证号 </span><span><input type="text" size="15" class="inputtext"></span>
                                                <span style="float: right;margin-top: 3px">
                                                    <input type="button" value="查询" class="btns">
                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div data-options="region:'center',border:false" style="padding-top:5px;">
                                <table class="easyui-datagrid-no" opt="workerdatagrid"
                                       data-options="fit:true,
                                        fitColumns:false,
                                        method:'post',
                                        singleSelect:true,
                                        loadMsg:'',
                                        pagination:true">
                                    <thead frozen="true">
                                    <tr>
                                        <th data-options="field:'zl_name',width:80,align:'center',
                                        formatter:function(v,r,i){
                                                    var str='<div></div>';
                                                    str=$(str).append('<a action=&quot;view_w&quot;href=&quot;javaScript:;&quot;>'+v+'</a>');
                                                    return str.html();
                                                }">姓名</th>
                                    </tr>
                                    </thead>
                                    <thead>
                                    <tr>
                                        <th data-options="field:'gender',width:80,align:'center',formatter: cj.enumFormatter('gender')">性别</th>
                                        <th data-options="field:'wphone',width:100,align:'center'">联系电话</th>
                                        <th data-options="field:'waddress',width:200,align:'center'">联系地址</th>
                                        <th data-options="field:'ro',width:180,align:'center',formatter:function(value,rowData,rowIndex)
                                        {
                                            var str='<div></div>';
                                            str=$(str).append('<a action=&quot;update_w&quot;title=&quot;修改&quot;><span><span class=&quot;icondealwith&quot;>修改</span></span></a>');
                                            return str.html();
                                        }">操作</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div title="大型活动" data-options="border:false">
                        <div class="easyui-layout" data-options="fit:true">
                            <div data-options="region:'north',border:false"
                                 style="height:50px;padding:3px 0 0 0;">
                                <div style="border: 1px solid #e5e5e5;
                                            width: auto;height: 80%;background-color: #eff3f8;padding-top: 6px">
                                    <div style="height: 30px;padding-top: 6px;padding-right:3px;">
                                        &nbsp;<span>姓名 </span><span><input type="text" size="5" class="inputtext"></span>
                                        &nbsp;<span>身份证号 </span><span><input type="text" size="15" class="inputtext"></span>
                                                <span style="float: right;margin-top: 3px">
                                                    <input type="button" value="查询" class="btns">
                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div data-options="region:'center',border:false" style="padding-top:5px;">
                                <table class="easyui-datagrid-no" opt="bigeventdatagrid"
                                       data-options="fit:true,
                                        fitColumns:false,
                                        method:'post',
                                        singleSelect:true,
                                        loadMsg:'',
                                        pagination:true">
                                    <thead frozen="true">
                                    <tr>
                                        <th data-options="field:'activityname',width:80,align:'center',
                                        formatter:function(v,r,i){
                                                    var str='<div></div>';
                                                    str=$(str).append('<a action=&quot;view_be&quot;href=&quot;javaScript:;&quot;>'+v+'</a>');
                                                    return str.html();
                                                }">活动名称</th>
                                    </tr>
                                    </thead>
                                    <thead>
                                    <tr>
                                        <th data-options="field:'zl_name',width:100,align:'center'">组织单位名称</th>
                                        <th data-options="field:'activityaddress',width:100,align:'center'">活动地点</th>
                                        <th data-options="field:'participants',width:200,align:'center'">参与人员</th>
                                        <th data-options="field:'starttime',width:200,align:'center'">活动日期</th>
                                        <th data-options="field:'ro',width:180,align:'center',formatter:function(value,rowData,rowIndex)
                                        {
                                            var str='<div></div>';
                                            str=$(str).append('<a action=&quot;update_be&quot;title=&quot;修改&quot;><span><span class=&quot;icondealwith&quot;>修改</span></span></a>');
                                            return str.html();
                                        }">操作</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


