<div class="easyui-panel newRadio" opt="panel"
     style="overflow-y: scroll;border-bottom: 1px solid greenyellow;height:4px;width: 90%"
     data-options="fit:true,border:false">
    <form class="common-form" method="post" enctype="multipart/form-data" >
            <table opt="baseinfo_table" width="90%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">

                <tr>
                    <td class="formtdtext">备注<label></label></td>
                    <td colspan="5">
                        <textarea class="input-text" name="comments" style="width: 95%;"></textarea>
                    </td>
                </tr>


            </table>



    </form>
</div>
<div opt="foot"></div>