<!--现役军人-->
<div opt="content" class="easyui-panel" data-options="fit:true" style="background-color: #ececec;display: none;">
    <div class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'north',border:false" style="height:230px;width: 737px;background-color: #ececec;">
            <div class="box-shadow" style="width: 1000px;height: 210px;background-color:white;">
                <table width="100%" cellpadding="5" class="table_form2">
                    <tr>
                        <td class="formtdtext2" style="width: 130px;">行政区划<label></label></td>
                        <td>
                            <input opt="districtid" style="width: 170px;height: 29px">
                        </td>
                        <td class="formtdtext2">姓名<label></label></td>
                        <td>
                            <input opt="name">
                        </td>
                        <td class="formtdtext2">身份证号<label></label></td>
                        <td>
                            <input opt="identityid">
                        </td>
                        <td class="formtdtext2">人员类别<label></label></td>
                        <td>
                            <input class="easyui-combobox" opt="p_type" style="width: 130px;height: 29px;"
                                   data-options="
                                    loader:cj.getLoader('p_type'),
                                    editable:false,
                                    valueField:'id',
                                    textField:'text'">
                        </td>
                    </tr>
                    <tr>
                        <td class="formtdtext2">审核状态<label></label></td>
                        <td>
                            <input class="easyui-combobox" opt="handle_type" style="width: 130px;height: 29px;"
                                   data-options="
                                    loader:cj.getLoader('handle_type'),
                                    editable:false,
                                    valueField:'id',
                                    textField:'text'">
                        </td>
                        <td class="formtdtext2">优抚对象状态<label></label></td>
                        <td>
                            <input class="easyui-combobox" opt="caretype" style="width: 130px;height: 29px;"
                                   data-options="
                                    loader:cj.getLoader('caretype'),
                                    editable:false,
                                    valueField:'id',
                                    textField:'text'">
                        </td>
                        <td class="formtdtext2">是否逝世<label></label></td>
                        <td>
                            <input class="easyui-combobox" opt="die_type" style="width: 130px;height: 29px;"
                                   data-options="
                                    loader:cj.getLoader('die_type'),
                                    editable:false,
                                    valueField:'id',
                                    textField:'text'">
                        </td>
                        <td class="formtdtext2">照片<label></label></td>
                        <td>
                            <input class="easyui-combobox" opt="hasphoto" style="width: 130px;height: 29px;"
                                   data-options="
                                    loader:cj.getLoader('hasphoto'),
                                    editable:false,
                                    valueField:'id',
                                    textField:'text'">
                        </td>
                    </tr>
                    <tr>
                        <!--<td class="formtdtext2">入伍年份<label></label></td>-->
                        <!--<td>-->
                            <!--<input opt="joindate" style="height: 29px;width: 100px;">-->
                        <!--</td>-->
                        <!--<td class="formtdtext2">退役年份<label></label></td>-->
                        <!--<td>-->
                            <!--<input opt="retiredate" style="height: 29px;width: 100px;">-->
                        <!--</td>-->

                        <td class="formtdtext2">入伍年份<label></label></td>
                        <td><input opt="joindate" style="height: 29px;width: 100px;">退役年份:<label></label><input opt="retiredate" style="height: 29px;width: 100px;"></td>
                        <td class="formtdtext2">是否安置</td>
                        <td>
                            <input opt="isremove" type="text" style="height: 29px;width: 100px;" class="easyui-combobox"
                                   data-options="
                            editable:false,
                            valueField: 'id',
                            textField: 'text',
                            data: [{text:'是',id:'1'},{text:'否',id:'0'}]"
                            >
                        </td>
                        <td class="formtdtext2">出生年区间<label></label></td>
                        <td colspan="3">
                            <input class="easyui-datebox" opt="birthday1" style="height: 29px;width: 100px;"> - <input class="easyui-datebox" opt="birthday2" style="height: 29px;width: 100px;">
                        </td>
                    </tr>

                    <tr>
                        <td class="formtdtext2">培训情况<label></label></td>
                        <td>
                            <input class="easyui-combobox" opt="train" style="width: 130px;height: 27px;"
                                   data-options="
                                    loader:cj.getLoader('train'),
                                    editable:false,
                                    valueField:'id',
                                    textField:'text'">

                        </td>
                        <td class="formtdtext2">就业情况<label></label></td>
                        <td>
                            <input class="easyui-combobox" opt="employment" style="width: 130px;height: 27px;"
                                   data-options="
                                    loader:cj.getLoader('employment'),
                                    editable:false,
                                    valueField:'id',
                                    textField:'text'">
                        </td>
                        <td class="formtdtext2">年龄<label></label></td>
                        <td colspan="3">
                            <input opt="minage" style="height: 29px;width: 100px;"> - <input opt="maxage" style="height: 29px;width: 100px;">
                        </td>
                    </tr>

                    <tr>
                      <td class="formtdtext2">模糊地址<label></label></td>
                      <td colspan="1">
                        <input opt="household" style="width:300px">
                      </td>
                      <td colspan="4">
                        <div class="file-box">
                          <form opt="importfile" method="post" enctype="multipart/form-data">
                            <!--
                                <input type="file" name="file" class="file" size="28" style="float:left;margin-right:2px;margin-top:3px;"/>
                                -->
                            <!--<div class="input-file-wrapper" style="float:left;">-->
                              <!--<a class="input-file-text">选择文件...</a>-->
                              <!--<input class="input-file" type="file" />-->
                            <!--</div>-->
                              <input name="file" type="file" style="float: left"/>
                              <div opt="excelmuban" style="" class="com_btns">模板</div>
                              <div class="com_btns exportbtn" align="center" style="">导出</div>
                              <div opt="importexcel" style="" class="com_btns">导入</div>



                          </form>
                        </div>
                      </td>
                      <td colspan="2" align="right">
                        <div class="com_btns addbtn" align="center">新增</div>
                        <div class="com_btns querybtn" align="center">查询</div>
                      </td>
                    </tr>


                </table>
            </div>
        </div>
        <div class="box-shadow" data-options="region:'center',border:false" style="background-color:white;padding: 20px;">
            <table class="easyui-datagrid-noauto easyui2"
                   data-options="fit:true,
                        fitColumns:true,
                        method:'post',
                        singleSelect:true,
                        loadMsg:'',
                        pagination:true">
                <thead frozen="true">
                <tr>
                    <th data-options="field:'name',width:80,align:'center',
                        formatter:function(v,r,i){
                            var str='<div></div>';
                            str=$(str).append('<a action=&quot;view&quot;href=&quot;javaScript:;&quot;>'+v+'</a>');
                            return str.html();
                        }">姓名</th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th data-options="field:'sex',width:74,align:'center',
                            formatter: function(value,row,index){
                                    return getGender[value]
                                }">性别</th>
                    <th data-options="field:'age',width:100,align:'center'">年龄</th>
                    <th data-options="field:'birthday',width:100,align:'center'">出生日期</th>
                    <th data-options="field:'identityid',width:170,align:'center'">身份证号</th>
                    <th data-options="field:'persontype',width:100,align:'center',
                        formatter: function(value,row,index){
                                        if(value == '211'){
                                            return '伤残人员';
                                        }else if(value == '212'){
                                            return '三属人员';
                                        }else if(value == '213'){
                                            return '两参人员';
                                        }else if(value == '214'){
                                            return '在乡老复人员';
                                        }else if(value == '215'){
                                            return '带病回乡人员';
                                        }else if(value == '230'){
                                            return '一般退役军人';
                                        }
                                    }">人员类别</th>
                    <th data-options="field:'household',width:127,align:'center'">户籍地址</th>
                    <!--<th data-options="field:'age',width:100,align:'center'">录入日期</th>-->
                    <!--<th data-options="field:'contactway',width:140,align:'center'">死亡确认</th>-->
                    <!--<th data-options="field:'contactway',width:100,align:'center'">退役状态</th>-->
                    <th data-options="field:'ishandle',width:100,align:'center',
                        formatter: function(value,row,index){
                                    if(value == '-1'){
                                        return '退回';
                                    }else if(value==''||value==null){
                                        return value
                                    }else{
                                        return getStatus[value]
                                    }
                                    }">状态</th>
                    <th data-options="field:'ro',width:100,align:'center',
                                    formatter:function(value,rowData,rowIndex){
                                        var str='<div></div>';
                                            str=$(str).append('<a action=&quot;report&quot;title=&quot;上报&quot;href=&quot;javaScript:;&quot;><span>上报</span></a>&nbsp;');
                                            str=$(str).append('<a action=&quot;update&quot;title=&quot;修改&quot;href=&quot;javaScript:;&quot;><span>修改</span></a>&nbsp;');
                                            str=$(str).append('<a action=&quot;del&quot;title=&quot;删除&quot;href=&quot;javaScript:;&quot;><span>删除</span></a>&nbsp;');
                                            str=$(str).append('<a action=&quot;audit&quot;title=&quot;审核&quot;href=&quot;javaScript:;&quot;><span>审核</span></a>&nbsp;');
                                            str=$(str).append('<a action=&quot;approve&quot;title=&quot;审批&quot;href=&quot;javaScript:;&quot;><span>审批</span></a>&nbsp;');
                                            str=$(str).append('<a action=&quot;logout&quot;title=&quot;注销&quot;href=&quot;javaScript:;&quot;><span>注销</span></a>&nbsp;');
                                            str=$(str).append('<a action=&quot;remove&quot;title=&quot;转移&quot;href=&quot;javaScript:;&quot;><span>转移</span></a>&nbsp;');
                                            str=$(str).append('<a action=&quot;old&quot;title=&quot;60+&quot;href=&quot;javaScript:;&quot;><span>60+</span></a>');
                                        return str.html();
                                    }">操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
