<!--退役军人-->
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:60px;padding:0 0 0 0px;">
        <div style="width: auto;height: 50px;;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                &nbsp;<span>姓名 </span><span><input opt="name" type="text" size="5" class="inputtext"></span>
                &nbsp;<span>身份证号 </span><span><input opt="identityid" type="text" size="15" class="inputtext"></span>
            </div>

            <div style="float: right;margin-top: -48px;right: 2px;display: inline">
                <input type="button" value="操作" class="btns_other" opt="other" style="height: 50px;width: 45px;font-weight: bolder;">
                <input type="button" value="查询" class="btns" opt="query" style="height: 50px;width: 45px;font-weight: bolder;">
            </div>
            <div opt="func_btn" style="float: right;background-color:snow;
                        margin-top: -48px;height: 50px;width: 100px;z-index: 900;display: none;">
                <input type="button" value=">" class="close_btns" opt="other_2">
                <input type="button" value="添加" class="btns" opt="addbtn" style="height: 50px;width: 45px;font-weight: bolder;">
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" class="easyui2" style="padding:0px 15px 15px 15px;">
        <table class="easyui-datagrid-noauto easyui2"
               data-options="fit:true,
                        fitColumns:true,
                        method:'post',
                        singleSelect:true,
                        loadMsg:''">
            <thead frozen="true">
            <tr>
                <!--formatter:function(value,row,index){
                        if(value != null){
                            return '<img src='+value+' style=&quot;width:45px;height:54px;&quot;/>';
                        }else{
                            return '<img src=&quot;images/noperson.gif&quot; style=&quot;width:45px;height:54px;&quot;/>';
                        }-->
                <th data-options="field:'photo',width:55,align:'center',
                        formatter:function(v,r,i){
                            var str='<div></div>';
                            if(v != null){
                                str=$(str).append('<a action=&quot;imgview&quot;href=&quot;javaScript:;&quot;><img src='+v+' style=&quot;width:45px;height:54px;&quot;/></a>');
                            }else{
                                str=$(str).append('<a action=&quot;imgview&quot;href=&quot;javaScript:;&quot;><img src=&quot;images/noperson.gif&quot; style=&quot;width:45px;height:54px;&quot;/></a>');
                            }
                            return str.html();
                    }">照片</th>
                <th data-options="field:'name',width:80,align:'center',
                            formatter:function(v,r,i){
                                        var str='<div></div>';
                                        str=$(str).append('<a action=&quot;view&quot;href=&quot;javaScript:;&quot;>'+v+'</a>');
                                        return str.html();
                                    }">姓名</th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th data-options="field:'identityid',width:170,align:'center'">身份证</th>
                <th data-options="field:'gender',width:74,align:'center',
                            formatter: function(value,row,index){
                                    return getGender[value]
                                }">性别</th>
                <th data-options="field:'age',width:100,align:'center'">年龄</th>
                <th data-options="field:'native',width:127,align:'center'">籍贯</th>
                <th data-options="field:'contactway',width:140,align:'center'">联系方式</th>
                <th data-options="field:'ro',width:100,align:'center',
                                    formatter:function(value,rowData,rowIndex){
                                        var str='<div></div>';
                                        str=$(str).append('<a action=&quot;update&quot;title=&quot;修改&quot;href=&quot;javaScript:;&quot;><span>修改</span></a>&nbsp;');
                                        str=$(str).append('<a action=&quot;del&quot;title=&quot;删除&quot;href=&quot;javaScript:;&quot;><span>删除</span></a>');
                                        return str.html();
                                    }">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>


