<div class="easyui-panel newRadio" opt="panel"
     style="overflow-y: scroll;border-bottom: 1px solid greenyellow;height:4px;width: 90%"
     data-options="fit:true,border:false">
    <form class="common-form" method="post">
            <table opt="baseinfo_table" width="90%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">

                <tr>
                    <td class="formtdtext">转移类型<label></label></td>
                    <td colspan="5">
                        <select name="persontype">
                            <option value ="211">伤残人员</option>
                            <option value ="212">三属人员</option>
                            <option value="213">两参人员</option>
                            <option value="214">在乡老复人员</option>
                            <option value="215">带病回乡人员</option>
                        </select>

                    </td>
                </tr>


            </table>



    </form>
</div>
<div opt="foot"></div>