<!--入住人员管理-->
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:65px;padding:10px 15px 0 15px;">
        <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                &nbsp;<span>机构名称 </span><span><input opt="departname" type="text" size="15" class="inputtext"></span>
                &nbsp;<span>姓名 </span><span><input opt="name" type="text" size="5" class="inputtext"></span>
                &nbsp;<span>身份证号 </span><span><input opt="identityid" type="text" size="18" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns" opt="query">
                    <input class="btns" type="button" opt="exportexcel" value="导出Excel" style="width: 80px;">
                </span>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
        <table opt="ruzhurymanagement" data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:false,
               pagination:true,
               loadMsg:''">
            <thead>
            <tr>
                <th data-options="field:'departname',width:160,align:'center'">机构名称</th>
                <th data-options="field:'name',width:80,align:'center',
                formatter:function(v,r,i)
                    {
                        var str='<div></div>';
                        str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                        return str.html();
                    }">姓名</th>
                <th data-options="field:'age',width:60,align:'center'">年龄</th>
                <th data-options="field:'sex',width:60,align:'center',formatter: cj.enumFormatter('gender')">性别</th>
                <th data-options="field:'identityid',width:200,align:'center'">身份证号</th>
                <th data-options="field:'address',width:200,align:'center'">家庭住址</th>
                <th data-options="field:'checkintime',width:145,align:'center'">入住时间</th>
                <th data-options="field:'registration',width:145,align:'center'">户籍地</th>
                <th data-options="field:'type',width:100,align:'center',hidden:true,
                formatter: cj.enumFormatter('oldtype')">人员类别</th>
                    <th data-options="field:'marriage',width:100,align:'center',hidden:true,
                formatter: cj.enumFormatter('marriage')">婚姻状况</th>
                <th data-options="field:'culture',width:100,align:'center',hidden:true,
                formatter: cj.enumFormatter('culture')">文化程度</th>
                <th data-options="field:'liveplace',width:100,align:'center',hidden:true,
                formatter: cj.enumFormatter('liveplace')">居住环境</th>
                <th data-options="field:'yesorno',width:100,align:'center',hidden:true,
                formatter: cj.enumFormatter('yesorno')">是否需要护理</th>
                <th data-options="field:'contact',width:100,align:'center',hidden:true">联系人</th>
                <th data-options="field:'phone',width:100,align:'center',hidden:true">联系电话</th>
                <th data-options="field:'cellphone',width:100,align:'center',hidden:true">手机</th>
                <th data-options="field:'health',width:100,align:'center',hidden:true,
                formatter: cj.enumFormatter('health')">身体状况</th>
                <th data-options="field:'ro',width:80,align:'center',formatter:function(value,rowData,rowIndex)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;cancellation&quot;title=&quot;注销&quot;><div class=&quot;logout_btn&quot;></div></a>');
                    return str.html();
                }"><a href="javascript:void(0)" opt="addfield" title="添加字段"><span><span class="icon-add-field"></span></span></a>&nbsp;&nbsp;操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>





