<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:65px;padding:10px 15px 0 15px;">
        <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                <!--&nbsp;<span>姓名 </span><span><input type="text" size="5" class="inputtext"></span>
                &nbsp;<span>身份证号 </span><span><input type="text" size="18" class="inputtext"></span>
                &nbsp;<span>年龄 </span><span><input type="text" size="5" class="inputtext"> -- <input type="text" size="5" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns">
                    <input type="button" value="导出" class="btns">
                </span>-->
                <table style="float: left;">
                    <tr>
                        <td>
                        <span>
                            状态 :
                            <label style="background-color:#1c22ff;color:white;width: 30px;height: 30px;">已签到</label>
                            <label style="background-color:white;width: 30px;height: 30px;">未签到</label>
                            <label style="background-color:red;color:white;width: 30px;height: 30px;">预警</label>
                        </span>
                        <span>
                            <input class="btns" type="button" opt="signbtn" value="签到">
                            <input class="btns" type="button" opt="signallbtn" value="一键签到" style="width: 80px;">
                        </span>
                        </td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" style="float: right;padding-bottom: 3px">
                    <tr>
                        <!-- <td>
                             <div opt="jgmc">
                             机构名称 :
                             <input opt="departname" type="text">
                             &nbsp;&nbsp;
                             </div>
                         </td>-->

                        <td>
                            姓名
                            <input opt="name" type="text" size="5" class="inputtext">
                            &nbsp;&nbsp;
                        </td>

                        <td>
                            身份证
                            <input opt="identityid" type="text" size="18" class="inputtext">
                            &nbsp;&nbsp;
                        </td>

                        <td>
                            <input type="button" value="查询" class="btns" opt="query">
                            <input class="btns" type="button" opt="exportexcel" value="导出Excel" style="width: 80px;">
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
        <table opt="signpp" data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:false,
               pagination:true,
               loadMsg:''">
            <thead>
            <tr>
                <th field="ck" checkbox="true"></th>
                <th data-options="field:'signdate',width:70,align:'center',
                formatter:function(value,rowData,rowIndex){
                            if(value != null){
                                var str='<div></div>';
                                str=$(str).append('已签到');
                                return str.html();
                            }else{
                                var str='<div></div>';
                                str=$(str).append('未签到');
                                return str.html();
                            }
                        }">签到</th>
                <th data-options="field:'warn',width:70,align:'center',
                formatter:function(value,rowData,rowIndex){
                            if(value == '0'){
                                var str='<div></div>';
                                str=$(str).append('正常');
                                return str.html();
                            }else{
                                var str='<div></div>';
                                str=$(str).append('不正常');
                                return str.html();
                            }
                        }">预警</th>
                <th data-options="field:'departname',width:160,align:'center'">机构名称</th>
                <th data-options="field:'name',width:70,align:'center',
                formatter:function(v,r,i)
                    {
                        var str='<div></div>';
                        str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                        return str.html();
                    }">姓名</th>
                <th data-options="field:'age',width:50,align:'center'">年龄</th>
                <th data-options="field:'sex',width:50,align:'center',formatter: cj.enumFormatter('gender')">性别</th>
                <th data-options="field:'identityid',width:150,align:'center'">身份证号</th>
                <th data-options="field:'address',width:200,align:'center'">家庭住址</th>
                <th data-options="field:'checkintime',width:100,align:'center'">入住时间</th>
                <th data-options="field:'registration',width:145,align:'center'">户籍地</th>
                <!--<th data-options="field:'type',width:100,align:'center',hidden:true,
                formatter: cj.enumFormatter('oldtype')">人员类别</th>
                <th data-options="field:'marriage',width:100,align:'center',hidden:true,
                formatter: cj.enumFormatter('marriage')">婚姻状况</th>
                <th data-options="field:'culture',width:100,align:'center',hidden:true,
                formatter: cj.enumFormatter('culture')">文化程度</th>
                <th data-options="field:'liveplace',width:100,align:'center',hidden:true,
                formatter: cj.enumFormatter('liveplace')">居住环境</th>
                <th data-options="field:'yesorno',width:100,align:'center',hidden:true,
                formatter: cj.enumFormatter('yesorno')">是否需要护理</th>
                <th data-options="field:'contact',width:100,align:'center',hidden:true">联系人</th>
                <th data-options="field:'phone',width:100,align:'center',hidden:true">联系电话</th>
                <th data-options="field:'cellphone',width:100,align:'center',hidden:true">手机</th>
                <th data-options="field:'health',width:100,align:'center',hidden:true,
                formatter: cj.enumFormatter('health')">身体状况</th>-->
                <th data-options="field:'ro',width:100,align:'center',
                formatter:function(value,rowData,rowIndex)
                    {
                        var str='<div></div>';
                        str=$(str).append('<a action=&quot;sign&quot;title=&quot;签到&quot;><div class=&quot;sign_btn&quot;></div></a>');
                        str=$(str).append('<a action=&quot;signcancle&quot;title=&quot;取消签到&quot;><div class=&quot;cancel_btn&quot;></div></a>');
                        return str.html();
                    }">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>





<div tb style="padding-bottom: 0px">
    <div class="highcharstoolbar">&nbsp;&nbsp;查询条件</div>
    <div style="border: 1px solid rgba(128, 176, 79, 0.12);padding: 8px;padding-top: 2px;padding-bottom: 25px;">
        <table style="float: left;">
            <tr>
                <td>
                    <span>
                        状态 :
                        <label style="background-color:#1c22ff;color:white;width: 30px;height: 30px;">已签到</label>
                        <label style="background-color:white;width: 30px;height: 30px;">未签到</label>
                        <label style="background-color:red;color:white;width: 30px;height: 30px;">预警</label>
                    </span>
                    <span>
                        <input class="highcharstoolbarbutton" type="button" opt="signbtn" value="签到">
                        <input class="highcharstoolbarbutton" type="button" opt="signallbtn" value="一键签到">
                    </span>
                </td>
            </tr>
        </table>

    </div>
</div>
