<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:65px;padding:10px 15px 0 15px;">
        <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 2px;padding-right:3px;" class="newRadio">
                <table cellspacing="0" cellpadding="0" style="float: left">
                    <tr>
                        <td>
                            <div style="border:1px solid #bceaff;padding: 2px;margin-right: 2px" align="center">
                                地区：
                                <input style="width: 150px;padding-bottom: 3px;" opt="districtid">
                                <br>
                                <input type="radio"  name="diqu" value="dq"><label>分组</label>
                            </div>
                        </td>
                        <td>
                            <div style="border:1px solid #bceaff;padding: 2px;padding-right: 1px;margin-right: 2px" align="center">
                                所属机构：
                                <input size="25" opt="servicemgt" style="height: 22px;"
                                       data-options="editable:true">
                                <br>
                                <input type="radio"  name="jigou" value="jg"><label>分组</label>
                            </div>
                        </td>
                        <td>
                            <div style="border:1px solid #bceaff;padding: 2px;padding-right: 1px;margin-right: 2px" align="center">
                                老人类型：
                                <select opt="ppselect" style="background: none repeat scroll 0 0 #ffffff;padding-bottom: 3px;">
                                    <option value=""></option>
                                    <option value="2">农村五保</option>
                                    <option value="3">城镇三无</option>
                                    <option value="4">其他</option>
                                </select>
                                <br>
                                <input type="radio"  name="leibie" value="lb"><label>分组</label>
                            </div>
                        </td>
                        <td>
                            <div style="border:1px solid #bceaff;padding: 2px;padding-right: 1px;margin-right: 2px" align="center">
                                性别：
                                <input style="width: 100px;padding-bottom: 3px;" class="easyui-combobox" opt="sex"
                                       data-options=" valueField: 'value', textField: 'label', data: [{ label: '男', value: '1' },{ label: '女', value: '0' }]"/>
                                <br>
                                <input type="radio"  name="sex" value="xb"><label>分组</label>
                            </div>
                        </td>
                        <td>
                            <div style="border:1px solid #bceaff;padding: 2px;padding-right: 1px;" align="center">
                                年龄：
                                <input style="width: 50px;text-align: center" opt="minage"> --
                                <input style="width: 50px;text-align: center" opt="maxage">岁
                                <br>
                                <input type="radio"  name="age" value="nl"><label>分组</label>
                            </div>
                        </td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" style="float: right">
                    <tr>
                        <td>
                            <div>
                                <input class="btns" type="button" opt="clear" value="清空条件" style="width: 70px;margin-top: 12px;">
                                &nbsp;
                                <input class="btns" type="button" opt="query" value="统    计" style="margin-top: 12px;">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'west',split:true" style="width:570px;">
                <table class="easyui-datagrid-noauto"
                       data-options="
                   method:'post',
                   fit:true,
                   border:false,
                   rownumbers:true,
                   fitColumns:true,
                   loadMsg:'',
                   pageSize:cj.getDataGridAttr('pageSize'),
                   pageList:cj.getDataGridAttr('pageList'),
                   singleSelect:true,
                   pagination:true">
                    <thead>
                    <tr>
                        <th data-options="field:'dvname',width:80">地区</th>
                        <th data-options="field:'departname',width:120">所属机构</th>
                        <th data-options="field:'oldtype',width:60">老人类型</th>
                        <th data-options="field:'gender',width:40">性别</th>
                        <th data-options="field:'agevalue',width:80">年龄</th>
                        <th data-options="field:'opsum',width:50,align:'right'">人数</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div data-options="region:'center'">
                <div>
                    <div class="highcharstoolbar">&nbsp;&nbsp;饼状图统计<span opt="refresh" style="float: right;cursor: pointer;padding-right: 5px;;">刷新</span></div>
                    <div opt="containerPie" style="height: 250px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

