<div  class="easyui-panel newRadio" opt="formcontentpanel"
      style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
      data-options="fit:true,border:false">
<div class="d-content" style="max-height: 579px; overflow: auto; height: auto;">
    <div class="dialog_content">
        <form opt="ylxgdlg" method="post">
            <table width="80%" style="margin: 0 auto;margin-top: 10px;" cellpadding="2" cellspacing="1" class="table_form">
                <tbody>

                <tr>
                    <th width="100">机构名称<span style="color: red">*</span>:</th>
                    <td><input type="text" name="departname" class="input-text easyui-validatebox"
                               data-options="required:true">
                    </td>

                    <th>登记性质<span style="color: red">*</span>:</th>
                    <td><input type="text"
                               class="easyui-combobox lazy-combobox input-text"
                               name="register"
                               data-options="
                                required:true,
                                loader:cj.getLoader('ylregister'),
                                editable:false,
                                panelHeight:'auto',
                                valueField:'id',
                                textField:'text'"></td>
                </tr>
                <tr>
                    <th>联系电话<span style="color: red">*</span>:</th>
                    <td><input type="text" name="telephone" class="input-text easyui-validatebox"></td>

                    <th>联系人 :</th>
                    <td><input type="text" name="people" class="input-text easyui-validatebox"></td>
                </tr>

                <tr>
                    <th>联系地址 :</th>
                    <td>
                        <input class="easyui-validatebox input-text" name="address">
                    </td>

                    <th>公交线路 :</th>
                    <td>
                        <input class="easyui-validatebox input-text" name="busline">
                    </td>
                </tr>
                <tr>
                    <th>地图经纬度 :</th>
                    <td>
                        <input class="easyui-validatebox input-text" name="coordinates">
                    </td>

                    <th>核定床位 :</th>
                    <td>
                        <input class="easyui-validatebox input-text" name="approvedbed">
                    </td>
                </tr>
                <tr>
                    <th>实际床位 :</th>
                    <td>
                        <input class="easyui-validatebox input-text" name="actualbed">
                    </td>

                    <th>年末入住数 :</th>
                    <td>
                        <input class="easyui-validatebox input-text" name="livenumber">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</div>