<!--养老食堂管理-->
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:65px;padding:10px 15px 0 15px;">
        <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                &nbsp;<span>机构名称 </span><span><input type="text" size="15" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns" opt="query">
                    <input class="btns" opt="addylst" type="button" value="添加老年人食堂" style="width: 110px;">
                </span>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
        <table opt="yanlaostmanagement" data-options="
               method:'post',
               fit:true,
               fitColumns:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:false,
               pagination:true,
               loadMsg:''">
            <thead>
            <tr>
                <th data-options="field:'departname',width:145,align:'center'">部门名称</th>
                <th data-options="field:'people',width:145,align:'center'">联系人</th>
                <th data-options="field:'telephone',width:145,align:'center'">联系电话</th>
                <th data-options="field:'address',width:145,align:'center'">联系地址</th>
                <th data-options="field:'busline',width:145,align:'center'">公交线路</th>
                <th data-options="field:'ro',width:145,align:'center',formatter:function(value,rowData,rowIndex)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;update&quot;title=&quot;修改&quot;><span><span class=&quot;icondealwith&quot;>修改</span></span></a>&nbsp;&nbsp;');
                    str=$(str).append('<a action=&quot;delete&quot;title=&quot;删除&quot;><span><span class=&quot;icondealwith&quot;>删除</span></span></a>');
                    return str.html();
                }">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

