<div  class="easyui-panel newRadio modulewrapper" opt="pensionformpanel" data-options="fit:true,border:false">

    <form opt="pensionform" method="post">

            <div class="fieldTemplateA"  fieldtitle="血糖患者随访信息">
                <table class="formtable">

                    <tr>
                        <td class="formtdtext"><label>身份证号码</label><span class="requiredtip">*</span></td>
                        <td><input class="easyui-validatebox" name="sys_micard" data-options="required:true" opt="identityid"></td>
                        <td class="formtdtext"><label>随访人姓名</label><span class="requiredtip">*</span></td>
                        <td><input class="easyui-validatebox" name="sys_bfperson" data-options="required:true"></td>
                        <td class="formtdtext"><label>随访时间</label></td>
                        <td><input class="easyui-validatebox easyui-datebox" style="width: 150px;" name="sys_bfdate"></td>
                        <td class="formtdtext"><label>舒张压</label></td>
                        <td><input class="easyui-validatebox" name="be_bfdpressure"></td>
                    </tr>

                    <tr>

                        <td class="formtdtext"><label>收缩压</label></td>
                        <td><input class="easyui-validatebox" name="be_bfspressure"></td>
                        <td class="formtdtext"><label>体重</label></td>
                        <td><input class="easyui-validatebox" name="be_bfweight"></td>
                        <td class="formtdtext"><label>血糖</label></td>
                        <td><input class="easyui-validatebox" name="be_bfbsugar"></td>
                        <td class="formtdtext"><label>尿糖</label></td>
                        <td><input class="easyui-validatebox" name="be_bfusugar"></td>
                    </tr>
                    <tr>
                        <td class="formtdtext"><label>是否药物治疗</label></td>
                        <td><input class="easyui-validatebox easyui-combobox" name="to_bftbrug_yn"  style="width: 150px"
                                   data-options=" url:'jsondata/shifu.json', editable:false, valueField:'id', textField:'text' "
                                ></td>
                        <td class="formtdtext"><label>是否体疗</label></td>
                        <td><input class="easyui-validatebox easyui-combobox" name="to_bfttherapy_yn"  style="width: 150px"
                                   data-options=" url:'jsondata/shifu.json', editable:false, valueField:'id', textField:'text' "
                                ></td>
                        <td class="formtdtext"><label>是否住院治疗</label></td>
                        <td><input class="easyui-validatebox easyui-combobox" name="to_bfthospital_yn"  style="width: 150px"
                                   data-options=" url:'jsondata/shifu.json', editable:false, valueField:'id', textField:'text' "
                                ></td>
                        <td class="formtdtext"><label>是否在家治疗</label></td>
                        <td><input class="easyui-validatebox easyui-combobox" name="to_bfthome_yn"  style="width: 150px"
                                   data-options=" url:'jsondata/shifu.json', editable:false, valueField:'id', textField:'text' "
                                ></td>
                    </tr>
                    <tr>
                        <td class="formtdtext"><label>是否进行治疗</label></td>
                        <td><input class="easyui-validatebox easyui-combobox" name="to_bftherapeutic_yn"  style="width: 150px"
                                   data-options=" url:'jsondata/shifu.json', editable:false, valueField:'id', textField:'text' "
                                ></td>

                        <td class="formtdtext"><label>是否离世</label></td>
                        <td><input class="easyui-validatebox" name="to_bfdie_yn"></td>
                        <td class="formtdtext"><label>转归</label></td>
                        <td><input class="easyui-validatebox" name="to_bfoutcome"></td>
                        <td class="formtdtext"><label>服药情况</label></td>
                        <td><input class="easyui-validatebox" name="to_bfmedication"></td>
                    </tr>
                    <tr>


                        <td class="formtdtext"><label>下次随访时间</label></td>
                        <td><input class="easyui-validatebox easyui-datebox" style="width: 150px;" name="ot_bfflupdate"></td>
                        <td class="formtdtext"><label>用药描述</label></td>
                        <td colspan="5">
                            <textarea  name="to_bfpharmacy" class="bdsilver easyui-validatebox widthmaxper"
                                       data-options="validType:['maxLength[50]']"
                                    ></textarea></td>
                    </tr>
                </table>
            </div>

    </form>

</div>

<div opt="form_btns">
    <div opt="pensionbutton" class="fixedtoolbar">
        <a opt="pensionsubmit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
    </div>
</div>
