<div  class="easyui-panel newRadio modulewrapper" opt="pensionformpanel" data-options="fit:true,border:false">

    <form opt="pensionform" method="post">

            <div class="fieldTemplateA"  fieldtitle="高血压患者随访信息">
                <table class="formtable" >

                    <tr>
                        <td class="formtdtext"><label>身份证号码</label><span class="requiredtip">*</span></td>
                        <td><input class="easyui-validatebox" name="sys_micard" data-options="required:true" opt="identityid"></td>
                        <td class="formtdtext"><label>随访人姓名</label><span class="requiredtip">*</span></td>
                        <td><input class="easyui-validatebox" name="sys_hfperson" data-options="required:true"></td>
                        <td class="formtdtext"><label>随访时间</label></td>
                        <td><input class="easyui-validatebox easyui-datebox" style="width: 150px;"  name="sys_hfdate"></td>
                        <td class="formtdtext"><label>填表时间</label></td>
                        <td><input class="easyui-validatebox easyui-datebox" style="width: 150px;" name="sys_hfffdate"></td>
                    </tr>

                    <tr>

                        <td class="formtdtext"><label>舒张压1</label></td>
                        <td><input class="easyui-validatebox" name="pe_hfdpressure_one"></td>
                        <td class="formtdtext"><label>收缩压1</label></td>
                        <td><input class="easyui-validatebox" name="pe_hfspressure_one"></td>
                        <td class="formtdtext"><label>舒张压2</label></td>
                        <td><input class="easyui-validatebox" name="pe_hfdpressure_two"></td>
                        <td class="formtdtext"><label>收缩压2</label></td>
                        <td><input class="easyui-validatebox" name="pe_hfspressure_two"></td>
                    </tr>

                    <tr>
                        <td class="formtdtext"><label>舒张压3</label></td>
                        <td><input class="easyui-validatebox" name="pe_hfdpressure_thr"></td>
                        <td class="formtdtext"><label>收缩压3</label></td>
                        <td><input class="easyui-validatebox" name="pe_hfspressure_thr"></td>
                        <td class="formtdtext"><label>舒张压均值</label></td>
                        <td><input class="easyui-validatebox" name="pe_hfdpressure_ave"></td>
                        <td class="formtdtext"><label>收缩压均值</label></td>
                        <td><input class="easyui-validatebox" name="pe_hfspressure_ave"></td>
                    </tr>
                    <tr>
                        <td class="formtdtext"><label>高血压分级</label></td>
                        <td><input class="easyui-validatebox" name="pe_hfplv"></td>
                        <td class="formtdtext"><label>体重</label></td>
                        <td><input class="easyui-validatebox" name="pe_hfweight"></td>
                        <td class="formtdtext"><label>身高</label></td>
                        <td><input class="easyui-validatebox" name="pe_hfheight"></td>
                        <td class="formtdtext"><label>总胆固醇</label></td>
                        <td><input class="easyui-validatebox" name="le_hftcholesterol"></td>
                    </tr>

                    <tr>


                        <td class="formtdtext"><label>空腹血糖</label></td>
                        <td><input class="easyui-validatebox" name="le_hffbsugar"></td>
                        <td class="formtdtext"><label>餐后血糖</label></td>
                        <td><input class="easyui-validatebox" name="le_hfppbsugar"></td>
                        <td class="formtdtext"><label>蛋白尿</label></td>
                        <td><input class="easyui-validatebox" name="le_hfproteinuria"></td>
                        <td class="formtdtext"><label>血肌酐浓度</label></td>
                        <td><input class="easyui-validatebox" name="le_hfscreatinine"></td>
                    </tr>
                    <tr>
                        <td class="formtdtext"><label>动脉粥样斑块</label></td>
                        <td><input class="easyui-validatebox" name="le_hfaplaque"></td>
                        <td class="formtdtext"><label>吸烟</label></td>
                        <td><input class="easyui-validatebox" name="lh_hfsmoke"></td>
                        <td class="formtdtext"><label>超重</label></td>
                        <td><input class="easyui-validatebox" name="lh_hfoverweight"></td>
                        <td class="formtdtext"><label>下次随访时间</label></td>
                        <td><input class="easyui-validatebox easyui-datebox" style="width: 150px;" name="ot_hfflupdate"></td>
                    </tr>

                    <tr>

                        <td class="formtdtext"><label>饮酒</label></td>
                        <td><input class="easyui-validatebox" name="lh_hfdwine"></td>
                        <td class="formtdtext"><label>盐量</label></td>
                        <td><input class="easyui-validatebox" name="lh_hfcsalt"></td>
                        <td class="formtdtext"><label>紧张心理</label></td>
                        <td><input class="easyui-validatebox" name="lh_hfnervousness"></td>
                        <td class="formtdtext"><label>低钙蛋白饮食</label></td>
                        <td><input class="easyui-validatebox" name="lh_hflcpdiet"></td>
                    </tr>
                    <tr>

                        <td class="formtdtext"><label>体力活动</label></td>
                        <td><input class="easyui-validatebox" name="lh_hfpactivity"></td>
                        <td class="formtdtext"><label>健康意识</label></td>
                        <td><input class="easyui-validatebox" name="lh_hfhconsciousness"></td>
                        <td class="formtdtext"><label>高血压防治</label></td>
                        <td><input class="easyui-validatebox" name="lh_hfhcontrol"></td>
                        <td class="formtdtext"><label>现用降压药物</label></td>
                        <td><input class="easyui-validatebox" name="ts_hfbpmedications"></td>
                    </tr>
                    <tr>
                        <td class="formtdtext"><label>减重</label></td>
                        <td><input class="easyui-validatebox" name="ts_hflweight"></td>
                        <td class="formtdtext"><label>戒烟、限酒</label></td>
                        <td><input class="easyui-validatebox" name="ts_hfsdgiveup"></td>
                        <td class="formtdtext"><label>膳食限盐</label></td>
                        <td><input class="easyui-validatebox" name="ts_hfdsalt"></td>
                        <td class="formtdtext"><label>保持适量运动</label></td>
                        <td><input class="easyui-validatebox" name="ts_hfksports"></td>
                    </tr>
                    <tr>

                        <td class="formtdtext"><label>减少膳食脂肪</label></td>
                        <td><input class="easyui-validatebox" name="ts_hfrdfat"></td>
                        <td class="formtdtext"><label>保持乐观心态</label></td>
                        <td><input class="easyui-validatebox" name="ts_hfkoattitude"></td>
                        <td class="formtdtext"><label>提高应急能力</label></td>
                        <td><input class="easyui-validatebox" name="ts_hfecapability"></td>
                        <td class="formtdtext"><label>其他</label></td>
                        <td><input class="easyui-validatebox" name="ts_hfother"></td>

                    </tr>
                </table>
            </div>

    </form>

</div>

<div opt="form_btns">
    <div opt="pensionbutton" class="fixedtoolbar">
        <a opt="pensionsubmit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
    </div>
</div>
