<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="easyui/themes/bootstrap/easyui.css">
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery||document.write('<script src="/js/jquery-2.1.1.min.js"><\/script>');</script>
    <script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var jq = top.jQuery;
            $("#loginname").val(jq("#login").val());
            $("#dvcode").val(jq("#code").val());
            $("#username").val(jq("#user").val());
            $("#t2").datagrid({
                url:'/audit?functionid=mHLcDiwTflgEshNKIiOV&loginname='+jq("#login").val()+'&dvcode='+jq("#code").val(),
                method:'get',
                onDblClickRow: function(){
                    var selected = $('#t2').datagrid('getSelected');
                    if (selected){
                        var digest = $("#t2").datagrid("getSelected").digest;
                        var str = digest.split(" ")[0].replace("姓名","");
                        var id = $("#t2").datagrid("getSelected").tprkey;
                        alert(str);
                        var jq = top.jQuery;
                        if (jq('#tabs').tabs('exists', str+'详细信息'))
                            jq('#tabs').tabs('select', str+'详细信息');
                        else {
                            var content = '<iframe scrolling="auto" frameborder="0"  src="'+"search?id=" + id+'" style="width:100%;height:100%;"></iframe>';
                            jq('#tabs').tabs('add',{
                                title:str+'详细信息',
                                content:content,
                                closable:true
                            });
                        }
                    }
                }
            })
            $("#c1").click(function(){
                var auditid = $("#t2").datagrid("getSelected").auditid;
                var tprkey = $("#t2").datagrid("getSelected").tprkey;
                var aulevel = $("#t2").datagrid("getSelected").aulevel;
                var digest = $("#t2").datagrid("getSelected").digest;
                var opseno = $("#t2").datagrid("getSelected").opseno;
                var auendflag = $("#t2").datagrid("getSelected").auendflag;
                var audate = new Date();
                if(auendflag == "0"){
                    $("#auditid").val(auditid);
                    $("#tprkey").val(tprkey);
                    $("#aulevel").val(aulevel);
                    $("#aulevel1").val(approvalProcess[aulevel]);
                    $("#digest").val(digest);
                    $("#opseno").val(opseno);
                    $("#audate").val(audate.toLocaleString( ));
                    $("#win").window("open");
                    alert("check"+id+"endflag"+auendflag);
                }else{
                    var str = digest.split(" ")[0].replace("姓名","");
                    alert(str+"endflag"+auendflag);
                    var jq = top.jQuery;
                    if (jq('#tabs').tabs('exists', str+'详细信息处理')){
                        jq('#tabs').tabs('select', str+'详细信息处理');
                    } else {
                        var content = '<iframe scrolling="auto" frameborder="0"  src="'+"search?id=" +tprkey+'" style="width:100%;height:100%;"></iframe>';
                        jq('#tabs').tabs('add',{
                            title:str+'详细信息处理',
                            content:content,
                            closable:true
                        });
                    }
                }
            });
            $("#c2").click(function(){
                var strs = $("#t2").datagrid("getSelected").digest;
                var str = strs.split(" ")[0].replace("姓名","");
                var id = $("#t2").datagrid("getSelected").tprkey;
                alert(str+id);
                var jq = top.jQuery;
                if (jq('#tabs').tabs('exists', str+'详细信息处理')){
                    jq('#tabs').tabs('select', str+'详细信息处理');
                } else {
                    var content = '<iframe scrolling="auto" frameborder="0"  src="'+"search?id=" + id+'" style="width:100%;height:100%;"></iframe>';
                    jq('#tabs').tabs('add',{
                        title:str+'详细信息处理',
                        content:content,
                        closable:true
                    });
                }
            });
        });
        function addTab(title, url){
            var jq = top.jQuery;
            if (jq('#tabs').tabs('exists', title)){
                jq('#tabs').tabs('select', title);
            } else {
                var content = '<iframe scrolling="auto" frameborder="0"  src="'+url+'" style="width:100%;height:100%;"></iframe>';
                jq('#tabs').tabs('add',{
                    title:title,
                    content:content,
                    closable:true
                });
            }
        };
        var approvalProcess=['自由','提交','审核','审批'];
        var pass = ['未完成','完成'];
        var dateformatter=function timeFormatter(v,r,i) {
            var now = new Date(v);
            var year = now.getFullYear();       //年
            var month = now.getMonth() + 1;     //月
            var day = now.getDate();            //日
            var hh = now.getHours();            //时
            var mm = now.getMinutes();          //分
            var ss = now.getSeconds();          //秒
            var clock = year + "-";
            if(month < 10)
                clock += "0";
            clock += month + "-";
            if(day < 10)
                clock += "0";
            clock += day + " ";
            if(hh < 10)
                clock += "0";
            clock += hh + ":";
            if (mm < 10)
                clock += '0';
            clock += mm+":";
            if (ss < 10)
                clock += "0";
            clock += ss;
            return(clock);
        };
    </script>
</head>
<style>
    html,body {
        margin: 0;
        height:100%;
    }
    .icon-save{
        background:url('img/shenghe.gif') no-repeat;
    }
    .icon-refresh{
        background:url('img/refresh.gif') no-repeat;
    }.icon-search{
         background:url('img/search.gif') no-repeat;
     }.icon-log{
          background:url('img/mylog.gif') no-repeat;
      }
    a:link, a:visited, a:active {
        color: #404040;
        text-decoration: none;
    }
</style>

<body>
<!--<p id="t1" hidden="true">{{audits}}</p>-->
<table id="t2" class="easyui-datagrid" title="老年审核信息"   style="width: auto"
       data-options="
               toolbar:'#tb',
               fit:true,
               singleSelect:true,
               rownumbers:true,
               pagination:true,
               pageSize:20,
               pageList: [15,30,45,60]" >
    <thead>
    <tr>
        <th data-options="field:'auditid',width:80">业务序号</th>
        <th data-options="field:'opseno',hidden:true"></th>
        <th data-options="field:'aulevel',width:100,align:'center',
            formatter: function(value,row,index){
                return approvalProcess[value]
			}">审核等级</th>
        <th data-options="field:'auendflag',width:80,align:'center',
            formatter: function(value,row,index){
                return pass[value]
			}">审核状态</th>
        <th data-options="field:'audesc',width:200">备注</th>
        <th data-options="field:'digest',width:350">摘要</th>
        <th data-options="field:'username',width:60">办理人</th>
        <th data-options="field:'bsnyue',width:60">业务期</th>
        <th data-options="field:'bstime',width:150,align:'right',formatter:dateformatter">时间</th>
    </tr>
    </thead>
</table>
<div id="tb">
    <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" id="c1">处理</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-log" plain="true" onclick="addTab('审核操作日志','logs?functionid=txFUV5pFpWVLv6Th4vQl')">操作日志</a>
</div>
<div id="win" class="easyui-window" title="审核" style="width:320px;height:320px;text-align: center" closed="true">
    <form method="post" action="{{servlet-context}}/checkaudit">
        <p>业务序号: <input id="auditid" name="auditid" readonly="true"></p>
        <p>审核级别: <input id="aulevel1" readonly="true"></p>
        <p>备&nbsp&nbsp&nbsp&nbsp注: <input id="digest" name="digest" readonly="true"></p>
        <p hidden="true">外&nbsp&nbsp&nbsp&nbsp键: <input id="tprkey" name="tprkey" readonly="true"></p>
        <p>审核日期: <input id="audate" name="audate"></p>
        <p>审核结果: <input  name="flag" value="通过" type="radio">通过
                     <input  name="flag" value="不通过" type="radio">不通过</p>
        <input type="hidden" name="opseno" id="opseno">
        <input type="hidden" name="loginname" id="loginname">
        <input type="hidden" name="dvcode" id="dvcode">
        <input type="hidden" name="username" id="username">
        <input id="aulevel" name="aulevel" hidden="true"></p>
        <br>
        <input type="submit" value="确定">
        <input type="button" value="取消" onclick="jQuery:$('#win').window('close')">
    </form>
</div>
</body>
</html>
