<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>民政养老救助系统</title>
      <link rel="stylesheet" type="text/css" href="css/index.css">
      <script type="text/javascript"  src="http://www.jeasyui.com/easyui/jquery-1.8.0.min.js"></script>
      <script type="text/javascript"  src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
      <script type="text/javascript"  src="http://www.jeasyui.com/easyui/locale/easyui-lang-zh_CN.js"></script>
      <link rel="stylesheet" type="text/css"  href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
      <script type="text/javascript">
          $(document).ready(function() {
              var name = $("#user").val();
              $.ajax({
                  dataType: "json",
                  url:'/func?username='+name+'&functionid=businessmenu',
                  success: function(data){
                      $.each(data,function(i,n){
                          if(n.nodetype == 1){
                              $('#accord').accordion('add',{
                                  title: n.title,
                                  selected: false,
                                  height:465,
                                  content:'<ul name="'+n.title+'"'+'id="'+ n.id+'"></ul>'
                              });
                          }
                      });
                      $('#accord').accordion('select',0);
                  }
              });

              $('#accord').accordion({
                  onSelect: function(title,index){
                      var id=$("ul[name='"+title+"']").attr("id");
                      $("ul[name='"+title+"']").tree({
                          method:'get',
                          url: '/func?username='+name+'&functionid='+id ,
                          onBeforeExpand: function (node){
                              $("ul[name='"+title+"']").tree("options").url
                                      = '/func?username='+name+'&functionid='+node.id
                          },
                          onClick:function(node){
                              if(node.nodetype ==0)
                                  addTab(node.title,node.urlpath);
                          }
                      });
                  }
              });
          });
      </script>
  </head>
    <body class="easyui-layout" id="mainlayoutpanel" border="false" >
    <div region="north" border="false" class="cs-north" style="overflow:hidden">
        <div class="cs-north-bg">
            <div class="cs-north-logo"></div>
            <ul id="headnavul">
                <li class="li-skinitem" ><img src="img/head/1.png"/><a id="welcomename">欢迎您:{{username}}</a></li>
                <li class="li-skinitem"><img src="img/head/2.png"/><a id="domneedtodocount" style="cursor:pointer">待办业务(55)</a></li>
                <li class="li-skinitem"><img src="img/head/4.png"/><a id="onlinenums">在线人数(1)</a></li>
                <li class="li-skinitem"><img src="img/head/5.png"/><a id="domshowalterpwd">重设密码</a></li>
                <li class="li-skinitem"><img src="img/head/7.png"/>
                    <a opt="logout" style="text-decoration: none;cursor:pointer" href="/">退出</a>
                </li>
                <li class="li-skinitem"><span id="currentDate"></span></li>
            </ul>
            <input type="hidden" name="loginname" id="login" value={{loginname}}>
            <input type="hidden" name="dvcode" id="code" value={{dvcode}}>
            <input type="hidden" name="username" id="user" value={{username}}>
        </div>
    </div>
    <div region="west" id="westpanel" border="true" split="true" title="业务导航" class="cs-west" style="border-right: 0">
        <div id="menu_pension" fit="true" border="false">
            <div class="easyui-accordion" id="accord" >
            </div>
        </div>
    </div>
    <div id="mainPanle" region="center" border="true" border="false">
        <div id="tabs" class="easyui-tabs"   fit="true" border="false" >
            <div title="主页" class="indexbackground_2">
                <div class="cs-home-remark">
                    <h3 style="font-family: 'courier new'">欢迎使用民政养老救助系统</h3>
                </div>
            </div>
        </div>

    </div>
    <!--存放资金发放对话框-->
    <div id="grantMoneyDig"></div>
    <div id="searchDig"></div>

    </body>
    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    <script type="text/javascript">
        function addTab(title, url){
            if ($('#tabs').tabs('exists', title)){
                $('#tabs').tabs('select', title);
            } else {
                var content = '<iframe scrolling="no" frameborder="0" src="'+url+'" style="width:100%;height:100%;"></iframe>';
                $('#tabs').tabs('add',{
                    title:title,
                    content:content,
                    closable:true
                });
                $('#tabs').tabs('close','主页');
            }
        }
        /*注销*/
        $('[opt=logout]').click(function(){
            $.ajax({
                url:'logout',
                type:'post',
                success:function(data){
                    document.location.href="login"
                    /*var opened=window.open('about:blank','_self');
                    opened.opener=null;
                    opened.close();*/
                }
            })
        })
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>

