<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<script type="text/javascript"  src="http://www.jeasyui.com/easyui/jquery-1.8.0.min.js"></script>
<script type="text/javascript"  src="http://112.124.50.195:8080/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript"  src="http://www.jeasyui.com/easyui/locale/easyui-lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css"  href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
</head>
<body>
<div class="businesstb" style="padding:5px;height:auto;vertical-align: middle;">
    时间:
    <a>
        <input class="easyui-datebox bgdate" style="width:90px">至
        <input class="easyui-datebox eddate" style="width:90px">
    </a>
    <a><input placeholder="身份证或姓名"></a>
    <a><span class="icon-search" >&nbsp;&nbsp;&nbsp;&nbsp;</span>搜索</a>
    <a><span class="icon-search" >&nbsp;&nbsp;&nbsp;&nbsp;</span>高级搜索</a>
    <a class="newgrant"><span class="icon-add " >&nbsp;&nbsp;&nbsp;&nbsp;</span>新增</a>
</div>
         <!--data-options="
               method:'get',
               fit:true,
               border:true,
               singleSelect:true,
               pagination:true"-->
<table class="easyui-datagrid"   id="grantmoneyid"
       data-options="
               method:'get',
               fit:true,
               border:true,
               singleSelect:true,
               pagination:true"
        >  <!--pageSize:cj.getDataGridAttr('pageSize'),
                                            pageList:cj.getDataGridAttr('pageList'),-->

    <thead data-options="frozen:true">
    <tr>
        <th rowspan="2" data-options="field:'ro',width:80,align:'center',formatter:function(value,rowData,rowIndex)
            {
                var str='<div></div>';
                str=$(str).append('<a action=&quot;edit&quot;>变更</a>');
                str=$(str).append('<a action=&quot;logout&quot;>注销</a>');
                return str.html();
            }">操作</th>
        <th rowspan="2" data-options="field:'pg_id'">评估序号</th>
        <!--<th rowspan="2" data-options="field:'active', formatter:cj.enumFormatter('active') ">有效</th>-->
        <th rowspan="2" data-options="field:'name',formatter:function(v,r,i)
            {
                var str='<div></div>';
                str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                return str.html();
            }">姓名</th>
        <th rowspan="2" data-options="field:'identityid'">身份证号码</th>
        <th rowspan="2" data-options="field:'bsnyue'">业务期</th>
        <th rowspan="2" data-options="field:'money'">金额</th>
    </tr>
    </thead>
    <thead>
    <tr>
        <th colspan="4">基本信息</th>
        <th colspan="7">生活方面</th>
    </tr>
    <tr>
        <th data-options="field:'birthd'">出生日期</th>
        <th data-options="field:'gender'">性别</th>      <!--,formatter:cj.enumFormatter('gender')-->
        <th data-options="field:'age'">年龄</th>
        <th data-options="field:'nation'">民族</th> <!--,formatter:cj.enumFormatter('nation')-->
        <th data-options="field:'sh_jings'">生活-进食</th>
        <th data-options="field:'sh_yid'">移动</th>
        <th data-options="field:'sh_weis'">个人卫生</th>
        <th data-options="field:'sh_ruc'">入厕</th>
        <th data-options="field:'sh_xiz'">洗澡</th>
        <th data-options="field:'sh_xingz'">行走于平地上</th>
        <th data-options="field:'sh_lout'">上下楼梯</th>
    </tr>
    </thead>

</table>

<script>
    function myformatter(date){
        var y = date.getFullYear();
        var m = date.getMonth()+1;
        var d = date.getDate();
        var hour=date.getHours();
        var minute=date.getMinutes();
        var second=date.getSeconds();
        return y+'/'+(m<10?('0'+m):m)+'/'+(d<10?('0'+d):d)+" "+
                (hour<10?('0'+hour):hour)+":"+(minute<10?('0'+minute):minute)+":"+(second<10?('0'+second):second);
    }

    var grantmoney_key = 0;
    /*加载已享受资金发放人员*/
    function lazgrantoldready(){
        $("#grantmoneyid").datagrid({
            url:'get-grantmoney',
            onLoadSuccess:function(data){
//                console.log(data)
            }
        });
    }
    $(document).ready(function(){
        lazgrantoldready();
        //查询资金发放表主键
        $.post(
                'sel-grantmoneyid',
                function(data){
                    grantmoney_key = parseInt(data);
                }
        );
    });

    var jq = top.jQuery;
    /*需求评估信息表主键*/
    var pgidarr = new Array();
    $.post(
            'get-needsid',
            function(data){
                for(i=0;i<data.length;i++){
                    var pgid = data[i].pg_id;
                    pgidarr.push(pgid);
                }
            }
    );
    /*加载可以发放人员*/
    function lazgrantold(bsnyue){
        var datagrantold = new Array();
        if(pgidarr.length > 0){
            for(p=0;p<pgidarr.length;p++){
                $.post(
                        'get-cangrantmoney',
                        {
                            bsnyue:bsnyue,
                            pg_id:pgidarr[p]
                        },
                        function(data){
                            if(data != 0){
                                for(d=0;d<data.length;d++){
                                    datagrantold.push(data[d])
                                }
                            }
                            jq("#newgrantwinid").datagrid('loadData',datagrantold);
                        }
                )
            }
        }
    }

    /*资金发放面板*/
    $('.businesstb .newgrant').bind('click',function(local,option){
        jq("#grantMoneyDig").dialog({
            title:"资金发放",
            width:600,
            height:450,
            closed:false,
            modal:true,
            href:'addnewgrantwin',
            buttons:[{
                text:"资金发放",
                handler:function(){
                    var rows = jq("#newgrantwinid").datagrid("getSelections");
                    if(rows.length > 0){
                        for(r=0;r<rows.length;r++){
                            var oldpg_id = rows[r].pg_id;
                            var oldmoney = jq("#money").val();
                            $.post(
                                    'insert-grantmoney',
                                    {
                                        grantid:grantmoney_key++,
                                        bsnyue:jq("#bsnyue").val(),
                                        pg_id:oldpg_id,
                                        money:oldmoney
                                    },
                                    function(data){
                                        lazgrantold(jq("#bsnyue").val())
                                        lazgrantoldready();
                                    }
                            )
                        }
                    }

                }
            },{
                text:"重新发放",
                handler:function(){
                    $.post(
                            'del-grantmoney',
                            {
                                bsnyue:jq("#bsnyue").val()
                            },
                            function(data){
                                if(data >= 1){
                                    lazgrantold(jq("#bsnyue").val());
                                    lazgrantoldready();
                                }
                            }
                    )
                }
            },{
                text:"取消",
                handler:function(){jq("#grantMoneyDig").dialog("close")}
            }]
        });
    });

</script>
</body>
