{% extends "templates/base.html" %}
{% block content %}
  <!--<div class="jumbotron">-->
    <!--<h1>Welcome to pension</h1>-->
    <!--<p>Time to start building your site!</p>-->
    <!--<p><a class="btn btn-primary btn-lg" href="http://luminusweb.net">Learn more &raquo;</a></p>-->
  <!--</div>-->

  <!--<div class="row-fluid">-->
    <!--<div class="span8">-->
    <!--{{content|safe}}-->
    <!--</div>-->
  <!--</div>-->
<div title="主页" class="indexbackground_2">
    <div class="cs-home-remark">
        <h3 style="font-family: 'courier new'">欢迎使用民政养老救助系统</h3>
    </div>
</div>

{% endblock %}
