<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <meta name="Keywords" content="双拥,系统"/>
    <meta name="Description" content="双拥系统" />
    <link rel="shortcut icon" href="images/title.png"/>
    <title>海盐县双拥管理系统</title>
    <script>
        <!--兼容windows无console的情况-->
        if (window.console && window.console.log) {
        } else {
            window.console = {};
            window.console.log = function() {};
        }
    </script>

    <link rel="stylesheet" type="text/css" href="css/index/index2.css"/>
    <link rel="stylesheet" type="text/css" href="css/index/index.css"/>
    <script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="js/scripts/easyui/themes/default/easyui.css" />
    <script src="js/scripts/easyui/jquery.easyui.min.js"></script>
    <script src="js/scripts/easyui/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="css/easyuiover.css"/>

    <script type="text/javascript" src="js/scripts/layer/layer.js"></script>
    <script>
        //加载扩展模块
        layer.config({
            extend: 'extend/layer.ext.js'
        });
    </script>

    <script type="text/javascript" defer="defer" src="js/require.js" data-main="js/main"></script>
    <script type="text/javascript" defer="defer" src="js/mycalendar.js"></script>
</head>
<body>
<div id="usermsg" style="display: none">{{usermsg}}</div>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'west',border:false" style="width:260px;">
        <div class="left">
            <div class="div1">
                <div class="left_title">
                    <label>海盐县双拥管理系统</label>
                </div>
                <div class="left_top">
                    <label>菜&nbsp;&nbsp;单</label>
                </div>
                <div opt="menu"></div>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north',height:80,border:false">
                <div class="centertip">
                    <div class="center_text">
                        <label>用户 <span opt="msgname"></span></label>
                        &nbsp;<a href="logout">注销</a>
                    </div>
                    <!--<label opt="currentDate" style="float: right;margin-right: 8px;font-size: 10px;color:#104b67;font-style: oblique;"></label>-->
                </div>
            </div>
            <div opt="contents" data-options="region:'center',border:false" style="padding:16px 0 10px 16px;background-color: #ececec;">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var usermsg;
    $('.left_top').addClass('div2bag');
    $(document).ready(function(){
        usermsg=eval('('+$('#usermsg').text()+')');
        $('[opt=msgname]').html(usermsg.loginname);
        /*菜单项加载*/
        $.ajax({
            url:'getfunction',
            type:'post',
            success: function (data) {
                var htmarr = new Array();
                if(data.length>0){
                    for(var i=0;i<data.length;i++){
                        var menubg;
                        if(data[i].img){
                            menubg = data[i].img;
                        }else{
                            menubg = "1.png"
                        }
                        var menuli = '<div class="div2" node="'+data[i].functionid+'">'+data[i].title+'</div>'+
                                '<div class="div3" style="display: none;"></div>';
                        htmarr.push(menuli);
                    }
                    $('[opt=menu]').html(htmarr);
                }else{
                    $('[opt=menu]').html('<div style="text-align: center;color: red;">无相应功能模块!请联系管理员配置功能。</div>');
                }
            }
        })

//        $('[opt=currentDate]').text(mycalendar.RunGLNL());
        /*初始化*/
        function init(){
            require(['text!views/shuangyong/shouye/index.htm','views/shuangyong/shouye/index'], function (htm,js) {
                var panel = $('[opt=contents]').panel({
                    content:htm
                });
                if(js && js.render){
                    js.render(panel);
                }
                $('[opt=content]').fadeIn(1500);
            });
        }
        init();
        $(document).on('click','.left_top',function(){
            var $this = $(this);
            $this.next().find('.div2').next('div').slideUp("slow");
            $this.addClass("div2bag").siblings().removeClass("div2bag");
            $this.next().find('.div2').addClass("div2bag").siblings().removeClass("div2bag");
            init();
        })
        $(document).on('click','.div2', function () {
            var $this = $(this);
            var node = $this.attr('node');
            if($(this).next().find('li').length == 0){
                $.ajax({
                    url:'getfunctionmenu',
                    type:'post',
                    data:{
                        funcid:node
                    },
                    success:function(data){
                        var menuarr = new Array();
                        if(data.length > 0){
                            for(var i=0;i<data.length;i++){
                                var menu = '<li><label style="cursor: pointer" opt="'+data[i].location+'">'+data[i].title+'</label></li>';
                                menuarr.push(menu);
                            }
                            $this.next().html(menuarr);
                            menuclick($this);
                        }
                    }
                });
            }else{
                menuclick($this);
            }
        })
        var menuclick = function ($this) {
            $('.left_top').removeClass("div2bag");
            $this.next('div').slideToggle("slow").siblings(".div3:visible").slideUp("slow");
            $this.addClass("div2bag").siblings().removeClass("div2bag");
            $this.next().find('li').removeClass("div3bag");
        }
        $(document).on('click','.div3 li', function () {
            var $this = $(this);
            $this.parent().prev().removeClass('div2bag');
            $(this).addClass("div3bag").siblings().removeClass("div3bag");
            var intface = $this.find('label').attr('opt');
            require(['text!views/'+intface+'.htm','views/'+intface], function (htm,js) {
                var panel = $('[opt=contents]').panel({
                    content:htm
                });
                if(js && js.render){
                    js.render(panel);
                }
                $('[opt=content]').fadeIn(1500);
            });
        })
    });
</script>

</body>
<script src="js/cj.js"></script>
<script type="text/javascript" src="js/configurationFile.js"></script>
<link rel="Stylesheet" type="text/css" href="css/table.css">

<!--<link rel="Stylesheet" type="text/css" href="css/checkbox.css">-->

<script type="text/javascript" src="js/scripts/highcharts/highcharts.js"></script>

<script src="js/scripts/jquery-form.js"></script>

</html>