<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <meta name="Keywords" content="养老,系统"/>
    <meta name="Description" content="养老系统" />
    <link rel="shortcut icon" href="images/title.png"/>
    <title>养老</title>
    <script>
        <!--兼容windows无console的情况-->
        if (window.console && window.console.log) {
        } else {
            window.console = {};
            window.console.log = function() {};
        }
    </script>

    <link rel="stylesheet" type="text/css" href="css/index/index.css"/>
    <script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="easyui/easyui/themes/default/easyui.css" />
    <script src="easyui/easyui/jquery.easyui.min.js"></script>
    <script src="easyui/easyui/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="css/easyuiover.css"/>

    <script type="text/javascript" src="js/scripts/layer/layer.js"></script>
    <script>
        //加载扩展模块
        layer.config({
            extend: 'extend/layer.ext.js'
        });
    </script>

    <script type="text/javascript" src="js/require.js" data-main="js/main"></script>
    <script type="text/javascript" src="js/mycalendar.js"></script>



</head>
<body>
<div id="usermsg" style="display: none">{{usermsg}}</div>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'north'" class="bghead">
        <div class="bghead1">
            <table>
                <tr>
                    <td>
                        <img src="images/index/logo.png">
                    </td>
                </tr>
            </table>
        </div>
        <div class="bghead2">
            <span>欢迎！{{username}}</span>&nbsp;|
            <span style="cursor: pointer" opt="closeAllTabs">关&nbsp;闭</span>&nbsp;|
            <span style="cursor: pointer"><a href="logout" style="color: white;">退&nbsp;出</a></span>&nbsp;
        </div>
    </div>
    <div data-options="region:'west',border:false" style="width:220px;border-right: 1px solid #e5e5e5">
        <div style="height: 99.6%;">
            <div class="left">
                <div class="div1">
                    <div class="left_top">
                        <label>菜&nbsp;&nbsp;&nbsp;&nbsp;单</label>
                    </div>
                    <div opt="menu"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north',height:50,border:false">
                <div class="centertip">
                    <span>&nbsp;<span>主页</span></span>
                    <label opt="currentDate" style="float: right;margin-right: 8px;font-size: 10px;color:#104b67;font-style: oblique;"></label>
                </div>
            </div>
            <div data-options="region:'center',border:false" style="padding:5px;">
                <div id="tabs" class="easyui-tabs" data-options="fit:true,border:false">
                    <div title="主页" data-options="border:false" style="padding:10px;">
                        <div class="easyui-layout" data-options="fit:true">
                            <div data-options="region:'north',border:false"
                                 style="height:50px;padding:0 5px 0 5px;">
                                    <div style="border: 1px solid #e5e5e5;
                                            width: auto;height: 84%;background-color: #eff3f8;padding-top: 6px">
                                            <div style="height: 30px;padding-top: 6px;padding-right:3px;">
                                                &nbsp;<span>姓名 </span><span><input type="text" size="5" class="inputtext"></span>
                                                &nbsp;<span>身份证号 </span><span><input type="text" size="15" class="inputtext"></span>
                                                &nbsp;<span>年龄 </span><span><input type="text" size="5" class="inputtext"> -- <input type="text" size="5" class="inputtext"></span>
                                                <span style="float: right;margin-top: 3px">
                                                    <input type="button" value="查询" class="btns">
                                                    <input type="button" value="导出" class="btns">
                                                </span>
                                            </div>
                                    </div>
                            </div>
                            <div data-options="region:'center',border:false" style="padding:5px;">
                                <table width="100%" class="table_form" cellpadding="2" cellspacing="1">
                                <tr>
                                    <td align="left">
                                        <ol class="flowstep-6">
                                            <li class="step-first step-pass"><div class="step-name">新增申请</div><div class="step-no">&nbsp;</div></li>
                                            <li class="step-pass"><div class="step-name ">已评估</div><div class="step-no">&nbsp;</div></li>
                                            <li><div class="step-name step-name-b">待街道审核</div><div class="step-no">4</div></li>
                                            <li class="step-last"><div class="step-name ">待民政局审核</div><div class="step-no">6</div></li>
                                        </ol>
                                    </td>
                                </tr>
                                </table>
                                <table class="easyui-datagrid" data-options="fit:true,
                                                                fitColumns:true,pagination:true">
                                    <thead>
                                    <tr>
                                        <th data-options="field:'code',width:100,align:'center'">姓名</th>
                                        <th data-options="field:'name',width:100,align:'center'">出生年月</th>
                                        <th data-options="field:'price',width:100,align:'center'">身份证号</th>
                                        <th data-options="field:'price',width:100,align:'center',
                                            formatter:function(value,rowData,rowIndex){
                                            var str='<div></div>';
                                            str=$(str).append('<a action=&quot;delete&quot;title=&quot;删除&quot;>删除</a>');
                                            return str.html();
                                        }">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>夏留金</td><td>1950-04-11</td><td>330424194406182017</td><td>2323</td>
                                    </tr>
                                    <tr>
                                        <td>鲍天松</td><td>1959-04-02</td><td>330424195904022010</td><td>2323</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var usermsg;
    $(document).ready(function(){
        usermsg=eval('('+$('#usermsg').text()+')');
        $('[opt=currentDate]').text(mycalendar.RunGLNL());
        $.ajax({
            url:'getfunction',
            type:'post',
            success: function (data) {
                var htmarr = new Array();
                if(data.length>0){
                    for(var i=0;i<data.length;i++){
                       /* var menubg;
                        if(data[i].img){
                            menubg = data[i].img;
                        }else{
                            menubg = "menu2.png"
                        }*/
                        var htm ='<div class="div2"><div class="jbsz"></div>'+data[i].title+'</div>' +
                                '<input type="hidden" value='+data[i].functionid+'>'+
                                '<div class="div3" opt="'+data[i].title+'"></div>';
                        htmarr.push(htm);
                    }
                    $('.left .div1 [opt=menu]').html(htmarr);
                }else{
                    $('.left .div1 [opt=menu]').html('<div style="text-align: center;"><label style="color: red;">无相应功能模块!</label></div>')
                }
            }
        })
        $(document).on('click','.div2', function () {
            var $this = $(this);
            var node = $this.next().val();
            if($(this).next().next().find('li').length == 0){
                $.ajax({
                    url:'getfunctionmenu',
                    type:'post',
                    data:{
                        funcid:node
                    },
                    success:function(data){
                        var menuarr = new Array();
                        if(data.length > 0){
                            for(var i=0;i<data.length;i++){
                                var menu = '<li><label style="cursor: pointer" opt="'+data[i].location+'">'+data[i].title+'</label></li>';
                                menuarr.push(menu);
                            }
                            $this.next().next().html(menuarr);
                            menuclick($this);
                        }
                    }
                });
            }else{
                menuclick($this);
            }
        })
        var menuclick = function ($this) {
            $this.next().next('div').slideToggle("slow").siblings(".div3:visible").slideUp("slow");
            $this.addClass("div2bag").siblings().removeClass("div2bag");
            $this.next().next().find('li').addClass("div3bag").siblings().removeClass("div3bag");
        }
        var gettabs = function (title,htm) {
            return $('#tabs').tabs('add',{
                title:title,
//                content:'<div style="height: 95.6%;margin: 10px;border: 1px solid red">'+htm+'</div>',
                content:htm,
                closable:true
            }).tabs('getTab',title);
        }
        $(document).on('click','.div3 li', function () {
//            var tip1 = $(this).parent().attr('opt');
//            var tip2 = $(this).text();
//            var span = '&nbsp;<span>'+tip1+'</span>&nbsp;>&nbsp;<span>'+tip2+'</span>';
//            $('.centertip').find('span').html(span);
            $(this).addClass("div3bag").siblings().removeClass("div3bag");
            var intface = $(this).find('label').attr('opt');
            var tabs = $('#tabs');
            var title = $(this).text();
            var funcarr = intface.replace('.','/');
            if(!tabs.tabs('exists',title)){
                require(['text!views/'+funcarr+'.htm','views/'+funcarr], function (htm,js) {
                    var tab = gettabs(title,htm);
                    if(js && js.render){
                        js.render(tab);
                    }
                })
            }else{
                tabs.tabs('select',title);
            }
        })
        /*叶签变化时导航栏的变化*/
        $('#tabs').tabs({
            onSelect: function (title) {
                var span;
                if(title == "主页"){
                    span = '&nbsp;<span>'+title+'</span>';
                }else{
                    var lng = $('.div3').find('label');
                    for(var i=0;i<lng.length;i++){
                        if($(lng[i]).text() == title){
                            var tip1 = $(lng[i]).parent().parent().attr('opt');
                            span = '&nbsp;<span>'+tip1+'</span>&nbsp;>&nbsp;<span>'+title+'</span>';
                        }
                    }
                }
                $('.centertip').find('span').html(span);
            }
        })
        /*关闭所有页签*/
        $('[opt=closeAllTabs]').click(function () {
            $(".tabs li").each(function(index, obj) {
                //获取所有可关闭的选项卡
                var tab = $(".tabs-closable", this).text();
                $(".easyui-tabs").tabs('close', tab);
            });
        });
    });
</script>

</body>
<script src="js/cj.js"></script>
<!--<script type="text/javascript" src="js/extLocation.js"></script>-->
<script type="text/javascript" src="js/configurationFile.js"></script>
<link rel="stylesheet" type="text/css" href="js/commonfuncs/popwin/win.css">
<link rel="Stylesheet" type="text/css" href="css/table.css">

<link rel="Stylesheet" type="text/css" href="css/checkbox.css">

<script type="text/javascript" src="js/highcharts/highcharts.js"></script>

<script src="js/scripts/jquery-form.js"></script>

</html>