<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>用户登入</title>
    <link href="css/login/login.css" type="text/css" media="screen" rel="stylesheet"/>
    <script src="js/jquery-1.8.0.min.js"></script>
</head>
<body>
<div class="shad">
    <div class="lg">
        <div class="div1">
            <form name="form1" method="post" action="login">
                <table>
                    <tr>
                        <td>用户名:</td>
                        <td>
                            <input type="text" name="username" id="username">
                        </td>
                    </tr>
                    <tr>
                        <td>密&nbsp;&nbsp;码:</td>
                        <td>
                            <input type="password" name="password" id="password">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">
                            <div class="reset"></div>
                            <div class="login"></div>
                        </td>
                    </tr>
                </table>
            </form>
            <div style="text-align: center;color: red;font-size: 12px;">{{loginmsg}}</div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#username").focus();
        $('#passwd').click(function() {
            $('#password').getkeyboard().reveal();
        })

        $(".logininput").blur(function() {
            if ($(this).val() == "") {
                $(this).css("border-color", "red");
            }
            else
                $(this).css("border-color", "#D9D6C4");
        })


        //登陆事件
        var dologin = function () {
            $('#username,#password').each(function(){
                var myx = ($(this).val() + 'x').replace(/(^\s*)|(\s*$)/g,"");
                if(1==myx.length) {
                    $(this).css("border-color", "red").focus();
                    return;
                }
            })
            $(".login").attr("disabled", "disabled");
            //密码加密
            //$('#password').val(CryptoJS.enc.Base64.stringify(CryptoJS.MD5($('#password').val())));
            $('form[name=form1]').submit();
//            CryptoJS.enc.Base64.stringify(CryptoJS.MD5($('#password').val()))
        };
        $(".login").click(dologin)
        $('#password').keyup(function(event){
            switch(event.keyCode) {
                case 13:
                    dologin();
                    break;
                default :
                    break;
            }
        })
        
        $('.reset').click(function () {
            $("#username").val('');
            $("#password").val('');
        })
    });
</script>
</body>
</html>