<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <script type="text/javascript"  src="http://www.jeasyui.com/easyui/jquery-1.8.0.min.js"></script>
    <script type="text/javascript"  src="http://112.124.50.195:8080/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript"  src="http://www.jeasyui.com/easyui/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css"  href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
</head>
<script type="text/javascript">
    $(document).ready(function(){
        $("#need").datagrid({
            onDblClickRow: function(){
                var selected = $('#need').datagrid('getSelected');
                if (selected){
                    var post = $("#need").datagrid("getSelected").name;
                    var id = $("#need").datagrid("getSelected").pg_id;
                    alert("ok"+post+"id:"+id);
                    var jq = top.jQuery;
                    if (jq('#tabs').tabs('exists', post+'评估信息'))
                        jq('#tabs').tabs('select', post+'评估信息');
                    else {
                        var content = '<iframe scrolling="auto" frameborder="0"  src="'+"tneed?id=" + id+'" style="width:100%;height:100%;"></iframe>';
                        jq('#tabs').tabs('add',{
                            title:post+'评估信息',
                            content:content,
                            closable:true
                        });
                    }
                }
            }
        });
//        $("#search").click(function(){
//            var name = document.getElementById('name').value;
//            $("#tt").datagrid({
//                url:'/oldname?name='+name
//            })
//        })
    });
//    function edit(){
//        var selected = $('#need').datagrid('getSelected');
//        alert(selected.pg_id+"!!!");
//        url='tneed?id='+selected.pg_id;
//        addTab(selected.name+'评估信息',url) ;
//    }
//    function addTab(title, url){
//        var jq = top.jQuery;
//        if (jq('#tabs').tabs('exists', title)){
//            jq('#tabs').tabs('select', title);
//        } else {
//            var content = '<iframe scrolling="auto" frameborder="0"  src="'+url+'" style="width:100%;height:100%;"></iframe>';
//            jq('#tabs').tabs('add',{
//                title:title,
//                content:content,
//                closable:true
//            });
//        }
//    }
</script>
<style>
    html,body {
        margin: 0;
        height:100%;
    }
    .icon-save{
        background:url('img/shenghe.gif') no-repeat;
    }
    .icon-refresh{
        background:url('img/refresh.gif') no-repeat;
    }.icon-search{
         background:url('img/search.gif') no-repeat;
     }.icon-log{
          background:url('img/mylog.gif') no-repeat;
      }
    a:link, a:visited, a:active {
        color: #404040;
        text-decoration: none;
    }
</style>
<body>
<table class="easyui-datagrid" id="need"
       data-options="
               fit:true,
               method:'get',
               toolbar:'.tb',
               border:false,
                url:'/needs',
               singleSelect:true,
               pagination:true">
    <thead data-options="frozen:true">
    <tr>
        <th rowspan="2" data-options="field:'pg_id'">评估序号</th>
        <!--<th rowspan="2" data-options="field:'active'">有效</th>-->
        <th rowspan="2" data-options="field:'name',formatter:function(v,r,i)
            {
                var str='<div></div>';
                str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                return str.html();
            }">姓名</th>
        <th rowspan="2" data-options="field:'identityid'">身份证号码</th>
    </tr>
    </thead>
    <thead>
    <tr>
        <th colspan="4">基本信息</th>
        <th colspan="13">生活方面</th>
        <th colspan="9">经济方面</th>
        <th colspan="10">年龄和贡献</th>
    </tr>
    <tr>
        <th data-options="field:'birthd'">出生日期</th>
        <th data-options="field:'gender'">性别</th>
        <th data-options="field:'age'">年龄</th>
        <th data-options="field:'nation'">民族</th>
        <th data-options="field:'sh_jings'">生活-进食</th>
        <th data-options="field:'sh_yid'">移动</th>
        <th data-options="field:'sh_weis'">个人卫生</th>
        <th data-options="field:'sh_ruc'">入厕</th>
        <th data-options="field:'sh_xiz'">洗澡</th>
        <th data-options="field:'sh_xingz'">行走于平地上</th>
        <th data-options="field:'sh_lout'">上下楼梯</th>
        <th data-options="field:'sh_chuany'">穿脱衣服</th>
        <th data-options="field:'sh_dab'">大便控制</th>
        <th data-options="field:'sh_xiaob'">小便控制</th>
        <th data-options="field:'sh_zongf'">总分（生活）</th>
        <th data-options="field:'sh_pingguf'">评估分（生活）</th>
        <th data-options="field:'sh_pingguy'">评估员（生活）</th>
        <th data-options="field:'jj_shour'">经济_收入</th>
        <th data-options="field:'jj_fenl'">经济分类</th>
        <th data-options="field:'jj_leix'">低保类型</th>
        <th data-options="field:'jj_pingguf'">评估分（经济）</th>
        <th data-options="field:'jj_pingguy'">评估员（经济）</th>
        <th data-options="field:'jz_fenl'">居住-分类</th>
        <th data-options="field:'jz_zhaol'">是否有生活照料</th>
        <th data-options="field:'jz_pingguf'">评估分（居住）</th>
        <th data-options="field:'jz_pingguy'">评估员（居住）</th>
        <th data-options="field:'nl_fenl'">年龄_分类</th>
        <th data-options="field:'nl_pingguf'">评估分（年龄）</th>
        <th data-options="field:'nl_pingguy'">评估员（年龄）</th>
        <th data-options="field:'gx_laom'">市级以上劳模</th>
        <th data-options="field:'gx_youf'">重点优抚对象</th>
        <th data-options="field:'gx_youf_kind'">优抚类型</th>
        <th data-options="field:'gx_chunjg'">纯居干</th>
        <th data-options="field:'gx_ganb'">离休干部</th>
        <th data-options="field:'gx_pingguf'">评估分（贡献）</th>
        <th data-options="field:'gx_pingguy'">评估员（贡献）</th>
    </tr>
    </thead>
</table>
<!--<div class="tb">-->
    <!--<form >-->
        <!--<input name="name" class="easyui-validatebox" id="name">-->
        <!--<input type="button" value="查询" id="search">-->
    <!--</form>-->
<!--</div>-->
</body>
</html>