<form opt="czqk">
<table opt="PAczqk" width="100%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
    <tr>
        <td>视力</td>
        <td>
            <ul style="list-style-type:none">
                <li><input name="cz_shil" type="radio" value="0" /><label>轻度不健全,但尚能照顾个人安全</label></li>
                <li><input name="cz_shil" type="radio" value="1" /><label>重度不健全,只有光感,但在熟悉的环境下,足以照顾自己</label></li>
                <li><input name="cz_shil" type="radio" value="2" /><label>失明,需他人护理</label></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>听力</td>
        <td>
            <ul style="list-style-type:none">
                <li><input name="cz_tingl" type="radio" value="0" /><label>需配带助听器</label></li>
                <li><input name="cz_tingl" type="radio" value="1" /><label>轻度受损</label></li>
                <li><input name="cz_tingl" type="radio" value="2" /><label>重度受损</label></li>
                <li><input name="cz_tingl" type="radio" value="3" /><label>失聪</label></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>肢体</td>
        <td>
            <ul style="list-style-type:none">
                <li><input name="cz_zhit" type="radio" value="0" /><label>上肢</label></li>
                <li><input name="cz_zhit" type="radio" value="1" /><label>下肢</label></li>
            </ul>
        </td>
    </tr>
    <tr><td>其他</td>
        <td><textarea class="input-text" name="cz_qit" style="height: 20px;width: 97%;"></textarea></td>
    </tr>
    <tr><td>评估员</td>
        <td>
            <input class="input-text" name="cz_pingguy">
        </td>
    </tr>
</table>
</form>