<form opt="jzhj">
<table opt="PAjzhj" width="100%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
    <tr>
        <td rowspan="5">居住环境</td>
        <td style="text-align: center;">分类</td>
        <td>判断评分</td>
        <td>是否有生活照料</td>
    </tr>
    <tr>
        <td>与子女同住</td>
        <td><input name="jz_fenl" type="radio" value="0" /><label>0分</label></td>
        <td rowspan="4">
            <input name="jz_zhaol" type="radio" value="1" /><label>是</label>
            <input name="jz_zhaol" type="radio" value="0" /><label>否</label>
        </td>
    </tr>
    <tr>
        <td>与亲友同住</td>
        <td><input name="jz_fenl" type="radio" value="5" /><label>5分</label></td>
    </tr>
    <tr>
        <td>仅与配偶同住</td>
        <td><input name="jz_fenl" type="radio" value="15" /><label>15分</label></td>
    </tr>
    <tr>
        <td>独居</td>
        <td><input name="jz_fenl" type="radio" value="20" /><label>20分</label></td>
    </tr>

    <tr><td>评分</td>
        <td colspan="3">
            <input class="pingfen" name="jz_pingguf" readonly>
        </td>
    </tr>
    <tr><td>评估员</td>
        <td colspan="3">
            <input class="input-text" name="jz_pingguy">
        </td>
    </tr>
</table>
</form>