<form opt="nlqk">
<table opt="PAnlqk" width="100%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
    <tr>
        <td rowspan="1">年龄情况</td>
        <td>出生日期:         <!--name="chushengriqi" -->
            <input opt="csrq" class="easyui-datebox" data-options="formatter:myformatter,parser:myparser" readonly/>
        </td>
        <td>
            <ul style="list-style-type:none">
                <li><span style="width: 100px;">1. 60-79&nbsp;&nbsp;</span><input name="nl_fenl" type="radio" value="0" /><label>0分</label></li>
                <li><span style="width: 100px;">2. 80-89&nbsp;&nbsp;</span><input name="nl_fenl" type="radio" value="5" /><label>5分</label></li>
                <li><span style="width: 100px;">3. 90以上&nbsp;&nbsp;</span><input name="nl_fenl" type="radio" value="10" /><label>10分</label></li>
            </ul>
        </td>
    </tr>
    <tr><td>评分</td>
        <td colspan="3">
            <input class="pingfen" name="nl_pingguf" readonly>
        </td>
    </tr>
    <tr>
        <td >评估员</td>
        <td colspan="3">
            <input class="input-text" name="nl_pingguy">
        </td>
    </tr>

</table>
</form>