<table opt="PArznl" width="100%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
    <tbody>
    <tr style="height: 40px;">
        <td colspan="2" style="width: 100px;">评估事项</td>
        <td colspan="4" style="text-align: center;">评估内容</td>
        <td style="width: 50px;">评估分</td>
    </tr>
    <tr style="height: 40px;">
        <td style="width: 45px;">(1)<br/>近<br/>期<br/>记<br/>忆</td>
        <td style="width: 150px;">
            <label>回想近期发生的事情</label>
        </td>
        <td style="width: 175px;">
            <input name="rz_jinqijy" type="radio" value="0" />
            <label>0分<br/>对近期发生的事情记忆清晰</label>
        </td>
        <td style="width: 175px;">
            <input name="rz_jinqijy" type="radio" value="1" />
            <label>1分<br/>对近期发生的事情记忆模糊</label>
        </td>
        <td style="width: 175px;">
            <input name="rz_jinqijy" type="radio" value="3" />
            <label>3分<br/>对近期发生的事情遗忘，在提示下能记起部分.</label>
        </td>
        <td style="width: 175px;">
            <input name="rz_jinqijy" type="radio" value="5" />
            <label>5分<br/>经常提示也不能记起近期的发生的事情</label>
        </td>
        <td ><input size="1" class="pingfen" oth="rz_jinqijy" opt="info9pingfeng" readonly></td>
    </tr>
    <tr style="height: 40px;">
        <td style="width: 30px;">(2)<br/>程<br/>序<br/>记<br/>忆</td>
        <td style="width: 150px;">
            <label>完成基本生活技能，如穿衣程序、烧水泡茶等</label>
        </td>
        <td style="width: 175px;">
            <input name="rz_chengxujy" type="radio" value="0" />
            <label>0分<br/>正确完成</label>
        </td>
        <td style="width: 175px;text-align: center">
            <label>-</label>
        </td>
        <td style="width: 175px;">
            <input name="rz_chengxujy" type="radio" value="3" />
            <label>3分<br/>在提示下能正确完成.</label>
        </td>
        <td style="width: 175px;">
            <input name="rz_chengxujy" type="radio" value="5" />
            <label>5分<br/>经提示也不能正确完成</label>
        </td>
        <td ><input size="1" class="pingfen" oth="rz_chengxujy" opt="info9pingfeng" readonly></td>
    </tr>
    <tr style="height: 40px;">
        <td style="width: 30px;">(3)<br/>定<br/>向<br/>能<br/>力</td>
        <td style="width: 150px;">
            <label>现实导向能力，对人物、地点、时间、空间等的识别和判断能力</label>
        </td>
        <td style="width: 175px;">
            <input name="rz_dingxiangnl" type="radio" value="0" />
            <label>0分<br/>定向能力正常</label>
        </td>
        <td style="width: 175px;text-align: center">
            <label>-</label>
        </td>
        <td style="width: 175px;">
            <input name="rz_dingxiangnl" type="radio" value="3" />
            <label>3分<br/>在提示下，能正确说出人物、地点、时间、空间等.</label>
        </td>
        <td style="width: 175px;">
            <input name="rz_dingxiangnl" type="radio" value="5" />
            <label>5分<br/>经提示也不能正确说出人物、地点、时间、空间等</label>
        </td>
        <td ><input size="1" class="pingfen" oth="rz_dingxiangnl" opt="info9pingfeng" readonly></td>
    </tr>
    <tr style="height: 40px;">
        <td style="width: 30px;">(4)<br/>判<br/>断<br/>能<br/>力</td>
        <td style="width: 150px;">
            <label>对日常生活的内容、时间、谁人处理等作出判断</label>
        </td>
        <td style="width: 175px;">
            <input name="rz_panduannl" type="radio" value="0" />
            <label>0分<br/>能正确作出判断</label>
        </td>
        <td style="width: 175px;text-align: center">
            <label>-</label>
        </td>
        <td style="width: 175px;">
            <input name="rz_panduannl" type="radio" value="3" />
            <label>3分<br/>在提示下能作出判断，表现为判断迟缓、不决.</label>
        </td>
        <td style="width: 175px;">
            <input name="rz_panduannl" type="radio" value="5" />
            <label>5分<br/>判断错误</label>
        </td>
        <td ><input size="1" class="pingfen" oth="rz_panduannl" opt="info9pingfeng" readonly></td>
    </tr>
    <tr style="height: 40px;">
        <td style="width: 30px;">总分</td>
        <td style="width: 500px;text-align: center" colspan="3">
            <input class="pingfen" name="rz_zongfen" opt="rz_zongfen" readonly>
        </td>
        <td style="width: 175px;">
            <label>评估分</label>
        </td>
        <td style="width: 175px;text-align: center" colspan="2">
            <input class="pingfen" name="rz_pingguf" opt="rz_pingguf" readonly>
        </td>
    </tr>
    <tr style="height: 40px;">
        <td style="width: 30px;">结论</td>
        <td style="width: 500px;" colspan="6">
            <ul>
                <li style="margin-left: 20px; display: inline;"><input name="rz_jiel" type="radio" value="0" /><label>正常 </label></li>
                <li style="margin-left: 40px; display: inline;"><input name="rz_jiel" type="radio" value="1" /><label>轻度缺失 </label></li>
                <li style="margin-left: 40px; display: inline;"><input name="rz_jiel" type="radio" value="2" /><label>中度缺失 </label></li>
                <li style="margin-left: 40px; display: inline;"><input name="rz_jiel" type="radio" value="3" /><label>重度缺失 </label></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td >评估员</td>
        <td colspan="6">
            <input class="input-text" name="rz_pingguy">
        </td>
    </tr>
    </tbody>
</table>
