<!--<form opt="shzl">-->
<table opt="PAshzl" width="100%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
    <tbody>
    <tr style="height: 40px;">
        <td style="width: 50px;">评估事项</td>
        <td colspan="4" style="text-align: center;">评估内容</td>
        <td style="width: 50px;">评估分</td>
    </tr>
    <tr style="height: 40px;">
        <td >(1)<br/>进食</td>
        <td style="width: 175px;">
            <input name="sh_jings" type="radio" value="0" />
            <label>0分<br/>自己在合理的时间内(约十秒种吃一口)可用筷子取食眼前的食物.若需进食辅具的,应会自行穿脱.</label>
        </td>
        <td style="width: 175px;"></td>
        <td style="width: 175px;"><input name="sh_jings" type="radio" value="5" />
            <label>5分<br/>需别人帮助穿脱辅具或只会用汤匙进食</label>
        </td>
        <td style="width: 175px;"><input name="sh_jings" type="radio" value="10" />
            <label>10分<br/>无法自行取食或耗费时间过长.</label>
        </td>
        <td ><input size="1" class="pingfen" oth="sh_jings" opt="info1pingfeng" readonly></td>
    </tr>
    <tr style="height: 40px;">
        <td >(2)<br/>移动</td>
        <td ><input name="sh_yid" type="radio" value="0" /><label>0分<br/>可独立完成,包括轮椅的刹车及移开脚踏板.</label></td>
        <td ><input name="sh_yid" type="radio" value="5" /><label>5分<br/>需要稍微的协助(例如:予以轻扶以保持平衡)或需要口头指导.</label></td>
        <td ><input name="sh_yid" type="radio" value="10" /><label>10分<br/>可自行从床上坐起来,但移位时仍需别人帮助.</label></td>
        <td ><input name="sh_yid" type="radio" value="15" /><label>15分<br/>需别人帮助方可坐起来或需别人帮助方可移位.</label></td>
        <td ><input size="1" class="pingfen" oth="sh_yid" opt="info1pingfeng" readonly></td>
    </tr>
    <tr style="height: 40px;">
        <td >(3)<br/>个人卫生</td>
        <td ><input name="sh_weis" type="radio" value="0" /><label>可独立完成洗脸,洗手,刷牙及梳头.</label></td>
        <td ></td>
        <td ></td>
        <td ><input name="sh_weis" type="radio" value="5" /><label>需要别人帮助</label></td>
        <td ><input size="1" class="pingfen" oth="sh_weis" opt="info1pingfeng" readonly></td>
    </tr>
    <tr>
        <td >(4)<br/>入厕</td>
        <td ><input name="sh_ruc" type="radio" value="0" /><label>可自行进出厕所,不会弄脏衣物,并能穿好衣服,使用便盆者,可自行清理便盆.</label></td>
        <td ></td>
        <td ><input name="sh_ruc" type="radio" value="5" /><label>需要别人帮助</label></td>
        <td ><input name="sh_ruc" type="radio" value="10" /><label>需帮助保持姿势平衡,整理衣物或使用卫生纸.使用便盆者,可自行取放,但须依赖他人清理.</label></td>
        <td ><input size="1" class="pingfen" oth="sh_ruc" opt="info1pingfeng" readonly></td>
    </tr>
    <tr>
        <td >(5)<br/>洗澡</td>
        <td ><input name="sh_xiz" type="radio" value="0" /><label>可独立完成(不论是盆浴或沐浴)</label></td>
        <td ></td>
        <td ></td>
        <td ><input name="sh_xiz" type="radio" value="5" /><label>需要别人帮助.</label></td>
        <td ><input size="1" class="pingfen" oth="sh_xiz" opt="info1pingfeng" readonly></td>
    </tr>
    <tr>
        <td >(6)<br/>行走于平地上</td>
        <td ><input name="sh_xingz" type="radio" value="0" /><label>使用或不使用辅具皆可独立行走50米以上</label></td>
        <td ><input name="sh_xingz" type="radio" value="5" /><label>需要稍微的扶持或口头指导方可行走50米以上</label></td>
        <td ><input name="sh_xingz" type="radio" value="10" /><label>虽无法行走,但可独立操纵轮椅(包括转弯,进门,接近桌子和床沿)并可推行轮椅50米以上.</label></td>
        <td ><input name="sh_xingz" type="radio" value="15" /><label>需别人帮助推轮椅</label></td>
        <td ><input size="1" class="pingfen" oth="sh_xingz" opt="info1pingfeng" readonly></td>
    </tr>
    <tr>
        <td >(7)<br/>上下楼梯</td>
        <td ><input name="sh_lout" type="radio" value="0" /><label>独立完成</label></td>
        <td ></td>
        <td ><input name="sh_lout" type="radio" value="5" /><label>需要稍微帮助或口头指导</label></td>
        <td ><input name="sh_lout" type="radio" value="10" /><label>无法上下楼梯</label></td>
        <td ><input size="1" class="pingfen" oth="sh_lout" opt="info1pingfeng" readonly></td>
    </tr>
    <tr>
        <td >(8)<br/>穿脱衣服</td>
        <td ><input name="sh_chuany" type="radio" value="0" /><label>可自行穿脱衣服,鞋子及辅具</label></td>
        <td ></td>
        <td ><input name="sh_chuany" type="radio" value="5" /><label>在别人帮助下,可完成一半以上的上述动作</label></td>
        <td ><input name="sh_chuany" type="radio" value="10" /><label>不能自行穿脱衣服</label></td>
        <td ><input size="1" class="pingfen" oth="sh_chuany" opt="info1pingfeng" readonly></td>
    </tr>
    <tr>
        <td >(9)<br/>大便控制</td>
        <td ><input name="sh_dab" type="radio" value="0" /><label>无大小便失禁,并可自行使用塞剂.</label></td>
        <td ></td>
        <td ><input name="sh_dab" type="radio" value="5" /><label>偶有失禁(每周不超过一次)或使用塞剂时需人帮助</label></td>
        <td ><input name="sh_dab" type="radio" value="10" /><label>经常失禁,需要别人处理.</label></td>
        <td ><input size="1" class="pingfen" oth="sh_dab" opt="info1pingfeng" readonly></td>
    </tr>
    <tr>
        <td >(10)<br/>小便控制</td>
        <td ><input name="sh_xiaob" type="radio" value="0" /><label>日夜皆不会尿失禁,或可自行使用并清理尿套</label></td>
        <td ></td>
        <td ><input name="sh_xiaob" type="radio" value="5" /><label>偶尔会尿失禁(每周不超过一次)或尿急(无法等待便盆或无法及时赶到厕所)或需别人帮助处理尿套</label></td>
        <td ><input name="sh_xiaob" type="radio" value="10" /><label>经常失禁,需要别人处理.</label></td>
        <td ><input size="1" class="pingfen" oth="sh_xiaob" opt="info1pingfeng" readonly></td>
    </tr>
    <tr>
        <td >总分</td>
        <td colspan="2" style="text-align: center;">
            <input class="pingfen" name="sh_zongf" readonly>
        </td>
        <td >评估分</td>
        <td colspan="2" style="text-align: center;">
            <input class="pingfen" name="sh_pingguf" readonly>
        </td>
    </tr>
    <tr>
        <td >结论</td>
        <td colspan="5">
            <ul>
                <li style="margin-left: 20px; display: inline;"><input name="sh_jiel" type="radio" value="0" /><label>正常 </label></li>
                <li style="margin-left: 40px; display: inline;"><input name="sh_jiel" type="radio" value="1" /><label>轻度依赖 </label></li>
                <li style="margin-left: 40px; display: inline;"><input name="sh_jiel" type="radio" value="2" /><label>中度依赖 </label></li>
                <li style="margin-left: 40px; display: inline;"><input name="sh_jiel" type="radio" value="3" /><label>重度依赖 </label></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td >评估员</td>
        <td colspan="5">
            <input class="input-text" name="sh_pingguy">
        </td>
    </tr>
    </tbody>
</table>
<!--</form>-->