<table opt="PAzdjb" width="100%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
    <tr>
        <td>疾病名称</td>
        <td>医生诊断</td>
        <td>在接受治疗</td>
        <td>结束治疗</td>
    </tr>
    <tr opt="zhongdajibing">
        <td>
            <ol>
                <li>高血压</li>
                <li>老年心力衰竭</li>
                <li>冠心病</li>
                <li>心律失常</li>
                <li>慢性支气管炎</li>
                <li>肺气肿</li>
                <li>肺心病</li>
                <li>肺炎</li>
                <li>脑血管意外</li>
                <li>帕金森氏症</li>
                <li>老年痴呆症</li>
                <li>忧郁症</li>
                <li>糖尿病</li>
                <li>痛风</li>
                <li>肢体骨折</li>
                <li>肩周炎</li>
                <li>颈椎病</li>
                <li>类风湿性关节炎</li>
                <li>肝胆疾病</li>
                <li>白内障</li>
                <li>青光眼</li>
                <li>视网膜血管性疾病</li>
                <li>糖尿病视网膜病变</li>
                <li>肾脏疾病</li>
                <li>恶性肿瘤</li>
                <li>其他</li>
                <li>__</li>
                <li>__</li>
            </ol>
        </td>
        <td>
            <ol>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_gaoxy" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_xinlsj" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_guanxb" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_xinlshic" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_manxzhiqguany" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_feiqz" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_feixb" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_feiy" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_naoxguanyw" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_pajshensz" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_laonchidz" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_youyz" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_tangnb" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_tongf" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_zhitguz" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_jianzy" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_jinzb" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_leifshigjiey" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_gandjib" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_bainz" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_qinguany" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_shiwmoxguanjib" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_tangnbingswangmbingb" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_shenzjib" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_exingzhl" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_qita1" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_qita2" type="radio" value="1" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">1</span><input name="jb_qita3" type="radio" value="1" /><label></label></li>
            </ol>
        </td>
        <td>
            <ol>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_gaoxy" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_xinlsj" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_guanxb" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_xinlshic" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_manxzhiqguany" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_feiqz" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_feixb" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_feiy" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_naoxguanyw" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_pajshensz" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_laonchidz" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_youyz" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_tangnb" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_tongf" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_zhitguz" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_jianzy" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_jinzb" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_leifshigjiey" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_gandjib" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_bainz" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_qinguany" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_shiwmoxguanjib" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_tangnbingswangmbingb" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_shenzjib" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_exingzhl" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_qita1" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_qita2" type="radio" value="2" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">2</span><input name="jb_qita3" type="radio" value="2" /><label></label></li>
            </ol>
        </td>

        <td>
            <ol>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_gaoxy" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_xinlsj" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_guanxb" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_xinlshic" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_manxzhiqguany" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_feiqz" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_feixb" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_feiy" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_naoxguanyw" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_pajshensz" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_laonchidz" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_youyz" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_tangnb" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_tongf" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_zhitguz" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_jianzy" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_jinzb" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_leifshigjiey" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_gandjib" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_bainz" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_qinguany" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_shiwmoxguanjib" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_tangnbingswangmbingb" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_shenzjib" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_exingzhl" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_qita1" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_qita2" type="radio" value="3" /><label></label></li>
                <li><span style="width: 20px;display:inline-block;">3</span><input name="jb_qita3" type="radio" value="3" /><label></label></li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>评估员</td>
        <td colspan="3">
            <input class="input-text" name="jb_pingguy">
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <textarea name="jb_beiz" style="width: 97%;" class="input-text"
                      placeholder="填写备注信息"></textarea>
        </td>
    </tr>
</table>
