<table opt="PAzfqk" width="100%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
    <tr>
        <td>住房情况</td>
        <td>
            <ul style="list-style-type:none">
                <li><span style="width: 100px;display:inline-block;">1.廉租房</span>
                    <input name="zf_lianzf" type="radio" value="0" /><label>无</label>
                    <input name="zf_lianzf" type="radio" value="1" /><label>有</label>
                </li>
                <li><span style="width: 100px;display:inline-block;">2.租赁房</span>
                    <input name="zf_zhulf" type="radio" value="0" /><label>无</label>
                    <input name="zf_zhulf" type="radio" value="1" /><label>有</label>
                </li>
                <li><span style="width: 100px;display:inline-block;">3.经济适用房</span>
                    <input name="zf_shiyf" type="radio" value="0" /><label>无</label>
                    <input name="zf_shiyf" type="radio" value="1" /><label>有</label>
                    <input size="1" class="pingfen" name="zf_shiyingfnum"/>套</label>
                </li>
                <li><span style="width: 100px;display:inline-block;">4.商品房</span>
                    <input name="zf_shangpf" type="radio" value="0" /><label>无</label>
                    <input name="zf_shangpf" type="radio" value="1" /><label>有</label>
                    <input size="1" class="pingfen" name="zf_shangpinfnum"/>套</label>
                </li>
                <li><span style="width: 100px;display:inline-block;">5.农村自建房</span>
                    <input name="zf_zijf" type="radio" value="0" /><label>无</label>
                    <input name="zf_zijf" type="radio" value="1" /><label>有</label>
                    <input size="1" class="pingfen" name="zf_zijianfnum"/>套</label>

                </li>
                <li>
                    <span style="width: 100px;display:inline-block;">6.其他</span>
                    <input class="input-text" name="zf_qit">
                </li>
            </ul>
        </td>
    </tr>
    <tr><td>评估员</td>
        <td>
            <input class="input-text" name="zf_pingguy">
        </td>
    </tr>
</table>
