<div id="assessmentid" class="easyui-panel newRadio" opt="formcontentpanel"
     style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
     data-options="fit:true,border:false">
    <form method="post" opt="mainform">
        <input type="hidden" opt="jsondata" value="{{jsondata}}" style="width:0px">
        <input type="hidden" name="jja_id" value="{{dataall.jja_id}}">
        <input type="hidden" name="ss_id" value="{{dataall.ss_id}}">
        <input type="hidden" name="pg_id" value="{{dataall.pg_id}}">
        <fieldset style="width: 900px;margin: 0px auto;" opt="info0">
            <legend>
                <label opt="info0_shrinkage"><img opt="info0_img" src="img/reduction.png"/>用户基本信息</label>
            </legend>
            <table opt="info0_table" width="100%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
                <tr>
                    <td class="formtdtext">行政区划 :</td>
                    <td colspan="3">
                        <input type="hidden" opt="districtidval" value="{{dataall.districtid}}">
                        <input class="input-text" opt="districtid" style="width: 300px;" readonly>
                    </td>
                    <td rowspan="4" colspan="2" style="text-align: center;" >
                        <img src="img/noperson.gif" opt="personimg" alt="用户照片" height="120" width="120">
                    </td>
                </tr>
                <tr>
                    <td class="formtdtext">姓名 :</td>
                    <td>
                        <input class="input-text" type="text" name="name" opt="name" value="{{dataall.name}}" readonly>
                    </td>
                    <td class="formtdtext">身份证 :</td>
                    <td>
                        <input class="input-text" name="identityid" type="text" value="{{dataall.identityid}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="formtdtext">性别 :</td>
                    <td>
                        <input class="easyui-combobox" name="gender" opt="gender" value="{{dataall.gender}}" readonly
                               data-options=" loader:cj.getLoader('gender'), editable:false, valueField:'id', textField:'text' ">

                    </td>
                    <td class="formtdtext">出生年月 :</td>
                    <td>
                        <input opt="birthdate" name="birthd" class="easyui-datebox" value="{{dataall.birthd}}"
                               data-options="formatter:myformatter,parser:myparser" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="formtdtext">民族 :</td>
                    <td>
                        <input class="easyui-combobox" name="nation" opt="nation" value="{{dataall.nation}}" readonly
                               data-options=" loader:cj.getLoader('oldnation'), editable:false, valueField:'id', textField:'text' ">
                    </td>
                    <td class="formtdtext">文化程度 :</td>
                    <td>
                        <input class="easyui-combobox" name="culture"  opt="culture" value="{{dataall.culture}}" readonly
                               data-options=" loader:cj.getLoader('culture'), editable:false, valueField:'id', textField:'text' ">
                    </td>
                </tr>
            </table>
        </fieldset>

        <fieldset style="width: 900px;margin: 0px auto;" opt="info1">
            <legend>
                <label opt="info1_shrinkage"><img opt="info1_img" src="img/add.png"/>主要参数</label>
            </legend>
            <div style="display:none;height:0px;"  opt="info1_div">
                <div opt="info1_table" class="easyui-tabs" style="width:900px;display:none;height:550px;position: relative">
                    <div id="PAshzl" title="生活自理能力" style="padding:0px;" opt="info1_1"></div>
                    <div id="PAjjtj" title="经济条件" style="padding:0px;" opt="info1_2"></div>
                    <div id="PAjzhj" title="居住环境" style="padding:0px;" opt="info1_3"></div>
                    <div id="PArznl" title="认知能力" style="padding:0px;" opt="info1_4"></div>
                    <div id="PAnlqk" title="年龄情况" style="padding:0px;" opt="info1_5"></div>
                    <div id="PAtsgx" title="特殊贡献" style="padding:0px;" opt="info1_6"></div>
                    <div id="PAczqk" title="残障情况" style="padding:0px;" opt="info1_7"></div>
                    <div id="PAzfqk" title="住房情况" style="padding:0px;" opt="info1_8"></div>
                    <!--<div id="PAzdjb" title="重大疾病" style="padding:0px;" opt="info1_9"></div>-->
                </div>
            </div>
        </fieldset>

        <fieldset style="width: 900px;margin: 0px auto;" opt="result1">
            <legend>
                <label opt="result1_shrinkage"><img opt="result1_img" src="img/add.png"/>评估报告一:评估总分计算</label>
            </legend>
            <div style="display:none;height:0px;"  opt="result1_div">
                <table opt="result1_table" width="100%" style="display:none;margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
                <tr>
                    <td style="width: 90px;text-align: center" colspan="2">主要参数</td>
                    <td>评估分值</td>
                </tr>
                <tr>
                    <td style="text-align: center;">评估分值1</td>
                    <td style="text-align: center;">生活自理能力</td>
                    <td ><input size="1" class="pingfen" name="sum_sh_pingguf" value="{{dataall.sh_pingguf}}" readonly></td>
                </tr>
                <tr>
                    <td style="text-align: center;">评估分值2</td>
                    <td style="text-align: center;">经济条件</td>
                    <td ><input size="1" class="pingfen" name="sum_jj_pingguf" value="{{dataall.jj_pingguf}}" readonly></td>
                </tr>
                <tr>
                    <td style="text-align: center;">评估分值3</td>
                    <td style="text-align: center;">居住环境</td>
                    <td ><input size="1" class="pingfen" name="sum_jz_pingguf" value="{{dataall.jz_pingguf}}" readonly></td>
                </tr>
                <tr>
                    <td style="text-align: center;">附加分值1</td>
                    <td style="text-align: center;">认知能力</td>
                    <td ><input size="1" class="pingfen" name="sum_rz_pingguf" value="{{dataall.rz_pingguf}}" readonly></td>
                </tr>
                <tr>
                    <td style="text-align: center;">附加分值2</td>
                    <td style="text-align: center;">年龄情况</td>
                    <td ><input size="1" class="pingfen" name="sum_nl_pingguf" value="{{dataall.nl_pingguf}}" readonly></td>
                </tr>
                <tr>
                    <td style="text-align: center;">附加分值3</td>
                    <td style="text-align: center;">特殊贡献</td>
                    <td ><input size="1" class="pingfen" name="sum_gx_pingguf" value="{{dataall.gx_pingguf}}" readonly></td>
                </tr>
                <tr>
                    <td style="text-align: center;">评估总分</td>
                    <td style="text-align: center;">
                        <label>=评估分值1+评估分值2+评估分值3+附加分值1+附加分值2+附加分值3</label>
                    </td>
                    <td >
                        <input class="pingfen_zongfen" size="1" style="text-align:center" name="pinggusum"
                               value="{{dataall.pinggusum}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">建议服务标准</td>
                    <td colspan="2" style="text-align: center;">
                        <label>
                            <input name="standard" class="input-text" style="width: 30px" value="{{dataall.standard}}">小时
                        </label>
                    </td>
                </tr>
            </table>
            </div>
        </fieldset>

        <fieldset style="width: 900px;margin: 0px auto;" opt="result2">
            <legend>
                <label opt="result2_shrinkage"><img opt="result2_img" src="img/add.png"/>服务形式建议</label>
            </legend>
            <div style="display:none;height:0px;"  opt="result2_div">
                <div opt="result2_table" style="width:900px;display:none;height:2150px;"></div>
            </div>
        </fieldset>

        <fieldset style="width: 900px;margin: 0px auto;" opt="result3" name="result3">
            <legend>
                <label opt="result3_shrinkage"><img opt="result3_img" src="img/reduction.png"/>评估报告二:评估报告确认</label>
            </legend>
            <table opt="result3_table" width="100%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
            <tr>
                <td colspan="5" style="text-align: center;">评估表基本信息</td>
            </tr>
            <!--<tr>-->
            <!--<td colspan="2">评估表编号</td>-->
            <!--<td opt="pg_id"></td>-->
            <!--<td>完成日期</td>-->
            <!--<td opt="pingguenddate"></td>-->
            <!--</tr>-->
            <tr>
                <td rowspan="6" style="width: 30px;">评估确认员完成</td>
                <td style="width: 200px;">评估员姓名</td>
                <td style="width: 200px;"><input class="input-text" name="pinggy" value="{{dataall.pinggy}}" size="25"></td>
                <td rowspan="3" style="width: 150px;">确认完成</td>
                <td rowspan="3">
                    <ul style="list-style-type:none">
                        <li>首次评估<input type="radio" name="assesstype" value="0"><label></label></li>
                        <li>复检评估<input type="radio" name="assesstype" value="1"><label></label></li>
                        <li>变更评估<input type="radio" name="assesstype" value="2"><label></label></li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>联络电话</td>
                <td><input class="input-text" size="25" name="pingguyphone" value="{{pingguyphone}}"></td>
            </tr>
            <tr>
                <td>完成时间</td>
                <td><input size="25" name="finishdate" class="easyui-datebox" value="{{dataall.finishdate}}"
                           data-options="formatter:myformatter,parser:myparser"></td>
            </tr>
            <tr>
                <td>所属单位</td>
                <td colspan="3"><input class="input-text" style="width: 300px" name="pingguydept" value="{{dataall.pingguydept}}"></td>
            </tr>

            <tr>
                <td>评估分值</td>
                <td><input class="pingfen" style="width: 50px" opt="pinggusum" value="{{dataall.pinggusum}}"></td>
                <td>服务时间
                    <!--<input size="10" class="easyui-datebox" name="servicedate" value="{{servicedate}}">-->
                    <label>
                        <input name="servicetime" class="input-text" style="width: 30px" value="{{dataall.servicetime}}">小时
                    </label>
                </td>
                <td>
                    服务机构
                    <input type="hidden" opt="servicemgtval" value="{{dataall.jdep_id}}">
                    <input size="25" class="easyui-combobox" opt="servicemgt"
                           data-options="editable:true">
                    <div style="display: none" opt="servicepeople_div">
                        服务人员
                        <input type="hidden" opt="servicepeopleval" value="{{dataall.s_id}}">
                        <input size="25" class="easyui-combobox" opt="servicepeople"
                               data-options="editable:true">
                    </div>

                </td>
            </tr>

            <tr>
                <td>每月补助</td>
                <td colspan="3">
                    <!--<label style="float: left">-->
                         <input class="input-text" name="monthsubsidy" value="{{dataall.monthsubsidy}}">元
                    <!--</label>-->
                    <!--<label style="float: right;padding-right: 5px">
                        住院补助 :<input class="input-text" name="hospitalsubsidy" value="{{dataall.hospitalsubsidy}}">元
                    </label>-->
                </td>
            </tr>

            <tr>
                <td opt="sqjy">社区(村)意见</td>
                <td colspan="4">
                    <textarea class="input-text" style="width: 97%;height: 50px;" name="communityopinion">{{dataall.communityopinion}}</textarea>
                </td>
            </tr>
            <tr>
                <td opt="jdsc">街镇审查</td>
                <td colspan="4">
                    <textarea class="input-text" style="width: 97%;height: 50px;" name="streetreview" readonly>{{dataall.streetreview}}</textarea>
                    <input type="radio" name="shenghe" value="0"><label>符合评估标准</label>
                    <input type="radio" name="shenghe" value="1"><label>建议再次评估</label>
                    <!--<li style="margin-left: 20px; display: inline;"><input name="sh_jiel" type="radio" value="0" /><label>正常 </label></li>-->
                </td>
            </tr>
            <tr>
                <td opt="mzjsh">民政局审核</td>
                <td colspan="4">
                    <textarea class="input-text" style="width: 97%;height: 50px;" name="countyaudit" readonly>{{dataall.countyaudit}}</textarea>
                    <input type="radio" name="shengpi" value="0"><label>确认评估结果</label>
                    <input type="radio" name="shengpi" value="1"><label>要求再次评估</label>
                </td>
            </tr>
        </table>
        </fieldset>
    </form>
</div>



