<div opt="formcontentpanel" style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
     data-options="fit:true,border:false" class="easyui-panel">
<form opt="bigeventinfo" method="post" class="common-form" style="margin-top: 10px;">
    <table width="80%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
        <tr>
            <td class="formtdtext" >组织单位名称<label></label></td>
            <td>
                <input name="zl_name" style="width: 300px" class="easyui-validatebox input-text">
            </td>
            <!--<td rowspan="4" colspan="2" style="text-align: center">
                <img src="img/noperson.gif" width="150px" height="120px">
            </td>-->
            <td class="formtdtext" >活动名称<label></label></td>
            <td>
                <input name="activityname" style="width: 300px" class="input-text">
            </td>
        </tr>
        <tr>
            <td class="formtdtext" >活动地点<label></label></td>
            <td>
                <input name="activityaddress" style="width: 300px" class="input-text">
            </td>
            <td class="formtdtext" >活动日期<label></label></td>
            <td>
                <input name="starttime" class="easyui-datebox">
            </td>
        </tr>
        <tr>
            <td class="formtdtext" >参与人员<label></label></td>
            <td>
                <textarea name="participants" style="width: 300px" class="input-text"></textarea>
            </td>
            <td class="formtdtext" >工作人员<label></label></td>
            <td>
                <textarea name="personnel" style="width: 300px" class="input-text"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formtdtext" >注意事项<label></label></td>
            <td colspan="3">
                <textarea name="matter" style="width: 90%" class="input-text"></textarea>
            </td>
        </tr>
    </table>
</form>
</div>