<div  class="easyui-panel newRadio" opt="formcontentpanel"
      style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
      data-options="fit:true,border:false">
<div class="d-content" style="max-height: 579px; overflow: auto; height: auto;">
    <div class="dialog_content">
        <form opt="carecenterform" method="post">
            <table width="80%" style="margin: 0 auto;margin-top: 10px;" cellpadding="2" cellspacing="1" class="table_form">
                <tbody>

                <tr>
                    <th width="100">照料中心名称<span style="color: red">*</span>:</th>
                    <td><input type="text" name="name" class="input-text easyui-validatebox" >

                    </td>

                    <th>登记性质<span style="color: red">*</span>:</th>
                    <td><input type="text"
                               class="easyui-combobox lazy-combobox input-text"
                               name="register"
                               data-options="
                                required:true,
                                loader:cj.getLoader('ylregister'),
                                editable:false,
                                panelHeight:'auto',
                                valueField:'id',
                                textField:'text'"></td>
                </tr>
<!--                <tr>
                    <th width="100">机构编号 :</th>
                    <td>
                        <input type="text" name="serial_id" class="input-text easyui-validatebox" >
                    </td>

                    <th>机构管理ID :</th>
                    <td>
                        <input type="text" name="manage_id" class="input-text easyui-validatebox" >
                    </td>
                </tr>-->
                <tr>
                    <th>联系电话<span style="color: red">*</span>:</th>
                    <td><input type="text" name="phone" class="input-text easyui-validatebox"></td>

                    <th>联系人 :</th>
                    <td><input type="text" name="contact" class="input-text easyui-validatebox"></td>
                </tr>

                <tr>
                    <th>联系地址 :</th>
                    <td>
                        <input class="easyui-validatebox input-text" name="address">
                    </td>

                    <th>公交线路 :</th>
                    <td>
                        <input class="easyui-validatebox input-text" name="busline">
                    </td>
                </tr>
                <tr>
                    <th>地图经纬度 :</th>
                    <td>
                        <input class="easyui-validatebox input-text" name="coordinates">
                    </td>

                    <th>建筑面积 :</th>
                    <td>
                        <input class="easyui-validatebox input-text" name="buildarea">
                    </td>
                </tr>
                <tr>
                    <th>功能 :</th>
                    <td>
                        <input class="easyui-validatebox input-text" name="function">
                    </td>

                    <th>创办时间 :</th>
                    <td>
                        <input class="easyui-validatebox input-text" name="runtime">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</div>