<!--老年人查询-->
<style type="text/css">
    body{ font-size:14px;}
    input{ vertical-align:middle; margin:0; padding:0}
    .file-box{ position:relative;width:340px}
    .txt{ height:22px; border:1px solid #cdcdcd; width:150px;}
    .btn{ background-color:#FFF; border:1px solid #CDCDCD;height:24px; width:70px;}
    .btn:active {
        position: relative;
        top: 1px;
    }
    .file{ position:absolute; top:0; right:80px; height:24px; filter:alpha(opacity:0);opacity: 0;width:260px }
</style>
<div class="easyui-layout"  data-options="fit:true">
    <div data-options="region:'center'" data-options="fit:true">
        <table class="easyui-datagrid-noauto" opt="peopleinfoquery"
               data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               loadMsg:'',
               pagination:true">
            <thead>
            <tr>
                <th data-options="field:'ro',width:80,align:'center',formatter:function(value,rowData,rowIndex)
                    {
                        var str='<div></div>';
                        str=$(str).append('<a action=&quot;delete&quot;title=&quot;删除&quot;><span><span class=&quot;icon-del-pl15&quot;></span></span></a>');
                        return str.html();
                    }"><a href="javascript:void(0)" opt="addfield" title="添加字段"><span><span class="icon-add-field"></span></span></a>&nbsp;&nbsp;操作</th>
                <th data-options="field:'name',width:90,align:'center',
                formatter:function(v,r,i)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                    return str.html();
                }">姓名</th>
                <th data-options="field:'gender',width:60,align:'center',formatter: cj.enumFormatter('gender')">性别</th>
                <th data-options="field:'nation',width:60,align:'center',formatter: cj.enumFormatter('oldnation')">名族</th>
                <th data-options="field:'age',width:40,align:'center',hidden:true">年龄</th>
                <th data-options="field:'birthd',width:120,align:'center'">出生年月</th>
                <th data-options="field:'identityid',width:190,align:'center'">身份证号</th>
                <th data-options="field:'type',width:100,align:'center',formatter: cj.enumFormatter('oldtype')">人员类别</th>
                <th data-options="field:'address',width:200,align:'center'">家庭住址</th>
                <th data-options="field:'registration',width:190,align:'center'">户籍地</th>
                <th data-options="field:'mobilephone',width:120,align:'center'">手机号码</th>
                <th data-options="field:'live',width:100,align:'center',hidden:true">居住环境</th>
                <th data-options="field:'marriage',width:100,align:'center',hidden:true">婚姻状况</th>
                <th data-options="field:'economy',width:100,align:'center',hidden:true">家庭经济条件</th>
                <th data-options="field:'vocation',width:100,align:'center',hidden:true">曾从事职业</th>
                <th data-options="field:'culture',width:100,align:'center',hidden:true">文化程度</th>
                <th data-options="field:'retirewage',width:100,align:'center',hidden:true">退休工资</th>
                <th data-options="field:'telephone',width:100,align:'center',hidden:true">住宅电话</th>
                <th data-options="field:'hjj_hjj',width:100,align:'center',hidden:true">老人呼叫机</th>
            </tr>
            </thead>
        </table>

        <div tb style="padding-bottom: 0px">
            <table cellspacing="0" cellpadding="0" style="float: right">
                <tr>
                    <td>
                        姓名 :
                        <input opt="name" type="text" style="width:114px">
                    </td>

                    <td>
                        身份证 :
                        <input opt="identityid" type="text">
                    </td>

                    <td>
                        年龄：
                        <input style="width: 50px;text-align: center" opt="minage"> --
                        <input style="width: 50px;text-align: center" opt="maxage">岁
                    </td>

                    <td>
                        <span class="searchbtn" >&nbsp;</span>
                    </td>

                    <td>
                        <!--&nbsp;&nbsp;-->
                        <input class="highcharstoolbarbutton" type="button" opt="exportexcel" value="导出Excel">
                        <!--<input class="highcharstoolbarbutton" type="button" opt="importexcel" value="导入">-->

                    </td>
                </tr>
            </table>
            <div class="clear"></div>
            </div>
        </div>

    </div>
</div>
<input type="file" style="display: none" opt="fileInput" />

