<style>
    .on_line {
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        text-align: center;
        border-bottom: 1px rgba(62, 62, 62, 0.69) solid;
    }
</style>
<div  class="easyui-panel newRadio" opt="formcontentpanel"
      style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
      data-options="fit:true,border:false">
    <form opt="highyearoldform" method="post">
        <table width="80%" style="margin: 0 auto;margin-top: 10px;" cellpadding="2" cellspacing="1" class="table_form">
            <tr>
                <td class="formtdtext" style="width: 100px">行政区划</td>
                <td colspan="3">
                    <input style="width: 300px;" opt="districtid" class="easyui-combobox"
                           data-options="required:true, valueField:''">
                </td>
            </tr>
            <tr>
                <td class="formtdtext" style="width: 100px">姓名<span style="color: red">*</span></td>
                <td style="width: 350px">
                    <input class="easyui-validatebox  input-text" name="name" required="true" missingMessage="不能为空"
                           data-options="required:true">
                </td>
                <td class="formtdtext" style="width: 100px">身份证号码<span style="color: red">*</span></td>
                <td>
                    <!--<input name="identityid" class="input-text" style="width: 159px">-->
                    <input opt="identityid" name="identityid" class="easyui-validatebox input-text" style="width: 159px"
                           data-options="required:true,
                                   invalidMessage:'请输入正确的身份证号',
                                   validType:'identityid'">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">性别</td>
                <td>
                    <input opt="gender" class="easyui-combobox "
                           name="gender"
                           data-options="
                                loader:cj.getLoader('gender'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
                </td>
                <td class="formtdtext">出生年月</td>
                <td>
                    <input opt="birthdate" class="easyui-datebox" name="birthd" data-options="formatter:myformatter,parser:myparser" id="birthd">
                    <span><input opt="tip_age" name="age" class="on_line" size="2">岁</span>
                </td>

            </tr>
            <tr>

                <td class="formtdtext">婚姻状况</td>
                <td opt="marriage">
                    <input type="radio" name="marriage" value="0"><label>未婚</label>
                    <input type="radio" name="marriage" value="1"><label>已婚</label>
                    <input type="radio" name="marriage" value="2"><label>离婚</label>
                    <input type="radio" name="marriage" value="3"><label>分居</label>
                    <input type="radio" name="marriage" value="4"><label>丧偶</label>
                </td>
                <td class="formtdtext">文化程度</td>
                <td opt="culture">
                    <input type="radio" name="culture" value="0"><label>文盲</label>
                    <input type="radio" name="culture" value="1"><label>小学</label>
                    <input type="radio" name="culture" value="2"><label>初中</label>
                    <input type="radio" name="culture" value="3"><label>高中</label>
                    <input type="radio" name="culture" value="4"><label>大专以上</label>
                    <input type="radio" name="culture" value="5"><label>其他</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">家庭地址</td>
                <td>
                    <input class="input-text" name="address" style="width: 300px;">
                </td>
                <td class="formtdtext">电话</td>
                <td><input class="input-text easyui-validatebox" name="telephone" data-options="validType:['maxLength[25]']"></td>
            </tr>
            <tr>
                <td class="formtdtext">原职业</td>
                <td>
                    <input class="input-text" name="vocation">
                </td>
                <td class="formtdtext">业余爱好</td>
                <td><input class="input-text" name="hobby"></td>
            </tr>
            <tr>
                <td class="formtdtext">身体状况</td>
                <td colspan="3" opt="healthy">
                    <input type="radio" name="healthy" value="0"><label>健康</label>
                    <input type="radio" name="healthy" value="1"><label>一般</label>
                    <input type="radio" name="healthy" value="2"><label>体弱多病</label>
                    <input type="radio" name="healthy" value="3"><label>其他</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">子女情况</td>
                <td colspan="3" opt="children">
                    <input type="checkbox" name="son" value="1"><label>儿子</label><input name="son_num" class="on_line" size="10">
                    <input type="checkbox" name="daughter" value="1"><label>女儿</label><input name="daughter_num" class="on_line" size="10">
                    <input type="checkbox" name="grandson" value="1"><label>孙(女)</label><input name="grandson_num" class="on_line" size="10">
                    <input type="checkbox" name="other" value="1"><label>其他</label><input name="other_num" class="on_line" size="10">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">居住环境</td>
                <td colspan="3" opt="living">
                    <input type="radio" name="living" value="0"><label>独居</label>
                    <input type="radio" name="living" value="1"><label>配偶同住</label>
                    <input type="radio" name="living" value="2"><label>子女同住</label>
                    <input type="radio" name="living" value="3"><label>第三代同住</label>
                    <input type="radio" name="living" value="4"><label>配偶子女同住</label>
                    <input type="radio" name="living" value="5"><label>其他</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">和亲人见面<br>或电话联系</td>
                <td colspan="3">
                    <input type="radio" name="contactdates" value="0"><label>每天</label>
                    <input type="radio" name="contactdates" value="1"><label>隔天</label>
                    <input type="radio" name="contactdates" value="2"><label>2、3天</label>
                    <input type="radio" name="contactdates" value="3"><label>一星期</label>
                    <input type="radio" name="contactdates" value="4"><label>其他</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">第一联系人电话</td>
                <td>
                    <input class="input-text easyui-validatebox" name="contactphone1" data-options="validType:['maxLength[25]']">
                </td>
                <td class="formtdtext">第二联系人电话</td>
                <td>
                    <input class="input-text easyui-validatebox" name="contactphone2" data-options="validType:['maxLength[25]']">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">经济来源</td>
                <td colspan="3">
                    <input type="radio" name="economicsources" value="0"><label>子女提供</label>
                    <input type="radio" name="economicsources" value="1"><label>退休工资</label>
                    <input type="radio" name="economicsources" value="2"><label>拆迁补偿</label>
                    <input type="radio" name="economicsources" value="3"><label>养老保险</label>
                    <input type="radio" name="economicsources" value="4"><label>其他</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">医疗费用</td>
                <td colspan="3">
                    <input type="radio" name="medical" value="0"><label>公费</label>
                    <input type="radio" name="medical" value="1"><label>子女</label>
                    <input type="radio" name="medical" value="2"><label>合作医疗</label>
                    <input type="radio" name="medical" value="3"><label>商业医疗</label>
                    <input type="radio" name="medical" value="4"><label>其他</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">您最需要的服务</td>
                <td colspan="3">
                    <input type="radio" name="need" value="0"><label>生活需求</label>
                    <input type="radio" name="need" value="1"><label>精神需求</label>
                    <input type="radio" name="need" value="2"><label>健康需求</label>
                    <input type="radio" name="need" value="3"><label>其他</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">您认为晚年<br>生活最缺什么</td>
                <td colspan="3">
                    <!--<input class="input-text">-->
                    <textarea class="input-text" name="least" style="width: 97%"></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>

