<form opt="bigeventinfo">
    <div opt="">
        <table align="center">
            <tbody>
            <tr>
                <td>上访日期：</td>
                <td colspan="5">
                    <input name="recordtime" style="width: 300px" class="easyui-validatebox">
                </td>
                <td rowspan="4" colspan="2" style="text-align: center">
                    <img src="img/noperson.gif" width="150px" height="120px">
                </td>
            </tr>

            <tr>
                <td>人员：</td>
                <td>
                    <textarea name="recondpeople" style="width: 300px"></textarea>
                </td>
            </tr>
            <tr>
                <td>上门工作人员：</td>
                <td>
                    <textarea name="recondpersonnel" style="width: 300px"></textarea>
                </td>
            </tr>
            <tr>
                <td>内容：</td>
                <td>
                    <textarea name="recordcontent" style="width: 300px"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>