<!--老人注销查询-->
<div class="easyui-layout"  data-options="fit:true">
    <div data-options="region:'center'" data-options="fit:true">
        <table class="easyui-datagrid-noauto" opt="peopleinfoquery"
               data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               fitColumns:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               loadMsg:'',
               striped:true,
               pagination:true">
            <thead>
            <tr>
                <th data-options="field:'name',width:80">姓名</th>
                <th data-options="field:'identityid',width:180">身份证号</th>
                <th data-options="field:'address',width:180">家庭地址</th>
                <th data-options="field:'hospital_days',width:60">住院天数(/天)</th>
                <th data-options="field:'subsidy_money',width:127">补助金额(/元)</th>
            </tr>
            </thead>
        </table>

        <div tb style="padding-bottom: 0px">
            <div class="highcharstoolbar">&nbsp;&nbsp;查询条件</div>
                <div style="border: 1px solid rgba(128, 176, 79, 0.12);padding: 8px;padding-top: 2px;padding-bottom: 25px;">
                    <table cellspacing="0" cellpadding="0" style="float: right;padding-bottom: 3px">
                    <tr>
                        <td>
                            <span>
                                年份 :
                                <a href="javascript:void(0)" opt="yeardel">< <</a>
                                <input opt="yearvalue" size="5" style="text-align: center">年
                                <a href="javascript:void(0)" opt="yearadd">> ></a>
                            </span>
                            &nbsp;&nbsp;
                        </td>

                        <td>
                            姓名 :
                            <input opt="name" type="text" size="10">
                            &nbsp;&nbsp;
                        </td>

                        <td>
                            身份证 :
                            <input opt="identityid" type="text">
                        </td>

                        <td>
                            <span class="searchbtn" >&nbsp;</span>
                        </td>

                    </tr>
                </table>
                </div>
            </div>
        </div>

    </div>
</div>




