<!--住院补助-->
<div  class="easyui-panel newRadio" opt="formcontentpanel"
      style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
      data-options="fit:true,border:false">
    <form method="post" opt="hospitalform">
        <input type="hidden" name="jja_id">
        <table opt="hospital_table" width="80%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
            <tr>
                <td class="formtdtext" style="width: 100px">申请人姓名</td>
                <td style="width: 350px">
                    <input class="easyui-validatebox  input-text" name="name">
                </td>
                <td class="formtdtext">身份证号码</td>
                <td>
                    <input opt="identityid" name="identityid" class="easyui-combobox input-text"
                           data-options="editable:true,width:167">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">性别</td>
                <td>
                    <input opt="gender" class="easyui-combobox"
                           name="gender"
                           data-options="
                                        loader:cj.getLoader('gender'),
                                        editable:false,
                                        width:167,
                                        valueField:'id',
                                        textField:'text'">
                </td>
                <td class="formtdtext">民族</td>
                <td>
                    <input name="nation" class="easyui-combobox"
                           data-options="
                                        loader:cj.getLoader('oldnation'),
                                        editable:false,
                                        width:167,
                                        valueField:'id',
                                        textField:'text'">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">家庭人口数</td>
                <td style="width: 350px;">
                    <input class="easyui-validatebox  input-text" name="familynum">
                </td>

                <td class="formtdtext">宅电</td>
                <td>
                    <input class="easyui-validatebox  input-text" name="telephone">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">家庭详细住址</td>
                <td>
                    <input class="input-text" name="address" style="width: 300px;">
                </td>

                <td class="formtdtext">低保证编号</td>
                <td>
                    <input class="easyui-validatebox  input-text" name="allowanceid">
                </td>
            </tr>
            <tr>

                <td class="formtdtext">生活自理能力</td>
                <td>
                    <input type="radio" name="life_ability" value="0"><label>自理困难</label>
                    <input type="radio" name="life_ability" value="1"><label>长期卧床不起</label>
                    <input type="radio" name="life_ability" value="2"><label>正常</label>
                </td>
                <td class="formtdtext">居住类别</td>
                <td>
                    <input type="radio" name="live_type" value="0"><label>有子女独居</label>
                    <input type="radio" name="live_type" value="1"><label>孤老</label>
                    <input type="radio" name="live_type" value="2"><label>纯老家庭</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">补助标准40元/天</td>
                <td>
                    住院天数 :<input class="input-text" style="width: 70px;" name="hospital_days">,
                    合计补助金额 :<input class="input-text" style="width: 70px;" name="subsidy_money">元
                </td>
                <td class="formtdtext">类别</td>
                <td>
                    <input type="radio" name="old_type" value="0"><label>困难老年人</label>
                    <input type="radio" name="old_type" value="1"><label>特殊贡献老年人</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext" opt="hospital_desc">住院情况</td>
                <td colspan="3">
                    <textarea class="input-text" style="width: 97%;height: 50px;" name="hospital_desc"></textarea>
                </td>
            </tr>
            <tr>
                <td class="formtdtext" opt="hcommunityopinion">社区意见</td>
                <td colspan="3">
                    <textarea class="input-text" style="width: 97%;height: 50px;" name="hcommunityopinion"></textarea>
                </td>
            </tr>
            <tr>
                <td class="formtdtext" opt="hstreetreview">所在镇、街街道审核意见</td>
                <td colspan="3">
                    <textarea class="input-text" style="width: 97%;height: 50px;" name="hstreetreview"></textarea>
                    <input type="radio" name="shenghe" value="0"><label>符合注销条件</label>
                    <input type="radio" name="shenghe" value="1"><label>建议重新注销</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext" opt="hcountyaudit">民政局审批意见</td>
                <td colspan="3">
                    <textarea class="input-text" style="width: 97%;height: 50px;" name="hcountyaudit"></textarea>
                    <input type="radio" name="shengpi" value="0"><label>确认注销结果</label>
                    <input type="radio" name="shengpi" value="1"><label>要求重新注销</label>
                </td>
            </tr>
        </table>
    </form>
</div>