<!--老人注销查询-->
<div class="easyui-layout"  data-options="fit:true">
    <div data-options="region:'center'" data-options="fit:true">
        <table class="easyui-datagrid-noauto" opt="peopleinfoquery"
               data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               fitColumns:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               loadMsg:'',
               striped:true,
               pagination:true">
            <thead>
            <tr>
                <th data-options="field:'lr_id',hidden:true" ></th>
                <th data-options="field:'ro',width:70,align:'center',formatter:function(value,rowData,rowIndex)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;zybzdealwith&quot;title=&quot;住院补助处理&quot;><span><span class=&quot;icon-add-pl16&quot;></span></span></a>');
                    return str.html();
                }">操作</th>
                <th data-options="field:'aulevel',width:100,
                    formatter: function(value,row,index){
                        if(value == '4'){
                            return approvalProcessService[1]
                        }else if(value == '5'){
                            return approvalProcessService[2]
                        }else {
                            return approvalProcessService[value]
                        }

                        }">状态
                </th>
                <th data-options="field:'auflag',width:120">流程信息</th>
                <th data-options="field:'audesc',width:180">处理意见</th>
                <th data-options="field:'messagebrief',width:340,align:'left',
                    formatter:function(v,r,i)
                    {
                        var str='<div></div>';
                        str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                        return str.html();
                    }">人员信息
                </th>
                <th data-options="field:'auuser',width:127">办理人</th>
                <th data-options="field:'bstime',width:230">时间</th>
            </tr>
            </thead>
        </table>

        <div tb>
            <table cellspacing="0" cellpadding="0" style="float: right">
                <tr>

                    <td><label class="gray7">搜索条件:</label></td>

                    <td style="width: 200px;text-align: right">
                        <input opt="name" class="easyui-searchbox" data-options="prompt:'姓名',iconCls:'icon-log'"
                               type="keyword" style="width:200px" >
                    </td>

                    <td style="width: 200px;text-align: right">
                        <input opt="identityid" class="easyui-searchbox" data-options="prompt:'身份证',iconCls:'icon-log'"
                               type="keyword" style="width:200px" >
                    </td>

                    <td>
                        <span class="searchbtn" >&nbsp;</span>
                    </td>

                </tr>
            </table>
            <div class="clear"></div>
        </div>

    </div>
</div>




