<div opt="formcontentpanel" style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
     data-options="fit:true,border:false" class="easyui-panel">
    <form opt="carecenterform" method="post" class="common-form" style="margin-top: 10px;">
        <table width="80%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
            <tr>
                <td class="formtdtext" >照料中心名称<label></label></td>
                <td>
                    <input name="name" class="input-text">
                </td>
                <td class="formtdtext">登记性质<label></label></td>
                <td>
                    <input name="register" class="input-text">
                </td>
                <td class="formtdtext">联系电话<label></label></td>
                <td>
                    <input name="phone" class="input-text">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">联系人<label></label></td>
                <td>
                    <input name="contact" class="input-text">
                </td>
                <td class="formtdtext">联系地址<label></label></td>
                <td>
                    <input name="address" class="input-text">
                </td>
                <td class="formtdtext">公交线路<label></label></td>
                <td>
                    <input name="busline" class="input-text">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">地图经纬度<label></label></td>
                <td>
                    <input name="coordinates" class="input-text">
                </td>
                <td class="formtdtext">建筑面积<label></label></td>
                <td>
                    <input name="buildarea" class="input-text">
                </td>
                <td class="formtdtext">开办时间<label></label></td>
                <td>
                    <input name="runtime" class="easyui-datebox input-text">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">功能<label></label></td>
                <td colspan="5">
                    <textarea name="function" style="width: 90%" class="input-text"></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>

