<div  class="easyui-panel" opt="formcontentpanel" style="overflow-y: scroll;" data-options="fit:true,border:false">
    <form opt="pensionform" class="common-form" method="post">
        <fieldset>
            <legend>居家养老服务申请</legend>
            <div>
                <input type="hidden" name="lr_id">
                <table class="formtable">

                    <tr>
                        <td class="formtdtext" style="width: 100px">姓名<span style="color: red">*</span></td>
                        <td style="width: 350px"><input class="easyui-validatebox  input-text" name="name" data-options="required:true"></td>
                        <td class="formtdtext" style="width: 100px">身份证号码<span style="color: red">*</span></td>
                        <td><input opt="identityid" name="identityid" class="easyui-validatebox  input-text"
                                   data-options="required:true,invalidMessage:'请输入正确的身份证号',validType:'identityid'" id="identityid"></td>
                    </tr>
                    <tr>
                        <td class="formtdtext">性别</td>
                        <td>
                            <input opt="gender" class="easyui-combobox "
                                   name="gender"
                                   data-options="
                                loader:cj.getLoader('gender'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
            ">
                        </td>
                        <td class="formtdtext">出生年月</td>
                        <td><input opt="birthdate" class="easyui-datebox" name="birthd" data-options="formatter:myformatter,parser:myparser" id="birthd"></td>
                    </tr>
                    <tr>

                        <td class="formtdtext">民族</td>
                        <td>
                            <input class="easyui-combobox"
                                   opt="nation"
                                   name="nation"
                                   data-options=" loader: cj.getLoader('nation'), mode: 'remote', editable:false, valueField:'id', textField:'text' "> </td>
                        <td class="formtdtext">文化程度</td>
                        <td>
                            <input type="radio" name="vehicle" value="Bike">文盲
                            <input type="radio" name="vehicle" value="Car">略识字
                            <input type="radio" name="vehicle" value="Bike">能读字,最高学历
                        </td>
                    </tr>
                    <tr>
                        <td class="formtdtext">籍贯</td>
                        <td>
                            <input name="registration" class="input-text"><a opt="getjiguan">获得默认籍贯</a>
                        </td>
                        <td class="formtdtext">婚姻状况</td>
                        <td>
                            <input type="radio" name="marriage" value="Bike">未婚
                            <input type="radio" name="marriage" value="Car">已婚
                            <input type="radio" name="marriage" value="Bike">丧偶
                            <input type="radio" name="marriage" value="Bike">离婚
                        </td>
                    </tr>
                    <tr>

                        <td class="formtdtext">居住</td>
                        <td colspan="3" opt="liveplace">
                            <!--<input type="radio" name="live" value="Bike">与子女同住
                            <input type="radio" name="live" value="Car">与亲友同住
                            <input type="radio" name="live" value="Bike">与配偶同住
                            <input type="radio" name="live" value="Bike">独居-->
                        </td>
                    </tr>
                    <tr>

                        <td class="formtdtext">经济条件</td>
                        <td colspan="3" opt="hyfwjingji">
                            <!--<input type="radio" name="economy" value="Bike">低保 特困职工
                            <input type="radio" name="economy" value="Car">低保边缘户
                            <input type="radio" name="economy" value="Bike">低收入
                            <input type="radio" name="economy" value="Bike">无退休工资
                            <input type="radio" name="economy" value="Bike">有退休工资
                            <input type="radio" name="economy" value="Bike">特殊贡献-->
                        </td>
                    </tr>
                    <tr>

                        <td class="formtdtext">年龄</td>
                        <td colspan="3">
                            <input type="radio" name="agerange" value="Bike">80岁以下
                            <input type="radio" name="agerange" value="Car">80-90岁
                            <input type="radio" name="agerange" value="Bike">90-100岁
                            <input type="radio" name="agerange" value="Bike">100岁以上
                        </td>
                    </tr>
                    <tr>

                        <td class="formtdtext">户籍所在地</td>
                        <td colspan="3">
                            <input class="input-text" name="registration" opt="registration" style="width: 300px;">

                        </td>
                    </tr>
                    <tr>

                        <td class="formtdtext">居住地址</td>
                        <td colspan="3">
                            <input class="input-text" name="address" opt="address" style="width: 300px;">
                        </td>
                    </tr>
                    <tr>
                        <td class="formtdtext" rowspan="2">邮编</td>
                        <td rowspan="2"><input class="input-text"></td>
                        <td class="formtdtext">住宅电话</td>
                        <td><input class="input-text" name="telephone"></td>
                    </tr>
                    <tr>
                        <td class="formtdtext">手机</td>
                        <td><input class="input-text" name="mobilephone"></td>
                    </tr>
                    <tr>
                        <td class="formtdtext">代理人姓名</td>
                        <td><input class="input-text"></td>
                        <td class="formtdtext">与申请人关系</td>
                        <td><input class="input-text"></td>
                    </tr>
                    <tr>
                        <td class="formtdtext">代理人地址</td>
                        <td colspan="3"><input class="input-text"></td>
                    </tr>
                    <tr>
                        <td class="formtdtext">电话</td>
                        <td><input class="input-text"></td>
                        <td class="formtdtext">手机</td>
                        <td><input class="input-text"></td>
                    </tr>
                </table>

            </div>
        </fieldset>


    </form>
</div>

