<!--评估审核表-->
<table opt="paaudit" data-options="
               method:'post',
               toolbar:'#tb_paaudit',
               fit:true,
               fitColumns:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               striped:true,
               pagination:true,
               loadMsg:''">
    <thead>
    <tr>
        <th data-options="field:'lr_id',hidden:true">老人表主键</th>
        <th data-options="field:'ro',width:100,align:'center',formatter:function(value,rowData,rowIndex)
            {
                var str='<div></div>';
                str=$(str).append('<a action=&quot;dealwith&quot;title=&quot;处理&quot;><span><span class=&quot;icon-add-pl16&quot;></span></span></a>');
                return str.html();
            }">操作</th>
        <th data-options="field:'aulevel',width:100,
        formatter: function(value,row,index){
            if(value == '4'){
                return approvalProcessService[1]
            }else if(value == '5'){
                return approvalProcessService[2]
            }else {
                return approvalProcessService[value]
            }

			}">状态</th>
        <!--if(value == -1){
                    return approvalProcessService[4]
                }else{
                    return approvalProcessService[value]
                }-->
        <th data-options="field:'auflag',width:100">流程信息</th>
        <th data-options="field:'audesc',width:180">处理意见</th>
        <th data-options="field:'messagebrief',width:340,align:'left',
                formatter:function(v,r,i)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                    return str.html();
                }">人员信息</th>
        <!--<th data-options="field:'name',width:127">姓名</th>
        <th data-options="field:'identityid',width:210">身份证</th>
        <th data-options="field:'gender',width:74,
        formatter: function(value,row,index){
                return getGender[value]
			}">性别</th>-->
        <th data-options="field:'auuser',width:127">办理人</th>
        <!--<th data-options="field:'bsnyue',width:127">业务期</th>-->
        <th data-options="field:'bstime',width:230">时间</th>

    </tr>
    </thead>
</table>
<div tb style="padding-bottom: 0px">
    <div class="highcharstoolbar">&nbsp;&nbsp;查询条件</div>
    <div style="border: 1px solid rgba(128, 176, 79, 0.12);padding: 8px;padding-top: 2px;padding-bottom: 25px;">
        <table cellspacing="0" cellpadding="0" style="float: right;padding-bottom: 3px">
            <tr>

                <td>
                    姓名 :
                    <input opt="name" type="text" size="10">
                    &nbsp;&nbsp;
                </td>

                <td>
                    身份证 :
                    <input opt="identityid" type="text">
                </td>

                <td>
                    <span class="searchbtn" >&nbsp;</span>
                </td>

            </tr>
        </table>
    </div>
</div>



