<!--处理审核信息弹出框-->
<SCRIPT type="text/javascript">
    /*function textdown(e) {
        textevent = e;
        if (textevent.keyCode == 8) {
            return;
        }
        if (document.getElementById('textarea').value.length >= 100) {
            if (!document.all) {
                textevent.preventDefault();
            } else {
                textevent.returnValue = false;
            }
        }
    }
    function textup() {
        var s = document.getElementById('textarea').value;
        //判断ID为text的文本区域字数是否超过100个
        if (s.length > 100) {
            document.getElementById('textarea').value = s.substring(0, 100);
        }
    }*/
</SCRIPT>
<div class="d-content" style="max-height: 579px; overflow: auto; height: auto;">
    <div class="dialog_content">
        <form opt="ppauditdlg" method="post">
            <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
                <tbody>
                    <!--<tr>
                        <th>审核日期 :</th>
                        <td><input type="text" name="bstime" class="input-text easyui-datebox" disabled="true"></td>
                    </tr>-->
                    <tr>
                        <th>处理人 :</th>
                        <td><input name="auuser" type="text" class="input-text" disabled="true"></td>
                    </tr>
                    <tr>
                        <th>审核结果 :</th>
                        <td>
                            <input  name="auflag" value="通过" type="radio" checked>通过
                            <input  name="auflag" value="不通过" type="radio">不通过
                        </td>
                    </tr>
                    <tr>
                        <td id="opinion" opt="opinion" colspan="2" >
                            <textarea name="audesc" style="position: relative;width: 95%"></textarea>
                            <!--<input class="easyui-searchbox" data-options="prompt:'姓名'"
                                    style="width: 380px;height: 100px" >-->
                            <!--<textarea name="audesc" style="position: relative;width: 95%" onKeyDown="textdown(event)"
                                      onKeyUp="textup()" onfocus="if(value=='意见输入(限100字)...'){value=''}"
                                      onblur="if (value ==''){value='意见输入(限100字)...'}">意见输入(限100字)...</textarea>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

