<!--评估审核表-->
<table opt="paaudit" data-options="
               method:'post',
               toolbar:'#tb_paaudit',
               fit:true,
               fitColumns:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               pagination:true,
               loadMsg:''">
    <thead>
    <tr>
        <th data-options="field:'lr_id',hidden:true">老人表主键</th>
        <th data-options="field:'ro',width:100,align:'center',formatter:function(value,rowData,rowIndex)
            {
                var str='<div></div>';
                str=$(str).append('<a action=&quot;dealwith&quot;  class=&quot;opiconbg&quot;><span><span class=&quot;icon-add-pl16&quot;>处理</span></span></a>');
                return str.html();
            }">操作</th>
        <th data-options="field:'aulevel',width:100,
        formatter: function(value,row,index){
            if(value == '4'){
                return approvalProcessService[1]
            }else if(value == '5'){
                return approvalProcessService[2]
            }else {
                return approvalProcessService[value]
            }

			}">状态</th>
        <!--if(value == -1){
                    return approvalProcessService[4]
                }else{
                    return approvalProcessService[value]
                }-->
        <th data-options="field:'auflag',width:100">流程信息</th>
        <th data-options="field:'audesc',width:180">处理意见</th>
        <th data-options="field:'messagebrief',width:340,align:'left',
                formatter:function(v,r,i)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                    return str.html();
                }">人员信息</th>
        <!--<th data-options="field:'name',width:127">姓名</th>
        <th data-options="field:'identityid',width:210">身份证</th>
        <th data-options="field:'gender',width:74,
        formatter: function(value,row,index){
                return getGender[value]
			}">性别</th>-->
        <th data-options="field:'auuser',width:127">办理人</th>
        <!--<th data-options="field:'bsnyue',width:127">业务期</th>-->
        <th data-options="field:'bstime',width:230">时间</th>

    </tr>
    </thead>
</table>
<div id="tb_paaudit">
    <a opt="operationlog" class="easyui-linkbutton" iconCls="icon-log" plain="true">操作日志</a>
</div>


