<!--老年人信息-->
<div  class="easyui-panel newRadio" opt="pensioneditformpanel"
      style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
      data-options="fit:true,border:false">
<form opt="pensionform" method="post">
<fieldset style="width: 900px;margin: 0px auto">
    <legend>老年人基本信息</legend>
    <div style="width: 900px;position: relative;margin: 0px auto" region="center">
        <input type="hidden" name="lr_id">
        <table class="formtable" style="width: 900px" readonly=true>
            <tr>
                <td class="formtdtext"  style="width: 100px">行政区划<span style="color: red">*</span></td>
                <td colspan="5">
                    <input class="easyui-combotree"  opt="districtid" data-options="required:true, valueField:'divisionpath'"
                           style="width: 300px;"  name="districtid">
                </td>
                <td rowspan="4" colspan="2" style="text-align: center">
                    <img name="pensionimgpath" src="img/noperson.gif" value="" opt="personimg" alt="用户照片" width="150px" height="120px">
                    <input name ="pensionimgpath" type="hidden">
                </td>
            </tr>
            <tr>
                <td class="formtdtext" style="width: 100px">姓名<span style="color: red">*</span></td>
                <td><input class="easyui-validatebox" name="name" data-options="required:true"></td>
                <td class="formtdtext">身份证<span style="color: red">*</span></td>
                <td><input opt="identityid" name="identityid" class="easyui-validatebox" data-options="required:true,invalidMessage:'请输入正确的身份证号',validType:'identityid'" id="identityid"></td>
            </tr>
            <tr>
                <td class="formtdtext">性别</td>
                <td>
                    <input opt="gender" class="easyui-combobox lazy-combobox"
                           name="gender"
                           data-options="
                                loader:cj.getLoader('gender'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
            ">
                </td>
                <td class="formtdtext">年龄</td>
                <td><input opt="age" class="easyui-validatebox,field:'age'" name="age"></td>
            </tr>
            <tr>
                <td class="formtdtext">出生年月</td>
                <td><input opt="birthdate" class="easyui-datebox" name="birthd" data-options="formatter:myformatter,parser:myparser" id="birthd"></td>
                <td class="formtdtext">民族</td>
                <td>
                    <input class="easyui-combobox"
                           opt="nation"
                           name="nation"
                           data-options="
                                loader: cj.getLoader('NATION'),
                                mode: 'remote',
                                editable:false,
                                valueField:'id',
                                textField:'text'
            "> </td>
            </tr>
        </table>
        <table class="formtable" style="width: 900px">
            <tr>
                <td class="formtdtext">家庭住址</td>
                <td colspan="3"><input class="easyui-validatebox" name="address" style="width: 300px"></td>
                <td class="formtdtext">人员类型</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           opt="type"
                           name="type"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('oldtype'),
                                editable:false,
                                valueField:'id',
                                textField:'text',
            ">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">户籍地</td>
                <td colspan="5"><input class="easyui-validatebox" name="registration" style="width: 300px"></td>
            </tr>
            <tr>
                <td class="formtdtext">居住环境</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="live"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('liveplace'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">婚姻状况</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="marriage"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('marriage'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">家庭经济条件</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="economy"
                           style="width: auto"
                           data-options="
                                loader:cj.getLoader('economy'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">曾从事职业</td>
                <td><input class="easyui-validatebox" name="vocation"></td>
                <td class="formtdtext">文化程度</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="culture"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('culture'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">手机号码</td>
                <td><input class="easyui-validatebox" name="mobilephone"></td>
            </tr>
            <tr>
                <td class="formtdtext">退休工资</td>
                <td><input class="easyui-validatebox" name="retirewage"></td>
                <td class="formtdtext">住宅电话</td>
                <td><input class="easyui-validatebox" name="telephone"></td>
                <td class="formtdtext">老人呼叫机</td>
                <td><input class="easyui-validate" name="hjj_hjj"></td>
            </tr>
            <tr>
                <td class="formtdtext">呼叫机种类</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="hjj_kind"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('hjjkind'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">呼叫机类型</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="hjj_type"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('hjjtype'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">呼叫手机号</td>
                <td><input class="easyui-validatebox" name="hjj_phone"></td>
            </tr>

        </table>
    </div>
</fieldset>

<!--享受服务类型-->
<fieldset style="width: 900px;margin: 0px auto">
    <legend>享受服务类型</legend>
    <div opt="lrxsfwlx">
        <input name="fwlx_jjyl" type="checkbox" value="100" /><!--<label>-->居家养老服务 <!--</label>-->
        <input name="fwlx_fwj" type="checkbox" value="100" /><!--<label>-->服务卷 <!--</label>-->
        <input name="fwlx_mftj" type="checkbox" value="100" /><!--<label>-->免费体检 <!--</label>-->
        <input name="fwlx_dylnb" type="checkbox" value="100" /><!--<label>-->订阅老年报 <!--</label>-->
        <input name="fwlx_jgyl" type="checkbox" value="100" /><!--<label>-->机构养老 <!--</label>-->
        <input name="fwlx_tyfw" type="checkbox" value="100" /><!--<label>-->体验服务 <!--</label>-->
        <input name="fwlx_hjj" type="checkbox" value="100" /><!--<label>-->呼叫机 <!--</label>-->
        <input name="fwlx_qt" type="checkbox" value="100" /><!--<label>-->其他 <!--</label>-->
    </div>
</fieldset>

<!--居住信息-->
<fieldset style="width: 900px;margin: 0px auto">
    <legend>居住信息</legend>
    <div>
        <table class="formtable" style="width: 900px">
            <tr>
                <td class="formtdtext">邻居一姓名</td>
                <td><input class="easyui-validatebox" name="jz_yixingm"></td>
                <td class="formtdtext">邻居一位置</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="jz_yiweiz"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('neighborposition'),
                                method:'get' ,
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">邻居一电话</td>
                <td><input class="easyui-validatebox" name="jz_yidianh"></td>
            </tr>
            <tr>
                <td class="formtdtext">邻居二姓名</td>
                <td><input class="easyui-validatebox" name="jz_erxingm"></td>
                <td class="formtdtext">邻居二位置</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="jz_erweiz"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('neighborposition'),
                                method:'get' ,
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">邻居二电话</td>
                <td><input class="easyui-validatebox" name="jz_erdianh"></td>
            </tr>
            <tr>
                <td class="formtdtext">物业名称</td>
                <td><input class="easyui-validatebox" name="jz_wuy"></td>
                <td class="formtdtext">门卫电话</td>
                <td><input class="easyui-validatebox" name="jz_menwdh"></td>
                <td class="formtdtext">值班电话</td>
                <td><input class="easyui-validatebox" name="jz_zhibdh"></td>
            </tr>
            <tr>
                <td class="formtdtext">社区卫生院名称</td>
                <td><input class="easyui-validatebox" name="jz_sheqyy"></td>
                <td class="formtdtext">责任医生</td>
                <td><input class="easyui-validatebox" name="jz_yis"></td>
                <td class="formtdtext">联系电话</td>
                <td><input class="easyui-validatebox" name="jz_lxdh"></td>
            </tr>
        </table>
    </div>
</fieldset>

<!--健康信息-->
<fieldset style="width: 900px;margin: 0px auto">
    <legend>健康信息</legend>
    <div>
        <table class="formtable" style="width: 900px">
            <tr>
                <td class="formtdtext">血型</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="jk_xuex"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('bloodtype'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">血压</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="jk_xuey"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('bloodpressure'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">起搏器情况</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="jk_qibq"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('pacemaker'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">过敏史</td>
                <td><input class="easyui-validatebox" name="jk_gms"></td>
                <td class="formtdtext">视力情况</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="jk_shil"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('eyesight'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">听力情况</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="jk_tingl"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('hearing'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">活动能力</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="jk_huod"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('activity'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">出行方式</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="jk_chux"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('goout'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">记忆力情况</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="jk_jiyl"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('memory'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">穿脱衣服</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="jk_chuany"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('dress'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">定向能力</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="jk_dingx"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('direction'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">洗澡情况</td>
                <td>
                    <input class="easyui-combobox lazy-combobox"
                           name="jk_xiz"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('bathe'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">日常卫生</td>                   <!--document.getElementById('shutou').checked=true-->
                <td opt="lrrcws" colspan="5">
                    <input opt="shutou" name="jk_rcws_st" type="checkbox" value="110" /><!--<label>-->自己梳头 <!--</label>-->
                    <input opt="xinian" name="jk_rcws_xl" type="checkbox" value="110" /><!--<label>-->自己洗脸 <!--</label>-->
                    <input opt="xitou" name="jk_rcws_xt" type="checkbox" value="110" /> <!--<label>-->自己洗头 <!--</label>-->
                    <input opt="shuaya" name="jk_rcws_sy" type="checkbox" value="110" /><!--<label>-->自己刷牙 <!--</label>-->
                    <input opt="xijiao"  name="jk_rcws_xj" type="checkbox" value="110" /><!--<label>-->自己洗脚 <!--</label>-->
                    <input opt="tixu" name="jk_rcws_tx" type="checkbox" value="110" /><!--<label>-->自己剃须 <!--</label>-->
                    <input opt="xiuzhijia" name="jk_rcws_xzj" type="checkbox" value="110" /><!--<label>-->自己修指甲 <!--</label>-->
                    <input opt="xiyi" name="jk_rcws_xy" type="checkbox" value="110" /><!--<label>-->自己洗衣 <!--</label>-->
                </td>
            </tr>
            <tr>
                <td class="formtdtext">病史情况</td>
                <td opt="lrbsqk" colspan="5">
                    <input name="jk_bs_gaoxy" type="checkbox" value="111" /><!--<label>-->高血压 <!--</label>-->
                    <input name="jk_bs_tangnb" type="checkbox" value="111" /><!--<label>-->糖尿病 <!--</label>-->
                    <input name="jk_bs_fengs" type="checkbox" value="111" /><!--<label>-->风湿病 <!--</label>-->
                    <input name="jk_bs_xinzb" type="checkbox" value="111" /><!--<label>-->心脏病 <!--</label>-->
                    <input name="jk_bs_chid" type="checkbox" value="111" /><!--<label>-->老年痴呆 <!--</label>-->
                    <input name="jk_bs_guz" type="checkbox" value="111" /><!--<label>-->扭伤骨折 <!--</label>-->
                    <input name="jk_bs_qit" type="checkbox" value="111" /><!--<label>-->其他 <!--</label>-->
                </td>
            </tr>
            <tr>
                <td class="formtdtext">主要疾病</td>
                <td colspan="5">
                    <textarea name="jk_jib" style="height:60px;width: 90%"></textarea>
                </td>
            </tr>
        </table>
    </div>
</fieldset>

<!--爱好及活动需求-->
<fieldset style="width: 900px;margin: 0px auto">
    <legend>爱好及活动需求</legend>
    <div>
        <table class="formtable" style="width: 900px">
            <tr>
                <td class="formtdtext">性格特征</td>
                <td colspan="5">
                    <textarea name="xq_tez"style="height:60px;width: 90%"></textarea>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">兴趣爱好</td>
                <td colspan="5">
                    <textarea name="xq_aih" style="height:60px;width: 90%"></textarea>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">特长</td>
                <td><input class="easyui-validatebox" name="xq_tec"></td>
                <td class="formtdtext">社会活动</td>
                <td colspan="3"><input class="easyui-validatebox" name="xq_huod" style="width: 80%"></td>
            </tr>
            <tr>
                <td class="formtdtext">参加社团</td>
                <td><input class="easyui-validatebox" name="xq_canjiast"></td>
                <td class="formtdtext">担当角色</td>
                <td colspan="3"><input class="easyui-validatebox" name="xq_jiaos" style="width: 80%" ></td>
            </tr>
        </table>
    </div>
</fieldset>

<!--家庭成员-->
<fieldset style="width: 900px;margin: 0px auto">
    <div opt="familymembersdiv">
        <table class="easyui-datagrid" title="家庭成员列表" opt="familymembersgrid" id="familymembersgrid1" style="width: 900px"
               data-options="rownumbers:true,toolbar:'#pensionmembertb',singleSelect:true,showFooter:true">

            <thead data-options="frozen:true">
            <tr>
                <th data-options="field:'bottom',width:40,align:'center',editor:'icon-remove'">
                    <a data-options="plain:true">选择</a>
                </th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th class="lazy-combobox"
                    data-options="
                    field:'guanx',
                    align:'center',
                    width:100,
                    editor:{
                         type:'combobox',
                         options:{
                            required:true,
                            loader:cj.getLoader('relation'),
                            method:'get' ,
                            editable:false,
                            width:60,
                            valueField: 'id',
                            textField: 'text'}}">关系<span style="color: red">*</span></th>
                <th data-options="required:true,field:'gx_name',width:90,align:'center',editor:{
                    type:'validatebox',
                    options:{required:true}
                   } ">姓名<span style="color: red">*</span></th>
                <th opt="gxidentityid" data-options="field:'gx_identityid',width:150,align:'center',editor:{
                            type:'validatebox',
                            options:{
                                required:true,
                                invalidMessage:'请输入正确的身份证号',
                                validType:'identityid'
                            }
                        }">身份证号<span style="color: red">*</span></th>
                <th class="lazy-combobox" data-options="field:'gx_gender',align:'center',width:60,editor:{
							type:'combobox',
							options:{
							    required:true,
                                loader:cj.getLoader('gender'),
                                method:'get' ,
                                editable:false,
                                width:60,
                                valueField: 'id',
                                textField: 'text'
							}
						}">性别<span style="color: red">*</span></th>
                <th data-options="field:'gx_birth',width:90,align:'center',editor:'text'">出生日期</th>
                <th  data-options="field:'gx_telephone',width:160,align:'center',editor:'text'">宅电</th>
                <th data-options="field:'gx_mobilephone',width:160,align:'center',editor:'text'">手机</th>
                <th  data-options="field:'gx_economy',width:100,align:'center',editor:'text'">月收入</th>
                <th class="lazy-combobox" data-options="field:'gx_culture',align:'center',width:60,editor:{
							type:'combobox',
							options:{
                               loader:cj.getLoader('culture'),
                                method:'get' ,
                                editable:false,
                                width:60,
                                valueField: 'id',
                                textField: 'text'
							}
						}">文化程度</th>
                <th  data-options="field:'gx_registration',width:100,align:'center',editor:'text'">籍贯</th>
                <!--<th  data-options="field:'gx_nation',width:100,align:'center',editor:'text'">-->
                <th class="lazy-combobox" data-options="field:'gx_nation',align:'center',width:60,editor:{
							type:'combobox',
							options:{
                                loader:cj.getLoader('NATION'),
                                method:'get' ,
                                editable:false,
                                width:60,
                                valueField: 'id',
                                textField: 'text'
							}
						}">民族</th>
                <th  data-options="field:'gx_work',width:100,align:'center',editor:'text'">工作地点</th>

                <th data-options="field:'prseno',width:160,align:'center',editor:'text',hidden:true">prseno</th>
                <th data-options="field:'lrgx_id',width:160,align:'center',editor:'text',hidden:true">lrgx_id</th>
                <th data-options="field:'lr_id',width:160,align:'center',editor:'text',hidden:true">lr_id</th>
            </tr>
            </thead>
        </table>
        <div opt="familymembertb" style="height:auto">
            <a opt="newfamilymemeradd_btn" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增</a>
            <a opt="delfamilymemer_btn" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
        </div>
    </div>
</fieldset>

<div style="width: 900px;margin: 0px auto">
    <table style="width: 900px">
        <tr>
            <td style="text-align: left">
                <table style="width: 450px">
                    <tr>
                        <td class="formtdtext" style="text-align: right;width: 70px">制单日期:</td>
                        <td style="width: 100;text-align: left" >
                            <input class="easyui-datebox" opt="setdaytime" name="operator_date" data-options="formatter:myformatter,parser:myparser" id="operator_date">
                        </td>
                    </tr>
                </table>
            </td>
            <td style="text-align: right">
                <table style="text-align: right;width: 450px">
                    <tr style="text-align: right">
                        <td style="width: 100px" >制单人:<input class="easyui-validatebox" name="operators" readonly="true"></td>
                        <td style="width: 100px" >原制单人:<input class="easyui-validatebox" readonly="true"></td>
                    </tr>
                </table>
            </td>


        </tr>
    </table>
</div>

</form>
<div style="width: 900px;text-align: center;margin: 0px auto">
    <input type="button" value="处理" hidden="true" opt="dealwith">
    <input type="button" value="修改" hidden="true" opt="update">
    <input type="button" value="删除" hidden="true" opt="delete">
    <input type="button" value="保存" hidden="true" opt="save">
    <input type="button" value="操作日志" hidden="true" opt="log">
</div>

</div>

