<!--老人注销查询-->
<div class="easyui-layout"  data-options="fit:true">
    <div data-options="region:'center'" data-options="fit:true">
        <table class="easyui-datagrid-noauto" opt="peopleinfoquery"
               data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               fitColumns:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               loadMsg:'',
               striped:true,
               pagination:true">
            <thead>
            <tr>
                <th data-options="field:'lr_id',hidden:true" ></th>
                <th data-options="field:'ro',width:100,align:'center',formatter:function(value,rowData,rowIndex)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;logout&quot;title=&quot;注销&quot;><span><span class=&quot;icon-cancell-pl1&quot;></span></span></a>&nbsp;&nbsp;');
                    str=$(str).append('<a action=&quot;change&quot;title=&quot;变更&quot;><span><span class=&quot;icon-add-pl16&quot;></span></span></a>&nbsp;&nbsp;');
                    return str.html();
                }">操作</th>
                <th data-options="field:'name',width:100,align:'center',
                formatter:function(v,r,i)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                    return str.html();
                }">姓名</th>
                <th data-options="field:'gender',width:80,align:'center',formatter: cj.enumFormatter('gender')">性别</th>
                <th data-options="field:'birthd',width:150,align:'center'">出生年月</th>
                <th data-options="field:'age',width:150,align:'center'">年龄</th>
                <th data-options="field:'identityid',width:200,align:'center'">身份证号</th>
                <th data-options="field:'economy',width:200,align:'center',
                    formatter: function(value,row,index){
                    return economyArr[value]
                    }">老人类型
                </th>
                <th data-options="field:'address',width:200,align:'left'">住址</th>
            </tr>
            </thead>
        </table>

        <div tb style="padding-bottom: 0px">
            <div class="highcharstoolbar">&nbsp;&nbsp;查询条件</div>
            <div style="border: 1px solid rgba(128, 176, 79, 0.12);padding: 8px;padding-top: 2px;padding-bottom: 25px;">
                <table cellspacing="0" cellpadding="0" style="float: left;padding-bottom: 3px">
                    <tr>
                        <td>
                            老人类型 :
                            <select opt="ppselect" style="background: none repeat scroll 0 0 #ffffff;height: 20px;font-size: 10px;">
                                <option value=""></option>
                                <option value="0">低保特困职工</option>
                                <option value="1">低保边缘户</option>
                                <option value="2">低收入</option>
                                <option value="3">无退休工资</option>
                                <option value="4">有退休工资</option>
                                <option value="5">特殊贡献</option>
                            </select>
                            &nbsp;&nbsp;
                        </td>

                        <td>
                            姓名 :
                            <input opt="name" type="text" style="width:114px">
                            &nbsp;&nbsp;
                        </td>

                        <td>
                            身份证 :
                            <input opt="identityid" type="text">
                            &nbsp;&nbsp;
                        </td>

                        <td>
                            年龄：
                            <input style="width: 50px;text-align: center" opt="minage"> --
                            <input style="width: 50px;text-align: center" opt="maxage">岁
                        </td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" style="float: right;padding-bottom: 3px">
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="highcharstoolbarbutton" type="button" value="查询" style="border: 1px solid #F7F2F2;">
                    </td>
                </table>
            </div>
        </div>
    </div>
        <!--<div tb>
            <table cellspacing="0" cellpadding="0" style="float: right">
                <tr>

                    <td><label class="gray7">搜索条件:</label></td>

                    <td style="width: 200px;text-align: right">
                        <input opt="name" class="easyui-searchbox" data-options="prompt:'姓名',iconCls:'icon-log'"
                               type="keyword" style="width:200px" >
                    </td>

                    <td style="width: 200px;text-align: right">
                        <input opt="identityid" class="easyui-searchbox" data-options="prompt:'身份证',iconCls:'icon-log'"
                               type="keyword" style="width:200px" >
                    </td>

                    <td>
                        <span class="searchbtn" >&nbsp;</span>
                    </td>

                </tr>
            </table>
            <div class="clear"></div>
        </div>-->

    </div>
</div>




