<div class="easyui-panel newRadio" opt="formcontentpanel"
     style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
     data-options="fit:true,border:false">
<form opt="pensionform" class="common-form" method="post">
<fieldset opt="baseinfo">
    <legend>
        <label opt="baseinfo_shrinkage">
            <img opt="baseinfo_img" id="baseinfo_img" src="img/reduction.png"/>老年人基本信息
        </label>
    </legend>
    <div>
        <table opt="baseinfo_table" width="80%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
            <tr>
                <td class="formtdtext"  style="width: 100px">行政区划<span style="color: red">*</span>:</td>
                <td colspan="5">
                    <input opt="districtid" class="easyui-combobox"
                           data-options="required:true, valueField:'divisionpath'"
                           style="width: 300px;">
                </td>
                <td rowspan="4" colspan="2" style="text-align: center">
                    <img name="pensionimgpath" src="img/noperson.gif" value="" opt="personimg" alt="用户照片" width="150px" height="120px">
                    <input name ="pensionimgpath" type="hidden">
                </td>
            </tr>
            <tr>
                <td class="formtdtext" style="width: 100px">姓名<span style="color: red">*</span>:</td>
                <td>
                    <input class="easyui-validatebox input-text" name="name" data-options="required:true">
                </td>
                <td class="formtdtext">身份证 <span style="color: red">*</span>:</td>
                <td colspan="2">
                    <input opt="identityid" name="identityid" class="easyui-validatebox input-text"
                           data-options="required:true,invalidMessage:'请输入正确的身份证号',validType:'identityid'">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">性别 :</td>
                <td>
                    <input opt="gender" class="easyui-combobox "
                           name="gender"
                           data-options="
                                loader:cj.getLoader('gender'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
            ">
                </td>
                <td class="formtdtext">年龄 :</td>
                <td colspan="2">
                    <input opt="age" class="easyui-validatebox input-text" name="age">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">出生年月 :</td>
                <td>
                    <input opt="birthdate" class="easyui-datebox input-text" name="birthd"
                           data-options="formatter:myformatter,parser:myparser">
                </td>
                <td class="formtdtext">民族 :</td>
                <td colspan="2">
                    <input class="easyui-combobox"
                           opt="nation"
                           name="nation"
                           data-options="
                                loader: cj.getLoader('oldnation'),
                                mode: 'remote',
                                editable:false,
                                valueField:'id',
                                textField:'text'
            "> </td>
            </tr>
            <tr>
                <td class="formtdtext">家庭住址 :</td>
                <td colspan="3">
                    <input class="easyui-validatebox input-text" name="address" style="width: 300px">
                </td>
                <td class="formtdtext">人员类型 :</td>
                <td colspan="3">
                    <input class="easyui-combobox "
                           opt="type"
                           name="type"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('oldtype'),
                                editable:false,
                                valueField:'id',
                                textField:'text',
            ">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">户籍地 :</td>
                <td colspan="7">
                    <input class="easyui-validatebox input-text" name="registration" style="width: 300px">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">居住环境 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="live"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('liveplace'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">婚姻状况 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="marriage"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('marriage'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">家庭经济条件 :</td>
                <td colspan="3">
                    <input class="easyui-combobox "
                           name="economy"
                           style="width: auto"
                           data-options="
                                loader:cj.getLoader('economy'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">曾从事职业 :</td>
                <td><input class="easyui-validatebox input-text" name="vocation"></td>
                <td class="formtdtext">文化程度 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="culture"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('culture'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">手机号码 :</td>
                <td colspan="3"><input class="easyui-validatebox input-text" name="mobilephone"></td>
            </tr>
            <tr>
                <td class="formtdtext">退休工资 :</td>
                <td><input class="easyui-validatebox input-text" name="retirewage"></td>
                <td class="formtdtext">住宅电话 :</td>
                <td><input class="easyui-validatebox input-text" name="telephone"></td>
                <td class="formtdtext">老人呼叫机 :</td>
                <td colspan="3"><input class="easyui-validate input-text" name="hjj_hjj"></td>
            </tr>
            <tr>
                <td class="formtdtext">呼叫机种类 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="hjj_kind"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('hjjkind'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">呼叫机类型 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="hjj_type"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('hjjtype'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">呼叫手机号 :</td>
                <td colspan="3"><input class="easyui-validatebox input-text" name="hjj_phone"></td>
            </tr>
        </table>

    </div>
</fieldset>

<fieldset opt="baseinfo1">
    <legend>
        <label opt="baseinfo1_shrinkage">
            <img opt="baseinfo1_img" id="baseinfo1_img" src="img/reduction.png"/>享受服务类型
        </label>
    </legend>
    <div opt="lrxsfwlx">
        <table opt="baseinfo1_table" width="100%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
            <tr>
                <td>
                    <input name="fwlx_jjyl" type="checkbox" value="100" /><label>居家养老服务</label>
                    <input name="fwlx_fwj" type="checkbox" value="100" /><label>服务卷</label>
                    <input name="fwlx_mftj" type="checkbox" value="100" /><label>免费体检</label>
                    <input name="fwlx_dylnb" type="checkbox" value="100" /><label>订阅老年报</label>
                    <input name="fwlx_jgyl" type="checkbox" value="100" /><label>机构养老</label>
                    <input name="fwlx_tyfw" type="checkbox" value="100" /><label>体验服务</label>
                    <input name="fwlx_hjj" type="checkbox" value="100" /><label>呼叫机</label>
                    <input name="fwlx_qt" type="checkbox" value="100" /><label>其他</label>
                </td>
            </tr>
        </table>
    </div>
</fieldset>

<fieldset  opt="baseinfo2">
    <legend>
        <label opt="baseinfo2_shrinkage">
            <img opt="baseinfo2_img" id="baseinfo2_img" src="img/reduction.png"/>居住信息
        </label>
    </legend>
    <div>
        <!--<table class="formtable" opt="baseinfo2_table">-->
        <table opt="baseinfo2_table" width="80%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
            <tr>
                <td class="formtdtext">邻居一姓名 :</td>
                <td><input class="easyui-validatebox input-text" name="jz_yixingm"></td>
                <td class="formtdtext">邻居一位置 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="jz_yiweiz"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('neighborposition'),
                                method:'get' ,
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">邻居一电话 :</td>
                <td><input class="easyui-validatebox input-text" name="jz_yidianh"></td>
            </tr>
            <tr>
                <td class="formtdtext">邻居二姓名 :</td>
                <td><input class="easyui-validatebox input-text" name="jz_erxingm"></td>
                <td class="formtdtext">邻居二位置 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="jz_erweiz"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('neighborposition'),
                                method:'get' ,
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">邻居二电话 :</td>
                <td><input class="easyui-validatebox input-text" name="jz_erdianh"></td>
            </tr>
            <tr>
                <td class="formtdtext">物业名称 :</td>
                <td><input class="easyui-validatebox input-text" name="jz_wuy"></td>
                <td class="formtdtext">门卫电话 :</td>
                <td><input class="easyui-validatebox input-text" name="jz_menwdh"></td>
                <td class="formtdtext">值班电话 :</td>
                <td><input class="easyui-validatebox input-text" name="jz_zhibdh"></td>
            </tr>
            <tr>
                <td class="formtdtext">社区卫生院名称 :</td>
                <td><input class="easyui-validatebox input-text" name="jz_sheqyy"></td>
                <td class="formtdtext">责任医生 :</td>
                <td><input class="easyui-validatebox input-text" name="jz_yis"></td>
                <td class="formtdtext">联系电话 :</td>
                <td><input class="easyui-validatebox input-text" name="jz_lxdh"></td>
            </tr>
        </table>
    </div>
</fieldset>
<!--健康信息-->
<fieldset  opt="baseinfo3">
    <legend>
        <label opt="baseinfo3_shrinkage">
            <img opt="baseinfo3_img" id="baseinfo3_img" src="img/reduction.png"/>健康信息
        </label>
    </legend>
    <div>
        <!--<table class="formtable" opt="baseinfo3_table">-->
        <table opt="baseinfo3_table" width="80%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
            <tr>
                <td class="formtdtext">血型 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="jk_xuex"
                           id="jk_xuex"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('bloodtype'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">血压 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="jk_xuey"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('bloodpressure'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">起搏器情况 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="jk_qibq"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('pacemaker'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">过敏史 :</td>
                <td><input class="easyui-validatebox input-text" name="jk_gms"></td>
                <td class="formtdtext">视力情况 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="jk_shil"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('eyesight'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">听力情况 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="jk_tingl"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('hearing'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">活动能力 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="jk_huod"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('activity'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">出行方式 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="jk_chux"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('goout'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">记忆力情况 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="jk_jiyl"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('memory'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">穿脱衣服 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="jk_chuany"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('dress'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">定向能力 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="jk_dingx"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('direction'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
                <td class="formtdtext">洗澡情况 :</td>
                <td>
                    <input class="easyui-combobox "
                           name="jk_xiz"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('bathe'),
                                editable:false,
                                valueField:'id',
                                textField:'text'
                     ">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">日常卫生 :</td>
                <td opt="lrrcws" colspan="5">
                    <input opt="shutou" name="jk_rcws_st" type="checkbox" value="110" /><label>自己梳头</label>
                    <input opt="xinian" name="jk_rcws_xl" type="checkbox" value="110" /><label>自己洗脸</label>
                    <input opt="xitou" name="jk_rcws_xt" type="checkbox" value="110" /><label>自己洗头</label>
                    <input opt="shuaya" name="jk_rcws_sy" type="checkbox" value="110" /><label>自己刷牙</label>
                    <input opt="xijiao"  name="jk_rcws_xj" type="checkbox" value="110" /><label>自己洗脚</label>
                    <input opt="tixu" name="jk_rcws_tx" type="checkbox" value="110" /><label>自己剃须</label>
                    <input opt="xiuzhijia" name="jk_rcws_xzj" type="checkbox" value="110" /><label>自己修指甲</label>
                    <input opt="xiyi" name="jk_rcws_xy" type="checkbox" value="110" /><label>自己洗衣</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">病史情况 :</td>
                <td opt="lrbsqk" colspan="5">
                    <input name="jk_bs_gaoxy" type="checkbox" value="111" /><label>高血压</label>
                    <input name="jk_bs_tangnb" type="checkbox" value="111" /><label>糖尿病</label>
                    <input name="jk_bs_fengs" type="checkbox" value="111" /><label>风湿病</label>
                    <input name="jk_bs_xinzb" type="checkbox" value="111" /><label>心脏病</label>
                    <input name="jk_bs_chid" type="checkbox" value="111" /><label>老年痴呆</label>
                    <input name="jk_bs_guz" type="checkbox" value="111" /><label>扭伤骨折</label>
                    <input name="jk_bs_qit" type="checkbox" value="111" /><label>其他</label>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">主要疾病 :</td>
                <td colspan="5">
                    <textarea name="jk_jib" class="easyui-validatebox input-text"
                              data-options="validType:['maxLength[500]']"
                              style="height:60px;width: 90%">
                    </textarea>
                </td>
            </tr>
        </table>
    </div>
</fieldset>
<!--爱好及活动需求-->
<fieldset  opt="baseinfo4">
    <legend>
        <label opt="baseinfo4_shrinkage"><img opt="baseinfo4_img" id="baseinfo4_img" src="img/reduction.png"/>爱好及活动需求</label>
    </legend>
    <div>
        <!--<table class="formtable" opt="baseinfo4_table">-->
        <table opt="baseinfo4_table" width="80%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
            <tr>
                <td class="formtdtext">性格特征 :</td>
                <td colspan="5">
                    <textarea name="xq_tez" class="easyui-validatebox input-text"
                              data-options="validType:['maxLength[500]']"
                              style="height:60px;width: 90%"></textarea>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">兴趣爱好 :</td>
                <td colspan="5">
                    <textarea name="xq_aih" class="easyui-validatebox input-text"
                              data-options="validType:['maxLength[500]']"
                              style="height:60px;width: 90%"></textarea>
                </td>
            </tr>
            <tr>
                <td class="formtdtext">特长 :</td>
                <td><input class="easyui-validatebox input-text" name="xq_tec"></td>
                <td class="formtdtext">社会活动 :</td>
                <td colspan="3"><input class="input-text"  name="xq_huod" style="width: 80%"></td>
            </tr>
            <tr>
                <td class="formtdtext">参加社团 :</td>
                <td><input class="input-text" name="xq_canjiast" ></td>
                <td class="formtdtext">担当角色 :</td>
                <td colspan="3"><input class="input-text" name="xq_jiaos" style="width: 80%" ></td>
            </tr>
        </table>
    </div>
</fieldset>

<div style="width: 900px;margin: 0px auto">
    <table style="width: 900px">
        <tr>
            <td style="text-align: left">
                <table style="width: 450px">
                    <tr>
                        <td class="formtdtext" style="text-align: right;width: 70px">制单日期 :</td>
                        <td style="width: 100;text-align: left" >
                            <input class="easyui-datebox" opt="setdaytime" name="operator_date" readonly
                                   data-options="formatter:myformatter,parser:myparser">
                        </td>
                    </tr>
                </table>
            </td>
            <td style="text-align: right">
                <table style="width: 450px">
                    <tr>
                        <td style="width: 100px" >
                            制单人 :<input size="15" class="easyui-validatebox input-text" name="operators" readonly="true"
                                style="background-color: rgb(231, 241, 211);background: rgb(231, 241, 211);">
                        </td>
                        <!--<td style="width: 100px" >原制单人:<input size="15" class="easyui-validatebox" readonly="true"></td>-->
                    </tr>
                </table>
            </td>


        </tr>
    </table>
</div>
</form>
</div>

