<!--老年人查询-->
<div class="easyui-layout"  data-options="fit:true">
    <div data-options="region:'center'" data-options="fit:true">
        <table class="easyui-datagrid-noauto" opt="peopleinfoquery"
               data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               loadMsg:'',
               pagination:true">
            <thead>
            <tr>
                <th data-options="field:'ro',width:80,align:'center',formatter:function(value,rowData,rowIndex)
                    {
                        var str='<div></div>';
                        str=$(str).append('<a action=&quot;map&quot;title=&quot;地图&quot;><span><span class=&quot;icon-map-pl1&quot;></span></span></a>');
                        return str.html();
                    }"><a href="javascript:void(0)" opt="addfield">添加</a>操作</th>
                <th data-options="field:'name',width:90,align:'center',
                formatter:function(v,r,i)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                    return str.html();
                }">姓名</th>
                <th data-options="field:'gender',width:80,align:'center',formatter: cj.enumFormatter('gender')">性别</th>
                <th data-options="field:'age',width:40,align:'center',hidden:true">年龄</th>
                <th data-options="field:'birthd',width:150,align:'center'">出生年月</th>
                <th data-options="field:'identityid',width:200,align:'center'">身份证号</th>
                <th data-options="field:'type',width:100,align:'center',formatter: cj.enumFormatter('oldtype')">人员类别</th>
                <th data-options="field:'address',width:200,align:'left'">住址</th>
            </tr>
            </thead>
        </table>

        <div tb style="padding-bottom: 0px">
            <div class="highcharstoolbar">&nbsp;&nbsp;查询条件</div>
            <div style="border: 1px solid rgba(128, 176, 79, 0.12);padding: 2px;padding-top: 2px;">
            <table cellspacing="0" cellpadding="0" style="float: left">
                <tr>
                    <td>
                        <select opt="ppselect">
                            <option value="">所有老人</option>
                            <option value="f">服务评估老人</option>
                            <option value="j">养老机构老人</option>
                            <option value="s">三低老人</option>
                        </select>
                    </td>
                </tr>
            </table>
            <table cellspacing="0" cellpadding="0" style="float: right">
                <tr>
                    <td>
                        姓名 :
                        <input opt="name" type="text" style="width:114px">
                        &nbsp;&nbsp;
                    </td>

                    <td>
                        身份证 :
                        <input opt="identityid" type="text">
                        &nbsp;&nbsp;
                    </td>

                    <td>
                        年龄：
                        <input style="width: 50px;text-align: center" opt="minage"> --
                        <input style="width: 50px;text-align: center" opt="maxage">岁
                    </td>

                    <td>
                        <span class="searchbtn" >&nbsp;</span>
                    </td>

                    <td>
                        &nbsp;&nbsp;
                        <input class="highcharstoolbarbutton" type="button" opt="exportexcel" value="导出Excel">
                    </td>
                </tr>
            </table>
            <div class="clear"></div>
            </div>
        </div>

    </div>
</div>
