<!--资金发放弹出框-->
<table opt="ppgrantmoneyissuedlg"
       data-options="
            method:'post',
            fit:true,
            border:false,
            rownumbers:true,
            fitColumns:true,
            singleSelect:false,
            loadMsg:'',
            pagination:true">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true"></th>
            <th data-options="field:'pg_id',hidden:true"></th>
            <th data-options="field:'name',width:75">姓名</th>
            <th data-options="field:'identityid',width:160">户主身份证</th>
            <!--<th data-options="field:'money',width:93,editor:'numberbox'">金额(元)</th>-->
            <th data-options="field:'monthsubsidy',width:85">每月补助(/元)</th>
            <th data-options="field:'hospitalsubsidy',width:85">住院补助(/元)</th>
            <th data-options="field:'servicetime',width:95">服务时间(/小时)</th>
            <!--<th data-options="field:'madeflag',width:60">到账</th>-->
        </tr>
    </thead>
</table>
<!--<input opt="money" placeholder="发放金额">-->

<div tb>
    <table cellspacing="0" cellpadding="0" style="float: right">
        <tr>
            <td><label class="gray7">搜索条件:</label></td>
            <td style="width: 100px;text-align: right">
                <input opt="bsnyue" class="easyui-datebox"
                       type="keyword" style="width:100px" >
            </td>

            <td style="width: 100px;text-align: right">
                <input opt="name" class="easyui-searchbox" data-options="prompt:'姓名',iconCls:'icon-log'"
                       type="keyword" style="width:100px" >
            </td>

            <td style="width: 150px;text-align: right">
                <input opt="identityid" class="easyui-searchbox" data-options="prompt:'身份证',iconCls:'icon-log'"
                       type="keyword" style="width:150px" >
            </td>
            <td>
                <span class="searchbtn" opt="searchbtn">&nbsp;</span>
            </td>

        </tr>
    </table>
    <div class="clear"></div>
</div>