<!--资金发放-->
<table opt="ppgrantmoneyissue"
       data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               fitColumns:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               loadMsg:'',
               pagination:true">
    <thead data-options="frozen:true">
    <tr>
        <th rowspan="2" data-options="field:'ro',width:70,align:'center',formatter:function(value,rowData,rowIndex)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;resend&quot;title=&quot;重发&quot;><span><span class=&quot;icon-del-pl15&quot;></span></span></a>');
                    return str.html();
                }">操作
        </th>
        <th rowspan="2" data-options="field:'bsnyue'">业务期</th>
        <th rowspan="2" data-options="field:'name',width:50,
            formatter:function(v,r,i)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                    return str.html();
                }">
            姓名
        </th>
        <th rowspan="2" data-options="field:'identityid',width:170">身份证号码</th>
        <th rowspan="2" data-options="field:'monthsubsidy',width:60">每月补助<br>(/元)</th>
        <th rowspan="2" data-options="field:'subsidy_money',width:60">住院补助<br>(/元)</th>
        <th rowspan="2" data-options="field:'servicetime',width:60">服务时间<br>(/小时)</th>
    </tr>
    </thead>
    <thead>
    <tr>
        <th colspan="7">基本信息</th>
        <!--<th colspan="7">生活方面</th>-->
    </tr>
    <tr>
        <th data-options="field:'birthd',width:50">出生日期</th>
        <th data-options="field:'gender',formatter:cj.enumFormatter('gender')">性别</th>
        <th data-options="field:'age'">年龄</th>
        <th data-options="field:'nation',formatter:cj.enumFormatter('oldnation')">民族</th>
        <th data-options="field:'type'">人员类型</th>
        <th data-options="field:'age2'">服务等级</th>
        <th data-options="field:'address',width:90">家庭地址</th>
        <!--<th data-options="field:'sh_jings'">生活-进食</th>
        <th data-options="field:'sh_yid'">移动</th>
        <th data-options="field:'sh_weis'">个人卫生</th>
        <th data-options="field:'sh_ruc'">入厕</th>
        <th data-options="field:'sh_xiz'">洗澡</th>
        <th data-options="field:'sh_xingz'">行走于平地上</th>
        <th data-options="field:'sh_lout'">上下楼梯</th>-->
    </tr>
    </thead>
</table>
<div tb>
    <table cellspacing="0" cellpadding="0" style="float: left">
        <tr>
            <td>
                <input class="buttontype" opt="addgrantmoney" type="button" data-options="iconCls:icon-add" value="资金发放">
            </td>
        </tr>
    </table>
    <table cellspacing="0" cellpadding="0" style="float: right">
        <tr>
            <td><label class="gray7">搜索条件:</label></td>
            <td style="width: 200px;text-align: right">
                <input opt="name" class="easyui-searchbox" data-options="prompt:'姓名',iconCls:'icon-log'"
                       type="keyword" style="width:200px" >
            </td>
            <td style="width: 200px;text-align: right">
                <input opt="identityid" class="easyui-searchbox" data-options="prompt:'身份证',iconCls:'icon-log'"
                       type="keyword" style="width:200px" >
            </td>
            <td style="width: 200px;text-align: right">
                <input opt="bsnyue" class="easyui-searchbox" data-options="prompt:'业务期',iconCls:'icon-log'"
                       type="keyword" style="width:200px" >
            </td>

            <td>
                <span class="searchbtn" >&nbsp;</span>
            </td>

        </tr>
    </table>
    <div class="clear"></div>
</div>


