<!--报表-->
<div>
    请选择生成月份 :
    <select opt="month1">
        <option value="none">选择月份...</option>
        <option value="1">一</option>
        <option value="2">二</option>
        <option value="3">三</option>
        <option value="4">四</option>
        <option value="5">五</option>
        <option value="6">六</option>
        <option value="7">七</option>
        <option value="8">八</option>
        <option value="9">九</option>
        <option value="10">十</option>
        <option value="11">十一</option>
        <option value="12">十二</option>
    </select>月--
    <select opt="month2">
        <option value="none">选择月份...</option>
    </select>月
</div>
<input  size="15" opt="yearvalue">
<!--<input type="hidden" size="30" opt="monthvalue">-->
<input size="30" opt="monthvaluenum">
<input size="30" opt="monthvalue">
