<!--xls导出-->
<div>
    请选择生成月份 :
    <select opt="month1">
        <option value="none">选择月份...</option>
        <option value="1">一</option>
        <option value="2">二</option>
        <option value="3">三</option>
        <option value="4">四</option>
        <option value="5">五</option>
        <option value="6">六</option>
        <option value="7">七</option>
        <option value="8">八</option>
        <option value="9">九</option>
        <option value="10">十</option>
        <option value="11">十一</option>
        <option value="12">十二</option>
    </select>月--
    <select opt="month2">
        <option value="none">选择月份...</option>
    </select>月
</div>
<table opt="xls_table" width="100%" border="1"
       style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1">
    <tr opt="titlename">
        <td colspan="11" style="text-align: center">
            <label>海盐县xxxx年xx-xx月居家养老政府购买服务资金下拨清单</label>
        </td>
    </tr>
    <tr opt="fieldname">
        <td rowspan="2" style="text-align: center">乡镇街道</td>
        <td colspan="3" style="text-align: center">被服务对象</td>
        <td colspan="3" style="text-align: center">服务人员</td>
        <td style="text-align: center">服务等级</td>
        <td style="text-align: center">人员类型</td>
        <td style="text-align: center">政府购买服务费标准(小时)</td>
    </tr>
    <tr opt="fieldvalue">
        <td style="text-align: center">姓名</td>
        <td style="text-align: center">身份证号</td>
        <td style="text-align: center">家庭地址</td>
        <td style="text-align: center">姓名</td>
        <td style="text-align: center">身份证号</td>
        <td style="text-align: center">家庭地址</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
