<div  class="easyui-panel newRadio" opt="formcontentpanel"
      style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
      data-options="fit:true,border:false">
    <table width="100%" style="margin: 0 auto;margin-top: 10px;" cellpadding="2" cellspacing="1" class="table_form">
        <tr>
            <td><input type="checkbox" name="all1" style="width: 10px"><label>全选</label></td>
            <td opt="all1">
                <input type="radio" name="name" value="name"><label>姓名</label>
                <input type="radio" name="gender" value="gender"><label>性别</label>
                <input type="radio" name="nation" value="nation"><label>名族</label>
                <input type="radio" name="age" value="age"><label>年龄</label>
                <input type="radio" name="birthd" value="birthd"><label>出生年月</label>
                <input type="radio" name="identityid" value="identityid"><label>身份证号</label>
                <input type="radio" name="type" value="type"><label>人员类别</label>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" name="all2" style="width: 10px"><label>全选</label></td>
            <td opt="all2">
                <input type="radio" name="address" value="address"><label>家庭住址</label>
                <input type="radio" name="registration" value="registration"><label>户籍地</label>
                <input type="radio" name="mobilephone" value="mobilephone"><label>手机号码</label>
                <input type="radio" name="live" value="live"><label>居住环境</label>
                <input type="radio" name="marriage" value="marriage"><label>婚姻状况</label>
                <input type="radio" name="economy" value="economy"><label>家庭经济条件</label>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" name="all3" style="width: 10px"><label>全选</label></td>
            <td opt="all3">
                <input type="radio" name="vocation" value="vocation"><label>曾从事职业</label>
                <input type="radio" name="culture" value="culture"><label>文化程度</label>
                <input type="radio" name="retirewage" value="retirewage"><label>退休工资</label>
                <input type="radio" name="telephone" value="telephone"><label>住宅电话</label>
                <input type="radio" name="hjj_hjj" value="hjj_hjj"><label>老人呼叫机</label>
            </td>
        </tr>
    </table>
</div>

