<div  class="easyui-panel newRadio" opt="formcontentpanel"
      style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
      data-options="fit:true,border:false">
    <!--<form opt="pensionform" method="post">-->
        <table width="100%" style="margin: 0 auto;margin-top: 10px;" cellpadding="2" cellspacing="1" class="table_form">
            <tr>
                <td><input type="radio" name="all" value="3" style="width: 10px"><label>全选</label></td>
                <td colspan="3" opt="liveplace">
                    <input type="radio" name="name" value="name"><label>姓名</label>
                    <input type="radio" name="sex" value="sex"><label>性别</label>
                    <input type="radio" name="birth" value="birth"><label>出生年月</label>
                    <input type="radio" name="age" value="age"><label>年龄</label>
                </td>
            </tr>
        </table>
    <!--</form>-->
</div>

