<div class="d-content" style="max-height: 579px; overflow: auto; height: auto;">
    <div class="dialog_content">
        <form opt="rzrydlg" method="post">
            <input hidden="true" name="deptype" value="jigou">
            <input hidden="true" name="dep_id">
            <input hidden="false" name="departname">         <!--机构名称-->
            <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
                <tbody>
                <tr>
                    <th width="100">身份证<span style="color: red">*</span>:</th>
                    <td><input type="text" name="identityid" class="input-text easyui-validatebox" ></td>

                    <th>老人姓名 :</th>
                    <td><input type="text" name="name" class="input-text easyui-validatebox" ></td>
                </tr>
                <tr>
                    <th>老人年龄 :</th>
                    <td><input type="text" name="age" class="input-text easyui-validatebox"></td>

                    <th>行政区划 :</th>
                    <td><input type="text" name="districtid" opt="districtid" class="input-text easyui-combotree"></td>
                </tr>

                <tr>
                    <th>家庭住址 :</th>
                    <td>
                        <input class="easyui-validatebox input-text" name="address">
                    </td>

                    <th>户籍地 :</th>
                    <td>
                        <input class="easyui-validatebox input-text" name="registration">
                    </td>
                </tr>
                <tr>
                    <th>人员类别 :</th>
                    <td>
                        <input type="text"
                               class="easyui-combobox lazy-combobox input-text"
                               name="type"
                               data-options="
                                loader:cj.getLoader('oldtype'),
                                editable:false,
                                panelHeight:'auto',
                                valueField:'id',
                                textField:'text'">
                    </td>

                    <th>婚姻状况 :</th>
                    <td>
                        <input type="text"
                               class="easyui-combobox lazy-combobox input-text"
                               name="marriage"
                               data-options="
                                loader:cj.getLoader('marriage'),
                                editable:false,
                                panelHeight:'auto',
                                valueField:'id',
                                textField:'text'">
                    </td>
                </tr>
                <tr>
                    <th>文化程度 :</th>
                    <td>
                        <input type="text"
                               class="easyui-combobox lazy-combobox input-text"
                               name="culture"
                               data-options="
                                loader:cj.getLoader('culture'),
                                editable:false,
                                panelHeight:'auto',
                                valueField:'id',
                                textField:'text'">
                    </td>

                    <th>家庭经济条件 :</th>
                    <td>
                        <input type="text"
                               class="easyui-combobox lazy-combobox input-text"
                               name="economy"
                               data-options="
                                loader:cj.getLoader('economy'),
                                editable:false,
                                panelHeight:'auto',
                                valueField:'id',
                                textField:'text'">
                    </td>
                </tr>
                <tr>
                    <th>居住环境 :</th>
                    <td>
                        <input type="text"
                               class="easyui-combobox lazy-combobox input-text"
                               name="liveplace"
                               data-options="
                                loader:cj.getLoader('liveplace'),
                                editable:false,
                                panelHeight:'auto',
                                valueField:'id',
                                textField:'text'">
                    </td>

                    <th>是否需要护理 :</th>
                    <td>
                        <input type="text"
                               class="easyui-combobox lazy-combobox input-text"
                               name="yesorno"
                               data-options="
                                loader:cj.getLoader('yesorno'),
                                editable:false,
                                panelHeight:'auto',
                                valueField:'id',
                                textField:'text'">
                    </td>
                </tr>
                <!--<tr>
                    <td class="formtdtext">入住时间</td>
                    <td>
                        <input class="easyui-datebox" name="checkintime">
                    </td>

                    <td class="formtdtext">离开时间</td>
                    <td>
                        <input class="easyui-datebox" name="checkouttime">
                    </td>
                </tr>-->
                </tbody>
            </table>
        </form>
    </div>
</div>