<!--入住人员管理-->
<table opt="ruzhurymanagement" data-options="
               method:'post',
               toolbar:'#tb_rzrygl',
               fit:true,
               fitColumns:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:false,
               pagination:true,
               loadMsg:''">
    <thead>
    <tr>
        <!--<th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'opd_id',hidden:true"></th>-->
        <th data-options="field:'ro',width:55,align:'center',formatter:function(value,rowData,rowIndex)
            {
                var str='<div></div>';
                str=$(str).append('<a action=&quot;cancellation&quot;title=&quot;注销&quot;><span><span class=&quot;icon-update-pl16&quot;></span></span></a>');
                return str.html();
            }">操作
        </th>
        <th data-options="field:'departname',width:145,align:'center'">机构名称</th>
        <th data-options="field:'name',width:145,align:'center',
        formatter:function(v,r,i)
                {
                    var str='<div></div>';
                    str=$(str).append('<a action=&quot;view&quot;>'+v+'</a>');
                    return str.html();
                }">人员姓名</th>
        <th data-options="field:'age',width:145,align:'center'">年龄</th>
        <th data-options="field:'identityid',width:145,align:'center'">身份证</th>
        <th data-options="field:'address',width:145,align:'center'">家庭住址</th>
        <th data-options="field:'checkintime',width:145,align:'center'">入住时间</th>

        <!--str=$(str).append('<a action=&quot;update&quot;  class=&quot;opiconbg&quot;><span><span class=&quot;icon-update-pl16&quot;>修改</span></span></a>');
                str=$(str).append('<a action=&quot;delete&quot;  class=&quot;opiconbg&quot;><span><span class=&quot;icon-logout-pl16&quot;>删除</span></span></a>');-->
    </tr>
    </thead>
</table>
<!--<div id="tb_rzrygl" style="padding: 5px;padding-bottom:2px;background-color: #ffffff">-->
<div id="tb_rzrygl">
    <!--<div>
        机构名称:<input type="text" opt="departname">
        姓名:<input type="text" opt="name">
        身份证:<input type="text" opt="identityid">
        <input class="buttoncss" opt="refresh" type="button" value="查询">
    </div>
    <hr style="color: rgba(183,176,162,0.20);border-color: #FAF2F2;border: 1px dashed;"/>-->
    <table cellspacing="0" cellpadding="0" style="float: right;">
        <tr>

            <td><label class="gray7">搜索条件:</label></td>

            <td style="width: 200px;text-align: right">
                <input opt="departname" class="easyui-searchbox" data-options="prompt:'机构名称',iconCls:'icon-log'"
                       type="keyword" style="width:200px" >
            </td>
            <td style="width: 200px;text-align: right">
                <input opt="name" class="easyui-searchbox" data-options="prompt:'姓名',iconCls:'icon-log'"
                       type="keyword" style="width:200px" >
            </td>
            <td style="width: 200px;text-align: right">
                <input opt="identityid" class="easyui-searchbox" data-options="prompt:'身份证',iconCls:'icon-log'"
                       type="keyword" style="width:200px" >
            </td>

            <td>
                <span class="searchbtn" opt="refresh">&nbsp;</span>
            </td>

        </tr>
    </table>
    <div class="clear"></div>
</div>




