<div  class="easyui-panel newRadio" opt="formcontentpanel"
      style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
      data-options="fit:true,border:false">
    <table width="100%" style="margin: 0 auto;margin-top: 10px;" cellpadding="2" cellspacing="1" class="table_form">
        <tr>
            <td><input type="checkbox" name="all1" style="width: 10px"><label>全选</label></td>
            <td opt="all1">
                <input type="radio" name="departname" value="departname"><label>机构名称</label>
                <input type="radio" name="name" value="name"><label>姓名</label>
                <input type="radio" name="age" value="age"><label>年龄</label>
                <input type="radio" name="sex" value="sex"><label>性别</label>
                <input type="radio" name="identityid" value="identityid"><label>身份证号</label>
                <input type="radio" name="address" value="address"><label>家庭住址</label>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" name="all2" style="width: 10px"><label>全选</label></td>
            <td opt="all2">
                <input type="radio" name="checkintime" value="checkintime"><label>入住时间</label>
                <input type="radio" name="registration" value="registration"><label>户籍地</label>
                <input type="radio" name="type" value="type"><label>人员类别</label>
                <input type="radio" name="marriage" value="marriage"><label>婚姻状况</label>
                <input type="radio" name="culture" value="culture"><label>文化程度</label>
                <input type="radio" name="liveplace" value="liveplace"><label>居住环境</label>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" name="all3" style="width: 10px"><label>全选</label></td>
            <td opt="all3">
                <input type="radio" name="yesorno" value="yesorno"><label>是否需要护理</label>
                <input type="radio" name="contact" value="contact"><label>联系人</label>
                <input type="radio" name="phone" value="phone"><label>联系电话</label>
                <input type="radio" name="cellphone" value="cellphone"><label>手机</label>
                <input type="radio" name="health" value="health"><label>身体状况</label>
            </td>
        </tr>
    </table>
</div>

