<style type="text/css">
    .Off{
        width: 100px;
        height: 40px;
        background-color: #f3f7db;
    }
    .Up{
        width: 100px;
        height: 40px;
        background-color: #FF0000;
    }
</style>
<div>
    <select>
        <option>所有机构</option>
    </select>
    <table style="float: right">
        <tr>
            <td>
                <input type="button" class="highcharstoolbarbutton" value="签到">
            </td>
        </tr>
    </table>
</div>
        <br>
<div>
    <table border="1" style="text-align: center" opt="signtable">
        <!--<tr>
            <td class=Off>&lt;!&ndash;onMouseOut="this.className='Off'" onMouseOver="this.className='Up'"&ndash;&gt;
                <label>陆阿连</label>
                <br>
                <input type="button" value="签到">
                <input type="button" value="取消">
            </td>
            <td class=Off>
                <label>王火明</label>
            </td>
            <td class=Off>
                <label>陆阿连</label>
            </td>
        </tr>-->
    </table>
</div>
