    <table class="easyui-datagrid-noauto"
           data-options="
                   method:'post',
                   fit:true,
                   border:false,
                   rownumbers:!true,
                   fitColumns:true,
                   loadMsg:'',
                   pageSize:cj.getDataGridAttr('pageSize'),
                   pageList:cj.getDataGridAttr('pageList'),
                   singleSelect:true,
                   pagination:true">
        <thead>
        <tr>
          <th data-options="field:'operator',width:80,align:'right'">时间</th>
          <th data-options="field:'dvname',width:100">地区</th>
            <th data-options="field:'gender',width:80">性别</th>

            <th data-options="field:'opsum',width:80,align:'right'">人数</th>
        </tr>
        </thead>
    </table>

    <div tb class="newRadio" style="border-bottom:1px solid blue;background-color:#eef1f8;">
        <form>
        <table cellspacing="0" cellpadding="0" style="float: left">
            <tr>

                <td><label class="gray7" style="background-color: rgb(181, 171, 171);">搜索条件:</label></td>

                <td style="width: 270px;border:1px">
                    时间：
                    <input class="easyui-datebox" style="width:100px" opt="date1">
                    -
                    <input class="easyui-datebox" style="width:100px" opt="date2">
                </td>

                <td>
                    地区：
                    <input style="width: 150px;" opt="districtid">

                </td>
                <td>
                    性别：
                    <input style="width: 100px;" class="easyui-combobox" opt="sex"
                           data-options=" valueField: 'value', textField: 'label', data: [{ label: '男', value: '1' },{ label: '女', value: '0' }]"/>
                </td>

                <td>
                    <input class="buttontype" type="button" opt="clear" value="清空条件">

                </td>
            </tr>
            <tr ><td colspan="5" style="height:5px;"></td></tr>
            <tr>

                <td><label class="gray7" style="background-color: rgb(181, 171, 171);">分组条件:</label></td>

                <td >
                    <input type="radio" name="date" value="Y"><label>年份</label>
                    <input type="radio" name="date"  value="M"><label>月份</label>
                    <input type="radio"  name="date" value="D"><label>天</label>
                    <input type="radio"  name="date" value=""><label>不分组</label>
                </td>
                <td>
                    <input type="radio"  name="diqu" value="dq"><label>分组</label>
                    <input type="radio"  name="diqu" value=""><label>不分组</label>

                </td>
                <td>
                    <input type="radio"  name="sex" value="xb"><label>分组</label>
                    <input type="radio"  name="sex" value=""><label>不分组</label>

                </td>
                <td>
                <!--    <div opt="query" >查询</div>-->
                   <!-- <a text="查询"  opt="query" style="display: inline;">查询</a>-->
                    <span class="searchbtn" opt="query">&nbsp;</span>

                </td>

            </tr>

        </table>
        <div class="clear"></div>
     </form>
    </div>
