<!--<div  class="easyui-panel" opt="formcontentpanel" style="overflow-y: scroll;" data-options="fit:true,border:false">
    <div class="dialog_content" method="post" style="width: 900px;margin: 0 auto;">
                <form method="post">
                <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
                        <tbody>
                        <tr>
                            <th width="80">地址 :</th>
                            <td><input type="text" name="location" id="name" class="input-text" size="50">

                            </td>
                        </tr>
                        <tr>
                            <th width="80">节点类型 :</th>
                            <td>
                                <select name="nodetype">
                                    <option value="0">叶子</option>
                                    <option value="1" selected="selected">节点</option>
                                    <option value="2">按钮</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>功能类型 :</th>
                            <td>
                                <select name="type">
                                    <option value="1" selected="selected">组件</option>
                                    <option value="0">链接(iframe/url)</option>
                                </select>
                            </td>
                        </tr>



                        <tr>
                            <th>中文名 :</th>
                            <td><input type="text" name="title" class="input-text"></td>
                        </tr>
                        <tr>
                            <th>父节点 :</th>
                            <td><input type="text" name="parent" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>序号 :</th>
                            <td><input type="text" name="orderno" class="input-text"></td>
                        </tr>

                        <tr>
                            <th>中文名 :</th>
                            <td><input type="text" name="title" class="input-text"></td>
                        </tr>
                        <tr>
                            <th>父节点 :</th>
                            <td><input type="text" name="parent" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>序号 :</th>
                            <td><input type="text" name="orderno" class="input-text"></td>
                        </tr>


                        <tr>
                            <th>中文名 :</th>
                            <td><input type="text" name="title" class="input-text"></td>
                        </tr>
                        <tr>
                            <th>父节点 :</th>
                            <td><input type="text" name="parent" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>序号 :</th>
                            <td><input type="text" name="orderno" class="input-text"></td>
                        </tr>

                        <tr>
                            <th>中文名 :</th>
                            <td><input type="text" name="title" class="input-text"></td>
                        </tr>
                        <tr>
                            <th>父节点 :</th>
                            <td><input type="text" name="parent" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>序号 :</th>
                            <td><input type="text" name="orderno" class="input-text"></td>
                        </tr>

                        <tr>
                            <th>中文名 :</th>
                            <td><input type="text" name="title" class="input-text"></td>
                        </tr>
                        <tr>
                            <th>父节点 :</th>
                            <td><input type="text" name="parent" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>序号 :</th>
                            <td><input type="text" name="orderno" class="input-text"></td>
                        </tr>


                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>


                        <tr>
                            <th>功能类型 :</th>
                            <td>
                                <select name="type">
                                    <option value="1" selected="selected">组件</option>
                                    <option value="0">链接(iframe/url)</option>
                                </select>
                            </td>
                        </tr>



                        <tr>
                            <th>中文名 :</th>
                            <td><input type="text" name="title" class="input-text"></td>
                        </tr>
                        <tr>
                            <th>父节点 :</th>
                            <td><input type="text" name="parent" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>序号 :</th>
                            <td><input type="text" name="orderno" class="input-text"></td>
                        </tr>

                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>



                        </tbody>
                    </table>
                </form>
            </div>

</div>-->
<!--<div class="webox layout" style="display: block; border-color: rgb(0, 0, 0); left: 606.927124023438px; top: 197.91667175293px; height: 250px; width: 395px; position: absolute;">
    <div class="panel layout-panel layout-panel-north" style="left: 0px; top: 0px; width: 395.777777671814px;"><div data-options="region:'north'" style="height: 33.777777671814px; width: 393.777777671814px; background: url(http://localhost:5000/img/popwindowtitlebackground.png);" title="" class="panel-body panel-body-noheader layout-body">
        <div class="pop-win-north-title" style="width: 345px;">处理</div>
        <div class="pop-win-north-close"></div>
    </div></div>
    <div class="panel layout-panel layout-panel-center" style="left: 0px; top: 34px; width: 395.777777671814px;"><div data-options="region:'center'" class="htmlcontent panel-body panel-body-noheader layout-body" title="" style="width: 393.777777671814px; height: 178.777777671814px;">&lt;!&ndash;处理审核信息弹出框&ndash;&gt;

        <div class="d-content" style="max-height: 579px; overflow: auto; height: auto;">
            <div class="dialog_content">
                <form opt="ppauditdlg" method="post">
                    <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
                        <tbody>
                        <tr>
                            <th>处理人 :</th>
                            <td><input name="auuser" type="text" class="input-text" disabled="true"></td>
                        </tr>
                        <tr>
                            <th>审核结果 :</th>
                            <td>
                                <input name="auflag" value="通过" type="radio" checked="">通过
                                <input name="auflag" value="不通过" type="radio">不通过
                            </td>
                        </tr>
                        <tr>
                            <td id="opinion" opt="opinion" colspan="2">
                                <textarea name="audesc" style="position: relative;width: 95%"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div></div></div>
    <div class="panel layout-panel layout-panel-south" style="left: 0px; top: 214.777777671814px; width: 395.777777671814px;"><div data-options="region:'south'" class="weboxbuttons panel-body panel-body-noheader layout-body" style="height: 33.777777671814px; width: 393.777777671814px;" title="">
        <div>
            <ul><li><a>取消</a></li><li><a>保存</a></li></ul>
        </div>

    </div></div>
    <div class="layout-split-proxy-h"></div><div class="layout-split-proxy-v"></div></div>-->
