<div style="border: 1px solid #e5e5e5;height: 50px;margin-bottom: 10px;background-color: #dbeff2">111</div>
<div style="border: 1px solid #e5e5e5;height: 88%;">
    <table class="easyui-datagrid" data-options="fit:true">
        <thead>
        <tr>
            <th data-options="field:'code'">Code</th>
            <th data-options="field:'name'">Name</th>
            <th data-options="field:'price'">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>001</td><td>name1</td><td>2323</td>
        </tr>
        <tr>
            <td>002</td><td>name2</td><td>4612</td>
        </tr>
        </tbody>
    </table>
</div>


