<div  class="easyui-panel" opt="formcontentpanel" style="overflow-y: scroll;" data-options="fit:true,border:false">
    <div class="dialog_content" method="post" style="width: 900px;margin: 0 auto;">
                <form method="post">
                <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
                        <tbody>
                        <tr>
                            <th width="80">地址 :</th>
                            <td><input type="text" name="location" id="name" class="input-text" size="50">

                            </td>
                        </tr>
                        <tr>
                            <th width="80">节点类型 :</th>
                            <td>
                                <select name="nodetype">
                                    <option value="0">叶子</option>
                                    <option value="1" selected="selected">节点</option>
                                    <option value="2">按钮</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>功能类型 :</th>
                            <td>
                                <select name="type">
                                    <option value="1" selected="selected">组件</option>
                                    <option value="0">链接(iframe/url)</option>
                                </select>
                            </td>
                        </tr>



                        <tr>
                            <th>中文名 :</th>
                            <td><input type="text" name="title" class="input-text"></td>
                        </tr>
                        <tr>
                            <th>父节点 :</th>
                            <td><input type="text" name="parent" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>序号 :</th>
                            <td><input type="text" name="orderno" class="input-text"></td>
                        </tr>

                        <tr>
                            <th>中文名 :</th>
                            <td><input type="text" name="title" class="input-text"></td>
                        </tr>
                        <tr>
                            <th>父节点 :</th>
                            <td><input type="text" name="parent" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>序号 :</th>
                            <td><input type="text" name="orderno" class="input-text"></td>
                        </tr>


                        <tr>
                            <th>中文名 :</th>
                            <td><input type="text" name="title" class="input-text"></td>
                        </tr>
                        <tr>
                            <th>父节点 :</th>
                            <td><input type="text" name="parent" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>序号 :</th>
                            <td><input type="text" name="orderno" class="input-text"></td>
                        </tr>

                        <tr>
                            <th>中文名 :</th>
                            <td><input type="text" name="title" class="input-text"></td>
                        </tr>
                        <tr>
                            <th>父节点 :</th>
                            <td><input type="text" name="parent" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>序号 :</th>
                            <td><input type="text" name="orderno" class="input-text"></td>
                        </tr>

                        <tr>
                            <th>中文名 :</th>
                            <td><input type="text" name="title" class="input-text"></td>
                        </tr>
                        <tr>
                            <th>父节点 :</th>
                            <td><input type="text" name="parent" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>序号 :</th>
                            <td><input type="text" name="orderno" class="input-text"></td>
                        </tr>


                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>


                        <tr>
                            <th>功能类型 :</th>
                            <td>
                                <select name="type">
                                    <option value="1" selected="selected">组件</option>
                                    <option value="0">链接(iframe/url)</option>
                                </select>
                            </td>
                        </tr>



                        <tr>
                            <th>中文名 :</th>
                            <td><input type="text" name="title" class="input-text"></td>
                        </tr>
                        <tr>
                            <th>父节点 :</th>
                            <td><input type="text" name="parent" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>序号 :</th>
                            <td><input type="text" name="orderno" class="input-text"></td>
                        </tr>

                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>
                        <tr>
                            <th>描述 :</th>
                            <td><input type="text" name="description" class="input-text" size="30"></td>
                        </tr>



                        </tbody>
                    </table>
                </form>
            </div>

</div>

