<!--养老居家管理-->
<table opt="yanlaojjmanagement" data-options="
               method:'post',
               toolbar:'#tb_jjgl',
               fit:true,
               fitColumns:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               pagination:true,
               loadMsg:''">
    <thead>
    <tr>
        <!--<th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'dep_id',hidden:true"></th>-->
        <th data-options="field:'ro',width:145,align:'center',formatter:function(value,rowData,rowIndex)
            {
                var str='<div></div>';
                str=$(str).append('<a action=&quot;update&quot;title=&quot;修改&quot;><span><span class=&quot;icon-add-pl16&quot;></span></span></a>');
                str=$(str).append('<a action=&quot;delete&quot;title=&quot;删除&quot;><span><span class=&quot;icon-logout-pl16&quot;></span></span></a>');
                return str.html();
            }">操作
        </th>
        <th data-options="field:'departname',width:145,align:'center'">机构名称</th>
        <th data-options="field:'telephone',width:145,align:'center'">联系电话</th>
        <th data-options="field:'people',width:145,align:'center'">联系人</th>
        <th data-options="field:'address',width:145,align:'center'">联系地址</th>
        <th data-options="field:'busline',width:145,align:'center'">公交线路</th>
    </tr>
    </thead>
</table>
<div id="tb_jjgl" style="padding-bottom: 3px;">
    <table cellspacing="0" cellpadding="0" style="float: left">
        <tr>
            <td><input class="buttontype" opt="addyljj" type="button" value="添加养老设施"></td>
        </tr>
    </table>
    <table cellspacing="0" cellpadding="0" style="float: right;">
        <tr>

            <!--<td><label class="gray7">搜索条件:</label></td>-->

            <td>
                机构名称 :
                <input opt="departname" type="text">
                &nbsp;&nbsp;
            </td>
            <!--<td style="width: 200px;text-align: right">
                <input opt="departname" class="easyui-searchbox" data-options="prompt:'机构名称',iconCls:'icon-log'"
                       type="keyword" style="width:200px" >
            </td>-->

            <td>
                <span class="searchbtn" opt="refresh">&nbsp;</span>
            </td>

        </tr>
    </table>
    <div class="clear"></div>
</div>

