<fieldset style="width: 300px;margin: 0px auto" >
    <div style="width: 300px;position: relative;margin: 0px auto" region="center">
        <table class="formtable" style="width:300px">
            <tr>
                <td class="formtdtext"  style="width: 100px">机构名称<span style="color: red">*</span></td>
                <td>
                    <input opt="identityid" name="identityid" class="easyui-validatebox">
                </td>
            </tr>
            <tr>
                <td class="formtdtext" style="width: 100px">登记性质<span style="color: red">*</span></td>
                <td>
                    <input class="easyui-validatebox" name="name" data-options="required:true">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">联系电话<span style="color: red">*</span></td>
                <td>
                    <input opt="identityid" name="identityid" class="easyui-validatebox">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">联系人</td>
                <td>
                    <input opt="age" class="easyui-validatebox" name="age">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">联系地址</td>
                <td>
                    <input opt="age" class="easyui-validatebox" name="age">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">公交线路</td>
                <td>
                    <input opt="birthdate" class="easyui-validatebox" name="birthd">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">地图经纬度</td>
                <td>
                    <input opt="birthdate" class="easyui-validatebox" name="birthd">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">核定床位</td>
                <td>
                    <input opt="birthdate" class="easyui-validatebox" name="birthd">
                </td>
            </tr>
            <tr>
                <td class="formtdtext">实际床位</td>
                <td>
                    <input opt="birthdate" class="easyui-validatebox" name="birthd">
                </td>
            </tr>
                <td class="formtdtext">年末入住数</td>
                <td>
                    <input opt="birthdate" class="easyui-validatebox" name="birthd">
                </td>
            </tr>
        </table>

    </div>
</fieldset>