<!--导出xls报表-->
        <div>
<div>
    <select opt="tabchange">
        <option value="0">汇总表</option>
        <option value="1">月份表</option>
    </select>
    <span style="float: right">
        <input type="hidden" size="30" opt="monthvaluenum">
        <input type="hidden" size="30" opt="monthvalue">
        <span>
            年份 :
            <a href="javascript:void(0)" opt="yeardel">< <</a>
            <input opt="yearvalue" size="5" style="text-align: center;height: 18px;border-color: #95B8E7">年
            <a href="javascript:void(0)" opt="yearadd">> ></a>
        </span>
        <span opt="month_span" style="display: none">
            &nbsp;&nbsp;
            月份 :
            <select opt="month1">
                <option value="none">选择月份...</option>
                <option value="1">一</option>
                <option value="2">二</option>
                <option value="3">三</option>
                <option value="4">四</option>
                <option value="5">五</option>
                <option value="6">六</option>
                <option value="7">七</option>
                <option value="8">八</option>
                <option value="9">九</option>
                <option value="10">十</option>
                <option value="11">十一</option>
                <option value="12">十二</option>
            </select>月--
            <select opt="month2">
                <option value="none">选择月份...</option>
            </select>月
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input class="highcharstoolbarbutton" type="button" opt="query" value="查询">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input class="highcharstoolbarbutton" type="button" opt="exportexcel" value="导出Excel">
        &nbsp;&nbsp;
    </span>
</div>
<div opt="reportmonths" style="width: 100%;height: 95%;position: absolute">
    <table opt="reportmonthstab"
       data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               striped:true,
               loadMsg:'',
               pagination:true">
        <thead data-options="frozen:true">
            <tr>
                <th rowspan="2" data-options="field:'dvname',width:80">乡镇街道</th>
            </tr>
        </thead>
    </table>
</div>
<div opt="reportsummary" style="width: 100%;height: 95%;position: absolute">
    <table opt="reportsummarytab"
           data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               fitColumns:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               striped:true,
               loadMsg:'',
               pagination:true">
        <thead data-options="frozen:true">
            <tr>
                <th rowspan="2" data-options="field:'dvname',width:100">乡镇街道</th>
                <th rowspan="2" data-options="field:'opsum',width:70">人数</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th colspan="12">月&nbsp;&nbsp;&nbsp;&nbsp;份</th>
                <th rowspan="2" data-options="field:'subsidy_money',width:90">住院补贴</th>
                <!--<th rowspan="2" data-options="field:'address1',width:90">合计金额</th>-->
            </tr>
            <tr>
                <th data-options="field:'一',width:70">一月</th>
                <th data-options="field:'二',width:70">二月</th>
                <th data-options="field:'三',width:70">三月</th>
                <th data-options="field:'四',width:70">四月</th>
                <th data-options="field:'五',width:70">五月</th>
                <th data-options="field:'六',width:70">六月</th>
                <th data-options="field:'七',width:70">七月</th>
                <th data-options="field:'八',width:70">八月</th>
                <th data-options="field:'九',width:70">九月</th>
                <th data-options="field:'十',width:70">十月</th>
                <th data-options="field:'十一',width:70">十一月</th>
                <th data-options="field:'十二',width:70">十二月</th>

            </tr>
        </thead>
    </table>
</div>
        </div>


