<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'north',border:false" style="height:80px;padding:0">
    </div>
    <div region="west" id="westpanel" border="false" split="true" title="业务导航" class="cs-west">
        <div id="menu_pension" fit="true" border="false">
        </div>
    </div>
    <div id="mainPanle" region="center" border="false">
        <div id="tabs" class="easyui-tabs"   fit="true" border="false" >
            <div title="主页" class="indexbackground_2">
                <div class="cs-home-remark">
                    <h3 style="font-family: 'courier new'">欢迎使用民政养老救助系统</h3>
                </div>
            </div>
        </div>
    </div>
</div>