<ul class="leftul">
    <li class="leftli">
        <ul>
            <li class="menulevelone"><a href="#" class="green">地名决策分析<span></span></a></li>
            <li class="dropdown">
                <ul>
                    <li><a href="#">业务分析</a></li>
                    <li><a href="#">地名数据查询</a></li>
                    <li><a href="#">门牌数据查询</a></li>
                    <li><a href="#">界桩点查询</a></li>
                    <li><a href="#">界线查询</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="leftli">
        <ul>
            <li class="menulevelone"><a href="#" class="orange">民管决策分析<span></span></a></li>
            <li class="dropdown">
                <ul>
                    <li><a href="#">链接一</a></li>
                    <li><a href="#">链接二</a></li>
                    <li><a href="#">链接三</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="leftli">
        <ul>
            <li class="menulevelone"><a href="#" class="blue">社工处决策分析<span></span></a></li>
            <li class="dropdown">
                <ul>
                    <li><a href="#">链接一</a></li>
                    <li><a href="#">链接二</a></li>
                    <li><a href="#">链接三</a></li>
                    <li><a href="#">链接四</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="leftli">
        <ul>
            <li class="menulevelone"><a href="#" class="blue">基政决策分析<span></span></a></li>
            <li class="dropdown">
                <ul>
                    <li><a href="#">链接一</a></li>
                    <li><a href="#">链接二</a></li>
                    <li><a href="#">链接三</a></li>
                    <li><a href="#">链接四</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

