<!--资金发放-->
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:65px;padding:10px 15px 0 15px;">
        <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                &nbsp;<span>姓名 </span><span><input type="text" opt="name" size="5" class="inputtext"></span>
                &nbsp;<span>身份证号 </span><span><input type="text" opt="identityid" size="18" class="inputtext"></span>
                &nbsp;<span>业务期 </span><span><input type="text" opt="bsnyue" size="8" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns" opt="query">
                    <input class="btns" opt="addgrantmoney" type="button" value="资金发放" style="width: 70px">
                </span>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
        <table opt="ppgrantmoneyissue"
               data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               fitColumns:false,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               striped:true,
               loadMsg:'',
               pagination:true">
            <thead data-options="frozen:true">
                <tr>
                    <th rowspan="2" data-options="field:'bsnyue',width:80,align:'center'">业务期</th>
                    <th rowspan="2" data-options="field:'name',width:60,align:'center'">姓名</th>
                    <th rowspan="2" data-options="field:'identityid',width:160,align:'center'">身份证号码</th>
                    <th rowspan="2" data-options="field:'monthsubsidy',width:90,align:'center'">每月补助(/元)</th>
                    <th rowspan="2" data-options="field:'subsidy_money',width:90,align:'center'">住院补助(/元)</th>
                    <th rowspan="2" data-options="field:'servicetime',width:110,align:'center'">服务时间(/小时)</th>
                </tr>
            </thead>
            <thead>
            <tr>
                <th colspan="7">基本信息</th>
                <!--<th colspan="7">生活方面</th>-->
            </tr>
            <tr>
                <th data-options="field:'birthd',width:100,align:'center'">出生日期</th>
                <th data-options="field:'gender',width:60,formatter:cj.enumFormatter('gender'),align:'center'">性别</th>
                <th data-options="field:'age',width:60,align:'center'">年龄</th>
                <th data-options="field:'nation',width:60,formatter:cj.enumFormatter('oldnation'),align:'center'">民族</th>
                <th data-options="field:'type',width:80,align:'center'">人员类型</th>
                <th data-options="field:'age2',width:80,align:'center'">服务等级</th>
                <th data-options="field:'address',width:90,align:'center'">家庭地址</th>
                <th rowspan="2" data-options="field:'ro',width:70,align:'center',formatter:function(value,rowData,rowIndex)
                    {
                        var str='<div></div>';
                        str=$(str).append('<a action=&quot;resend&quot;title=&quot;重发&quot;><div class=&quot;resend_btn&quot;></div></a>');
                        return str.html();
                    }">操作</th>
                <!--<th data-options="field:'sh_jings'">生活-进食</th>
                <th data-options="field:'sh_yid'">移动</th>
                <th data-options="field:'sh_weis'">个人卫生</th>
                <th data-options="field:'sh_ruc'">入厕</th>
                <th data-options="field:'sh_xiz'">洗澡</th>
                <th data-options="field:'sh_xingz'">行走于平地上</th>
                <th data-options="field:'sh_lout'">上下楼梯</th>-->
            </tr>
            </thead>
        </table>
    </div>
</div>

