<!--资金发放弹出框-->
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:45px;">
        <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 6px;padding-right:3px;">
                &nbsp;<span>业务期 </span><span><input opt="bsnyue"  type="text" size="10" class="inputtext"></span>
                &nbsp;<span>姓名 </span><span><input opt="name" type="text" size="5" class="inputtext"></span>
                &nbsp;<span>身份证 </span><span><input opt="identityid" type="text" size="18" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns" opt="query">
                </span>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <table opt="ppgrantmoneyissuedlg"
               data-options="
            method:'post',
            fit:true,
            border:false,
            rownumbers:true,
            fitColumns:true,
            singleSelect:false,
            loadMsg:'',
            pagination:true">
            <thead>
            <tr>
                <th data-options="field:'ck',checkbox:true"></th>
                <th data-options="field:'pg_id',hidden:true"></th>
                <th data-options="field:'name',width:75">姓名</th>
                <th data-options="field:'identityid',width:160">户主身份证</th>
                <!--<th data-options="field:'money',width:93,editor:'numberbox'">金额(元)</th>-->
                <th data-options="field:'monthsubsidy',width:85">每月补助(/元)</th>
                <th data-options="field:'hospitalsubsidy',width:85">住院补助(/元)</th>
                <th data-options="field:'servicetime',width:95">服务时间(/小时)</th>
                <!--<th data-options="field:'madeflag',width:60">到账</th>-->
            </tr>
            </thead>
        </table>
    </div>
</div>
