.tabs-header {
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.tabs {
    list-style-type: none;
    height: 30px;
    margin: 0px;
    padding: 0px;
    width: 5000px;
    border-style: solid;
    border-width: 0 0 0px 0;
}
.tabs li {
    float: left;
    display: inline-block;
    margin: 0 4px -1px 0;
    padding: 0;
    position: relative;
    border: 0;
    border: 1px solid #e5e5e5;
    height: 30px;
}
.tabs li a.tabs-inner {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0 10px;
    height: 30px;
    text-align: center;
    border-radius: 0px 0px 0 0;
    background-color: #f2f2f2;
    background: linear-gradient(to bottom,#f2f2f2 0,#f2f2f2 100%);
    border-color: #ffffff;
}

.tabs-header, .tabs-tool {
    border-color: #ffffff;
    background-color: #ffffff;
    border-left: 1px solid #e5e5e5;
}
.tabs-panels{
    /*border-color: #0E2C54;*/
    border: 1px solid #e5e5e5;
}

.tabs li.tabs-selected a.tabs-inner{
    border-color: #ffffff;
    border-top: 2px solid #0080d8;
    color: #0080d8;
    background: -webkit-linear-gradient(top,#ffffff 0,#ffffff 100%);
}

/*datagird样式调整*/
/*.datagrid-header td{
    border-width: 0 3px 3px 0;
    border-style: dotted;
    margin: 0;
    padding: 0;
}*/
.datagrid-header{
    background-color: #f3f3f3;
    background: linear-gradient(to bottom,#f3f3f3 0,#f3f3f3 100%);
    background-repeat: repeat-x;
}
.datagrid-header .datagrid-cell {
    height: 30px;
    color: #666666;
    font-size: 14px;
    font-family: 微软雅黑;
    padding-top: 14px;
    font-weight: bold;
    background-color: #f3f3f3;
}
.datagrid-row-over{
    color: #f3f3f3;
    cursor: default;
    background-color: #eaf8fe;
}
.datagrid-header .datagrid-header-over{
    color: #f3f3f3;
    cursor: default;
    border: none;
}
.datagrid .datagrid-pager {
    display: block;
    margin: 0;
    border-width: 1px 0 1px 0;
    border-style: solid;
    background-color: #ffffff;
    height: 45px;
    color: #545454;
}
.datagrid-header-row, .datagrid-row {
    height: 30px;
}
.datagrid-row-selected {
    background: #eaf8fe;
    color: #f3f3f3;
}
.datagrid-header-row td{
    background-color:#f3f3f3;
    color:#f3f3f3;
    border: none;
}
.datagrid-header-row td:hover{
    background-color:#f3f3f3;
}

/*.panel-header{
    border-color: #e5e5e5;
}*/
.panel-body {
    border: none;
}
.datagrid .panel-body{
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.pagination-info {
    float: right;
    margin: 0 6px 0 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
}
.pagination table {
    float: left;
    height: 50px;
}

/*下拉框*/
.combo {
    border-color: #e5e5e5;
    background-color: #ffffff;
    height: 24px;
}
.combo-arrow {
    background-color: #e5e5e5;
}

/*tabs竖排*/
.verticaltabs .tabs-header{
    background-color: #EAEAEA;
}
.verticaltabs .tabs-header .tabs-wrap .tabs{
    border-color: #EFF5FF;!important;
}
.verticaltabs .tabs-header .tabs-wrap .tabs li{
    border: none;
}
.verticaltabs .tabs-header .tabs-wrap .tabs li a{
    border-color: #EFF5FF;!important;
}
.verticaltabs .tabs-header .tabs-wrap .tabs li.tabs-selected a.tabs-inner .tabs-title a {
    color: #0080d8;!important;
}
.verticaltabs .tabs-header .tabs-wrap .tabs .tabs-inner .tabs-title a {
    color: #3d3d3d;!important;
    font-size: 13px;
}

.datagrid-header td, .datagrid-footer td {
    border-width: 0 1px 1px 0;
    border-style: solid;
    margin: 0;
    padding: 0;
}
.datagrid-body td{
    height: 50px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    color: #545454;
    font-family: 微软雅黑;
    font-size: 14px;
}
.datagrid-body td a{
    color: #545454;
    font-family: 微软雅黑;
    font-size: 14px;
}

.easyui2 .datagrid-view2 .datagrid-body td div{
    font-size: 18px;!important;
    /*border: 1px solid red;*/
}

/*底部*/
.pagination-btn-separator{
    border: none;
}
.pagination-page-list, .pagination .pagination-num{
    border-color: #f3f3f3;
}
a.l-btn span span.l-btn-text {
    position: relative;
    display: inline-block;
    top: 0px;
    width: auto;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}
