.tabs-header {
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0;
    position: relative;
    padding: 0;
    /*padding-top: 2px;*/
    overflow: hidden;
}

.tabs {
    list-style-type: none;
    height: 30px;
    margin: 0px;
    padding: 0px;
    /* padding-left: 4px; */
    width: 5000px;
    border-style: solid;
    border-width: 0 0 0px 0;
}
.tabs li {
    float: left;
    display: inline-block;
    margin: 0 4px -1px 0;
    padding: 0;
    position: relative;
    border: 0;
    border: 1px solid #e5e5e5;
    height: 30px;
    /*width: 120px;*/
}
.tabs li a.tabs-inner {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0 10px;
    height: 30px;
    /*line-height: 30px;*/
    text-align: center;
    /*white-space: nowrap;*/
    /*border-width: 0px;*/
    /*border-style: solid;*/
    /*-moz-border-radius: 5px 5px 0 0;*/
    /*-webkit-border-radius: 5px 5px 0 0;*/
    border-radius: 0px 0px 0 0;
    background-color: #f2f2f2;
    background: linear-gradient(to bottom,#f2f2f2 0,#f2f2f2 100%);
    /*border: 1px solid red;*/
    border-color: #ffffff;
    /*width: 98px;*/
}

.tabs-header, .tabs-tool {
    border-color: #ffffff;
    background-color: #ffffff;
    border-left: 1px solid #e5e5e5;
}
.tabs-panels{
    /*border-color: #0E2C54;*/
    border: 1px solid #e5e5e5;
}

.tabs li.tabs-selected a.tabs-inner{
    border-color: #ffffff;
    border-top: 2px solid #0080d8;
    color: #0080d8;
    background: -webkit-linear-gradient(top,#ffffff 0,#ffffff 100%);
}

/*datagird样式调整*/
/*.datagrid-header td{
    border-width: 0 3px 3px 0;
    border-style: dotted;
    margin: 0;
    padding: 0;
}*/
.datagrid-header{
    background-color: #6fb3e0;
    background: linear-gradient(to bottom,#6fb3e0 0,#6fb3e0 100%);
    background-repeat: repeat-x;
}
.datagrid-header .datagrid-cell {
    height: 25px;
    color: #ffffff;
    padding-top: 4px;
    font-weight: bold;
    background-color: #6fb3e0;
}
.datagrid-row-over,
.datagrid-header .datagrid-header-over {
    color: #000000;
    cursor: default;
}
.datagrid .datagrid-pager {
    display: block;
    margin: 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    background-color: #eff3f8;
    height: 50px;
}
.datagrid-header-row, .datagrid-row {
    height: 30px;
}
.datagrid-row-selected {
    background: #dbeff2;
    color: #000000;
}
.datagrid-header-row td{
    background-color:#6fb3e0;
    color:#fff
}
.panel-header, .panel-body {
    border-color: #e5e5e5;
}
.pagination-info {
    float: right;
    margin: 0 6px 0 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
}
.pagination table {
    float: left;
    height: 50px;
}

/*下拉框*/
.combo {
    border-color: #e5e5e5;
    background-color: #ffffff;
    height: 24px;
}
.combo-arrow {
    background-color: #e5e5e5;
}