table {
    border-collapse:collapse;
    border-spacing:0;
}
.input-text {
    border: 1px solid #e5e5e5;
    height: 18px;
    padding: 2px 0 2px 5px;
    background: #fff  repeat-x;
    font-family: Verdana, Geneva, sans-serif, "宋体";
    font-size: 14px;
    width: 130px;
    color: #000000;
}
.table_form .input-text .easyui-combobox{
    /*background-color: #e5e5e5;*/
}
textarea,textarea.input-text,textarea.input-focus{font-size:12px;height:auto; padding:5px; margin:0;}

/*表格表单*/
.table_form{}
.table_form input{
    color: #2F4F4F;
    font-family: 微软雅黑;
    /*background-color: #F5F5F5;*/
}
.table_form td{
    /*padding-left:12px;*/
    font-family: 微软雅黑;
    font-size: 14px;
}
.table_form th{font-weight:normal; text-align:right;padding-right:10px; color:#777}
.table_form td label{ vertical-align:middle;}
.table_form td,.table_form th{padding:6px 0 6px 8px}
.table_form tbody td,.table_form tbody th{
    border:1px solid #e5e5e5;
}
.colorpanel tbody td,.colorpanel tbody th{ padding:0;border-bottom: none;}
.formtdtext {
    width:110px;
    text-align: right;
}
.formtdtext label:after{
    content: ":"
}
.common-form table{
    /*min-width: 500px;*/
    margin: 0px auto;
    border: 1px solid #e5e5e5;
}
.common-form fieldset,.common-form fieldset table{
    /*width: 1100px;*/
    margin: 0px auto;
    border: 1px solid #e5e5e5;
}

div.form-foot-btns ul li a, div.form-foot-btns ul li a:visited
{
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    outline-width: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-top: 2px;
}
textarea{
    border: 1px solid #e5e5e5;
}




