<!--<div>
    <input id="trendselect" class="easyui-combobox" name="sys_mmrelation" style="width: 150px"
           data-options=" data:cj.getEnum('servicetype'), editable:false, valueField:'id', textField:'text' "
            >
    <div id="XueYYT" style="min-width:900px;height:500px"></div>
</div>-->



<table class="newRadio22">
    <tr>
        <td>
            监测类型：
        </td>
        <td>
            <input type="radio" name="monitype" checked="checked"
                   value="xuetang" />
            <label>血糖</label>

            <input type="radio" name="monitype"
                   value="xueya"   />
            <label>血压</label>

            <input type="radio" name="monitype"
                   value="xueyang"  />
            <label> 血氧</label>


        </td>
    </tr>
</table>

<div id="container">
</div>