<div  class="easyui-panel newRadio"
      style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
      data-options="fit:true,border:false">
    <form opt="formfields" method="post">
    <table width="100%" style="margin: 0 auto;margin-top: 10px;" cellpadding="2" cellspacing="1" class="table_form">
        <tr>
            <td class="formtdtext">民族 :</td>
            <td>
                <input class="easyui-combobox"
                       opt="nation"
                       name="nation"
                       data-options="
                                loader: cj.getLoader('oldnation'),
                                mode: 'remote',
                                valueField:'id',
                                textField:'text'">
            </td>
            <td class="formtdtext">类别 :</td>
            <td>
                <input class="easyui-combobox"
                       name="gntype"
                       data-options="
                                loader: cj.getLocalEnum('lb'),
                                mode: 'remote',
                                valueField:'id',
                                textField:'text'">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">婚姻状况 :</td>
            <td>
                <input class="easyui-combobox"
                       name="marriage"
                       data-options="
                                loader: cj.getLocalEnum('hyzk'),
                                mode: 'remote',
                                valueField:'id',
                                textField:'text'">
            </td>
            <td class="formtdtext">文化程度 :</td>
            <td>
                <input class="easyui-combobox"
                       name="culture"
                       data-options="
                                loader: cj.getLocalEnum('whchd'),
                                mode: 'remote',
                                valueField:'id',
                                textField:'text'">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">空巢原因 :</td>
            <td>
                <input class="easyui-combobox"
                       name="emptyreason"
                       data-options="
                                loader: cj.getLocalEnum('kchyy'),
                                mode: 'remote',
                                valueField:'id',
                                textField:'text'">
            </td>
            <td class="formtdtext">子女探望频率 :</td>
            <td>
                <input class="easyui-combobox"
                       name="visittime"
                       data-options="
                                loader: cj.getLocalEnum('zntw'),
                                mode: 'remote',
                                valueField:'id',
                                textField:'text'">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">个人月收入(元) :</td>
            <td colspan="3">
                <input class="easyui-combobox"
                       name="monthincome"
                       data-options="
                                loader: cj.getLocalEnum('yshr'),
                                mode: 'remote',
                                valueField:'id',
                                textField:'text'">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">兴趣爱好 :</td>
            <td colspan="3" opt="xq">
                <input type="checkbox" name="xq_watchtv" value="0"><label>看电视</label>
                <input type="checkbox" name="xq_exercise" value="0"><label>散步等锻炼身体</label>
                <input type="checkbox" name="xq_chess" value="0"><label>棋类、牌类活动</label>
                <input type="checkbox" name="xq_nohobby" value="0"><label>无业余爱好</label>
                <input type="checkbox" name="xq_other" value="0"><label>其他</label>
            </td>
        </tr>
        <tr>
            <td class="formtdtext">经济来源 :</td>
            <td colspan="3" opt="jj">
                <input type="checkbox" name="jj_childprovide" value="0"><label>子女提供</label>
                <input type="checkbox" name="jj_retirepay" value="0"><label>退休工资</label>
                <input type="checkbox" name="jj_remolition" value="0"><label>拆迁补偿</label>
                <input type="checkbox" name="jj_pension" value="0"><label>养老保险</label>
                <input type="checkbox" name="jj_assistance" value="0"><label>社会救助</label>
                <br>
                <input type="checkbox" name="jj_deposit" value="0"><label>存款、红利及租金等</label>
                <input type="checkbox" name="jj_other" value="0"><label>其他</label>
            </td>
        </tr>
        <tr>
            <td class="formtdtext">困难活动 :</td>
            <td colspan="3" opt="kn">
                <input type="checkbox" name="kn_eat" value="0"><label>吃饭</label>
                <input type="checkbox" name="kn_bathe" value="0"><label>洗澡</label>
                <input type="checkbox" name="kn_floor" value="0"><label>上下楼梯</label>
                <input type="checkbox" name="kn_housework" value="0"><label>简单家务</label>
                <input type="checkbox" name="kn_walk" value="0"><label>室内行走</label>
                <br>
                <input type="checkbox" name="kn_transit" value="0"><label>乘公共交通工具</label>
                <input type="checkbox" name="kn_toilet" value="0"><label>上厕所</label>
                <input type="checkbox" name="kn_bed" value="0"><label>上下床</label>
                <input type="checkbox" name="kn_nothing" value="0"><label>以上都没有</label>
            </td>
        </tr>
        <tr>
            <td class="formtdtext">需要服务 :</td>
            <td colspan="3" opt="fw">
                <input type="checkbox" name="fw_housekeeping" value="0"><label>家政服务</label>
                <input type="checkbox" name="fw_treatment" value="0"><label>送医送药上门</label>
                <input type="checkbox" name="fw_meal" value="0"><label>送饭（外卖)</label>
                <input type="checkbox" name="fw_tend" value="0"><label>日间照料中心</label>
                <br>
                <input type="checkbox" name="fw_doctor" value="0"><label>陪同看病</label>
                <input type="checkbox" name="fw_dailyshop" value="0"><label>代购日常物品</label>
                <input type="checkbox" name="fw_aid" value="0"><label>紧急救助</label>
                <input type="checkbox" name="fw_hotline" value="0"><label>老年人服务热线</label>
                <br>
                <input type="checkbox" name="fw_entertainment" value="0"><label>文化娱乐</label>
                <input type="checkbox" name="fw_law" value="0"><label>法律服务</label>
                <input type="checkbox" name="fw_chat" value="0"><label>聊天解闷</label>
                <input type="checkbox" name="fw_nothing" value="0"><label>以上都不需要</label>
            </td>
        </tr>
        <tr>
            <td class="formtdtext">晚年生活最缺 :</td>
            <td colspan="3" opt="lack">
                <input type="checkbox" name="zq_barrierfree" value="0"><label>无障碍设施服务</label>
                <input type="checkbox" name="zq_pensionagency" value="0"><label>入住养老机构</label>
                <input type="checkbox" name="zq_homecare" value="0"><label>居家养老服务</label>
                <input type="checkbox" name="zq_volunteers" value="0"><label>志愿者结对服务</label>
                <input type="checkbox" name="zq_other" value="0"><label>其他</label>
            </td>
        </tr>

    </table>
    </form>
</div>

