<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:65px;padding:10px 15px 0 15px;">
        <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                &nbsp;<span>姓名 </span><span><input opt="name" type="text" size="5" class="inputtext"></span>
                &nbsp;<span>性别 </span><span><input opt="gender" class="easyui-combobox" style="width: 100px"
                                                   data-options="
                                                    loader:cj.getLoader('gender'),
                                                    editable:false,
                                                    valueField:'id',
                                                    textField:'text'"></span>
                &nbsp;<span>年龄 </span><span><input opt="minage" type="text" size="5" class="inputtext"> -- <input opt="maxage" type="text" size="5" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns" opt="query">
                    <input type="button" value="空巢老人录入" class="btns" opt="add_emptynest" style="width: 100px;">
                </span>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
        <table class="easyui-datagrid-noauto" opt="peopleinfoquery"
               data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               fitColumns:true,
               loadMsg:'',
               pagination:true">
            <thead>
            <tr>
                <th data-options="field:'name',width:90,align:'center',
                    formatter:function(v,r,i)
                    {
                        var str='<div></div>';
                        str=$(str).append('<a action=&quot;view&quot;href=&quot;javaScript:;&quot;>'+v+'</a>');
                        return str.html();
                    }">姓名</th>
                <th data-options="field:'gender',width:60,align:'center',formatter:cj.enumFormatter('gender')">性别</th>
                <th data-options="field:'nation',width:60,align:'center',formatter: cj.enumFormatter('oldnation')">名族</th>
                <th data-options="field:'age',width:40,align:'center'">年龄</th>
                <th data-options="field:'birthd',width:120,align:'center'">出生年月</th>
                <th data-options="field:'address',width:250,align:'center'">家庭住址</th>
                <th data-options="field:'registration',width:190,align:'center'">户籍地</th>
                <th data-options="field:'ro',width:130,align:'center',formatter:function(value,rowData,rowIndex)
                    {
                        var str='<div></div>';
                        str=$(str).append('<a action=&quot;update&quot;title=&quot;修改&quot;><div class=&quot;update_btn&quot;style=&quot;float:left;&quot;></div></a>');
                        str=$(str).append('<a action=&quot;delete&quot;title=&quot;删除&quot;><div class=&quot;del_btn&quot;style=&quot;float:right;&quot;></div></a>');
                        return str.html();
                    }">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

