<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:65px;padding:10px 15px 0 15px;">
        <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                &nbsp;<span>姓名 </span><span><input type="text" size="5" class="inputtext"></span>
                &nbsp;<span>身份证号 </span><span><input type="text" size="15" class="inputtext"></span>
                &nbsp;<span>年龄 </span><span><input type="text" size="5" class="inputtext"> -- <input type="text" size="5" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btn">
                    <input type="button" value="导出" class="btn">
                </span>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
        <table class="easyui-datagrid" data-options="fit:true,
                                                                fitColumns:true,pagination:true">
            <thead>
            <tr>
                <th data-options="field:'code',width:100,align:'center'">姓名</th>
                <th data-options="field:'name',width:100,align:'center'">出生年月</th>
                <th data-options="field:'price',width:100,align:'center'">身份证号</th>
                <th data-options="field:'price',width:100,align:'center',
                                            formatter:function(value,rowData,rowIndex){
                                            var str='<div></div>';
                                            str=$(str).append('<a action=&quot;delete&quot;title=&quot;删除&quot;>删除</a>');
                                            return str.html();
                                        }">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>夏留金</td><td>1950-04-11</td><td>330424194406182017</td><td>2323</td>
            </tr>
            <tr>
                <td>鲍天松</td><td>1959-04-02</td><td>330424195904022010</td><td>2323</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--<div style="position: absolute;width: 100%;height: 100%;" class="newRadio">
    <div style="padding: 6px;padding-bottom: 2px">
        <div class="highcharstoolbar">&nbsp;&nbsp;统计条件</div>
        <div style="border: 1px solid rgba(128, 176, 79, 0.12);padding: 8px;padding-top: 2px;padding-bottom: 2px;">
            <table cellspacing="0" cellpadding="0" style="text-align: left;">
                <tr>
                    <td class="formtdtext">
                        &lt;!&ndash;<label class="text-align text-overflow">地区</label>&ndash;&gt;
                        <input type="radio" name="place" value="place"><label>地区</label>
                    </td>
                    <td>
                        <input class="easyui-combotree" opt="districtid" data-options="width:189">

                    </td>

                    <td class="formtdtext">
                        <input type="radio" name="type" value="type"><label>人员类型</label>
                    </td>
                    <td>
                        <input class="easyui-combobox "
                               opt="type"
                               name="type"
                               data-options="
                                width:189,
                                loader:cj.getLoader('oldtype'),
                                editable:false,
                                valueField:'id',
                                textField:'text',">
                    </td>

                    <td class="formtdtext">
                        <label class="text-align text-overflow">年龄</label>
                    </td>
                    <td>
                        <input class="easyui-datebox" data-options="width:87" opt="birth1">到
                        <input class="easyui-datebox" data-options="width:87" opt="birth2">
                    </td>

                    <td style="padding-left: 100px;">
                        <input class="highcharstoolbarbutton" type="button" opt="tongji" value="统计分析">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="padding: 6px;padding-top: 2px">
        <span style="position:absolute;height:466px;width:50%;float: left">
            <table class="easyui-datagrid-noauto" opt="pptongji"
                   data-options="
                   method:'post',
                   fit:true,
                   border:false,
                   rownumbers:true,
                   fitColumns:true,
                   pageSize:cj.getDataGridAttr('pageSize'),
                   pageList:cj.getDataGridAttr('pageList'),
                   singleSelect:true,
                   loadMsg:'',
                   pagination:true">
                <thead>
                <tr>
                    <th data-options="field:'ro',width:120,align:'center',formatter:function(value,rowData,rowIndex)
                        {
                            var str='<div></div>';
                            str=$(str).append('<a action=&quot;map&quot;title=&quot;地图&quot;><span><span class=&quot;icon-map-pl1&quot;></span></span></a>');
                            return str.html();
                        }"><label style="color:rgba(5,8,11,0.84);font-weight:bold">操作</label>
                    </th>
                    <th data-options="field:'dvname',align:'left',width:100">
                        <label style="color:rgba(5,8,11,0.84);font-weight:bold">行政区划</label>
                    </th>
                    <th data-options="field:'name',align:'left',width:50">
                        <label style="color:rgba(5,8,11,0.84);font-weight:bold">人员类别</label>
                    </th>
                    <th data-options="field:'birthd',align:'left',width:100">
                        <label style="color:rgba(5,8,11,0.84);font-weight:bold">出生年月</label>
                    </th>
                    <th data-options="field:'opsum',align:'left',width:50">
                        <label style="color:rgba(5,8,11,0.84);font-weight:bold">数量(/人)</label>
                    </th>

                </tr>
                </thead>
            </table>
        </span>
        <span style="position:relative;width:48%;height:100%;float: right;border: 1px solid rgba(128, 176, 79, 0.12);">
            <div>
                <div class="highcharstoolbar">&nbsp;&nbsp;饼状图统计</div>
                <div opt="containerPie" style="height: 250px"></div>
            </div>
        </span>
    </div>
</div>-->

