<!--老年人查询-->
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:65px;padding:10px 15px 0 15px;">
        <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;min-width:1000px;min-height:45px;background-color: #eff3f8;">
            <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                <span>
                    &nbsp;<span>老人类型 </span>
                    <select opt="ppselect">
                        <option value="">所有老人</option>
                        <option value="f">服务评估老人</option>
                        <option value="j">养老机构老人</option>
                        <option value="s">三低老人</option>
                        <option value="k">老人卡</option>
                    </select>
                </span>
                &nbsp;<span>姓名 </span><span><input opt="name" type="text" size="5" class="inputtext"></span>
                &nbsp;<span>身份证号 </span><span><input opt="identityid" type="text" size="15" class="inputtext"></span>
                &nbsp;<span>年龄 </span><span><input style="text-align: center" opt="minage" type="text" size="5" class="inputtext"> -- <input style="text-align: center" opt="maxage" type="text" size="5" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns" opt="query">
                    <input type="button" value="导出Excel" style="width: 70px;" class="btns" opt="exportexcel">
                </span>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
        <table class="easyui-datagrid-noauto" opt="peopleinfoquery"
               data-options="fit:true,
                    fitColumns:false,
                    method:'post',
                    singleSelect:true,
                    loadMsg:'',
                    pagination:true">
            <thead frozen="true">
            <tr>
                <th data-options="field:'lr_id',hidden:true">老人表主键</th>
                <th data-options="field:'name',width:80,align:'center',
                formatter:function(v,r,i){
                            var str='<div></div>';
                            str=$(str).append('<a action=&quot;view&quot;href=&quot;javaScript:;&quot;>'+v+'</a>');
                            return str.html();
                        }">姓名</th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th data-options="field:'gender',width:60,align:'center',formatter: cj.enumFormatter('gender')">性别</th>
                <th data-options="field:'nation',width:60,align:'center',formatter: cj.enumFormatter('oldnation')">名族</th>
                <th data-options="field:'age',width:40,align:'center',hidden:true">年龄</th>
                <th data-options="field:'birthd',width:100,align:'center'">出生年月</th>
                <th data-options="field:'identityid',width:170,align:'center'">身份证号</th>
                <th data-options="field:'type',width:100,align:'center',formatter: cj.enumFormatter('oldtype')">人员类别</th>
                <th data-options="field:'address',width:200,align:'center'">家庭住址</th>
                <th data-options="field:'registration',width:190,align:'center'">户籍地</th>
                <th data-options="field:'mobilephone',width:120,align:'center'">手机号码</th>
                <th data-options="field:'live',width:100,align:'center',hidden:true">居住环境</th>
                <th data-options="field:'marriage',width:100,align:'center',hidden:true">婚姻状况</th>
                <th data-options="field:'economy',width:100,align:'center',hidden:true">家庭经济条件</th>
                <th data-options="field:'vocation',width:100,align:'center',hidden:true">曾从事职业</th>
                <th data-options="field:'culture',width:100,align:'center',hidden:true">文化程度</th>
                <th data-options="field:'retirewage',width:100,align:'center',hidden:true">退休工资</th>
                <th data-options="field:'telephone',width:100,align:'center',hidden:true">住宅电话</th>
                <th data-options="field:'hjj_hjj',width:100,align:'center',hidden:true">老人呼叫机</th>
                <th data-options="field:'ro',width:80,align:'center',formatter:function(value,rowData,rowIndex)
                    {
                        var str='<div></div>';
                        str=$(str).append('<a action=&quot;map&quot;title=&quot;地图&quot;><div class=&quot;map_btn&quot;></div></a>');
                        return str.html();
                    }"><a href="javascript:void(0)" opt="addfield" title="添加字段"><span><span class="icon-add-field"></span></span></a>操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<input type="file" style="display: none" opt="fileInput" />

