<div class="easyui-panel newRadio" opt="pensionformpanel" data-options="fit:true,border:false">

    <form opt="pensionform" extopt="FmlMemInfo" method="post">


        <div class="fieldTemplateA" fieldtitle="老人基本信息">
            <table class="formtable">
                <tbody>
                <tr>
                    <td><label class="text-align text-overflow">id</label><input
                            class=" easyui-numberbox  easyui-validatebox " name="id"
                            data-options=" max:10,required:true"></td>
                    <td><label class="text-align text-overflow">workid</label><input class=" easyui-validatebox "
                                                                                     name="workid"
                                                                                     data-options="required:true"></td>
                    <td><label class="text-align text-overflow">地名代码</label><input class=" easyui-validatebox "
                                                                                   name="placecommon_id"
                                                                                   data-options="required:true"></td>
                    <td><label class="text-align text-overflow">类型</label><input class=" easyui-validatebox "
                                                                                 name="leixing"
                                                                                 data-options="required:true"></td>
                </tr>
                <tr>
                    <td><label class="text-align text-overflow">所属行业</label><input class=" easyui-validatebox "
                                                                                   name="suoshuhangye"
                                                                                   data-options="required:true"></td>
                    <td><label class="text-align text-overflow">地址</label><input class=" easyui-validatebox "
                                                                                 name="dizhi"
                                                                                 data-options="required:true"></td>
                    <td><label class="text-align text-overflow">法人代表</label><input class=" easyui-validatebox "
                                                                                   name="farendaibiao"
                                                                                   data-options="required:true"></td>
                    <td><label class="text-align text-overflow">电话区号</label><input class=" easyui-validatebox "
                                                                                   name="dianhuaquhao"
                                                                                   data-options="required:true"></td>
                </tr>
                <tr>
                    <td><label class="text-align text-overflow">电话</label><input class=" easyui-validatebox "
                                                                                 name="dianhua"
                                                                                 data-options="required:true"></td>
                    <td><label class="text-align text-overflow">邮政编码</label><input class=" easyui-validatebox "
                                                                                   name="youzhengbianma"
                                                                                   data-options="required:true"></td>
                    <td><label class="text-align text-overflow">业务范围</label><input class=" easyui-validatebox "
                                                                                   name="yewufanwei"
                                                                                   data-options="required:true"></td>
                    <td><label class="text-align text-overflow">职工人数</label><input
                            class=" easyui-numberbox  easyui-validatebox " name="zhigongrenshu"
                            data-options=" max:null,required:true"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </form>

</div>

<div opt="form_btns">
    <div opt="pensionbutton" class="fixedtoolbar">
        <a opt="pensionsubmit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
    </div>
</div>
