
<td><label class="text-align text-overflow">600民话语</label><input class=" easyui-validatebox " name="minzuyu"
                                                                 data-options=" validType:['maxLength[600]']">

<td><label class="text-align text-overflow">图形编号</label><input class=" easyui-validatebox " name="mapid"
                                                               data-options=" validType:['maxLength[40]']"></td>
</tr>
    <td><label class="text-align text-overflow">创建时间</label><input class=" easyui-datebox " name="createdate"
                                                                   data-options=""></td>
    <td><label class="text-align text-overflow">修改时间</label><input class=" easyui-datebox " name="modifydate"
                                                                   data-options=""></td>
    <td><label class="text-align text-overflow">编辑状态</label><input class=" easyui-validatebox " name="edit_type"
                                                                   data-options=" validType:['maxLength[10]']"></td>

    <td><label class="text-align text-overflow">200地名读音</label><input class=" easyui-validatebox "
                                                                      name="dimingduyin"
                                                                      data-options=" validType:['maxLength[200]']">
    </td>

    <td><label class="text-align text-overflow">数据状态</label><input class=" easyui-validatebox " name="datastate"
                                                                   data-options=" validType:['maxLength[10]']"></td>
    <td><label class="text-align text-overflow">业务状态</label><input class=" easyui-validatebox " name="businessstate"
                                                                   data-options=" validType:['maxLength[50]']"></td>

    <td><label class="text-align text-overflow">romepinxie_tongming</label><input class=" easyui-validatebox "
                                                                                  name="romepinxie_tongming"
                                                                                  data-options=" validType:['maxLength[50]']">
    </td>
    <td><label class="text-align text-overflow">4000地理实体描述</label><input class=" easyui-validatebox "
                                                                         name="dilishitimiaoshu"
                                                                         data-options=" validType:['maxLength[4000]']">
    </td>

    <td><label class="text-align text-overflow">地名类型</label><input class=" easyui-validatebox " name="placetype"
                                                                   data-options=" validType:['maxLength[50]']"></td>
    <td><label class="text-align text-overflow">审批证号</label><input class=" easyui-validatebox " name="approve_num"
                                                                   data-options=" validType:['maxLength[50]']"></td>
    <td><label class="text-align text-overflow">数据独占标志（1为独占，0释放）</label><input class=" easyui-validatebox "
                                                                               name="isexclusive"
                                                                               data-options=" validType:['maxLength[10]']">
    </td>
    <td><label class="text-align text-overflow">hid</label><input class=" easyui-validatebox " name="hid"
                                                                  data-options=" validType:['maxLength[50]']"></td>
    <td><label class="text-align text-overflow">500起讫地址（具体地址）</label><input class=" easyui-validatebox "
                                                                            name="from_point"
                                                                            data-options=" validType:['maxLength[500]']">
    </td>
    <td><label class="text-align text-overflow">200具体地址</label><input class=" easyui-validatebox " name="address"
                                                                      data-options=" validType:['maxLength[200]']">
    </td>
    <td><label class="text-align text-overflow">flag</label><input class=" easyui-validatebox " name="flag"
                                                                   data-options=" validType:['maxLength[2]']"></td>
    <td><label class="text-align text-overflow">workid</label><input class=" easyui-validatebox " name="workid"
                                                                     data-options=" validType:['maxLength[50]']">
    </td>
    <td><label class="text-align text-overflow">200汉语拼音</label><input class=" easyui-validatebox " name="pingyin"
                                                                      data-options=" validType:['maxLength[200]']">
    </td>
    <td><label class="text-align text-overflow">3000变更情况</label><input class=" easyui-validatebox "
                                                                       name="changeinfo"
                                                                       data-options=" validType:['maxLength[3000]']">
    </td>
    <td><label class="text-align text-overflow">500变更原因</label><input class=" easyui-validatebox "
                                                                      name="changereason"
                                                                      data-options=" validType:['maxLength[500]']">
    </td>
    <td><label class="text-align text-overflow">地图关联ID</label><input class=" easyui-validatebox " name="mapguid"
                                                                     data-options=" validType:['maxLength[50]'],required:true">
    </td>
    <td><label class="text-align text-overflow">200专名</label><input class=" easyui-validatebox " name="zhuanming"
                                                                    data-options=" validType:['maxLength[200]']">
    </td>
    <td><label class="text-align text-overflow">200通名</label><input class=" easyui-validatebox " name="tongming"
                                                                    data-options=" validType:['maxLength[200]']">
    </td>

    </td>
    <td><label class="text-align text-overflow">500注销原因</label><input class=" easyui-validatebox "
                                                                      name="deletereason"
                                                                      data-options=" validType:['maxLength[500]']">
    </td>
    <td><label class="text-align text-overflow">行政区划内码</label><input class=" easyui-validatebox " name="district_id"
                                                                     data-options=" validType:['maxLength[50]']">
    </td>
    <td><label class="text-align text-overflow">时间代码</label><input class=" easyui-validatebox " name="shijiandaima"
                                                                   data-options=" validType:['maxLength[50]']"></td>

