<br>
<form opt="placecommon_from" method="post" >         <!--action="../../savetable"-->
    <div class="form-cmp-wrapper" style="margin-bottom: 20px;">

<h1 style="text-align: center;" opt="formtitle"><span opt="differentname"></span>受理表<input hidden="true" name="tablename"></h1>

<div class="formside">
    <label>登记时间</label>
    <input class="inputcmpcolor easyui-datebox " id="dengjishijian" name="dengjishijian" data-options="">
    <label>登记人</label>
    <input class="inputcmpcolor easyui-validatebox " name="dengjiren" data-options=" validType:['maxLength[50]']">
</div>
<hr/>
<!--<input type="hidden" name="id" value="1">-->

<table class="formtable02">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">标准名称专名</label>
        </td>
        <td><input class=" easyui-validatebox " name="biaozhunmingcheng" data-options=" validType:['maxLength[200]']">
        </td>

        <td class="formtdtext"><label class="text-align text-overflow">标准名称通名（不知道）</label>
        </td>
        <td><input class=" easyui-validatebox " name="tongming" data-options=" validType:['maxLength[200]']">
        </td>

        <td class="formtdtext"><label class="text-align text-overflow">地名代码</label>
        </td>
        <td  colspan="3"><input class="lenmorethan2col easyui-validatebox " name="placecode" opt="placecode"
                   data-options=" validType:['maxLength[20]']">
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">专名罗马拼写</label>
        </td>
        <td><input class=" easyui-validatebox " name="romezhuanming" data-options=" validType:['maxLength[200]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">通名罗马拼写</label>
        </td>
        <td><input class=" easyui-validatebox " name="rometongming" data-options=" validType:['maxLength[200]']">


        </td>
        <td class="formtdtext"><label class="text-align text-overflow">别名</label>
        </td>
        <td><input class=" easyui-validatebox " name="bieming" data-options=" validType:['maxLength[50]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">简称</label>
        </td>
        <td><input class=" easyui-validatebox " name="jiancheng" data-options=" validType:['maxLength[50]']">
        </td>
    </tr>
    <tr>


        <td class="formtdtext"><label class="text-align text-overflow">标准名称</label>
        </td>
        <td><input class=" easyui-validatebox " name="noname" data-options=" validType:['maxLength[50]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">图上名称</label>
        </td>
        <td><input class=" easyui-validatebox " name="tushangmingcheng" data-options=" validType:['maxLength[50]']">
        </td>

        <td class="formtdtext"><label class="text-align text-overflow">比例尺</label>
        </td>
        <td><input class=" easyui-validatebox " name="bilichi" data-options=" validType:['maxLength[20]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">语种</label>
        </td>
        <td><input class=" easyui-validatebox " name="yuzhong" data-options=" validType:['maxLength[20]']">
        </td>


    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">罗马拼写</label>
        </td>
        <td><input class=" easyui-validatebox " name="romepinxie" data-options=" validType:['maxLength[400]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">命名时间</label>
        </td>
        <td><input class=" easyui-validatebox " name="mingmingshijian" data-options=" validType:['maxLength[30]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">使用时间</label>
        </td>
        <td><input class=" easyui-validatebox " name="shiyongshijian" data-options=" validType:['maxLength[50]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">密级</label>
        </td>
        <td><input class=" easyui-validatebox " name="miji" data-options=" validType:['maxLength[6]']">
        </td>


    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">设立年份</label>
        </td>
        <td><input class=" easyui-validatebox " name="shelinianfen" data-options=" validType:['maxLength[22]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">废止年份</label>
        </td>
        <td><input class=" easyui-validatebox " name="feizhinianfen" data-options=" validType:['maxLength[22]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">标牌和数</label>
        </td>
        <td><input class=" easyui-validatebox " name="biaopaigeshu" data-options=" validType:['maxLength[22]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">高程</label>
        </td>
        <td><input class=" easyui-validatebox " name="gaocheng" data-options=" validType:['maxLength[126]']">
        </td>


    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">东经</label>
        </td>
        <td><input class=" easyui-validatebox " name="dongjing" data-options=" validType:['maxLength[126]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">至东经</label>
        </td>
        <td><input class=" easyui-validatebox " name="zhidongjing" data-options=" validType:['maxLength[126]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">北纬</label>
        </td>
        <td><input class=" easyui-validatebox " name="beiwei" data-options=" validType:['maxLength[126]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">至北纬</label>
        </td>
        <td><input class=" easyui-validatebox " name="zhibeiwei" data-options=" validType:['maxLength[126]']">
        </td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">坐标系</label>
        </td>
        <td><input class=" easyui-validatebox " name="zuobiaoxi" data-options=" validType:['maxLength[20]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">测量方法</label>
        </td>
        <td><input class=" easyui-validatebox " name="celiangfangfa" data-options=" validType:['maxLength[10]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">类型名称</label>
        </td>
        <td><input class=" easyui-validatebox " name="leibiemingcheng" data-options=" validType:['maxLength[40]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">图名图号</label>
        </td>
        <td><input class=" easyui-validatebox " name="tumingtuhao" data-options=" validType:['maxLength[100]']">
        </td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">全宗号</label>
        </td>
        <td><input class=" easyui-validatebox " name="quanzonghao" data-options=" validType:['maxLength[8]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">案卷号</label>
        </td>
        <td><input class=" easyui-validatebox " name="anjuanhao" data-options=" validType:['maxLength[12]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">目录号</label>
        </td>
        <td><input class=" easyui-validatebox " name="muluhao" data-options=" validType:['maxLength[6]']"></td>
        <td class="formtdtext"><label class="text-align text-overflow">是否规划</label>
        </td>
        <td><input class=" easyui-validatebox " name="shifouguihua" data-options=" validType:['maxLength[2]']">
        </td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">分类号</label>
        </td>
        <td><input class=" easyui-validatebox " name="fenleihao" data-options=" validType:['maxLength[12]']">
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">类目名称</label>
        </td>
        <td><input class=" easyui-validatebox " name="leimumingcheng" data-options=" validType:['maxLength[50]']"></td>
        <td class="formtdtext"><label class="text-align text-overflow">类目代码</label>
        </td>
        <td><input class=" easyui-validatebox " name="leimudaima" data-options=" validType:['maxLength[6]']"></td>
        <td class="formtdtext"><label class="text-align text-overflow">规划时间</label>
        </td>
        <td><input class=" easyui-datebox " name="guihuashijian" data-options="" style="width: 132px;height: 24px;">
        </td>

    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">含义</label>
        </td>
        <td  colspan="3"><input class="lenmorethan2col lenmorethan2row easyui-validatebox " name="hanyi"
                   data-options=" validType:['maxLength[4000]']"/>
        </td>

        <td class="formtdtext"><label class="text-align text-overflow">历史沿革</label>
        </td>
        <td  colspan="3">
            <textarea class="lenmorethan2col lenmorethan2row easyui-validatebox " name="lishiyange"
                      data-options=" validType:['maxLength[4000]']"/>
        </td>
    </tr>

    <tr>


        <td class="formtdtext" rowspan="2"><label class="text-align text-overflow">多媒体</label>
        </td>
        <td rowspan="2" colspan="3">
            <textarea class="lenmorethan2col lenmorethan2row easyui-validatebox " name="duomeiti"
                      data-options=" validType:['maxLength[4000]']"></textarea>
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">地理实体概况</label>
        </td>
        <td colspan="3">
            <textarea class="lenmorethan2col easyui-validatebox " name="geoentity"
                      data-options=" validType:['maxLength[2000]']"/>
        </td>

    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">其他信息</label></td>
        <td colspan="3">
            <textarea class="lenmorethan2col easyui-validatebox " name="other"
                      data-options=" validType:['maxLength[4000]']"/>
        </td>
    </tr>

    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">资料来源</label></td>
        <td colspan="3">
            <textarea class="lenmorethan2col lenmorethan2row easyui-validatebox " name="ziliaolaiyuan"
                      data-options=" validType:['maxLength[4000]']"/>
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">备注</label></td>
        <td colspan="3">
            <textarea class="lenmorethan2col lenmorethan2row easyui-validatebox " name="beizhu"
                      data-options=" validType:['maxLength[4000]']"/>
        </td>
    </tr>


    </tbody>
</table>

<hr/>
<table class="formtable02">
    <tbody>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">申报名称</label>
        </td>
        <td colspan="3"><input class="lenmorethan2col " name="shenbaomingcheng"/>
        </td>

        <td class="formtdtext"><label class="text-align text-overflow">申报单位</label>
        </td>
        <td colspan="3"><input class="lenmorethan2col  " name=""/>
        </td>
    </tr>
    <tr>
        <td class="formtdtext"><label class="text-align text-overflow">申报单位地址</label>
        </td>
        <td colspan="3"><input class="lenmorethan2col " name=""/>
        </td>

        <td class="formtdtext"><label class="text-align text-overflow">申报时间</label>
        </td>
        <td><input class="easyui-datebox" id="shenbaoshijian" name="" style="width: 132px;height: 24px;"/>
        </td>
        <td class="formtdtext"><label class="text-align text-overflow">申报单位电话</label>
        </td>
        <td><input name=""/>
        </td>
    </tr>
    </tbody>
</table>


<hr/>
<div opt="child"></div>


<div class="formside">
    <label>登记单位</label>
    <input class="inputcmpcolor easyui-validatebox " name="dengjidanwei" data-options=" validType:['maxLength[200]']">
    <!--<input class="easyui-combobox" name="tph_msmoking_yn2"  style="width: 150px;"
           data-options=" loader: cj.getLoader('nation'), editable:false "
            >-->
</div>
</div>
</form>
<!--浮动窗口-->
<div id="Float">
    <input class="button" action="changebutton" type="button" value="保存">
</div>

