<div>
    <h3>输入地名基本信息</h3>
    <p>
        <span>行政区划-&gt;</span>
        <input opt="divisiontree">
        <input opt="placetype">
        <span>&lt;-地名类别</span>
    </p>
    <p>
        <span>地名代码</span>
        <input opt="placecommon_id_first">
        <input opt="placecommon_id_second">
        <input name="placetype" opt="placecommon_id_three">
    </p>
    <p>
        <span>标准名称专名</span>
        <input opt="biaozhunmingcheng">
        <span>通名</span>
        <input opt="tongming">
    </p>
    <p>
        <span>专名罗马字母拼写</span>
        <input opt="romezhuanming">
        <span>通名</span>
        <input opt="rometongming">
    </p>
    <p>
        <a opt="newplace">新增地名</a>
    </p>
</div>