<placetablename>
<enum enumname="蓄洪区" enumvalue="24240">
    <databasetable ch="蓄洪区信息表" en="T_XUHONGQU" />
</enum>
<enum enumname="纪念地、遗址" enumvalue="25100">
    <databasetable ch="纪念地、遗址信息表" en="T_JNDYZ" />
</enum>
<enum enumname="公园、风景区" enumvalue="25200">
    <databasetable ch="公园、风景区信息表" en="T_GYFJQ" />
</enum>
<enum enumname="自然保护区" enumvalue="25400">
    <databasetable ch="自然保护区信息表" en="T_ZRBHQ" />
</enum>
<enum enumname="房屋" enumvalue="26100">
    <databasetable ch="房屋信息表" en="T_FANGWU" />
</enum>
<enum enumname="亭、台、碑、塔" enumvalue="26210">
    <databasetable ch="亭、台、碑、塔信息表" en="T_TTBT" />
</enum>
<enum enumname="广场、体育场" enumvalue="26310">
    <databasetable ch="广场、体育场信息表" en="T_GCTYC" />
</enum>
<enum enumname="政党机关、民间组织、事业、企业" enumvalue="27100" >
    <databasetable ch="单位信息表" en="T_DANWEI" />
</enum>
<enum enumname="海洋" enumvalue="11100">
    <databasetable ch="海洋信息表" en="T_HAIYANG" />
</enum>
<enum enumname="海湾" enumvalue="11300">
    <databasetable ch="海湾信息表" en="T_HAIWAN" />
</enum>
<enum enumname="海峡" enumvalue="11400">
    <databasetable ch="海峡信息表" en="T_HAIXIA" />
</enum>
<enum enumname="岛屿" enumvalue="11500">
    <databasetable ch="岛屿信息表" en="T_DAOYU" />
</enum>
<enum enumname="群岛（礁）" enumvalue="11560" >
    <databasetable ch="群岛信息表" en="T_QUNDAO" />
</enum>
<enum enumname="滩涂、海岸" enumvalue="11630">
    <databasetable ch="滩涂、海岸信息表" en="T_TTHA" />
</enum>
<enum enumname="半岛、" enumvalue="11650">
    <databasetable ch="半岛、岬角信息表" en="T_BDJJ" />
</enum>
<enum enumname="河流" enumvalue="12100">
    <databasetable ch="河流信息表" en="T_HELIU" />
</enum>
<enum enumname="湖泊" enumvalue="12200">
    <databasetable ch="湖泊信息表" en="T_HUPO" />
</enum>
<enum enumname="三角洲" enumvalue="12170">
    <databasetable ch="三角洲信息表" en="T_CBDK" />
</enum>
<enum enumname="河岛、湖岛（含杉、矶）" enumvalue="12310" >
    <databasetable ch="河岛、湖岛信息表" en="T_HEDAOHUDAO" />
</enum>
<enum enumname="瀑布" enumvalue="12500">
    <databasetable ch="瀑布信息表" en="T_PUBU" />
</enum>
<enum enumname="峡谷（含河谷）" enumvalue="12120" >
    <databasetable ch="峡谷信息表" en="T_XIAGU" />
</enum>
<enum enumname="冰川" enumvalue="12400">
    <databasetable ch="冰川信息表" en="T_BINGCHUAN" />
</enum>
<enum enumname="平原、盆地" enumvalue="13100">
    <databasetable ch="平原、盆地信息表" en="T_PYPD" />
</enum>
<enum enumname="高原" enumvalue="13300">
    <databasetable ch="高原信息表" en="T_GAOYUAN" />
</enum>
<enum enumname="山脉、丘陵" enumvalue="13400">
    <databasetable ch="山脉、丘陵信息表" en="T_SMQL" />
</enum>
<enum enumname="山峰" enumvalue="13440">
    <databasetable ch="山峰信息表" en="T_SHANFENG" />
</enum>
<enum enumname="山口、关隘" enumvalue="13410">
    <databasetable ch="山口、关隘信息表" en="T_SKGA" />
</enum>
<enum enumname="沼泽" enumvalue="13510">
    <databasetable ch="沼泽信息表" en="T_ZHAOZE" />
</enum>
<enum enumname="草原" enumvalue="13530">
    <databasetable ch=" 草原信息表" en="T_CAOYUAN" />
</enum>
<enum enumname="森林" enumvalue="13540">
    <databasetable ch="森林信息表" en="T_SENLIN" />
</enum>
<enum enumname="沙漠" enumvalue="13550">
    <databasetable ch="沙漠信息表" en="T_SHAMO" />
</enum>
<enum enumname="戈壁" enumvalue="13560">
    <databasetable ch="戈壁信息表" en="T_GEBI" />
</enum>
<enum enumname="绿洲" enumvalue="13570">
    <databasetable ch="绿洲信息表" en="T_LVZHOU" />
</enum>
<enum enumname="洞穴" enumvalue="13910">
    <databasetable ch="洞穴信息表" en="T_DONGXUE" />
</enum>
<enum enumname="车站、停车场" enumvalue="23220">
    <databasetable ch="车站、停车场信息表" en="T_CZTCC" />
</enum>
<enum enumname="桥梁" enumvalue="23610">
    <databasetable ch="桥梁信息表" en="T_QIAOLIANG" />
</enum>
<enum enumname="隧道" enumvalue="23620">
    <databasetable ch="隧道信息表" en="T_SUIDAO" />
</enum>
<enum enumname="公路" enumvalue="23210">
    <databasetable ch="公路信息表" en="T_GONGLU" />
</enum>
<enum enumname="铁路" enumvalue="23310">
    <databasetable ch="铁路信息表" en="T_TIELU" />
</enum>
<enum enumname="街巷" enumvalue="23510">
    <databasetable ch="街巷信息表" en="T_JIEXIANG" />
</enum>
<enum enumname="水运港口" enumvalue="23110">
    <databasetable ch="水运港口信息表" en="T_SYGK" />
</enum>
<enum enumname="渡口" enumvalue="23150">
    <databasetable ch="渡口信息表" en="T_DUKOU" />
</enum>
<enum enumname="航空港（飞机场）" enumvalue="23410" >
    <databasetable ch="航空港信息表" en="T_HANGKONGGANG" />
</enum>
<enum enumname="行政区域" enumvalue="21100">
    <databasetable ch="行政区域信息表" en="T_XINGZHENGQUHUA" />
</enum>
<enum enumname="矿区" enumvalue="21710">
    <databasetable ch="矿区信息表" en="T_KUANGQU" />
</enum>
<enum enumname="农、林、牧、渔区" enumvalue="21720" >
    <databasetable ch="农、林、牧、渔信息表" en="T_NLMYQ" />
</enum>
<enum enumname="工业区、开发区" enumvalue="21730">
    <databasetable ch="工业区、开发区信息表" en="T_GYQKFQ" />
</enum>
<enum enumname="贸易区、口岸" enumvalue="21740">
    <databasetable ch="贸易区、口岸信息表" en="T_MYQKA" />
</enum>
<enum enumname="地片" enumvalue="21760">
    <databasetable ch="地片信息表" en="T_DIPIAN" />
</enum>
<enum enumname="区片" enumvalue="21770">
    <databasetable ch="区片信息表" en="T_QUPIAN" />
</enum>
<enum enumname="村委会、居委会、社区" enumvalue="21610">
    <databasetable ch="村委会、居委会、社区信息表" en="T_QZZZZZ" />
</enum>
<enum enumname="居民点" enumvalue="22100">
    <databasetable ch="居民点信息表" en="T_JUMINDIAN" />
</enum>
<enum enumname="井" enumvalue="24100">
    <databasetable ch="井信息表" en="T_JING" />
</enum>
<enum enumname="水渠（含运河）" enumvalue="24310" >
    <databasetable ch="水渠信息表" en="T_SHUIQU" />
</enum>
<enum enumname="堤坝" enumvalue="24400">
    <databasetable ch="堤坝信息表" en="T_DIBA" />
</enum>
<enum enumname="发电站" enumvalue="24620">
    <databasetable ch="发电站信息表" en="T_FADIANZHAN" />
</enum>
<enum enumname="水库" enumvalue="24230">
    <databasetable ch="水库信息表" en="T_SHUIKU" />
</enum>
<enum enumname="池塘、海塘" enumvalue="24210">
    <databasetable ch="池塘、海塘信息表" en="T_CTHT" />
</enum>
<enum enumname="其它水系" enumvalue="12900" >
    <databasetable ch="其它陆地水系" en="T_QITALDSX" />
</enum>
<enum enumname="其它水利、电力、通信" enumvalue="24900" >
    <databasetable ch="其它水利通信" en="T_QITASLTX" />
</enum>
<enum enumname="其它单位" enumvalue="27900">
    <databasetable ch="其它单位" en="T_QITADW" />
</enum>
<enum enumname="其它非行政区域" enumvalue="21790">
    <databasetable ch="其它非行政区域" en="T_QITAFXZQY" />
</enum>
<enum enumname="其它海域" enumvalue="11900">
    <databasetable ch="其它海域" en="T_QITAHY" />
</enum>
<enum enumname="其它纪念地与旅游景点" enumvalue="25900" >
    <databasetable ch="其它纪念地与旅游" en="T_QITAJNDLYJD" />
</enum>
<enum enumname="其它行政区域" enumvalue="21900">
    <databasetable ch="其它行政区域" en="T_QITAXZQY" />
</enum>
<enum enumname="其它群众组织" enumvalue="21690" >
    <databasetable ch="其它群众组织" en="T_QITAQZZZ" />
</enum>
<enum enumname="其它陆地地形" enumvalue="13900">
    <databasetable ch="其它陆地地形" en="T_QITALDDX" />
</enum>
<enum enumname="其它居民点" enumvalue="22900">
    <databasetable ch="其它居民点" en="T_QITAJMD" />
</enum>
<enum enumname="其它交通运输" enumvalue="23900" >
    <databasetable ch="其它运输" en="T_QITAJTYS" />
</enum>
<enum enumname="其它建筑物" enumvalue="26900">
    <databasetable ch="其它建筑物" en="T_QITAJZW" />
</enum>
<enum enumname="泉(含地热)" enumvalue="12600">
    <databasetable ch="泉信息表" en="T_QUAN" />
</enum>
</placetablename>