<div opt="content" class="easyui-panel" data-options="fit:true" style="background-color: #ececec;display: none;">
    <div class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'north',border:false" style="height:100px;width: 737px;background-color: #ececec;">
            <div class="box-shadow" style="width: 1000px;height: 80px;background-color:white;">
                <table width="100%" cellpadding="5" class="table_form2">
                    <tr>
                        <td class="formtdtext2" style="width: 130px;">统计类型<label></label></td>
                        <td>
                            <input opt="type_tj" class="easyui-combobox" style="width: 130px;height: 29px;"
                                   data-options="loader:cj.getLoader('tjtype'),
                                        mode: 'remote',
                                        valueField:'id',
                                        textField:'text'">
                        </td>
                        <td colspan="4" align="right">
                            <div class="com_btns querybtn" align="center" opt="tongji">统计</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="box-shadow" data-options="region:'center',border:false" style="background-color:white;padding: 20px;">
            <div class="easyui-layout" data-options="fit:true">
                <div data-options="region:'west',split:true" style="width:570px;">
                    <table class="easyui-datagrid-noauto"
                           data-options="
                           method:'post',
                           fit:true,
                           border:false,
                           fitColumns:true,
                           loadMsg:'',
                           singleSelect:true">
                        <thead>
                        <tr>
                            <th data-options="field:'statictype',width:80">统计类型</th>
                            <th data-options="field:'tsum',width:80,align:'right'">人数</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div data-options="region:'center'">
                    <div>
                        <div class="highcharstoolbar">&nbsp;&nbsp;饼状图统计<span opt="refresh" style="float: right;cursor: pointer;padding-right: 5px;;">刷新</span></div>
                        <div opt="containerPie" style="height: 250px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
