#westpanel div.accordion-body{
    background-color:#ECFFF5;
}
#westpanel .tree-node-hover {
    background: #52CCCC;
    color: #660033;
}

.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-bottom-style: solid;
    border-color:  #c6e0f5;
}
span.error,a.error{
    color:red;
}



.datagrid-view a:hover{
    text-decoration: underline;
}
.searchbox-button {
    background: url('') no-repeat center center;
    /*background: url('images/searchbox_button22.png') no-repeat center center;*/
}
.datagrid-htable, .datagrid-btable, .datagrid-ftable {
    color: gray;
}
.datagrid-htable{
    color: #707070;
}

.gray7{
    color: #707070;
}

/**调整行高**/
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber {
    line-height: 28px;
}
.datagrid-cell-rownumber {
    height: auto;
}
.datagrid-cell{
    word-wrap: normal;

}
.datagrid-htable .datagrid-cell{
    background:url('../../img/tablehead.png') repeat;
}

/*.window {
    background-color: #3892d3;

    background: -moz-linear-gradient(top,#EFF5FF 0,#E0ECFF 20%);
    background: -o-linear-gradient(top,#EFF5FF 0,#E0ECFF 20%);
    background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 20%);
    background: #3892d3;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#E0ECFF,GradientType=0);
}*/

.panel-title{
    padding-left: 1em;
}


.tabs-header{
    background-color: #cfdeeb;
}

.yewudaohang-panel-header{
    background-color: blue;
    background: -webkit-linear-gradient(top,#4b91e5 0,#61bdeb 100%);
    background: -moz-linear-gradient(top,#4b91e5 0,#61bdeb 100%);
    background: -o-linear-gradient(top,#4b91e5 0,#61bdeb 100%);
    background: linear-gradient(to bottom,#4b91e5 0,#61bdeb 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4b91e5,endColorstr=#61bdeb,GradientType=0);
}

.tabs-panels{
    padding-top: 5px;
    background-color: #9bc8e3;
}

.datagrid-toolbar{
    background-color: #ffffff;
}

.datagrid-header{
    border-color: #4b91e5;
}
.datagrid-pager{
    border-color: #4b91e5;
}

.tabs li a.tabs-inner,.tabs li a.tabs-inner:hover {
    color: #0E2D5F;
    background-color: #E0ECFF;
    background: -webkit-linear-gradient(top,#73caee 0,#73caee 100%);
    background: -moz-linear-gradient(top,#73caee 0,#73caee 100%);
    background: -o-linear-gradient(top,#73caee 0,#73caee 100%);
    background: linear-gradient(to bottom,#73caee 0,#61bdeb 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#73caee,endColorstr=#73caee,GradientType=0);
}
.tabs li.tabs-selected a.tabs-inner {
    background-color: #4d94e6;
    color: #0E2D5F;
    background: -webkit-linear-gradient(top,#5fbaeb 0,#4d94e6 100%);
    background: -moz-linear-gradient(top, #5fbaeb 0,#4d94e6 100%);
    background: -o-linear-gradient(top,#5fbaeb 0,#4d94e6 100%);
    background: linear-gradient(to bottom,#5fbaeb 0,#4d94e6 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5fbaeb,endColorstr=#4d94e6,GradientType=0);
}
.tabs li.tabs-selected a.tabs-inner {
    border-bottom: 1px solid #4d94e6;
}
.tabs-wrap{
    border-bottom: 1px solid #808080;
}




.combobox-item{
    padding-left: 20px;
}

element.style {
}
.icon-add-pl15 {
    background: url('../../img/addtab.png') no-repeat left center;
    padding-left: 16px;
}
.icon-add-pl16 {
    background: url('../../img/edittab.png') no-repeat left center;
    padding-left: 16px;
}
.icon-del-pl15 {
    background: url('../../img/deletetab.png') no-repeat left center;
    padding-left: 16px;
}
.icon-map-pl1 {
    background: url('../../img/map.png') no-repeat left center;
    padding-left: 16px;
}