div.form-cmp-wrapper,table.formtable02{
    width: 910px;
    margin: 0 auto;
}
table.formtable02 td{
    width: 131px;
    position: relative;
}
table.formtable02 td.formtdtext{
    margin: 0;
    line-height: 30px;
    width: 85px;
    text-align: right;
}

table.formtable02 td input,table.formtable02 td textarea{
    width: 128px;
    height: 22px;
    border: 1px solid #c0c0c0;
    float: left;
}

table.formtable02 input.lenmorethan2col{
    width: 357px;
}
table.formtable02 textarea.lenmorethan2col{
    width: 350px;
}
table.formtable02 .lenmorethan2row{
    height: 50px;
}
table.formtable02 .lenmorethan3row{
    height: 75px;
}

.text-overflow {
    display:block;/*内联对象需加*/
    width:80px;
    font-size: 10px;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
    float: left;
    line-height: 30px;
}
.text-align{
    text-align: right;
}
.existbr{
    line-height: 20px;
}
div.form-cmp-wrapper .combo{
    border-color: #c0c0c0;
}
.inputcmpcolor{
    border-color: #c0c0c0;
}
.formside{
    margin-right: 20px;
    text-align: right;
}

.measurementunit,.required{
    position: absolute;
    bottom: 2px;
    font-size:5px;
    color: #808080;
    width: 50px;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
.required{
    color: red;
}

/************表单上方或者下方的悬浮工具条***************/
div.form-foot-btns{
    border-top: 1px solid gainsboro;
}
div.form-foot-btns ul
{
    margin: 0;
    padding: 0;
    padding-top: 5px;
    text-align: center;
    list-style-type: none;
}
div.form-foot-btns ul li
{
    margin-left: 5px;
    display:inline;
    list-style-type:none;
}
/* 所有class为form-foot-btns的div中的ul中的a样式(包括尚未点击的和点击过的样式) */
div.form-foot-btns ul li a, div.form-foot-btns ul li a:visited
{
    cursor: pointer;
    /*border: 1px #4e667d solid;*/
    text-decoration: none;
    white-space: nowrap;
    outline-width: 50px;
    background-image: url("../toolbtn.jpg");
    /*background-size: 65px 25px;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-top: 2px;
}
div.form-foot-btns ul li a:hover
{
    background-color: #bfcbd6;
    color: red;
    text-decoration: none;
}
div.form-foot-btns ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}
/*设置表单中fieldset*/
.common-form fieldset,.common-form fieldset table{
    width: 900px;margin: 0px auto;
}
