@import url("icon.css");
@import url("easyuioverwrite.css");
@import url("formtable02.css");
@import url("dialog01.css");

/*一部分样式写在页面中,这样加载速度会有提升*/
.fieldTemplateAContent,
.formtable {
    width:100%;
    padding: 0px;
    margin: 0px;
    font-family:Arial, Tahoma, Verdana, Sans-Serif;
    border-left:2px solid #ADD8E6;
    border-right: 2px solid #ADD8E6;
    border-top: 1px solid #ADD8E6;
    border-collapse:collapse;
}

.fieldTemplateAContent{
    border-bottom: 1px solid #ADD8E6;
}


/*单元格样式。*/
.formtable td {
    border-right: 1px solid #ADD8E6;
    border-bottom: 1px solid #ADD8E6;

    /*background: #fff;*/

    font-size:12px;
    padding: 3px 3px 3px 6px;
    color: #303030;
    word-break:break-all;
    word-wrap:break-word;
    white-space:normal;

}



/*表头样式*/
.formtable th {
    font-size:13px;
    font-weight:600;
    color: #303030;
    border-right: 1px solid #ADD8E6;
    border-bottom: 1px solid #ADD8E6;
    border-top: 1px solid #ADD8E6;
    letter-spacing: 2px;
    text-align: left;
    padding: 10px 0px 10px 0px;
    background: url(../tablehdbg.png);
    white-space:nowrap;
    text-align:center;
    overflow: hidden;
}
.formtdtext {
    width:110px;
    text-align: right;
}
.formtdtext label:after{
    content: ":"
}
.formtdtext span.requiredtip{
    color:red;font-weight:bold;
}
.panel-body {
    position: relative;
    overflow-x: hidden;
}

/*roundbox start*/
.roundbox {
    background:url(../roundbox/nt.gif) repeat;
}
.top div {
    background:url(../roundbox/tl.gif) no-repeat top left;
}
.top {
    background:url(../roundbox/tr.gif) no-repeat top right;
}
.bot div {
    background:url(../roundbox/bl.gif) no-repeat bottom left;
}
.bot {
    background:url(../roundbox/br.gif) no-repeat bottom right;
}
.top div, .top, .bot div, .bot {
    width: 100%;
    height: 7px;
    font-size: 1px;
}
/*roundbox end*/

div.IntensiveCare{
    width:1024px;
    margin: 0 auto;
}

div.IntensiveCare>div{
    width: 180px;
    height: 200px;
    float: left;
    margin: 1px 0 10px 20px;
    border:1px solid #feb179;
    background: gainsboro;
}
div.IntensiveCare td{
    width: 100px;
    word-break:break-all;
}
div.IntensiveCare>div img{
    width: 100px;
    height: 100px;
    padding-bottom: 4px;
}

/*
#tb a{
    background-color: powderblue;
    border: 0px solid darkcyan;
}
#tb a:hover{
    border: 1px solid red;
}*/

/*************easyui style end**********************/

span.error,a.error{
    color:red;
}
.searchbox-button {
    background: url('images/searchbox_button22.png') no-repeat center center;
}

.gray7{
    color: #707070;
}



.panel-title{
    padding-left: 1em;
}
/*************easyui style end**********************/


table[opt=grid]{
    margin: 0px 0px 8px 0px;
    width: 100%
}

table[opt=grid] td
{
    border-bottom: 1px solid green;
}

table#memsinfos{
    width: 290px;
    border:solid 1px #99CCFF;
    border-collapse: collapse;
}
table#memsinfos td,table#memsinfos th
{
    border:1px solid black;
}
table#memsinfos tr:hover{
    color: green;
    background-color: #808080;
    cursor:pointer;
}
table#memsinfos .add{
    background:url('../../img/user/user_add.png') left center  no-repeat;
    padding-left: 18px;
}
table#memsinfos .delete{
    background:url('../../img/user/user_delete.png') left center no-repeat;
    padding-left: 18px;
    color: red;
}



.datagrid-view a[action=memlist]{
    background:url('../../img/user/user.png') left center no-repeat;
    padding-left: 18px;
    margin:0 4px;
}





.fieldTemplateB,
.fieldTemplateA{
    width: 1024px;
    margin: 5px auto;
    margin-bottom: 10px;
}

.fieldTemplateA input{
    width: 150px;
    float: left;
}

/*#userdetail  .fieldTemplateA{
    width: 970px;
}
#userdetail  .fieldTemplateA input{
   border: 0;
}*/

.fieldtoolbar{
    background: #ADD8E6;/*url(../tabletitle.png);*/
    border-bottom: 0px;
    height: 25px;
    border-color: #ADD8E6;
    /*background:url('../../img/formtoolbarbackground.png') repeat-x;*/
}
.fieldtitle{
    float: left;
    padding-left: 1.5em;
    font-weight: bold;
    line-height: 25px;

}
.fieldbtns{
    float: right;
}
.fieldbtns span{
    background: url('../../img/edit.png') no-repeat;
    padding-left: 16px;
}
table.formtable input,form.customform input{
    border-width: 1px;
    border-style: solid;
    border-color: silver #D9D9D9 #D9D9D9;
}

table.formtable input:focus{
     border-color: #CF4C35;
}

.fixedtoolbar{
    width: 1024px;text-align: center;margin: 0px auto;
}
.modulewrapper{
    overflow-y: scroll;
}


/********instelligent search start********/
.intelligent {
    background-color: #ffffff;
    float: left;
}

.intelligent caption {
    background: #8ab1cb;
    caption-side: top;
    text-align: left;
    line-height: 28px;
    margin-top: 1px;
    color: #ffffff;
}

.intelligent table {
    font-size: 10px;
    color: #000000;
    margin: 0 auto;
    /*border-collapse: collapse;*/
    font-family: Arial, Tahoma, Verdana, Sans-Serif;
    width: 480px;
}
.intelligent tr,input{
    /*height: 18px;*/
    border: 1px solid #808080;
}
.intelligent td{
    padding: 0;
}

/********instelligent search end********/
.searchbtn{
    background: url(../pension01/searchwhite.jpg) no-repeat right center;
    padding-left: 49px;
    display: block;
    cursor: pointer;
}
.searchbtn:hover{
    background: url(../pension01/searchorange.jpg) no-repeat right center;
    padding-left: 49px;
    line-height: 23px;
}

.userdetail a{
    text-decoration: underline;
    cursor:pointer;
    margin: 5px;
}
/**************word icon and round start********************/
a.opiconbg  {
    display: inline-block;
    color: #444444;
    padding-left: 3px;
    padding-right: 2px;
    cursor:pointer;
    line-height: 22px;
    height: 22px;
    background:url(../pension01/opbtnbg2lnm.png) no-repeat left top;
}

a.opiconbg>span {
    display: inline-block;
    padding-right: 6px;
    padding-left: 3px;
    line-height: 22px;
    height: 22px;
    background:url(../pension01/opbtnbg2rnm.png) no-repeat right top;
}

a.opiconbg:hover{
    background:url(../pension01/opbtnbg2l.png) no-repeat left top;
}
a.opiconbg>span:hover{
    background:url(../pension01/opbtnbg2r.png) no-repeat right top;
}
/**************word icon and round end********************/


.normala:hover{
    text-decoration: underline;
}

.mcurrent{
    display: block;
}
.mcurrent_none{
    display: none;
}


#navwrap{
    position: absolute;
    z-index: 9;
    width: 100%;
}

#login_area a:hover{
    color: orange;
    text-decoration: none;
}

div[opt="form_btns"],.form_btns{
    border-top: 1px solid #808080;
}

.formtable td.tdtextrightborder0{
    border-right-width: 0;
}
textarea.bdsilver{
    border-color: silver;
    border:solid 1px #aaa;
    font-size:12px;
    color:#666;

}
.widthmaxper{
    width:99%;
}

/*radio checkbox样式*/
.newRadio input+label {
    padding-left: 26px;
    background: url(../form/UnCheck.png) no-repeat;
    font-size: 13px;
}
.newRadio input+label.checked {
    padding-left: 26px;
    background: url(../form/CheckIt.bmp) no-repeat;
    color: #008800;
}

input:disabled{
    background-color:#ffffff;
}


.cs-west {
    width:200px;padding:0px;
}





.mainPanle{
    padding-bottom: 5px;
    padding-top: 5px;
    background:url(../../img/bg-gray.gif) repeat;
    border-left: 1px solid #4b91e5;
    /*border-width:5px 3px 5px;
    border-style:solid;*/
}
/*
#westpanel{
    padding: 5px;
    background-color: #4b91e5;
}
*/


.layout-split-west {
    border-right: 1px;
}



.pop-win-north-title {
    display: inline-block;
    line-height: 30px;
    padding-left: 20px;
}
.pop-win-north-close{
    float: right;
    background: url(../../img/popwindowclosebackground.png) no-repeat;
    width: 20px;
    height: 30px;
}

.background {
    position: fixed;
    z-index: 998;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(50, 50, 50);
    background: rgba(0, 0, 0, 0.5);
}
.webox {
    position: fixed;
    z-index: 999;
    padding: 0;
    border: solid 1px chartreuse;
    background: rgba(10, 10, 10, 0.5);
}
div.weboxbuttons ul
{
    margin: 0;
    padding: 0;
    padding-top: 5px;
    text-align: center;
    list-style-type: none;
}
div.weboxbuttons ul li
{
    margin-left: 5px;
    border: 1px dotted #808080;
    display:inline;
    list-style-type:none;
}
/* 所有class为weboxbuttons的div中的ul中的a样式(包括尚未点击的和点击过的样式) */
div.weboxbuttons ul li a, div.weboxbuttons ul li a:visited
{
    cursor: pointer;
    border: 1px #4e667d solid;
    text-decoration: none;
    white-space: nowrap;
}
div.weboxbuttons ul li a:hover
{
    background-color: #bfcbd6;
    color: red;
    text-decoration: none;
}
div.weboxbuttons ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}



.form-width-a{
    width:910px;
    padding: 0;
}
.form-width-a .formtdtext{
    width: 50px;
}

/*自定义的复选框*/
.checkbox {
    width: 12px;
    height: 12px;
    position: relative;
    margin: 12px auto;
}
.checkbox label {
    width: 12px;
    height: 12px;
    cursor: pointer;
    position: absolute;
    margin: 6px auto;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5), 1px 1px 1px black;
}
.checkbox label:after {
    content: '';
    width: 6px;
    height: 3px;
    position: absolute;
    top: 4px;
    left: 3px;
    border: 2px solid #607b53;
    border-top: none;
    border-right: none;
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkbox label:hover::after {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
}
.checkbox input[type=checkbox] {
    visibility: hidden;
}
.checkbox input[type=checkbox]:checked + label:after {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
/*自定义按钮样式*/
.button {
    display: inline-block;
    text-align: center;
    outline: none;
    cursor: pointer;
    width:80px;
    height: 23px;
    background:url(../../img/button1.jpg);
}
.button:active {
    position: relative;
    top: 1px;
}

/*浮动窗体样式*/
#Float {
    background:url(../../img/floatback.jpg);
    height: 30px;
    width:100%;
    position: absolute;
    top: 0px;
    text-align: left;
}

/*打开文件按钮样式*/
#openfile_id{
    position:absolute; z-index:12;width: 20px;
    filter:alpha(opacity:0);
    opacity:0;
}
/*easyui datagrid表头样式*/
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber {
    margin: 0;
    padding: 0 4px;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    height: 22px;
    line-height: 18px;
    font-size: 12px;
}
.datagrid-htable .datagrid-cell {
    background: url('') repeat;
}

