.icon-excel{
    background:url('../../img/xls.png') left center no-repeat;
}
.icon-processbtn{
    background:url('../../img/process.png') left center no-repeat;
}
.icon-save{
    background:url('../../img/save.gif') left center no-repeat;
}
.icon-log{
    background:url('../../img/mylog.gif') left center no-repeat;
}
.icon-remove{
    background:url('../../img/remove.gif') left center no-repeat;
}
.icon-add{
    background:url('../../img/add.gif') left center  no-repeat;
}
.icon-search{
    background:url('../../img/search.gif') left center no-repeat;
}
.icon-close{
    background:url('../cancel.png') left center no-repeat;
}
.icon-qingkong{
    background:url('../../img/qingkong.gif') left center no-repeat;
}
.icon-user{
    background:url('../../img/user/user.png') left center no-repeat;
}
.icon-group{
    background:url('../../img/user/group.png') left center no-repeat;
}
.icon-parametermng{
    background:url('../../img/pension01/cog_edit.png') left center no-repeat;
}




.icon-add-pl16{
    background: url(../add.gif) no-repeat left center;
    padding-left: 16px;
}
.icon-update-pl16{
    background: url(../edit.png) no-repeat left center;
    padding-left: 16px;
}
.icon-logout-pl16{
    background: url(../remove.gif) no-repeat left center;
    padding-left: 16px;
}
.icon-healthrecord-pl16{
    background: url(../user/user.png) no-repeat left center;
    padding-left: 16px;
}
.icon-add-pl16{
    background:url('../../img/add.gif') no-repeat left center;
    padding-left: 16px;
}
.icon-edit-pl16{
    background:url('../../img/edit.png') no-repeat left center;
    padding-left: 16px;
}
.icon-close-pl16{
    background:url('../../img/remove.gif') no-repeat left center;
    padding-left: 16px;
}
.icon-view-pl16{
    background:url('../../img/pension01/application_view_tile.png') no-repeat left center;
    padding-left: 16px;
}
.icon-trend-pl16{
    background:url('../../img/pension01/application_view_tile.png') no-repeat left center;
    padding-left: 16px;
}
.icon-detail-pl16{
    background:url('../../img/pension01/application_view_detail.png') no-repeat left center;
    padding-left: 16px;
}