.icon-excel{
    background:url('../../img/xls.png') no-repeat;
}
.icon-processbtn{
    background:url('../../img/process.png') no-repeat;
}
.icon-save{
    background:url('../../img/save.gif') no-repeat;
}
.icon-log{
    background:url('../../img/mylog.gif') no-repeat;
}
.icon-remove{
    background:url('../../img/remove.gif') no-repeat;
}
.icon-add{
    background:url('../../img/add.gif') no-repeat;
}
.icon-search{
    background:url('../../img/search.gif') no-repeat;
}