<!--惩处情况-->
<form opt="form_hyqk" class="common-form" method="post">
    <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list_min" opt="fam">
        <thead>
        <tr>
            <th colspan="7" style="text-align: center;">惩处情况表</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td align="center">时 间</td>
            <td align="center">所受处分</td>
            <td align="center">受处分原因</td>
            <td align="center">惩处机关</td>
            <td align="center">文 号</td>
            <td align="center">备 注</td>
            <td><a opt="addlist" style="cursor: pointer"><img src="images/add.png"></a></td>
        </tr>
        <tr class="demo">
            <td align="center"><input class="easyui-datebox" opt="jc_date" style="width: 100px;"></td>
            <td align="center"><input class="input-text" opt="jc_name" style="width: 70px;"></td>
            <td align="center"><input class="input-text" opt="jc_reason" style="width: 70px;"></td>
            <td align="center"><input class="input-text" opt="jc_office" style="width: 130px;"></td>
            <td align="center"><input class="input-text" opt="jc_docnumber" style="width: 70px;"></td>
            <td align="center"><input class="input-text" opt="jc_comments" style="width: 70px;"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</form>