<div class="easyui-panel" opt="formcontentpanel"
     style="overflow-y: scroll;border-bottom: 1px solid greenyellow;height:5px;"
     data-options="fit:true,border:false,footer:'#ft5'">
    <form opt="form_cgqk" class="common-form textcolor" method="post">
        <table opt="baseinfo_table" width="100%" style="margin: 2px auto;" cellpadding="2" cellspacing="1" class="table_form">
            <thead>
            <tr>
                <th colspan="6" style="text-align: center;">干部从事或参与营利性活动及兼职持股情况</th>
            </tr>
            </thead>
            <tr>
                <td class="formtdtext" style="width: 100px">姓名<label></label></td>
                <td>
                    <input class="input-text" name="name" style="width: 70px;background-color: #FFFAF0" readonly>
                </td>
                <td class="formtdtext">单位<label></label></td>
                <td>
                    <input class="input-text" name="workunit" style="background-color: #FFFAF0" readonly>
                </td>
                <td class="formtdtext">职务<label></label></td>
                <td>
                    <input class="input-text" name="incumbent" style="background-color: #FFFAF0" readonly>
                </td>
            </tr>
        </table>
        <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list_min" opt="cgqk_gb">
            <tbody>
            <tr>
                <td colspan="7" style="text-align: center;font-size: 16px">干部经商办企业情况</td>
            </tr>
            <tr>
                <td align="center">注册名称</td>
                <td align="center">经营范围</td>
                <td align="center">注册资金(元)</td>
                <td align="center">经营地址</td>
                <td align="center">法人代表</td>
                <td align="center">联系方式</td>
                <td><a opt="addlist" style="cursor: pointer"><img src="images/add.png"></a></td>
            </tr>
            <tr class="demo">
                <td align="center"><input class="input-text" opt="qy_name" style="width: 80px;"></td>
                <td align="center"><input class="input-text" opt="qy_businessscope" style="width: 70px;"></td>
                <td align="center"><input class="input-text" opt="qy_registercapital" style="width: 70px;"></td>
                <td align="center"><input class="input-text" opt="qy_address" style="width: 130px;"></td>
                <td align="center"><input class="input-text" opt="qy_legalperson" style="width: 70px;"></td>
                <td align="center"><input class="input-text" opt="qy_contact" style="width: 100px;"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list_min" opt="cgqk_sh">
            <tbody>
            <tr>
                <td colspan="7" style="text-align: center;font-size: 16px">主要社会关系经商办企业情况</td>
            </tr>
            <tr>
                <td align="center">与干部关系</td>
                <td align="center">注册名称</td>
                <td align="center">经营范围</td>
                <td align="center">注册资金(元)</td>
                <td align="center">经营地址</td>
                <td align="center">法人代表</td>
                <td align="center">联系方式</td>
                <td style="width: 27px;"><a opt="addlist" style="cursor: pointer"><img src="images/add.png"></a></td>
            </tr>
            <tr class="demo">
                <td align="center"><input class="input-text" opt="gx_relationship" style="width: 80px;"></td>
                <td align="center"><input class="input-text" opt="gx_name" style="width: 80px;"></td>
                <td align="center"><input class="input-text" opt="qx_businessscope" style="width: 60px;"></td>
                <td align="center"><input class="input-text" opt="qx_registercapital" style="width: 60px;"></td>
                <td align="center"><input class="input-text" opt="qx_address" style="width: 130px;"></td>
                <td align="center"><input class="input-text" opt="qx_legalperson" style="width: 70px;"></td>
                <td align="center"><input class="input-text" opt="qx_contact" style="width: 100px;"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list_min" opt="cgqk_qt">
            <tbody>
            <tr>
                <td colspan="7" style="text-align: center;font-size: 16px">在企事业单位、社会团 体或其他营利性组织中兼职情况</td>
            </tr>
            <tr>
                <td align="center">兼职单位名称</td>
                <td align="center">兼职单位性质</td>
                <td align="center">兼任职务</td>
                <td align="center">组织批复文号</td>
                <td align="center">年取酬(元)</td>
                <td><a opt="addlist" style="cursor: pointer"><img src="images/add.png"></a></td>
            </tr>
            <tr class="demo">
                <td align="center"><input class="input-text" opt="jz_departname" style="width: 150px;"></td>
                <td align="center"><input class="input-text" opt="jz_property" style="width: 100px;"></td>
                <td align="center"><input class="input-text" opt="jz_position" style="width: 100px;"></td>
                <td align="center"><input class="input-text" opt="jz_docnumber" style="width: 100px;"></td>
                <td align="center"><input class="input-text" opt="jz_yearreward" style="width: 80px;"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list_min" opt="cgqk_rg">
            <tbody>
            <tr>
                <td colspan="7" style="text-align: center;font-size: 16px">干部投资或入股情况</td>
            </tr>
            <tr>
                <td align="center">投资或入股单位</td>
                <td align="center">投资或入股单位性质</td>
                <td align="center">投资或入股方式</td>
                <td align="center">本人投资或入股金额(元)</td>
                <td align="center">年收益(元)</td>
                <td><a opt="addlist" style="cursor: pointer"><img src="images/add.png"></a></td>
            </tr>
            <tr class="demo">
                <td align="center"><input class="input-text" opt="rg_departname" style="width: 150px;"></td>
                <td align="center"><input class="input-text" opt="rg_property" style="width: 100px;"></td>
                <td align="center"><input class="input-text" opt="rg_way" style="width: 100px;"></td>
                <td align="center"><input class="input-text" opt="rg_money" style="width: 100px;"></td>
                <td align="center"><input class="input-text" opt="rg_yearincome" style="width: 80px;"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form" opt="fam">
            <tbody>
            <tr>
                <td align="center" style="width: 100px;">从事或参与其他营利性活动情况</td>
                <td align="center" colspan="6">
                    <textarea name="otherincome" style="width: 90%;"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div id="ft5" style="padding:5px;" align="center">
    <input type="button" value="取消" class="btns" opt="cancel">
    <input type="button" value="保存" class="btns" opt="save_cgqk">
</div>