<!--获奖情况修改-->
<form opt="form_hyqk" class="common-form" method="post">
    <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list_min" opt="fam">
        <thead>
        <tr>
            <th colspan="4" style="text-align: center;">获奖情况表</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="formtdtext">时 间<label></label></td>
            <td>
                <input class="input-text" name="jc_date" opt="jc_date">
            </td>
            <td class="formtdtext">获奖名称<label></label></td>
            <td>
                <input class="input-text" name="jc_name">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">奖励机关<label></label></td>
            <td>
                <input class="input-text" name="jc_office">
            </td>
            <td class="formtdtext">文 号<label></label></td>
            <td>
                <input class="input-text" name="jc_docnumber">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">获奖原因<label></label></td>
            <td colspan="3">
                <textarea name="jc_reason" style="width: 90%;"></textarea>
            </td>
        </tr>
        <tr>
            <td class="formtdtext">备 注<label></label></td>
            <td colspan="3">
                <textarea name="jc_comments" style="width: 90%;"></textarea>
            </td>
        </tr>
        </tbody>
    </table>
</form>