<!--获奖情况-->
<form opt="form_hyqk" class="common-form" method="post">
    <!--<table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list_min" opt="fam">
        <thead>
        <tr>
            <th colspan="7" style="text-align: center;">获奖情况表</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="formtdtext">时 间<label></label></td>
            <td>
                <input class="input-text" name="incumbent">
            </td>
            <td class="formtdtext">获奖名称<label></label></td>
            <td>
                <input class="input-text" name="incumbent">
            </td>
            <td class="formtdtext">获奖原因<label></label></td>
            <td>
                <input class="input-text" name="incumbent">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">奖励机关<label></label></td>
            <td>
                <input class="input-text" name="incumbent">
            </td>
            <td class="formtdtext">文 号<label></label></td>
            <td>
                <input class="input-text" name="incumbent">
            </td>
            <td class="formtdtext">备 注<label></label></td>
            <td>
                <input class="input-text" name="incumbent">
            </td>
        </tr>
        </tbody>
    </table>-->
    <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list_min" opt="fam">
        <thead>
        <tr>
            <th colspan="7" style="text-align: center;">获奖情况表</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr>
            <td colspan="7" style="text-align: center;font-size: 16px">配偶、子女及其配偶出国(境)定居情况</td>
        </tr>-->
        <tr>
            <td align="center">时 间</td>
            <td align="center">获奖名称</td>
            <td align="center">获奖原因</td>
            <td align="center">奖励机关</td>
            <td align="center">文 号</td>
            <td align="center">备 注</td>
            <td><a opt="addlist" style="cursor: pointer"><img src="images/add.png"></a></td>
        </tr>
        <tr class="demo">
            <td align="center"><input class="input-text" opt="jc_date" style="width: 100px;"></td>
            <td align="center"><input class="input-text" opt="jc_name" style="width: 70px;"></td>
            <td align="center"><input class="input-text" opt="jc_reason" style="width: 70px;"></td>
            <td align="center"><input class="input-text" opt="jc_office" style="width: 130px;"></td>
            <td align="center"><input class="input-text" opt="jc_docnumber" style="width: 70px;"></td>
            <td align="center"><input class="input-text" opt="jc_comments" style="width: 70px;"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</form>