<!--婚姻变化情况-->
<form opt="form_hyqk" class="common-form" method="post">
    <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list_min" opt="fam">
        <thead>
        <tr>
            <th colspan="7" style="text-align: center;">干部婚姻变化情况报告表</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="formtdtext" style="width: 100px" colspan="2">本人姓名<label></label></td>
            <td>
                <input class="input-text" name="name" style="width: 70px;background-color: #FFFAF0" readonly>
            </td>
            <td class="formtdtext">单位<label></label></td>
            <td>
                <input class="input-text" name="workunit" style="background-color: #FFFAF0" readonly>
            </td>
            <td class="formtdtext">职务<label></label></td>
            <td>
                <input class="input-text" name="incumbent" style="background-color: #FFFAF0" readonly>
            </td>
        </tr>
        <tr>
            <td rowspan="4" style="text-align: center;font-size: 16px;width: 70px;">原配偶</td>
        </tr>
        <tr>
            <td class="formtdtext" style="width: 150px;">姓  名<label></label></td>
            <td style="width: 80px;"><input name="hy_formerwife" class="input-text" style="width: 70px;"></td>
            <td class="formtdtext" style="width: 70px;">身份证<label></label></td>
            <td><input name="hy_formeridentityid" class="input-text" style="width: 150px;"></td>
            <td class="formtdtext">民族<label></label></td>
            <td>
                <input class="easyui-combobox" style="height: 24px;width: 70px"
                       opt="hy_formernation"
                       name="hy_formernation"
                       data-options="
                                loader: cj.getLoader('oldnation'),
                                mode: 'remote',
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">政治面貌<label></label></td>
            <td>
                <input class="easyui-combobox "
                       opt="hy_formerpolitical"
                       name="hy_formerpolitical"
                       style="width: 100px"
                       data-options="
                                loader:cj.getLoader('politicsstatus'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
            <td class="formtdtext">籍贯<label></label></td>
            <td><input class="input-text" name="hy_formernative" style="width: 150px;"></td>
            <td class="formtdtext">单位<label></label></td>
            <td><input class="input-text" name="hy_formerdepart" style="width: 150px;"></td>
        </tr>
        <tr>
            <td class="formtdtext">婚姻登记时间<label></label></td>
            <td colspan="2">
                <input name="hy_formerregister" opt="hy_formerregister" class="easyui-datebox" style="width: 100px;">
            </td>
            <td class="formtdtext">婚姻结束时间<label></label></td>
            <td colspan="2">
                <input name="hy_divorcedate" opt="hy_divorcedate" class="easyui-datebox" style="width: 100px;">
            </td>
        </tr>
        <tr>
            <td rowspan="4" style="text-align: center;font-size: 16px">现配偶</td>
        </tr>
        <tr>
            <td class="formtdtext">姓  名<label></label></td>
            <td><input class="input-text" name="hy_wife" style="width: 70px;"></td>
            <td class="formtdtext">身份证<label></label></td>
            <td><input class="input-text" name="hy_identityid" style="width: 150px;"></td>
            <td class="formtdtext">民族<label></label></td>
            <td>
                <input class="easyui-combobox" style="height: 24px;width: 70px"
                       opt="hy_nation"
                       name="hy_nation"
                       data-options="
                                loader: cj.getLoader('oldnation'),
                                mode: 'remote',
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">政治面貌<label></label></td>
            <td>
                <input class="easyui-combobox "
                       opt="hy_politicalstatus"
                       name="hy_politicalstatus"
                       style="width: 100px"
                       data-options="
                                loader:cj.getLoader('politicsstatus'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
            <td class="formtdtext">籍贯<label></label></td>
            <td><input class="input-text" name="hy_native" style="width: 150px;"></td>
            <td class="formtdtext">单位<label></label></td>
            <td><input class="input-text" name="hy_department" style="width: 150px;"></td>
        </tr>
        <tr>
            <td class="formtdtext">婚姻登记时间<label></label></td>
            <td colspan="2">
                <input name="hy_register" opt="hy_register" class="easyui-datebox" style="width: 100px;">
            </td>
            <td class="formtdtext">职    务<label></label></td>
            <td colspan="2"><input name="hy_position" class="input-text" style="width: 170px;"></td>
        </tr>
        <tr>
            <td class="formtdtext">其他需说明情况<label></label></td>
            <td colspan="6">
                <textarea name="hy_other" style="width: 90%;"></textarea>
            </td>
        </tr>
        </tbody>
    </table>
</form>