<!--干部拒收或上交礼金、礼品情况-->
<form opt="form_hyqk" class="common-form" method="post">
    <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list_min" opt="fam">
        <thead>
        <tr>
            <th colspan="7" style="text-align: center;">干部拒收或上交礼金、礼品情况</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td align="center">金额(元)</td>
            <td align="center">名称</td>
            <td align="center">数量</td>
            <td align="center">折合价值(元)</td>
            <td align="center">拒收或上交时间</td>
            <td align="center">上交部门</td>
            <td align="center">备 注</td>
            <td><a opt="addlist" style="cursor: pointer"><img src="images/add.png"></a></td>
        </tr>
        <tr class="demo">
            <td align="center"><input class="input-text" opt="sj_money" style="width: 70px;"></td>
            <td align="center"><input class="input-text" opt="sj_gift" style="width: 70px;"></td>
            <td align="center"><input class="input-text" opt="sj_number" style="width: 70px;"></td>
            <td align="center"><input class="input-text" opt="sj_value" style="width: 130px;"></td>
            <td align="center"><input class="easyui-datebox" opt="sj_date" style="width: 100px;"></td>
            <td align="center"><input class="input-text" opt="sj_department" style="width: 70px;"></td>
            <td align="center"><input class="input-text" opt="sj_comments" style="width: 100px;"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</form>