<!--获奖情况修改-->
<form opt="form_hyqk" class="common-form" method="post">
    <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list_min" opt="fam">
        <thead>
        <tr>
            <th colspan="4" style="text-align: center;">干部拒收或上交礼金、礼品情况</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="formtdtext">金额(元)<label></label></td>
            <td>
                <input class="input-text" name="sj_money">
            </td>
            <td class="formtdtext">名称<label></label></td>
            <td>
                <input class="input-text" name="sj_gift">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">数量<label></label></td>
            <td>
                <input class="input-text" name="sj_number">
            </td>
            <td class="formtdtext">折合价值(元)<label></label></td>
            <td>
                <input class="input-text" name="sj_value">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">拒收或上交时间<label></label></td>
            <td>
                <input class="input-text" name="sj_date" opt="sj_date">
            </td>
            <td class="formtdtext">上交部门<label></label></td>
            <td>
                <input class="input-text" name="sj_department">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">备 注<label></label></td>
            <td colspan="3">
                <textarea name="sj_comments" style="width: 90%;"></textarea>
            </td>
        </tr>
        </tbody>
    </table>
</form>