<form class="common-form" method="post">
    <table opt="baseinfo_table" width="100%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
        <tr>
            <td class="formtdtext" style="width: 100px">姓名<label></label></td>
            <td>
                <input class="easyui-combobox" opt="pr_id"
                       data-options="editable:true,required:true" style="width: 130px;">
            </td>
            <td class="formtdtext">身份证号<label></label></td>
            <td>
                <input class="input-text" name="identityid" style="width: 170px;background-color: #F5F5F5" readonly>
            </td>
        </tr>
        <tr>
            <td class="formtdtext">性别<label></label></td>
            <td>
                <input opt="gender" class="easyui-combobox" style="height: 24px;width: 100px;background-color: #F5F5F5"
                       name="gender"
                       data-options="
                                loader:cj.getLoader('gender'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
            <td class="formtdtext">出生年月<label></label></td>
            <td>
                <input class="easyui-datebox" name="birth" opt="birth" style="width: 100px">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">籍贯<label></label></td>
            <td>
                <input class="input-text" name="native" style="width: 170px;background-color: #F5F5F5">
            </td>
            <td class="formtdtext">政治面貌<label></label></td>
            <td>
                <input class="easyui-combobox "
                       opt="politicalstatus"
                       name="politicalstatus"
                       style="width: 100px;background-color: #F5F5F5"
                       data-options="
                                loader:cj.getLoader('politicsstatus'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">入党时间<label></label></td>
            <td>
                <input class="easyui-datebox" name="partytime" opt="partytime" style="width: 100px;background-color: #F5F5F5">
            </td>
            <td class="formtdtext">学历<label></label></td>
            <td>
                <input class="input-text" name="education">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">工作单位<label></label></td>
            <td>
                <input class="input-text" name="workunit">
            </td>
            <td class="formtdtext">现任职务<label></label></td>
            <td>
                <input class="input-text" name="incumbent">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">职级<label></label></td>
            <td>
                <input class="input-text" name="positionlevel">
            </td>
            <td class="formtdtext">现任职务时间<label></label></td>
            <td>
                <input class="easyui-datebox" name="incumbenttime" opt="incumbenttime" style="width: 100px">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">分管工作<label></label></td>
            <td>
                <input class="input-text" name="chargework">
            </td>
            <td class="formtdtext">家庭住址<label></label></td>
            <td>
                <input class="input-text" name="address" style="width: 170px;background-color: #F5F5F5">
            </td>
        </tr>
    </table>
</form>

