<div class="easyui-tabs verticaltabs" fit="true" opt="tabs_child">
    <div title="<a title='获奖情况' opt='hjqk'>获奖情况</a>" data-options="closable:false">
        <div class="easyui-layout" opt="layout_hjqk" data-options="fit:true">
            <div data-options="region:'north',border:false"
                 style="height:60px;padding:0 0 0 0px;">
                <div style="width: auto;height: 50px;;background-color: #eff3f8;">
                    <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                        &nbsp;<span>时 间 </span><span><input opt="date_hjqk" type="text" size="10" class="easyui-datebox"></span>
                        &nbsp;<span>获奖名称 </span><span><input opt="name_hjqk" type="text" size="15" class="inputtext"></span>
                    </div>

                    <div style="float: right;margin-top: -48px;right: 2px;display: inline">
                        <input type="button" value="操作" class="btns_other" opt="other_hjqk" style="height: 50px;width: 45px;font-weight: bolder;">
                        <input type="button" value="查询" class="btns" opt="query_hjqk" style="height: 50px;width: 45px;font-weight: bolder;">
                    </div>
                    <div opt="func_btn_hjqk" style="float: right;background-color:snow;
                        margin-top: -48px;height: 50px;width: 100px;z-index: 900;display: none;">
                        <input type="button" value=">" class="btns" opt="other2_hjqk" style="height: 50px;width: 15px;font-weight: bolder;">
                        <input type="button" value="添加" class="btns" opt="addbtn_hjqk" style="height: 50px;width: 45px;font-weight: bolder;">
                    </div>
                </div>
            </div>
            <div data-options="region:'center',border:false" style="padding:0;">
                <table class="easyui-datagrid-no" opt="datagrid_hjqk"
                       data-options="fit:true,
                        fitColumns:true,
                        method:'post',
                        singleSelect:true,
                        loadMsg:'',
                        pagination:true">
                    <thead>
                    <tr>
                        <th data-options="field:'jc_date',width:100,align:'center'">时 间</th>
                        <th data-options="field:'jc_name',width:100,align:'center'">获奖名称</th>
                        <th data-options="field:'jc_reason',width:127,align:'center'">获奖原因</th>
                        <th data-options="field:'jc_office',width:127,align:'center'">奖励机关</th>
                        <th data-options="field:'jc_docnumber',width:127,align:'center'">文 号</th>
                        <th data-options="field:'ro',width:100,align:'center',
                                    formatter:function(value,rowData,rowIndex){
                                        var str='<div></div>';
                                        str=$(str).append('<a action=&quot;update_hjqk&quot;title=&quot;修改&quot;href=&quot;javaScript:;&quot;><span>修改</span></a>&nbsp;');
                                        str=$(str).append('<a action=&quot;del_hjqk&quot;title=&quot;删除&quot;href=&quot;javaScript:;&quot;><span>删除</span></a>');
                                        return str.html();
                                    }">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div title="<a title='受惩处情况' opt='ccqk'>受惩处情况</a>" data-options="closable:false">
        <div class="easyui-layout" opt="layout_ccqk" data-options="fit:true">
            <div data-options="region:'north',border:false"
                 style="height:60px;padding:0 0 0 0px;">
                <div style="width: auto;height: 50px;;background-color: #eff3f8;">
                    <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                        &nbsp;<span>时 间 </span><span><input opt="date_ccqk" type="text" size="10" class="easyui-datebox"></span>
                        &nbsp;<span>所受处分 </span><span><input opt="name_ccqk" type="text" size="15" class="inputtext"></span>
                    </div>

                    <div style="float: right;margin-top: -48px;right: 2px;display: inline">
                        <input type="button" value="操作" class="btns_other" opt="other_ccqk" style="height: 50px;width: 45px;font-weight: bolder;">
                        <input type="button" value="查询" class="btns" opt="query_ccqk" style="height: 50px;width: 45px;font-weight: bolder;">
                    </div>
                    <div opt="func_btn_ccqk" style="float: right;background-color:snow;
                        margin-top: -48px;height: 50px;width: 100px;z-index: 900;display: none;">
                        <input type="button" value=">" class="btns" opt="other2_ccqk" style="height: 50px;width: 15px;font-weight: bolder;">
                        <input type="button" value="添加" class="btns" opt="addbtn_ccqk" style="height: 50px;width: 45px;font-weight: bolder;">
                    </div>
                </div>
            </div>
            <div data-options="region:'center',border:false" style="padding:0;">
                <table class="easyui-datagrid-no" opt="datagrid_ccqk"
                       data-options="fit:true,
                        fitColumns:true,
                        method:'post',
                        singleSelect:true,
                        loadMsg:'',
                        pagination:true">
                    <thead>
                    <tr>
                        <th data-options="field:'jc_date',width:100,align:'center'">时 间</th>
                        <th data-options="field:'jc_name',width:100,align:'center'">所受处分</th>
                        <th data-options="field:'jc_reason',width:127,align:'center'">受处分原因</th>
                        <th data-options="field:'jc_office',width:127,align:'center'">惩处机关</th>
                        <th data-options="field:'jc_docnumber',width:127,align:'center'">文 号</th>
                        <th data-options="field:'ro',width:100,align:'center',
                                    formatter:function(value,rowData,rowIndex){
                                        var str='<div></div>';
                                        str=$(str).append('<a action=&quot;update_ccqk&quot;title=&quot;修改&quot;href=&quot;javaScript:;&quot;><span>修改</span></a>&nbsp;');
                                        str=$(str).append('<a action=&quot;del_ccqk&quot;title=&quot;删除&quot;href=&quot;javaScript:;&quot;><span>删除</span></a>');
                                        return str.html();
                                    }">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div title="<a title='干部拒收或上交礼金、礼品情况' opt='jssjqk'>拒收或上交情况</a>" data-options="closable:false">
        <div class="easyui-layout" opt="layout_jssjqk" data-options="fit:true">
            <div data-options="region:'north',border:false"
                 style="height:60px;padding:0 0 0 0px;">
                <div style="width: auto;height: 50px;;background-color: #eff3f8;">
                    <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                        &nbsp;<span>名称 </span><span><input opt="name_jssjqk" type="text" size="15" class="inputtext"></span>
                    </div>

                    <div style="float: right;margin-top: -48px;right: 2px;display: inline">
                        <input type="button" value="操作" class="btns_other" opt="other_jssjqk" style="height: 50px;width: 45px;font-weight: bolder;">
                        <input type="button" value="查询" class="btns" opt="query_jssjqk" style="height: 50px;width: 45px;font-weight: bolder;">
                    </div>
                    <div opt="func_btn_jssjqk" style="float: right;background-color:snow;
                        margin-top: -48px;height: 50px;width: 100px;z-index: 900;display: none;">
                        <input type="button" value=">" class="btns" opt="other2_jssjqk" style="height: 50px;width: 15px;font-weight: bolder;">
                        <input type="button" value="添加" class="btns" opt="addbtn_jssjqk" style="height: 50px;width: 45px;font-weight: bolder;">
                    </div>
                </div>
            </div>
            <div data-options="region:'center',border:false" style="padding:0;">
                <table class="easyui-datagrid-no" opt="datagrid_jssjqk"
                       data-options="fit:true,
                        fitColumns:true,
                        method:'post',
                        singleSelect:true,
                        loadMsg:'',
                        pagination:true">
                    <thead>
                    <tr>
                        <th data-options="field:'sj_money',width:135,align:'center'"><a title="拒收或上交礼金、有价证券或支付凭证金额(元)" style="color: white;">金额(元)</a></th>
                        <th data-options="field:'sj_gift',width:100,align:'center'">名称</th>
                        <th data-options="field:'sj_number',width:70,align:'center'">数量</th>
                        <th data-options="field:'sj_value',width:140,align:'center'">折合价值(元)</th>
                        <th data-options="field:'sj_date',width:140,align:'center'">拒收或上交时间</th>
                        <th data-options="field:'sj_department',width:140,align:'center'">上交部门</th>
                        <th data-options="field:'ro',width:100,align:'center',
                                    formatter:function(value,rowData,rowIndex){
                                        var str='<div></div>';
                                        str=$(str).append('<a action=&quot;update_jssjqk&quot;title=&quot;修改&quot;href=&quot;javaScript:;&quot;><span>修改</span></a>&nbsp;');
                                        str=$(str).append('<a action=&quot;del_jssjqk&quot;title=&quot;删除&quot;href=&quot;javaScript:;&quot;><span>删除</span></a>');
                                        return str.html();
                                    }">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div title="<a title='干部本人、配偶及共同生活的子女住房情况' opt='zfqk'>住房情况</a>" data-options="closable:false"></div>
    <div title="<a title='干部从事或参与营利性活动及兼职持股情况' opt='cgqk'>持股情况</a>" data-options="closable:false"></div>
    <div title="<a title='干部婚姻变化情况' opt='hyqk'>婚姻变化情况</a>" data-options="closable:false">
        <div class="easyui-layout" opt="layout_hyqk" data-options="fit:true">
            <div data-options="region:'north',border:false"
                 style="height:60px;padding:0 0 0 0px;">
                <div style="width: auto;height: 50px;;background-color: #eff3f8;">
                    <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                        <!--&nbsp;<span>姓名 </span><span><input opt="name" type="text" size="5" class="inputtext"></span>-->
                        <!--&nbsp;<span>身份证号 </span><span><input opt="identityid" type="text" size="15" class="inputtext"></span>-->
                    </div>

                    <div style="float: right;margin-top: -48px;right: 2px;display: inline">
                        <input type="button" value="操作" class="btns_other" opt="other_hyqk" style="height: 50px;width: 45px;font-weight: bolder;">
                        <!--<input type="button" value="查询" class="btns" opt="query_hyqk" style="height: 50px;width: 45px;font-weight: bolder;">-->
                    </div>
                    <div opt="func_btn_hyqk" style="float: right;background-color:snow;
                        margin-top: -48px;height: 50px;width: 100px;z-index: 900;display: none;">
                        <input type="button" value=">" class="btns" opt="other2_hyqk" style="height: 50px;width: 15px;font-weight: bolder;">
                        <input type="button" value="添加" class="btns" opt="addbtn_hyqk" style="height: 50px;width: 45px;font-weight: bolder;">
                    </div>
                </div>
            </div>
            <div data-options="region:'center',border:false" style="padding:0;">
                <table class="easyui-datagrid-no" opt="datagrid_hyqk"
                       data-options="fit:true,
                        fitColumns:false,
                        method:'post',
                        singleSelect:true,
                        loadMsg:'',
                        pagination:true">
                    <thead data-options="frozen:true">
                    <tr>
                        <th rowspan="2" data-options="field:'ro',width:70,align:'center',
                                    formatter:function(value,rowData,rowIndex){
                                        var str='<div></div>';
                                        str=$(str).append('<a action=&quot;update_hyqk&quot;title=&quot;修改&quot;href=&quot;javaScript:;&quot;><span>修改</span></a>&nbsp;');
                                        str=$(str).append('<a action=&quot;del_hyqk&quot;title=&quot;删除&quot;href=&quot;javaScript:;&quot;><span>删除</span></a>');
                                        return str.html();
                                    }">操作</th>
                        <!--<th data-options="field:'name',width:70,align:'center'" rowspan="2">姓名</th>-->
                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <!--<th data-options="field:'workunit',width:100,align:'center'" rowspan="2">单位</th>-->
                        <!--<th data-options="field:'incumbent',width:100,align:'center'" rowspan="2">职务</th>-->
                        <th colspan="5">原配偶</th>
                        <th colspan="4">现配偶</th>
                    </tr>
                    <tr>
                        <th data-options="field:'hy_formerwife',width:80,align:'center'">姓  名</th>
                        <th data-options="field:'hy_formeridentityid',width:140,align:'center'">身份证</th>
                        <th data-options="field:'hy_formerdepart',width:170,align:'center'">单位</th>
                        <th data-options="field:'hy_formerregister',width:100,align:'center'">婚姻登记时间</th>
                        <th data-options="field:'hy_divorcedate',width:100,align:'center'">婚姻结束时间</th>
                        <th data-options="field:'hy_wife',width:80,align:'center'">姓  名</th>
                        <th data-options="field:'hy_identityid',width:140,align:'center'">身份证</th>
                        <th data-options="field:'hy_department',width:170,align:'center'">单位</th>
                        <th data-options="field:'hy_register',width:100,align:'center'">婚姻登记时间</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div title="<a title='干部本人、配偶、子女及其配偶出国（境）情况' opt='cgjqk'>出国（境）情况</>" data-options="closable:false"></div>
    <div title="<a title='干部配偶、子女、父母、岳父母受党政纪、刑事处分' opt='xscf'>亲属受党政纪刑事处分</a>" data-options="closable:false">
        <div class="easyui-layout" opt="layout_xscf" data-options="fit:true">
            <div data-options="region:'north',border:false"
                 style="height:60px;padding:0 0 0 0px;">
                <div style="width: auto;height: 50px;;background-color: #eff3f8;">
                    <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                        &nbsp;<span>姓 名 </span><span><input opt="name_xscf" type="text" size="10" class="inputtext"></span>
                    </div>

                    <div style="float: right;margin-top: -48px;right: 2px;display: inline">
                        <input type="button" value="操作" class="btns_other" opt="other_sxcf" style="height: 50px;width: 45px;font-weight: bolder;">
                        <input type="button" value="查询" class="btns" opt="query_xscf" style="height: 50px;width: 45px;font-weight: bolder;">
                    </div>
                    <div opt="func_btn_xscf" style="float: right;background-color:snow;
                        margin-top: -48px;height: 50px;width: 100px;z-index: 900;display: none;">
                        <input type="button" value=">" class="btns" opt="other2_xscf" style="height: 50px;width: 15px;font-weight: bolder;">
                        <input type="button" value="添加" class="btns" opt="addbtn_xscf" style="height: 50px;width: 45px;font-weight: bolder;">
                    </div>
                </div>
            </div>
            <div data-options="region:'center',border:false" style="padding:0;">
                <table class="easyui-datagrid-no" opt="datagrid_xscf"
                       data-options="fit:true,
                        fitColumns:true,
                        method:'post',
                        singleSelect:true,
                        loadMsg:'',
                        pagination:true">
                    <thead>
                    <tr>
                        <th data-options="field:'cf_name',width:100,align:'center'">姓  名</th>
                        <th data-options="field:'cf_relation',width:100,align:'center'">与本人关系</th>
                        <th data-options="field:'cf_position',width:127,align:'center'">(原)工作单位及职务</th>
                        <th data-options="field:'cf_punishtype',width:127,align:'center',
                            formatter: function(value,row,index){
                                    return getPunishtype[value]
                                }">处分类型</th>
                        <th data-options="field:'ro',width:100,align:'center',
                                    formatter:function(value,rowData,rowIndex){
                                        var str='<div></div>';
                                        str=$(str).append('<a action=&quot;update_xscf&quot;title=&quot;修改&quot;href=&quot;javaScript:;&quot;><span>修改</span></a>&nbsp;');
                                        str=$(str).append('<a action=&quot;del_xscf&quot;title=&quot;删除&quot;href=&quot;javaScript:;&quot;><span>删除</span></a>');
                                        return str.html();
                                    }">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!--<div title="<a title='干部信访情况'>信访情况</a>" data-options="closable:false">
        <table class="easyui-datagrid-no" opt="fam_datagrid"
               data-options="fit:true,
                        fitColumns:true,
                        method:'post',
                        singleSelect:true,
                        loadMsg:'',
                        pagination:true">
            <thead>
            <tr>
                <th data-options="field:'appellation',width:70,align:'center'">称谓</th>
                <th data-options="field:'fm_name',width:70,align:'center'">姓名</th>
                <th data-options="field:'fm_identityid',width:140,align:'center'">身份证</th>
                <th data-options="field:'fm_politicalstatus',width:80,align:'center',
                        formatter: function(value,row,index){
                                return getPoliticsstatus[value]
                            }">政治面貌</th>
                <th data-options="field:'fm_workunit',width:100,align:'center'">工作单位</th>
                <th data-options="field:'fm_position',width:100,align:'center'">职务</th>
                <th data-options="field:'fm_contactway',width:100,align:'center'">联系方式</th>
            </tr>
            </thead>
        </table>
    </div>-->
</div>
