<div class="easyui-panel newRadio" opt="formcontentpanel" opt2="panel_zfqk"
     style="overflow-y: scroll;border-bottom: 1px solid greenyellow;height:4px;"
     data-options="fit:true,border:false,footer:'#ft4'">
    <form opt="form_zfqk" class="common-form textcolor" method="post">
        <input class="input-text" name="zf_id" readonly type="hidden">
        <table opt="baseinfo_table" width="100%" style="margin: 2px auto;" cellpadding="2" cellspacing="1" class="table_form">
            <thead>
            <tr>
                <th colspan="6" style="text-align: center;">干部本人、配偶及共同生活的子女住房情况</th>
            </tr>
            </thead>
            <tr>
                <td class="formtdtext" style="width: 100px">本人姓名<label></label></td>
                <td>
                    <input class="input-text" name="name" style="width: 70px;background-color: #FFFAF0" readonly>
                </td>
                <td class="formtdtext">单位<label></label></td>
                <td>
                    <input class="input-text" name="workunit" style="background-color: #FFFAF0" readonly>
                </td>
                <td class="formtdtext">职务<label></label></td>
                <td>
                    <input class="input-text" name="incumbent" style="background-color: #FFFAF0" readonly>
                </td>
            </tr>
            <tr>
                <td class="formtdtext" style="width: 100px">配偶姓名<label></label></td>
                <td>
                    <input class="input-text" name="wifename" style="width: 70px;">
                </td>
                <td class="formtdtext">单位<label></label></td>
                <td>
                    <input class="input-text" name="wifedepartment">
                </td>
                <td class="formtdtext">职务<label></label></td>
                <td>
                    <input class="input-text" name="wifeposition">
                </td>
            </tr>
        </table>
        <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list_min" opt="zfqk_zf">
            <tbody>
            <tr>
                <td colspan="8" style="text-align: center;font-size: 16px">本人、配偶及共同生活的子女现有住房情况</td>
            </tr>
            <tr>
                <td align="center">地址(具体到街道、幢、室)</td>
                <td align="center">建筑面积</td>
                <td align="center">房屋性质</td>
                <td align="center">房屋来源</td>
                <td align="center">产权人</td>
                <td><a opt="addlist" style="cursor: pointer"><img src="images/add.png"></a></td>
            </tr>
            <tr class="demo">
                <td align="center"><input class="input-text" opt="xy_address" style="width: 170px;"></td>
                <td align="center"><input class="input-text" opt="xy_area" style="width: 70px;"></td>
                <td align="center"><input class="input-text" opt="xy_property" style="width: 130px;"></td>
                <td align="center"><input class="input-text" opt="xy_source" style="width: 130px;"></td>
                <td align="center"><input class="input-text" opt="xy_owner" style="width: 70px;"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list_min" opt="zfqk_cs">
            <tbody>
            <tr>
                <td colspan="8" style="text-align: center;font-size: 16px">房屋出售情况</td>
            </tr>
            <tr>
                <td align="center">房屋地址</td>
                <td align="center">建筑面积</td>
                <td align="center">房屋性质</td>
                <td align="center">售房时间</td>
                <td align="center">售房金额(元)</td>
                <td><a opt="addlist" style="cursor: pointer"><img src="images/add.png"></a></td>
            </tr>
            <tr class="demo">
                <td align="center">
                    <input class="input-text" opt="sf_address" style="width: 170px;">
                </td>
                <td align="center">
                    <input class="input-text" opt="sf_area" style="width: 70px;">
                </td>
                <td align="center">
                    <input class="input-text" opt="sf_property" style="width: 130px;">
                </td>
                <td align="center">
                    <input class="easyui-datebox" opt="sf_selltime" style="width: 130px;">
                </td>
                <td align="center">
                    <input class="input-text" opt="sf_money" style="width: 70px;">
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list_min" opt="zfqk_cz">
            <tbody>
            <tr>
                <td colspan="8" style="text-align: center;font-size: 16px">房屋出租情况</td>
            </tr>
            <tr>
                <td align="center">房屋地址</td>
                <td align="center">建筑面积</td>
                <td align="center">房屋性质</td>
                <td align="center">租赁期限</td>
                <td align="center">年租金(元)</td>
                <td><a opt="addlist" style="cursor: pointer"><img src="images/add.png"></a></td>
            </tr>
            <tr class="demo">
                <td align="center">
                    <input class="input-text" opt="cz_address" style="width: 170px;">
                </td>
                <td align="center">
                    <input class="input-text" opt="cz_area" style="width: 70px;">
                </td>
                <td align="center">
                    <input class="input-text" opt="cz_property" style="width: 130px;">
                </td>
                <td align="center">
                    <input class="input-text" opt="cz_deadline" style="width: 130px;">
                </td>
                <td align="center">
                    <input class="input-text" opt="cz_annualrent" style="width: 70px;">
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list_min" opt="zfqk_jf">
            <tbody>
            <tr>
                <td colspan="8" style="text-align: center;font-size: 16px">参加集资建房情况</td>
            </tr>
            <tr>
                <td align="center">房屋地址</td>
                <td align="center">建筑面积</td>
                <td align="center">集资单位</td>
                <td align="center">房款总额(元)</td>
                <td align="center">个人支付(元)</td>
                <td><a opt="addlist" style="cursor: pointer"><img src="images/add.png"></a></td>
            </tr>
            <tr class="demo">
                <td align="center">
                    <input class="input-text" opt="jz_address" style="width: 170px;">
                </td>
                <td align="center">
                    <input class="input-text" opt="jz_area" style="width: 70px;">
                </td>
                <td align="center">
                    <input class="input-text" opt="jz_unit" style="width: 130px;">
                </td>
                <td align="center">
                    <input class="input-text" opt="jz_totalamount" style="width: 130px;">
                </td>
                <td align="center">
                    <input class="input-text" opt="jz_payment" style="width: 70px;">
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form">
            <tbody>
            <tr>
                <td align="center" style="width: 100px;">其他需要<br/>说明的情况</td>
                <td align="center">
                    <textarea name="zf_other" style="width: 90%;"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div id="ft4" style="padding:5px;" align="center">
    <input type="button" value="取消" class="btns" opt="cancel">
    <input type="button" value="保存" class="btns" opt="save_zfqk">
</div>