<table class="easyui-datagrid-noauto"
       data-options="fit:true,
                        fitColumns:true,
                        method:'post',
                        singleSelect:true,
                        loadMsg:'',
                        pagination:true">
    <thead>
    <tr>
        <!--<th data-options="field:'name',width:80,align:'center'">姓名</th>-->
        <!--<th data-options="field:'credentialstype',width:170,align:'center'">领用证件类型</th>-->
        <!--<th data-options="field:'credentialsnumb',width:170,align:'center'">证件号码</th>-->
        <th data-options="field:'receivedate',width:170,align:'center'">领用日期</th>
        <th data-options="field:'returndate',width:170,align:'center'">归还日期</th>
    </tr>
    </thead>
</table>


