<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false"
         style="height:60px;padding:0 0 0 0px;">
        <div style="width: auto;height: 50px;;background-color: #eff3f8;"><!-- #e5e5e5-->
            <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                &nbsp;<span>姓名 </span><span><input opt="name" type="text" size="5" class="inputtext"></span>
                &nbsp;<span>证件号码 </span><span><input opt="identityid" type="text" size="15" class="inputtext"></span>
                &nbsp;<span>是否归还 </span>
                    <span>
                        <input opt="gender" class="easyui-combobox" style="height: 24px;width: 100px;"
                               name="isback"
                               data-options="
                                loader:cj.getLoader('isback'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
                    </span>
            </div>

            <div style="float: right;margin-top: -48px;right: 2px;display: inline">
                <input type="button" value="操作" class="btns" opt="other" style="height: 50px;width: 45px;font-weight: bolder;">
                <input type="button" value="查询" class="btns" opt="query" style="height: 50px;width: 45px;font-weight: bolder;">
            </div>
            <div opt="func_btn" style="float: right;background-color:snow;
                        margin-top: -48px;height: 50px;width: 100px;z-index: 900;display: none;">
                <input type="button" value=">" class="btns" opt="other_2" style="height: 50px;width: 15px;font-weight: bolder;">
                <input type="button" value="证件领用" class="btns" opt="addbtn" style="height: 50px;width: 65px;font-weight: bolder;">
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
        <table class="easyui-datagrid-noauto"
               data-options="fit:true,
                        fitColumns:true,
                        method:'post',
                        singleSelect:true,
                        loadMsg:'',
                        pagination:true">
            <thead frozen="true">
            <tr>
                <th data-options="field:'name',width:80,align:'center',
                            formatter:function(v,r,i){
                                        var str='<div></div>';
                                        str=$(str).append('<a action=&quot;view&quot;href=&quot;javaScript:;&quot;>'+v+'</a>');
                                        return str.html();
                                    }">姓名</th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th data-options="field:'credentialstype',width:170,align:'center'">领用证件类型</th>
                <th data-options="field:'credentialsnumb',width:170,align:'center'">证件号码</th>
                <th data-options="field:'receivedate',width:170,align:'center'">领用日期</th>
                <th data-options="field:'returndate',width:170,align:'center'">归还日期</th>
                <th data-options="field:'ro',width:100,align:'center',
                                    formatter:function(value,rowData,rowIndex){
                                        var str='<div></div>';
                                        str=$(str).append('<a action=&quot;back&quot;title=&quot;证件归还&quot;href=&quot;javaScript:;&quot;><span>证件归还</span></a>&nbsp;');
                                        return str.html();
                                    }">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>


