<form class="common-form" method="post">
    <table opt="baseinfo_table" width="100%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
        <tr>
            <td class="formtdtext" style="width: 100px">姓名<label></label></td>
            <td>
                <input class="easyui-combobox" opt="c_id" name="c_id"
                       data-options="editable:true,required:true" style="width: 130px;">
            </td>
            <td class="formtdtext">证件类型<label></label></td>
            <td>
                <input class="input-text" name="credentialstype" readonly>
            </td>
        </tr>
        <tr>
            <td class="formtdtext">证件号码<label></label></td>
            <td>
                <input class="input-text" name="credentialsnumb" style="width: 170px;" readonly>
            </td>
            <td class="formtdtext">领用日期<label></label></td>
            <td>
                <input opt="receivedate" name="receivedate" class="easyui-datebox" style="width: 100px">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">备注<label></label></td>
            <td colspan="3">
                <textarea style="width: 95%;" name="cr_comments"></textarea>
            </td>
        </tr>
    </table>
</form>

