<!--<style>
    #filemnglinknav{
        margin-top: 9px;
    }
    #filemnglinknav ul{text-align:center;}
    #filemnglinknav ul li{
        display:inline;cursor: pointer;
        font-size: 16px;
        background-color: #d3d3d3;
    }
</style>-->
<div class="easyui-tabs" fit="true" opt="form_child">
    <div title="学历学位" data-options="closable:false">
        <table class="easyui-datagrid-no" opt="edu_datagrid"
               data-options="fit:true,
                        fitColumns:true,
                        method:'post',
                        singleSelect:true,
                        loadMsg:'',
                        pagination:true">
            <thead>
            <tr>
                <th data-options="field:'educationtype',width:74,align:'center',
                        formatter: function(value,row,index){
                                return getEducationtype[value]
                            }">教育类别</th>
                <th data-options="field:'college',width:100,align:'center'">毕业院校</th>
                <th data-options="field:'profession',width:127,align:'center'">专业</th>
            </tr>
            </thead>
        </table>
    </div>
    <div title="主要家庭成员" data-options="closable:false">
        <table class="easyui-datagrid-no" opt="fam_datagrid"
               data-options="fit:true,
                        fitColumns:true,
                        method:'post',
                        singleSelect:true,
                        loadMsg:'',
                        pagination:true">
            <thead>
            <tr>
                <th data-options="field:'appellation',width:70,align:'center'">称谓</th>
                <th data-options="field:'fm_name',width:70,align:'center'">姓名</th>
                <th data-options="field:'fm_identityid',width:140,align:'center'">身份证</th>
                <th data-options="field:'fm_politicalstatus',width:80,align:'center',
                        formatter: function(value,row,index){
                                return getPoliticsstatus[value]
                            }">政治面貌</th>
                <th data-options="field:'fm_workunit',width:100,align:'center'">工作单位</th>
                <th data-options="field:'fm_position',width:100,align:'center'">职务</th>
                <th data-options="field:'fm_contactway',width:100,align:'center'">联系方式</th>
            </tr>
            </thead>
        </table>
    </div>
    <div title="附件" data-options="closable:false">
        <div class="easyui-layout" data-options="fit:true" opt="file_layout">
            <div data-options="region:'north'" style="height:42px;background-color: #3273a9">
                <div class="file_func" opt="file_func">
                    <ul>
                        <li><span opt="file_up_btn">附件上传</span></li>
                    </ul>
                </div>
            </div>
            <div data-options="region:'west'" style="width:120px;background-color: #0d7fd7">
                <div class="filefolder">
                    <div>附件类型</div>
                    <ul>
                        <li class="menu_funcV">
                            <span opt="gbrm">干部任免附件</span>
                        </li>
                        <li>
                            <span opt="dyfz">党员发展附件</span>
                        </li>
                        <li>
                            <span opt="jlqk">奖惩情况</span>
                        </li>
                        <li>
                            <span opt="ndkh">年度考核结果</span>
                        </li>
                        <li>
                            <span opt="other">其他材料</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div data-options="region:'center'">
                <table class="easyui-datagrid" opt="file_datagrid"
                       data-options="fit:true,border:false,
                           rownumbers:true,
                           fitColumns:true,
                           loadMsg:'',
                           singleSelect:true,
                           pagination:true">
                    <thead>
                    <tr>
                        <!--<th data-options="field:'ck',checkbox:true"></th>-->
                        <th data-options="field:'file_name',width:100,align:'center'">文件名</th>
                        <th data-options="field:'file_size',width:80,align:'center',
                        formatter:function(v,rowData,rowIndex){
                                if(!v){return;}
                                if(v>1024*1024){return new Number(v/1024/1024).toFixed(2)+&quot;M&quot;}
                                if(v>1024){return new Number(v/1024).toFixed(2)+&quot;K&quot;}
                                else{return v + &quot;B&quot;}
                            }">文件大小</th>
                        <th data-options="field:'file_type',width:70,align:'center'">文件类型</th>
                        <th data-options="field:'loaddate',width:130,align:'center'">上传时间</th>
                        <th data-options="field:'oo',width:120,align:'center',
                        formatter:function(value,rowData,rowIndex){
                            var str='<div></div>';
                            str=$(str).append('<a action=&quot;download&quot;title=&quot;下载&quot;href=&quot;javaScript:;&quot;><span>下载</span></a>&nbsp;');
                            str=$(str).append('<a action=&quot;del&quot;title=&quot;删除&quot;href=&quot;javaScript:;&quot;><span>删除</span></a>');
                            return str.html();
                        }">操作</th>
                    </tr>
                    </thead><!--if(rowData.file_type=='.png' || rowData.file_type=='.jpg'){--><!-- }-->
                </table>
            </div>
        </div>
    </div>
</div>