<!--<div class="easyui-panel newRadio" opt="formcontentpanel"
     style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
     data-options="fit:true,border:false">-->
<form class="common-form" method="post" enctype="multipart/form-data">
    <table opt="baseinfo_table" width="100%" style="margin: 0 auto;margin-top: 2px;" cellpadding="2" cellspacing="1" class="table_form">
        <tr>
            <td class="formtdtext" style="width: 100px">姓名<label></label></td>
            <td>
                <input class="easyui-validatebox input-text" name="name" data-options="required:true"><span style="color: red">*</span>
            </td>
            <td class="formtdtext">身份证号<label></label></td>
            <td>
                <input opt="identityid" name="identityid" class="easyui-validatebox input-text" style="width: 170px;"
                       data-options="required:true,invalidMessage:'请输入正确的身份证号',validType:'identityid'"><span style="color: red">*</span>
            </td>
            <td rowspan="4" colspan="2" style="text-align: center">
                <div id="personimg" style="width: 150px;height: 120px;cursor: pointer;margin-left: 80px;" opt="personimg">
                    <img name="photo" src="images/noperson.gif" value="" alt="用户照片" width="150px" height="120px">
                </div>
                <input name="fileext" style="display: none;">
                <input opt="inputVal"
                       type="file"
                       name="file"
                       style="width:251px;border:0;height: 24px;display: none;" value="" maxlength="64">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">性别<label></label></td>
            <td>
                <input opt="gender" class="easyui-combobox" style="height: 24px;width: 100px;"
                       name="gender"
                       data-options="
                                loader:cj.getLoader('gender'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
            <td class="formtdtext">年龄<label></label></td>
            <td>
                <input opt="age" class="input-text" name="age">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">籍贯<label></label></td>
            <td>
                <input class="input-text" name="native">
            </td>
            <td class="formtdtext">出生地<label></label></td>
            <td>
                <input class="input-text" name="birthplace">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">民族<label></label></td>
            <td>
                <input class="easyui-combobox" style="height: 24px;width: 100px"
                       opt="nation"
                       name="nation"
                       data-options="
                                loader: cj.getLoader('oldnation'),
                                mode: 'remote',
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
            <td class="formtdtext">婚姻情况<label></label></td>
            <td>
                <input class="easyui-combobox "
                       opt="marriage"
                       name="marriage"
                       style="width: 100px"
                       data-options="
                                loader:cj.getLoader('marriage'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">工作状况<label></label></td>
            <td>
                <input class="easyui-combobox"
                       opt="workstatus"
                       name="workstatus"
                       style="width: 100px"
                       data-options="
                                loader:cj.getLoader('workstatus'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
            <td class="formtdtext" opt="worktime_label">时间<label></label></td>
            <td>
                <input class="easyui-datebox" name="worktime" opt="worktime" style="width: 100px"><!--工作时间,离休时间,退休时间-->
            </td>
            <td class="formtdtext">联系方式<label></label></td>
            <td>
                <input class="input-text" name="contactway">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">政治面貌<label></label></td>
            <td>
                <input class="easyui-combobox "
                       opt="politicalstatus"
                       name="politicalstatus"
                       style="width: 100px"
                       data-options="
                                loader:cj.getLoader('politicsstatus'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
            <td class="formtdtext">住址<label></label></td>
            <td>
                <input class="input-text" name="address">
            </td>
            <td class="formtdtext">入党时间<label></label></td>
            <td>
                <input class="easyui-datebox" name="partytime" opt="partytime" style="width: 100px">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">单位/科室<label></label></td>
            <td>
                <input class="input-text" name="department">
            </td>
            <td class="formtdtext">职务<label></label></td>
            <td>
                <input class="input-text" name="position">
            </td>
            <td class="formtdtext">入职类别<label></label></td>
            <td>
                <input class="easyui-combobox "
                       opt="positiontype"
                       name="positiontype"
                       style="width: 100px"
                       data-options="
                                loader:cj.getLoader('inclass'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
        </tr>
        <tr>
            <td class="formtdtext">人员身份<label></label></td>
            <td>
                <input class="easyui-combobox"
                       opt="personnel"
                       name="personnel"
                       style="width: 100px"
                       data-options="
                                loader:cj.getLoader('personnelidentity'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
            <td colspan="4">
                <div style="display: none;" opt="shiye">
                    聘用时间 :<input class="easyui-datebox" name="employtime" style="width: 100px">
                    聘期 :<input class="input-text" name="employterm">
                    专业技术职务 :<input class="easyui-combobox "
                                   name="technicalpost"
                                   style="width: 100px"
                                   data-options="
                                    loader:cj.getLoader('protech'),
                                    editable:false,
                                    valueField:'id',
                                    textField:'text'">
                </div>
                <div style="display: none;" opt="hetonggong">
                    合同签订时间 :<input class="easyui-datebox" name="contractsigntime" style="width: 100px">
                    截止时间 :<input class="easyui-datebox" name="contractdeadline" style="width: 100px">
                    试用期*月 :<input class="input-text" name="probation">
                </div>
            </td>
        </tr>
    </table>

    <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list" opt="edu">
        <tbody>
            <tr>
                <td colspan="4" style="text-align: center;font-size: 18px">学位学历</td>
            </tr>
            <tr>
                <td align="center">教育类别</td>
                <td align="center">毕业院校</td>
                <td align="center">专业</td>
                <td style="width: 30px;"><a opt="addlist_degree" style="cursor: pointer">添加</a></td>
            </tr>
            <tr class="demo">
                <td align="center">
                    <input class="easyui-combobox"
                           opt="edutype"
                           opt2="educationtype"
                           style="width: 100px"
                           data-options="
                                loader:cj.getLoader('edutype'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
                </td>
                <td align="center">
                    <input class="input-text" opt="college">
                </td>
                <td align="center">
                    <input class="input-text" opt="profession">
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table width="100%" style="margin: 0 auto;" cellpadding="2" cellspacing="1" class="table_form list" opt="fam">
        <tbody>
        <tr>
            <td colspan="8" style="text-align: center;font-size: 18px">主要家庭成员</td>
        </tr>
        <tr>
            <td align="center">称谓</td>
            <td align="center">姓名</td>
            <td align="center">身份证</td>
            <td align="center">政治面貌</td>
            <td align="center">工作单位</td>
            <td align="center">职务</td>
            <td align="center">联系方式</td>
            <td><a opt="addlist_family" style="cursor: pointer">添加</a></td>
        </tr>
        <tr class="demo">
            <td align="center">
                <input class="input-text" opt="appellation" style="width: 70px;">
            </td>
            <td align="center">
                <input class="input-text" opt="fm_name" style="width: 70px;">
            </td>
            <td align="center">
                <input class="input-text" opt="fm_identityid" style="width: 130px;">
            </td>
            <td align="center">
                <input class="easyui-combobox "
                       opt="fm_politicalstatus"
                       style="width: 80px"
                       data-options="
                                loader:cj.getLoader('politicsstatus'),
                                editable:false,
                                valueField:'id',
                                textField:'text'">
            </td>
            <td align="center">
                <input class="input-text" opt="fm_workunit" style="width: 100px;">
            </td>
            <td align="center">
                <input class="input-text" opt="fm_position" style="width: 100px;">
            </td>
            <td align="center">
                <input class="input-text" opt="fm_contactway" style="width: 100px;">
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</form>
<!--</div>-->

