<form method="post">
<div class="newRadio intelligent">
    <table>
        <!--<caption>查询对话框</caption>-->
        <tr>
            <td>设备名称</td>
            <td><input name="sys_mename" operate="like"></td>
            <td style="width: 10px"></td>
            <td>设备类型  </td>
            <td><input name="sys_metype" operate="like"></td>
        </tr>
        <tr>
            <td>联系人 </td>
            <td>
                <input name="sys_mecontact" operate="eq">
            </td>

            <td></td>
            <td>使用状态 </td>
            <td>
                <input class="easyui-combobox" name="sys_meustate" operate="eq"
                       data-options=" data:cj.getEnum('meustate'), editable:false, valueField:'id', textField:'text' "
                        >
            </td>
        </tr>

    </table>
    <div style="width: 150px;margin: 5px auto">
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" action="search" plain="true">查询</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-close"  action="close" plain="true">关闭</a>
    </div>
</div>
</form>
