<form method="post">
<div class="newRadio intelligent">
    <table>
        <!--<caption>查询对话框</caption>-->
        <tr>
            <td>医院</td>
            <td><input name="sys_miname" operate="like"></td>
            <td style="width: 10px"></td>
            <td>邮政编码</td>
            <td><input name="sys_mipcode" operate="like"></td>
        </tr>
        <tr>
            <td>医院类型</td>
            <td>
                <input  class="easyui-combobox" name="sys_mitype" operate="eq"
                        data-options=" data:cj.getEnum('mitype'), editable:false, valueField:'id', textField:'text' ">
            </td>

            <td></td>
            <td>医院等级</td>

            <td>
                <input  class="easyui-combobox" name="sys_milv" operate="eq"
                        data-options=" data:cj.getEnum('milv'), editable:false, valueField:'id', textField:'text' ">
            </td>
        </tr>
        <tr>
            <td>联系电话</td>
            <td><input class="easyui-combobox" name="sys_miphone" operate="like"></td>
            <td></td>
            <td>院长名字</td>
            <td><input  name="sys_midean"  operate="like"></td>
        </tr>


    </table>
    <div style="width: 150px;margin: 5px auto">
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" action="search" plain="true">查询</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-close"  action="close" plain="true">关闭</a>
    </div>
</div>
</form>
