<div class="easyui-panel newRadio" opt="formcontentpanel"
     style="overflow-y: scroll;border-bottom: 1px solid greenyellow;"
     data-options="fit:true,border:false">
    <form opt="comboform" class="common-form" method="post" >
        <table opt="baseinfo_table" style="margin: 0 auto;margin-top: 2px;width: 400px;" cellpadding="2" cellspacing="1" class="table_form">
            <tr>
                <td class="formtdtext">代码值<label></label></td>
                <td><input class="easyui-validatebox" name="aaa102"></td>
            </tr>
            <tr>
                <td class="formtdtext">代码名称<label></label></td>
                <td><input class="easyui-validatebox" name="aaa103"></td>
            </tr>
        </table>
    </form>
</div>
