<form opt="comboform" class="common-form" method="post" >
    <table opt="baseinfo_table" style="margin: 0 auto;margin-top: 2px;width: 400px;" cellpadding="2" cellspacing="1" class="table_form">
        <tr>
            <td class="formtdtext">类别名称<label></label></td>
            <td><input class="input-text" name="aaa101"></td>
        </tr>
        <tr>
            <td class="formtdtext">类别代码<label></label></td>
            <td><input class="input-text" name="aaa100"></td>
        </tr>
    </table>
</form>