<div class="easyui-layout"  data-options="fit:true">
    <div opt="combodt" data-options="region:'center'">

        <!--<table class="easyui-datagrid-noauto"
               data-options="
               method:'post',
               fit:true,
               fitColumns:true,
               border:false,
               rownumbers:true,
              pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               pagination:true">
            <thead>
            <tr>
                <th data-options="field:'ro',width:100,align:'center',formatter:function(value,rowData,rowIndex)
            {
                var str='<div></div>';
                str=$(str).append('<a action=&quot;update&quot;  class=&quot;opiconbg&quot;><span><span class=&quot;icon-update-pl16&quot;>修改</span></span></a>');
                str=$(str).append('<a action=&quot;logout&quot;  class=&quot;opiconbg&quot;><span><span class=&quot;icon-logout-pl16&quot;>注销</span></span></a>');
                return str.html();
            }">操作</th>
                <th data-options="field:'aaa100',width:100,align:'center'">代码类别</th>
                <th data-options="field:'aaa102',width:100,align:'center'">代码值</th>
                <th data-options="field:'aaa103',width:100,align:'center'">代码名称</th>
            </tr>
            </thead>
        </table>-->

        <!--<div tb>
            <span opt="text"></span>
            <span opt="value"></span>
            <table cellspacing="0" cellpadding="0" style="float: right">
                <tr>

                    <td><label class="gray7">搜索条件:</label></td>

                    <td style="width: 210px;text-align: right">
                        <input class="easyui-searchbox" data-options="prompt:'名称',iconCls:'icon-log'"
                               type="keyword" style="width:200px" >
                    </td>

                    <td>
                        <span class="searchbtn" >&nbsp;</span>
                    </td>

                    <td>
                        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" action="add">添加</a>
                    </td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>-->

        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north',border:false"
                 style="height:65px;padding:10px 15px 0 15px;">
                <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;min-width:400px;min-height:40px;background-color: #eff3f8;">
                    <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                        &nbsp;<span>代码名称 </span><span><input opt="rolename" type="text" size="5" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns" opt="query">
                </span>
                    </div>
                </div>
            </div>
            <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
                <table class="easyui-datagrid-noauto"
                       data-options="
                       method:'post',
                       fit:true,
                       fitColumns:true,
                       border:false,
                       rownumbers:true,
                       pageSize:cj.getDataGridAttr('pageSize'),
                       pageList:cj.getDataGridAttr('pageList'),
                       singleSelect:true,
                       pagination:true">
                    <thead>
                    <tr>
                        <th data-options="field:'ro',width:100,align:'center',formatter:function(value,rowData,rowIndex)
                        {
                            var str='<div></div>';
                            str=$(str).append('<a action=&quot;update&quot;  class=&quot;opiconbg&quot;><span><span class=&quot;icon-update-pl16&quot;>修改</span></span></a>&nbsp;|&nbsp;');
                            str=$(str).append('<a action=&quot;logout&quot;  class=&quot;opiconbg&quot;><span><span class=&quot;icon-logout-pl16&quot;>注销</span></span></a>');
                            return str.html();
                        }">操作</th>
                        <th data-options="field:'aaa100',width:100,align:'center'">代码类别</th>
                        <th data-options="field:'aaa102',width:100,align:'center'">代码值</th>
                        <th data-options="field:'aaa103',width:100,align:'center'">代码名称</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
    <div opt="combo" data-options="region:'west',lines:true" style="width:500px;">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north',border:false"
                 style="height:65px;padding:10px 15px 0 15px;">
                <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;min-width:400px;min-height:40px;background-color: #eff3f8;">
                    <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                        &nbsp;<span>类别名称 </span><span><input opt="aaa101" type="text" size="5" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns" opt="query">
                    <input type="button" value="添加" class="btns" opt="addtype">
                </span>
                    </div>
                </div>
            </div>
            <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
                <table class="easyui-datagrid-noauto"
                       data-options="
                       method:'post',
                       fit:true,
                       fitColumns:true,
                       border:false,
                       rownumbers:true,
                       pageSize:cj.getDataGridAttr('pageSize'),
                       pageList:cj.getDataGridAttr('pageList'),
                       singleSelect:true,
                       pagination:true">
                    <thead>
                    <tr>
                        <th data-options="field:'ro',width:100,align:'center',formatter:function(value,rowData,rowIndex)
                        {
                            var str='<div></div>';
                            str=$(str).append('<a action=&quot;update&quot;class=&quot;opiconbg&quot;><span><span class=&quot;icon-update-pl16&quot;>修改</span></span></a>&nbsp;|&nbsp;');
                            str=$(str).append('<a action=&quot;add&quot;class=&quot;opiconbg&quot;><span><span class=&quot;icon-update-pl16&quot;>添加</span></span></a>');
                            return str.html();
                        }">操作</th>
                        <th data-options="field:'aaa100',width:100,align:'center',formatter:function(value,rowData,rowIndex)
                        {
                            var str='<div></div>';
                            str=$(str).append('<a action=&quot;codetype&quot;>'+value+'</a>');
                            return str.html();
                        }">代码类别</th>
                        <th data-options="field:'aaa101',width:100,align:'center'">类别名称</th>
                        <th data-options="field:'aaa104',width:100,align:'center'">可维护标志</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
