<div class="easyui-layout"  data-options="fit:true">
    <!--<div data-options="region:'east'" style="width:100px;"></div>-->
    <div data-options="region:'center'" style="padding:0 20px 0 20px;" data-options="fit:true">
        <form method="post">
        <div class="weboxbuttons"><ul></ul></div>
        <input type="hidden" name="functionid">
            <div class="d-content" style="max-height: 579px; margin-top:10px;overflow: auto; height: auto;">
                <div class="dialog_content">
                    <form id="info_form" action="test?a=edit&amp;m=mechanism"
                          method="post">
                        <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
                            <tbody>
                            <tr>
                                <th width="80">地址 :</th>
                                <td><input type="text" name="location" id="name" class="input-text" size="50">

                                </td>
                            </tr>
                            <tr>
                                <th width="80">节点类型 :</th>
                                <td>
                                    <select name="nodetype">
                                        <option value="0">叶子</option>
                                        <option value="1" selected="selected">节点</option>
                                        <option value="2">按钮</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>功能类型 :</th>
                                <td>
                                    <select name="type">
                                        <option value="1" selected="selected">组件</option>
                                        <option value="0">链接(iframe/url)</option>
                                    </select>
                                </td>
                            </tr>



                            <tr>
                                <th>中文名 :</th>
                                <td><input type="text" name="title" class="input-text"></td>
                            </tr>
                            <tr>
                                <th>父节点 :</th>
                                <td><input type="text" name="parent" class="input-text" size="30"></td>
                            </tr>
                            <tr>
                                <th>图标 :</th>
                                <td>
                                    <input type="text" name="img" class="input-text" size="30">
                                    <input type="button" value="添加" class="btns" opt="addimg" style="font-weight: bolder;">
                                </td>
                            </tr>
                            <tr>
                                <th>序号 :</th>
                                <td><input type="text" name="orderno" class="input-text"></td>
                            </tr>


                            <tr>
                                <th>描述 :</th>
                                <td><input type="text" name="description" class="input-text" size="30"></td>
                            </tr>



                            <tr  style="display: none">
                                <td class="formtdtext">是否日志:</td>
                                <td><input  type="text" name="log" value="1"></td>
                                <td class="formtdtext">开发者:</td>
                                <td><input  type="text" name="developer" value="1" ></td>

                            </tr>
                            <tr  style="display: none">
                                <td class="formtdtext">审核标志:</td>
                                <td><input  type="text"  name="auflag" ></td>
                                <td class="formtdtext">回退:</td>
                                <td><input class="easyui-validatebox"  type="text"  name="rbflag" data-options="required:true" value="1"></td>


                            </tr>
                            <tr  style="display: none">
                                <td class="formtdtext">参数1:</td>
                                <td><input type="text" name="param1" value="1"></td>
                                <td class="formtdtext">参数2:</td>
                                <td><input type="text" name="param2" value="1"></td>


                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>

        </form>
    </div>
    <div data-options="region:'west',lines:true" style="width:300px;">
        <!--<div style="border:1px solid red;"><span>&nbsp;</span><a opt="log"  style="height: 20px;width: 100px"></a></div>-->
        <!--<a opt="expandAll" class="btns">展开所有</a>
        <a opt="collapseAll" class="btns">收缩所有</a>-->
        <div style="padding-bottom: 3px;padding-top: 2px;">
            <span>&nbsp;</span>
            <a opt="expandAll" class="icondealwith" style="cursor: pointer;">展开所有</a>
            <a opt="collapseAll" class="icondealwith" style="cursor: pointer;">收缩所有</a>
        </div>
        <ul opt="functiontree"></ul>
    </div>
</div>
