<div class="d-content" style="max-height: 579px; overflow: auto; height: auto;">
    <div class="dialog_content">
        <form method="post">
            <input type="hidden" name="roleid">
            <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
                <tbody>
                <tr>
                    <td class="formtdtext">名称<label></label></td>
                    <td><input type="text" name="rolename" id="name" class="input-text" >

                    </td>
                </tr>

                <tr>
                    <td class="formtdtext">描述<label></label></td>
                    <td>
                        <textarea name="roledesc" style="width: 80%;"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>