<div class="easyui-layout"  data-options="fit:true">
    <div data-options="region:'center'" data-options="fit:true">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north',border:false"
                 style="height:65px;padding:10px 15px 0 15px;">
                <div style="border: 1px solid #e5e5e5;width: auto;height: 85%;min-width:500px;min-height:40px;background-color: #eff3f8;">
                    <div style="height: 35px;padding-top: 12px;padding-right:3px;">
                        &nbsp;<span>用户名称 </span><span><input opt="username" type="text" size="5" class="inputtext"></span>
                <span style="float: right;margin-top: 3px">
                    <input type="button" value="查询" class="btns" opt="query">
                    <input type="button" value="新增用户" style="width: 70px;" class="btns" opt="adduser">
                </span>
                    </div>
                </div>
            </div>
            <div data-options="region:'center',border:false" style="padding:0px 15px 15px 15px;">
                <table class="easyui-datagrid-noauto"
                       data-options="
                       method:'post',
                       fit:true,
                       border:false,
                       fitColumns:true,
                       pageSize:cj.getDataGridAttr('pageSize'),
                       pageList:cj.getDataGridAttr('pageList'),
                       singleSelect:true,
                       pagination:true">
                    <thead>
                    <tr>
                        <th data-options="field:'username',width:100,align:'center',formatter:function(v,r,i)
                        {
                            var str='<div></div>';
                            str=$(str).append('<a action=&quot;view&quot;href=&quot;javaScript:;&quot;>'+v+'</a>');
                            return str.html();
                        }">用户名称</th>
                        <th data-options="field:'loginname',width:100,align:'center'">登录名</th>
                        <th data-options="field:'passwd',width:50,align:'center'">密码</th>
                        <th data-options="field:'useful',width:50,align:'center',
                        formatter:function(v,i,r){
                            if(v == 0){
                                return '无效'
                            }else{
                                return '有效'
                            }
                        }">是否有效</th>
                        <th data-options="field:'createdate',width:100,align:'center',formatter:cj.dateFormatter(),hidden:true">创建时间</th>
                        <th data-options="field:'delete',width:50,align:'center',formatter:function(v,r,i)
                        {
                            var str='<div></div>';
                            str=$(str).append('<a action=&quot;delete&quot;href=&quot;javaScript:;&quot;><span>删除</span></a>&nbsp;|&nbsp;');
                            str=$(str).append('<a action=&quot;addrole&quot;href=&quot;javaScript:;&quot;><span>添加角色</span></a>');
                            return str.html();
                        }">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!--<div data-options="region:'west',lines:true" style="width:250px;">
        <ul id="Divisiontree"></ul>
    </div>-->
</div>
