<div class="easyui-layout"  data-options="fit:true">
   <!-- <div data-options="region:'north'" style="height:50px"></div>
    <div data-options="region:'south'" style="height:50px;"></div>
    <div data-options="region:'east'" style="width:100px;"></div>-->
    <div data-options="region:'center'" data-options="fit:true">
        <table class="easyui-datagrid-noauto"
               data-options="
               method:'post',
               fit:true,
               border:false,
               rownumbers:true,
               fitColumns:true,
              pageSize:cj.getDataGridAttr('pageSize'),
               pageList:cj.getDataGridAttr('pageList'),
               singleSelect:true,
               pagination:true">
            <thead>
            <tr>
                <th data-options="field:'username',width:100,align:'center',formatter:function(v,r,i)
            {
                var str='<div></div>';
                str=$(str).append('<a action=&quot;view&quot;>'+v+'('+r.loginname+')</a>');
                return str.html();
            }">用户名称</th>
                <th data-options="field:'totalname',width:120,align:'center'">区域名称</th>
                <th data-options="field:'regionid',width:50,align:'left'">区域代码</th>
                <th data-options="field:'createdate',width:100,align:'center',formatter:cj.dateFormatter(),hidden:true">创建时间</th>
                <th data-options="field:'delete',width:50,align:'center',formatter:function(v,r,i)
            {
                var str='<div></div>';
                str=$(str).append('<a action=&quot;delete&quot;>删除</a>');
                return str.html();
            }">删除</th>
            </tr>
            </thead>
        </table>

        <div tb>
            <table cellspacing="0" cellpadding="0" style="float: right">
                <tr>

                    <td><label class="gray7">搜索条件:</label></td>

                    <td style="width: 210px;text-align: right">
                        <input class="easyui-searchbox" data-options="prompt:'姓名',iconCls:'icon-log'"
                               type="keyword" style="width:200px" >
                    </td>

                    <td>
                        <span class="searchbtn" >&nbsp;</span>
                    </td>

                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a opt="adduser">新增用户</a>
                    </td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>

    </div>
    <div data-options="region:'west',lines:true" style="width:300px;">
        <ul id="Divisiontree"></ul>
    </div>
</div>
