<div class="d-content" style="max-height: 579px; overflow: auto; height: auto;">
    <div class="dialog_content">
        <form method="post">
            <input type="hidden" name="userid">
            <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
                <tbody>
                <tr>
                    <th width="80">用户名称 :</th>
                    <td><input type="text" name="username" id="name" class="input-text" >

                    </td>
                </tr>

                <tr>
                    <th>登录名 :</th>
                    <td><input type="text" name="loginname" class="input-text"></td>
                </tr>
                <tr>
                    <th>密码 :</th>
                    <td><input type="password" name="passwd" class="input-text"></td>
                </tr>
                <tr>
                    <th>是否有效 :</th>
                    <td>
                        <select name="useful">
                            <option value="0">无效</option>
                            <option value="1" selected="selected">有效</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>区域代码 :</th>
                    <td>
                        <!--<input type="text" name="regionid" class="input-text" >
                        <div opt="tip" name="totalname" style="display: inline"> 请先选择地区再添加用户</div>-->
                        <input class="easyui-combotree" opt="districtidmanager" style="width: 200px;">
                    </td>
                </tr>

                <tr>
                    <th>用户类型 :</th>
                    <td>
                        <select name="usertype">
                            <option value="0" selected="selected">政府</option>
                            <option value="1">养老机构</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>养老机构 :</th>
                    <td>
                        <input class="easyui-combobox" name="depid" style="width:200px;"
                               data-options="loader:getYLJG(), editable:false, valueField:'id', textField:'text' ">
                    </td>
                </tr>


                <tr>
                    <th>描述 :</th>
                    <td><input type="text" name="description" class="input-text" size="50"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script>
    $(function(){
        var districtidmanager = $('[opt=districtidmanager]');
        districtidmanager.combotree({
            panelHeight:300,
            url:'getdivisiontree',
            method: 'get',
            onLoadSuccess:function(load,data){
                /*if(!this.firstloaded){
                 divisiontree.combotree('setValue', data[0].id)
                 .combotree('setText', data[0].text);
                 this.firstloaded=true;
                 }*/
            },
            onBeforeExpand: function (node) {
                districtidmanager.combotree("tree").tree("options").url
                        = 'getdivisiontree?dvhigh=' + node.id;
            },
            onHidePanel: function () {
                districtidmanager.combotree('setValue',
                        districtidmanager.combotree('tree').tree('getSelected').id)
                        .combobox('setText',
                        districtidmanager.combotree('tree').tree('getSelected').totalname);
            }
        });


    })
</script>